@font-face {
	font-family: 'sp-font';
	src:url('fonts/sp-font.eot?2ryl9e');
	src:url('fonts/sp-font.eot?#iefix2ryl9e') format('embedded-opentype'),
		url('fonts/sp-font.woff?2ryl9e') format('woff'),
		url('fonts/sp-font.ttf?2ryl9e') format('truetype'),
		url('fonts/sp-font.svg?2ryl9e#sp-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	font-family: 'sp-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rouble:before {
	content: "\f158";
}

.icon-sp-calendar-i:before {
	content: "\e600";
}

.icon-sp-sign-in-i:before {
	content: "\e601";
}

.icon-sp-people-i:before {
	content: "\e602";
}

.icon-sp-close-i:before {
	content: "\e603";
}

.icon-sp-tw-i:before {
	content: "\e604";
}

.icon-sp-left-i:before {
	content: "\e605";
}

.icon-sp-inst-i:before {
	content: "\e606";
}

.icon-sp-fb-i:before {
	content: "\e607";
}

.icon-sp-pencil-i:before {
	content: "\e608";
}

.icon-sp-vk-i:before {
	content: "\e609";
}

.icon-sp-right-i:before {
	content: "\e60a";
}

.icon-sp-logout-i:before {
	content: "\e60b";
}

.icon-sp-okl-i2:before {
	content: "\e60c";
}

