@font-face {
	font-family: 'sp-font';
	src:url('fonts/sp-font.eot?-ggacxk');
	src:url('fonts/sp-font.eot?#iefix-ggacxk') format('embedded-opentype'),
		url('fonts/sp-font.woff?-ggacxk') format('woff'),
		url('fonts/sp-font.ttf?-ggacxk') format('truetype'),
		url('fonts/sp-font.svg?-ggacxk#sp-font') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	font-family: 'sp-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
	content: "\e900";
}

.icon-card-m:before {
	content: "\e901";
}

.icon-webmoney:before {
	content: "\e902";
}

.icon-y-money:before {
	content: "\e903";
}

.icon-card:before {
	content: "\e904";
}

.icon-wallet:before {
	content: "\e905";
}

.icon-list:before {
	content: "\e906";
}

.icon-food:before {
	content: "\e907";
}

.icon-basket:before {
	content: "\e908";
}

.icon-sp-calendar-i:before {
	content: "\e909";
}

.icon-sp-sign-in-i:before {
	content: "\e90a";
}

.icon-sp-people-i:before {
	content: "\e90b";
}

.icon-sp-close-i:before {
	content: "\e90c";
}

.icon-sp-tw-i:before {
	content: "\e90d";
}

.icon-sp-left-i:before {
	content: "\e90e";
}

.icon-sp-inst-i:before {
	content: "\e90f";
}

.icon-sp-fb-i:before {
	content: "\e910";
}

.icon-sp-pencil-i:before {
	content: "\e911";
}

.icon-sp-vk-i:before {
	content: "\e912";
}

.icon-sp-right-i:before {
	content: "\e913";
}

.icon-sp-logout-i:before {
	content: "\e914";
}

.icon-sp-okl-i2:before {
	content: "\e915";
}

.icon-rouble:before {
	content: "\e916";
}

