// ==========================================================================
//    Author's custom styles
// ==========================================================================
html, body {
    height: 100%;
}
body {
    font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #292b2c;
    min-width: 1000px + $grid-gutter-width;
    background: #fff;
}
.main-wrapper-container {
    background-color: $gray-lighter;
    // max-width: 1680px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    // box-shadow: 0 0 10px #A6A6A6;
    &.index-page {
        background-image: url(../img/index-bg.jpg) top center no-repeat;
        background-color: $gray-lighter;
    }
    // &.menu-page-sushi {
    //     background: url(../img/menu-page-sushi-bg.jpg) top center no-repeat, url(../img/rollyBg.png) bottom right no-repeat;
    //     background-color: $gray-lighter;
    // }
    // &.menu-page-pizza {
    //     background: url(../img/menu-page-sushi-bg.jpg) top center no-repeat, url(../img/pizzaBg.png) bottom right no-repeat;
    //     background-color: $gray-lighter;
    // }
    &:after {
        content: ' ';
        display: block;
        height: 165px;
        clear: both
    }
}
.container {
    width: 1000px + $grid-gutter-width;
}
.bottom-section-img {
    height: 350px;
    padding: 80px 0 20px;
    background: #edeff1;
    margin: 35px 0;
    position: relative;
}
.bigBg {
    position: absolute;
    right: 0;
    bottom: -60px;
    height: 600px;
    width: auto;
}
.bigBg-wr {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 350px;
    overflow-y: hidden;
    z-index: 2;
    img {
        margin-top: -190px;
        height: 600px;
        width: auto;
    }
}
.menu {
    position: relative;
    z-index: 2;
}
img.blur {
    filter: blur(5px);
    /* Someday, sigh ... */
    
    -webkit-filter: blur(8px);
    /* Prefixed CSS3 blur filters */
    
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    /* Firefox needs SVG */

    // filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='8');
    /* IE lte 9 */

    filter: url(blur.svg#blur);

    @include opacity(.3);
}
// bootstrap custom-style
.btn {
    border-width: 0 0 3px 0;
    text-transform: uppercase;
    &:active {
        border-color: transparent;
    }
}
.modal-dialog {
    margin-left: auto;
    margin-right: auto;
}
.modal-md {
    width: $modal-md;
}
.modal-header {
    background: $brand-success;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    .close {
        line-height: 52px;
        color: #fff;
        opacity: 1;
        font-weight: normal;
        &:hover {
            opacity: .9;
        }
    }
}
.modal-title {
    font-size: 36px;
}
.modal-footer {
    background: $gray-lighter;
}
.help-text {
    padding-top: 10px;
    a {
        color: $other-gray-calor;
        font-size: 14px;
        &:hover {
            color: $brand-success;
        }
        &:focus {
            outline: none;
        }
    }
}
.modal-content {
    box-shadow: none;
    border: none;
    @include border-radius(0);
}
.form-control {
    &:focus {
        box-shadow: none;
    }
}
.modal-text-help {
    color: $other-gray-calor;
    font-size: 16px;
}
.chie-img-modal {
    margin: -32px -20px 0;
    position: relative;
    img {
        width: 100%;
    }
}
.chie-img-modal-text {
    position: absolute;
    right: 62px;
    top: 60px;
    width: 230px;
    color: #475054;
    font-size: 16px;
    font-family: "Conv_BarnaulGrotesk Italic", 'Arial', sans-serif;
    line-height: 1.5;
    .bottom-text-chief-block-modal {
        color: #828A8E;
        font-size: 14px;
    }
}
.main-modal-title {
    color: #1A1E1D;
    font-size: 36px;
    text-transform: uppercase;
}
.form-horizontal .control-label {
    text-align: left;
}
label {
    color: #1A1E1D;
    font-size: 16px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}
.help-block {
    font-size: 14px;
}
.checkbox {
    font-size: 14px;
}
.inner-form-group-bg {
    margin: 0 -20px 15px;
    padding: 20px;
    background: lighten($gray-lighter, 7%);
}
.table {
    > thead {
        > tr {
            > th {
                background: #d1d6d9;
            }
        }
    }
    tr {
        th, td {
            color: $other-gray-calor;
            font-size: 16px;
            font-weight: normal;
            a {
                color: #363739;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.done {
                color: $brand-success;
            }
            &.canceled {
                color: $brand-danger;
            }
        }
    }
    &.table-striped-custom {
        tbody {
            tr: nth-child(even) {
                background: #f4f4f5;
            }
        }
    }
}
.order2-modal, .order3-modal, .order4-modal {
    overflow-x: hidden;
    overflow-y: auto;
}
// end bootstrap custom-style
// 
// ####################
// 
// index-page
.header-top {
    padding: 25px 0;
    .col-xs-8 {
        width: 60%;
    }
}
.phones__header {
    font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
    font-size: 23px;
    line-height: 23px;
    color: #17191C;
    width: 20%;
    .code {
        color: #8F999D;
    }
    p {
        margin: 0 0 5px;
    }
}
.address__header, .delivery__header {
    color: #828A8E;
    font-family: "Conv_BarnaulGrotesk Italic", 'Arial', sans-serif;
    font-size: 16px;
}
.logo {
    white-space: nowrap;
    color: transparent;
    width: 237px;
    overflow: hidden;
    margin: 0 auto;
}
.custom-col-header {
    width: 29.16665%;
}
.login-block {
    text-align: right;
    width: 20%;
    .btn {
        [class*="sp-"] {
            margin-right: 5px;
        }
    }
    .registration-link {
        color: #969FA3;
        font-size: 12px;
        text-transform: uppercase;
        [class*="sp-"] {
            margin-right: 5px;
        }
        &:hover {
            color: $brand-success;
            text-decoration: none;
        }
    }
    .registration-link-wrapper {
        margin: 0;
    }
}
.date-wr {
    position: relative;
    .icon-sp-calendar-i {
        position: absolute;
        top: 50%;
        margin-top: -11px;
        left: 17px;
        color: #666;
    }
    input {
        padding-left: 40px;
    }
}
.main-nav {
    background: #F44336;
    padding: 15px;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
    }
    li {
        display: inline-block;
        margin-left: 45px;
        &:first-child {
            margin-left: 0;
        }
        &.active a {
            color: $brand-success;
        }
    }
    a {
        color: #fff;
        text-transform: uppercase;
        font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial ', sans-serif;
        font-size: 16px;
        line-height: 20px;
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: normal;
        text-decoration: none;
        &:hover {
            color: #A1ADB3;
        }
    }
    &.main-nav__footer {
        margin-top: -25px;
    }
}
.preview {
    position: relative;
    z-index: 60;
}
.index-page {
    .main-slider {
        margin-top: -280px;
        // margin-bottom: -755px;
        height: 910px;
        position: absolute;
        left: 0;
        right: 0;
    }
    .main-block-nav {
        .main-info {
            margin-top: 350px;
            z-index: 52;
            position: relative;
        }
        .left-submenu-wrapper {
            position: relative;
            z-index: 60;
        }
    }
    .slider-text-wr {
        padding-left: 20px;
    }
}
.sl-bigBg {
    position: absolute;
    right: 0;
    bottom: -280px;
    height: 910px;
    width: auto;
}
.sl-bigBg-wr {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 350px;
    overflow-y: hidden;
    img {
        margin-top: -280px;
        height: 910px;
        width: auto;
    }
}
.bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
    background-color: transparent;
    left: 0;
    height: 910px !important;
}
.bxslider {
    padding: 0;
    margin: 0;
}
.bx-wrapper .bx-pager {
    padding: 0;
    width: 1000px + $grid-gutter-width;
    left: 50%;
    margin-left: -(1000px + $grid-gutter-width) / 2;
    text-align: right;
    bottom: 310px;
    z-index: 51;
}
// .sl1 {
//     background: url(../imgBackEnd/sl1.png) center right no-repeat;
// }
// .sl2 {
//     background: url(../imgBackEnd/sl2.png) center right no-repeat;
// }
.sl-img-wr {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: right;
    line-height: 920px;
    vertical-align: middle;
    z-index: 1;
    img {
        display: inline;
    }
}
.bx-wrapper .bx-pager.bx-default-pager {
    .bx-pager-link {
        background: $brand-success;
        border-radius: 0;
        color: transparent;
        height: 15px;
        width: 15px;
        border: 2px solid transparent;
        &:hover, &.active {
            color: transparent;
            background: transparent;
            border: 2px solid $brand-success;
        }
    }
}
.slider-title {
    color: $brand-success;
    font-size: 36px;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.slider-text {
    color: #303638;
    font-size: 16px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}
.one-slide {
    height: 350px;
    padding: 80px 0 20px;
    background: #edeff1;
    margin: 280px 0;
    position: relative;
    .container {
        position: relative;
        z-index: 51;
    }
}
.left-submenu-wrapper {
    background: #fff;
    padding: 25px 0;
}
.title-left-aside {
    padding: 0 30px 5px;
    text-transform: uppercase;
    margin: 0;
    color: #17191C;
    font-family: "Conv_BarnaulGrotesk Medium Regular", "PT Sans Narrow" sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
.one-dish {
    display: block;
    height: 293px;
    border: 2px solid #D1D6D9;
    position: relative;
    overflow: hidden;
    margin-bottom: $grid-gutter-width;
    @include transition(all 0.2s);
    &:hover {
        border-color: $brand-success;
        .dish-text {
            opacity: 1;
        }
        .dish-footer {
            color: $brand-success;
        }
    }
}
.dish-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; //del
    padding: 10px;
    background-color: #F1F1F2;
    color: #17191C;
    @include transition(all 0.2s);
    &:after {
        content: '';
        position: absolute;
        left: 15px;
        top: -16px;
        width: 0;
        height: 0;
        border: 8px solid;
        border-color: transparent transparent #F1F1F2 transparent;
    }
}
.dish-title {
    float: left;
    font-family: "Conv_BarnaulGrotesk Medium Regular", "PT Sans Narrow", 'Arial', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
.dish-cost {
    float: right;
    font-family: "Conv_BarnaulGrotesk Medium Regular", "PT Sans Narrow", 'Arial', sans-serif;
    font-size: 22px;
    [class^="icon-"] {
        font-size: 21px;
    }
}
.dish-content {
    position: relative;
    overflow: hidden;
    .thumbnail {
        margin-bottom: 50px;
    }
}
.dish-text {
    @include transition(all 0.2s);
    opacity: 0;
    position: absolute;
    padding: 50px 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    background: rgba(#fff, .95);
    color: #333537;
    font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.left-submenu {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        padding: 5px 15px;
        &.active {
            a {
                color: $brand-success;
                border-bottom: 1px solid $brand-success;
                &:before {
                    opacity: 1;
                }
            }
        }
    }
    a {
        font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        padding: 4px 15px;
        display: block;
        color: #828A8E;
        @include transition(all 0.2s);
        position: relative;
        &:before {
            @include transition(all 0.2s);
            opacity: 0;
            content: '';
            position: absolute;
            left: -15px;
            top: 50%;
            margin-top: - 13px;
            width: 0;
            height: 0;
            border: 13px solid;
            border-color: transparent transparent transparent $gray-lighter;
        }
        &:hover {
            color: $brand-success;
            &:before {
                opacity: 1;
            }
        }
    }
}
.main-info {
    padding-top: 40px;
    z-index: 52;
    > div:nth-child(2n+1) {
        clear: left;
    }
}
.one-info-block {
    // height: 120px;
    margin-left: 45px;
    margin-bottom: 10px;
    display: block;
}
a.one-info-block, a.one-info-block-leftside {
    &:hover {
        color: #17191C;
        text-decoration: none;
        .title-info-block {
            color: $brand-success;
            text-decoration: none;
        }
    }
}
.title-info-block {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 5px;
    color: #17191C;
    text-decoration: none;
}
.info-icon {
    float: left;
    margin-right: 20px;
    width: 70px;
    text-align: center;
}
.description-info-block {
    overflow: hidden;
    color: #17191C;
    font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
    font-size: 16px;
    display: block;
}
.one-info-block-leftside {
    display: block;
    margin: 15px 0 0;
    .info-icon {
        width: 45px;
    }
    .title-info-block {
        font-size: 18px;
    }
    .text-info-block {
        font-size: 14px;
    }
}
.chief-block {
    background: url(../img/chief-bg.png) top center no-repeat;
    background-size: cover;
    height: 510px;
    padding: 50px 0 95px;
}
.chief-block-left {
    color: #475054;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    padding-top: 60px;
}
.title-chief-block-left {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.text-chief-block-left {
    font-size: 24px;
    font-family: "Conv_BarnaulGrotesk Italic", 'Arial', sans-serif;
    margin: 0 0 15px;
}
.chief-block-right {
    margin-top: 20px;
    padding: 30px 35px 30px 130px;
    font-family: "Conv_BarnaulGrotesk Italic", 'Arial', sans-serif;
    background: url(../img/mesBg.png) 45px top no-repeat;
}
.main-text-chief-block-right {
    color: #475054;
    font-size: 16px;
}
.bottom-text-chief-block-right {
    color: #828A8E;
    font-size: 14px;
    padding-left: 40px;
    background: url(../img/hat.png) left center no-repeat;
    p {
        margin: 0;
    }
}
.redmdc {
    background-color: #F44336!important;
}
.main-footer-wrappe {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    background: #262a2c url(../img/footer-bg.png);
    background-size: cover;
}
.footer-bottom-block {
    font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
    font-size: 14px;
    color: $other-gray-calor;
    padding-top: 30px;
}
.phones__footer {
    color: $brand-success;
    font-size: 18px;
    line-height: 18px;
    padding-top: 10px;
    margin-bottom: 5px;
}
.soc-block {
    padding-top: 7px;
}
.soc-icons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 0;
    li {
        display: inline-block;
        margin-left: 5px;
        &.fb a:hover {
            background-color: #377bcf;
        }
        &.vk a:hover {
            background-color: #527498;
        }
        &.inst a:hover {
            background-color: #517FA4;
        }
        &.tw a:hover {
            background-color: #4da7de;
        }
        &.cl a:hover {
            background-color: #f26109;
        }
    }
    a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        background-color: #35393b;
        color: #757778;
        display: inline-block;
        text-align: center;
        font-size: 21px;
        @include transition(all 0.2s);
        &:hover {
            color: #fff;
        }
    }
}
// end index-page
// 
// ####################
// 
// account style
.main-content-wrapper {
    padding: 25px 0 0 45px;
}
.content-block {
    margin-bottom: 20px;
}
.page-title {
    color: #17191C;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    margin-top: 0;
}
.user-info {
    margin-bottom: 20px;
}
.other-color {
    color: $other-gray-calor;
}
.main-user-info-wr {
    border-bottom: 2px solid $brand-success;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.main-user-info-name {
    margin: 0;
    color: #17191C;
    font-size: 18px;
    line-height: 22px;
}
.edit-user-info {
    color: $other-gray-calor;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
    &:hover {
        text-decoration: none;
    }
    [class^="icon"] {
        font-size: 13px;
    }
}
.user-birthday {
    [class^="icon"] {
        margin-right: 5px;
        line-height: 1;
        vertical-align: text-top;
    }
}
.history-user-shipping-label {
    color: #17191C;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}
.show-all-user-shipping {
    display: inline-block;
    line-height: 20px;
    font-size: 16px;
    a {
        text-decoration: none;
    }
    .dropdown-menu {
        padding: 5px 10px;
        li {
            cursor: pointer;
        }
    }
}
.discount-block {
    background: #fff;
    margin-top: -25px;
    padding: 25px 20px;
    margin-bottom: 10px;
}
.discount-info-img {
    float: left;
    margin-right: 10px;
}
.discount-block-label {
    color: #17191C;
    font-size: 18px;
    text-transform: uppercase;
}
.iscount-size {
    color: #17191C;
    font-size: 22px;
    line-height: 22px;
    .icon-rouble {
        font-size: 19px;
        line-height: 22px;
        vertical-align: top;
    }
}
.how-works-link {
    color: #17191C;
    font-size: 14px;
    text-transform: uppercase;
}
.discount-progress-slider {
    position: relative;
    color: #889297;
    font-size: 12px;
    height: 55px;
    padding-top: 24px;
}
.ds-pr-sl-bar {
    background: #c3cbd0;
    height: 8px;
}
.ds-pr-sl-grids {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    span {
        display: block;
    }
}
.ds-pr-sl-grid {
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    &.ds-active {
        .ds-pr-sl-percent {
            color: $brand-success;
        }
    }
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        width: 2px;
        margin-left: -1px;
        height: 18px;
        top: 50%;
        margin-top: -9px;
        background: #c3cbd0;
    }
}
.ds-pr-sl-bar {
    position: relative;
}
.ds-pr-sl-text {
    margin-bottom: 21px;
}
.ds-pr-sl-bar-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: $brand-success;
}
.gr-1 {
    left: 0;
    text-align: left;
    &:after {
        display: none;
    }
}
.gr-2 {
    left: 65px;
}
.gr-3 {
    left: 110px;
}
.gr-4 {
    left: 200px;
}
.gr-5 {
    right: 0;
}
.user-info {
    label {
        font-weight: normal;
    }
}
.edit-info {
    .main-user-info-name {
        color: #17191C;
        font-size: 18px;
        text-transform: uppercase;
    }
    .edit-user-info {
        color: $brand-success;
    }
}
.account-order-modal-info {
    font-size: 16px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    color: #ADB6BC;
    dt {
        width: auto;
        margin-right: 5px;
        font-weight: normal;
    }
    dd {
        color: #889297;
        margin-left: 0;
    }
    .done {
        color: $brand-success;
    }
    .canceled {
        color: $brand-danger;
    }
}
.btn-rp {
    .glyphicon {
        font-size: .8em;
    }
}
//end account
// 
// ####################
// 
// order page
.menu-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.menu-el {
    border: 2px solid #D1D6D9;
    height: 390px;
    background-color: #F1F1F2;
    margin-bottom: $grid-gutter-width;
    @include transition(all 0.2s);
    &:hover {
        border-color: $brand-success;
        .menu-el-title {
            color: $brand-success;
        }
    }
}
.menu-el-th {
    height: 243px;
    margin-bottom: 15px;
    position: relative;
}
.menu-el-status {
    position: absolute;
    top: 7px;
    left: -5px;
    height: 45px;
}
.one-el-status {
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    line-height: 18px;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    text-transform: uppercase;
    padding: 0 5px;
    position: relative;
    &:after {
        position: absolute;
        left: 0;
        bottom: -4px;
        content: '';
        width: 0;
        height: 0;
        border: 2px solid;
        border-color: #555 #555 transparent transparent;
    }
}
.el-novelty {
    background-color: $brand-warning;
    &:after {
        border-color: darken($brand-warning, 20%) darken($brand-warning, 20%) transparent transparent;
    }
}
.el-hit {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $brand-info;
    &:after {
        border-color: darken($brand-info, 20%) darken($brand-info, 20%) transparent transparent;
    }
}
.menu-el-type-and-discount {
    position: absolute;
    right: -5px;
    top: -5px;
}
.menu-el-discount {
    position: relative;
    height: 57px;
    width: 57px;
}
.el-corner {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 29px solid;
    border-color: $brand-danger $brand-danger transparent transparent;
    &:after {
        position: absolute;
        left: -29px;
        top: -29px;
        content: '';
        width: 0;
        height: 0;
        border: 2px solid;
        border-color: transparent transparent darken($brand-danger, 20%) darken($brand-danger, 20%);
    }
    &:before {
        position: absolute;
        right: -29px;
        bottom: -29px;
        content: '';
        width: 0;
        height: 0;
        border: 2px solid;
        border-color: transparent transparent darken($brand-danger, 20%) darken($brand-danger, 20%);
    }
}
.el-discount-size {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FFF;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    text-transform: uppercase;
    @include transform(rotate(45deg));
}
.menu-el-type {
    text-align: right;
    padding: 10px;
    width: 45px;
    float: right;
}
.menu-el-count {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    font-size: 1px;
    padding: 11px;
    background-color: #FFF;
    background-color: rgba(#FFF, .7);
}
.menu-el-value {
    height: 38px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    [class^="sprite"] {
        margin-top: 7px;
    }
    [class*="p28"] {
        margin-top: 7px;
    }
    [class*="p32"] {
        margin-top: 4px;
    }
    [class*="p42"] {
        margin-top: 0;
    }
    i {
        @include transition (all .2s linear);
    }
    &:hover {
        cursor: pointer;
        display: inline-block;
        i {
            @include transform(rotate(360deg));
            @include transition (all .2s linear);
        }
    }
    &.active {
        &:after {
            position: absolute;
            bottom: -11px;
            left: 50%;
            margin-left: -8px;
            content: '';
            width: 0;
            height: 0;
            border: 8px solid;
            border-color: transparent transparent $brand-success transparent;
        }
    }
}
.menu-el-heft {
    float: right;
    color: #ADB6BC;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    padding-top: 15px;
}
.menu-el-description {
    height: 65px;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0 5px;
}
.menu-el-title {
    color: #17191C;
    font-size: 18px;
    line-height: 18px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 5px;
}
.menu-el-ingredients {
    color: #828A8E;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}
.menu-el-prices {
    display: inline-block;
    margin-top: -15px;
    text-align: center;
    padding-top: 20px;
    position: relative;
}
.menu-el-old-price {
    display: inline-block;
    position: absolute;
    color: #828A8E;
    font-size: 16px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    line-height: 16px;
    padding: 0 2px;
    left: 0;
    top: 0;
    .icon-rouble {
        font-size: 1em;
        line-height: 1em;
        vertical-align: bottom;
    }
    &:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -1px;
        background: #828A8E;
    }
}
.menu-el-price {
    color: #17191C;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    font-size: 22px;
    line-height: 22px;
    .icon-rouble {
        font-size: 1em;
        line-height: 1em;
        vertical-align: bottom;
    }
}
.el-order-form-group {
    margin: 4px 0;
    .input-group-addon {
        width: 15px;
        padding: 2px;
        background: #d1d6d9;
        color: #fff;
        cursor: pointer;
        &:hover {
            color: $brand-success;
        }
    }
    .form-control {
        text-align: center;
        padding: 2px;
        height: 25px;
        font-size: 18px;
        line-height: 1;
    }
}
.order-btn-wrapper {
    position: relative;
    text-align: right;
}
.basket-counter {
    position: absolute;
    right: $grid-gutter-width / 2;
    top: -20px;
    color: #828A8E;
    font-size: 12px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    line-height: 16px;
    [class*="icon-"] {
        color: $brand-success;
        font-size: 15px;
        vertical-align: middle;
        margin-left: 4px;
    }
}
.order-panel-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.order-panel {
    // max-width: 1680px;
    // margin: 0 auto;
    background: #F1F1F2;
    background: rgba(#F1F1F2, .9);
    height: 70px;
    padding: 10px 0;
}
.order-panel-discount-img {
    font-size: 38px;
    color: $brand-success;
    float: left;
    margin-right: 15px;
}
.order-panel-discount-link {
    color: #17191C;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    display: block;
    padding: 8px 0;
}
.order-panel-basket-img {
    font-size: 38px;
    color: $brand-success;
    float: left;
    margin-right: 15px;
}
.order-panel-order-wr {
    width: 250px;
    float: left;
    margin: 0 10px 0 25px;
}
.order-panel-your-order {
    color: #17191C;
    font-size: 18px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
    .label {
        font-size: inherit;
        margin: 0 6px;
        min-width: 35px;
        padding: 5px;
        display: inline-block;
        vertical-align: bottom;
    }
    .min-text {
        text-transform: none;
    }
}
.order-panel-min-order {
    color: #889297;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}
.order-panel-price-wr {
    width: 130px;
    float: left;
    margin-right: 10px;
    text-align: center;
}
.order-panel-order-price {
    color: #17191C;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    text-transform: uppercase;
    [class*="icon"] {
        font-size: .8em;
        line-height: inherit;
    }
}
.order-panel-discount-price {
    color: #00C75C;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    span {
        font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    }
}
.order-panel-order-btn-wr {
    float: right;
    width: 230px;
    text-align: right;
    .btn {
        vertical-align: top;
    }
}
.dropdown-wr {
    position: relative;
    display: inline-block;
    padding: 15px 0 15px 5px;
    // &:hover {
    //     .all-orders-dropdown-menu {
    //         display: block;
    //     }
    // }
}
.order-panel-dropdown {
    cursor: pointer;
    display: inline-block;
    width: 26px;
    height: 26px;
    padding: 3px;
    position: relative;
    text-align: center;
    // margin-top: -10px;
    // padding-top: 15px;
    color: #BDC2C5;
    @include transition (all .2s linear);
    &.active-dropdown-btn {
        @include transform(rotate(180deg));
        @include transition (all .2s linear);
    }
    &:hover {
        color: darken(#BDC2C5, 10%)
    }
}
.all-orders-dropdown-menu {
    display: none;
    width: 565px;
    background: #D1D6D9;
    background: rgba(#D1D6D9, .8);
    position: absolute;
    right: 0;
    bottom: 100%;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.all-orders-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    // max-height: 390px;
    // overflow-y: auto;
}
.one-order-in-orders {
    margin-bottom: 10px;
    // height: 90px;
    background-color: #F1F1F2;
    padding: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    .thumbnail {
        margin-bottom: 0;
    }
}
.title-in-order-list {
    color: #17191C;
    font-size: 16px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-top: 30px;
}
.count-order-in-list {
    margin-top: 23px;
}
.sum-in-order-list {
    color: #17191C;
    font-size: 16px;
    line-height: 16px;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    text-align: center;
    margin-top: 33px;
    [class*="icon"] {
        font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
        font-size: 14px;
    }
}
.btn-closein-order-list {
    margin-top: 28px;
    .icon-sp-close-i {
        font-size: 20px;
    }
}
.step-group {
    font-size: 0;
}
.order-step {
    display: inline-block;
    border: 3px solid #fff;
    @include border-radius(50%);
    font-size: 18px;
    line-height: 38px;
    width: 40px;
    height: 40px;
    @include opacity(.6);
    margin-left: 52px;
    position: relative;
    &:first-child {
        &:after {
            display: none;
        }
    }
    &:after {
        content: '';
        position: absolute;
        width: 46px;
        height: 3px;
        background-color: #FFF;
        top: 50%;
        margin-top: -1px;
        left: -50px;
    }
    &.done {
        @include opacity(1);
    }
}
.promo-code-form {
    padding-top: 20px;
}
.sum-oder-modal {
    display: inline-block;
    .order-panel-price-wr {
        width: auto;
    }
    .order-panel-discount-price {
        margin-bottom: 0;
    }
    .order-panel-order-price {
        line-height: 30px;
    }
}
.label-sum-oder-modal {
    float: left;
    color: #1A1E1D;
    font-size: 30px;
    line-height: 30px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    margin: 0 5px;
}
.modal-footer {
    .btn {
        vertical-align: top;
    }
}
.help-text-tooltip {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    background-color: #D1D3D6;
    border-radius: 24px;
    color: #A8ACB2;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -12px;
    cursor: default;
    &:hover {
        color: $brand-success;
    }
}
.nav {
    a {
        color: #889297;
        position: relative;
    }
    li {
        &.active {
            a {
                &:after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 50%;
                    margin-left: -8px;
                    border: 8px solid;
                    height: 0;
                    width: 0;
                    border-color: transparent transparent $brand-success transparent;
                }
            }
        }
    }
}
.nav-tabs-modal {
    text-align: center;
    li {
        display: inline-block;
        font-size: 18px;
        font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
        text-transform: uppercase;
        color: #1A1E1D;
        .or {
            padding: 10px;
        }
        a {
            background-color: #E9ECEE;
            color: #889297;
        }
        &.active {
            a {
                color: #FFF;
                background: $brand-success;
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 50%;
                    margin-left: -8px;
                    border: 8px solid;
                    height: 0;
                    width: 0;
                    border-color: transparent transparent #F6F6F6 transparent;
                }
            }
        }
    }
}
.order-count-person {
    margin: -15px -20px 15px -20px;
    background: #e9ecee;
    padding-top: 10px;
    padding-bottom: 10px;
}
.payment-method, .info-about-order-title {
    color: #1A1E1D;
    font-size: 18px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}
.payment-method-btn-group {
    text-align: center;
    [class*="icon"] {
        height: 70px;
        width: 70px;
        line-height: 70px;
        font-size: 32px;
        border: 2px solid #D1D6D9;
        text-align: center;
        color: #D1D6D9;
        &:hover {
            border-color: $brand-success;
            color: $brand-success;
        }
    }
    .btn {
        padding: 0;
        box-shadow: none;
        width: 85px;
        &.active {
            [class*="icon"] {
                border-color: $brand-success;
                color: $brand-success;
            }
        }
    }
    label {
        color: #9BA3A7;
        font-size: 14px;
        line-height: 14px;
        font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
        text-transform: uppercase;
    }
}
.info-about-order {
    text-align: center;
    .radio {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.add-comment {
    display: inline-block;
    color: #889297;
    font-size: 18px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.checkbox.track-order-wr {
    margin-bottom: 30px;
    label {
        color: #1A1E1D;
        font-size: 18px;
        font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    }
}
// end order page
// 
// #######
// 
// shares page
.shares-list {
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
}
.shares-thumbnail {
    margin: 0 20px 0 0;
    float: left;
}
.shares-thumbnail-width-time {
    position: relative;
}
.end-time {
    position: absolute;
    left: -4px;
    bottom: 20px;
    color: #FFF;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2px 10px;
    background: $brand-danger;
    &:after {
        position: absolute;
        left: 0;
        bottom: -4px;
        content: '';
        width: 0;
        height: 0;
        border: 2px solid $brand-warning;
        border-color: darken($brand-warning, 20%) darken($brand-warning, 20%) transparent transparent;
    }
    &.end-time-old {
        background: #979b9d;
    }
    &.end-time-big {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.shares-list-one-item {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #BCC3C7;
    margin-bottom: 20px;
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}
.shares-text-block-title {
    margin: 0 0 20px;
    a {
        color: #17191C;
        font-size: 24px;
        font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            color: $brand-success;
        }
    }
}
.shares-text-block-description {
    color: #17191C;
    font-size: 16px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    line-height: 25px;
}
.shares-text-block {
    overflow-y: hidden;
}
.old-shares {
    color: #17191C;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
}
.breadcrumb {
    font-family: "Conv_BarnaulGrotesk Italic", "PT Sans Narrow", 'Arial', sans-serif;
    margin-bottom: 5px;
}
.breadcrumb > li:after {
    content: "→ ";
    padding-left: 4px;
}
.breadcrumb > li:before {
    display: none;
}
.pagination {
    > li {
        > a {
            border-width: 2px;
            border-radius: 0 !important;
            width: 29px;
            height: 29px;
            padding: 1px 7px;
            margin-right: 8px;
            [class*="icon"] {
                font-size: .8em;
                font-weight: bold;
            }
        }
        &:last-child {
            > a {
                margin-right: 0;
            }
        }
    }
}
.comments-block-label {
    color: #889297;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.share-block {
    margin-bottom: 30px;
}
.similar-block {
    margin-bottom: 30px;
}
.similar-block-label, .comments-list-label {
    color: #889297;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.item-similar-block-title {
    display: block;
    margin-bottom: 10px;
    color: #17191C;
    font-size: 18px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
    }
}
.comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.one-comment {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #C3CBD0;
}
.post-time {
    color: #ADB6BC;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    time {
        margin-right: 5px;
    }
}
// end shares page
// 
// #######
// 
// news page
.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.news-thumbnail {
    margin: 0 20px 0 0;
    float: left;
}
.news-list-one-item {
    border: 2px solid #D1D6D9;
    overflow: hidden;
    @include transition(all 0.2s);
    background: #f1f1f2;
    margin-bottom: 20px;
    .news-list-one-item-link {
        padding: 5px;
        text-decoration: none;
        display: block;
    }
    &:hover {
        text-decoration: none;
        border-color: $brand-success;
        .news-text-block-title {
            color: $brand-success;
        }
    }
}
.news-text-block-title {
    margin: 0 0 10px;
    color: #17191C;
    font-size: 24px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    @include transition(all 0.2s);
}
.news-text-block-description {
    color: #17191C;
    font-size: 16px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    line-height: 25px;
    p {
        margin-bottom: 5px;
    }
}
.news-text-block {
    overflow-y: hidden;
}
.loader {
    text-align: center;
}
.additional-info {
    color: #ADB6BC;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    .glyphicon {
        font-size: .9em;
    }
    .number-posts, .number-views {
        margin-left: 10px;
    }
}
.time-add-news {
    color: #798286;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}
// end news page
// 
// #######
// 
// delivery page
.delivery-page-title {
    color: #17191C;
    font-size: 30px;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.minimum-order-item {
    text-align: right;
}
.minimum-order-block {
    padding: 0 50px;
}
.minimum-order-title {
    color: $brand-success;
    font-size: 100px;
    line-height: 100px;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    margin: 0;
    [class*="icon"] {
        font-size: 90px;
        line-height: 90px;
        vertical-align: bottom;
    }
}
.commodity-list-wr {
    display: table;
    width: 100%;
}
.commodity-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.commodity-item-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.commodity-item-label {
    display: inline-block;
    color: #17191C;
    font-size: 16px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
}
.one-delivery-section {
    margin-bottom: 50px;
}
.info-block-list {
    .col-xs-5:nth-child(2n+1) {
        clear: left
    }
}
.commodity-text-wr {
    padding: 50px 10px 0;
}
// end delivery page
// 
// #######
// 
// restaurant page
.contacts-tabpanel {
    margin-bottom: 20px;
}
.main-restaurants-content {
    padding-left: 25px;
}
.rest-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.rest-list-item {
    margin-bottom: 40px;
}
.uppercase-title {
    color: #17191C;
    font-size: 24px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    text-transform: uppercase;
    &.light-title {
        color: #889297;
        font-weight: 500;
        font-size: 26px;
    }
}
.rest-list-thumbnail {
    position: relative;
    .rest-info-block {
        font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
        position: absolute;
        right: 50px;
        top: 31px;
        width: 340px;
        text-decoration: none;
        color: #889297;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid $brand-success;
            .rest-contacts {
                color: $brand-success;
            }
        }
    }
}
.rest-more-info {
    background-color: rgba(#F1F1F2, .95);
    padding: 15px 20px;
    color: #889297;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    height: 147px;
    dt {
        font-weight: normal;
        float: left;
        width: 95px;
        margin-right: 5px;
        float: left;
        overflow: hidden;
        clear: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.rest-contacts {
    height: 88px;
    padding: 15px 20px;
    background-color: rgba(#FBF9F5, .95);
    color: #323335;
    font-size: 18px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    .rest-address {
        font-size: 20px;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
    }
    .meneger-tel {
        font-size: 12px;
        font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
        text-transform: uppercase;
    }
}
.rest-work-time {
    p {
        margin: 0;
    }
}
.map-wrapper {
    margin-bottom: 40px;
}
.address-list {
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    li {
        &:hover {
            a {
                color: $brand-success;
                text-decoration: none;
            }
        }
    }
    a {
        color: #17191C;
        text-decoration: none;
    }
}
.rest-infowindow {
    width: 325px;
    .rest-contacts {
        background: $brand-success;
        color: #fff;
        font-size: 16px;
        font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
        padding: 10px 15px;
        height: inherit;
        .rest-address {
            color: #fff;
        }
        .meneger-tel {
            color: #323335;
            font-size: 11px;
            font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
            height: inherit;
        }
    }
    .rest-more-info {
        border: 2px solid $brand-success;
        padding: 10px 15px;
    }
}
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div {
    /* we have to use !important because we are overwritng inline styles */
    
    background-color: transparent !important;
    box-shadow: none !important;
    width: auto !important;
    height: auto !important;
}
/* arrow colour */

.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div {
    background-color: $brand-success !important;
    box-shadow: none !important;
}
/* close button */

.gm-style > div:first-child > div + div > div:last-child > div > div:last-child {
    margin-right: 10px;
    margin-top: 5px;
    background: #fff;
    border-radius: 50px !important;
    opacity: 1 !important;
}
/* image icon inside close button */

// .gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img {
// }
/* positioning of infowindow */

.gm-style-iw {
    top: 22px !important;
    left: 22px !important;
}
.view-contacts-block {
    background: $well-bg;
    padding: 20px;
}
.view-contacts-address {
    color: #889297;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
    p {
        margin: 0;
    }
    .view-contacts-phone {
        color: #00C75C;
        font-size: 18px;
        font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
        text-transform: uppercase;
    }
}
.view-contactsrest-more-info {
    padding: 0;
    height: inherit;
}
.media-list {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
    li {
        display: inline-block;
        margin-right: 20px;
        overflow-y: hidden;
        height: 170px;
        &:last-child {
            margin-right: 0;
        }
        img {
            max-height: 100%;
            width: auto;
        }
    }
}
.lb-container {
    padding: 0;
    border-radius: 0;
}
.lb-outerContainer {
    border-radius: 0;
}
.lightbox .lb-image {
    border-radius: 0;
}
// end restaurant page
// 
// #######
// 
// scroller
.wrapper {
    display: block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    text-align: left;
    margin: 0 -10px 0 -20px;
    &.baron:hover {
        .scroller__bar {
            @include opacity(.8);
        }
    }
}
.scroller {
    width: 100% !important;
    max-height: 390px;
    overflow-y: scroll;
    /*-webkit-overflow-scrolling: touch;*/
    /* uncomment to accelerate scrolling on iOs */
    
    padding: 0 40px 0 0;
    margin-left: 20px;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar-wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: $grid-gutter-width;
    width: 5px;
    border-radius: 0;
    background: #bdc3c7;
    pointer-events: none;
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    border-radius: 0;
    @include opacity(0);
    width: 5px;
    background-color: $brand-success;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    pointer-events: auto;
    // Style for Rounded Rectangle 5
}
.baron .scroller__bar {
    height: 100px !important;
}
.scroller__bar-wrapper_h {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    height: 2px;
    background-color: #98A1A5;
}
.scroller.baron_h {
    overflow-y: hidden;
    padding: 0 0 25px;
    margin: 20px 0 0;
    height: 210px !important;
}
.baron_h .scroller__bar_h {
    opacity: 1;
    width: 101px !important;
    height: 10px!important;
    top: -4px !important;
}
.wrapper_2 {
    margin: 0;
    overflow-y: hidden;
    height: 210px;
}
//end amenu-list
// 
// ####################
// 
// loader
$color: $brand-success;
svg {
    margin: auto;
    rect {
        fill: $color;
    }
}
