// @font-face {
//     font-family: 'PT_Sans';
//     src: url('../fonts/Barnaul Grotesk//pt-sans.regular-webfont.eot');
//     src: url('../fonts/Barnaul Grotesk//pt-sans.regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/Barnaul Grotesk//pt-sans.regular-webfont.woff') format('woff'),
//          url('../fonts/Barnaul Grotesk//pt-sans.regular-webfont.ttf') format('truetype'),
//          url('../fonts/Barnaul Grotesk//pt-sans.regular-webfont.svg#pt_sansregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
// 	font-family: 'Myriad Pro';
// 	src: url('../fonts/Barnaul Grotesk//MyriadPro-Regular/MyriadPro-Regular.eot');
// 	src: local('☺'), url('../fonts/Barnaul Grotesk//MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), url('../fontsMyriadPro-Regular//MyriadPro-Regular.ttf') format('truetype'), url('../fonts/Barnaul Grotesk//MyriadPro-Regular/MyriadPro-Regular.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
    font-family: 'Conv_BarnaulGrotesk Bold Regular';
    src: url('../fonts/Barnaul Grotesk//BarnaulGrotesk Bold Regular.eot');
    src: local('☺'), url('../fonts/Barnaul Grotesk//BarnaulGrotesk Bold Regular.woff') format('woff'), url('../fonts/Barnaul Grotesk//BarnaulGrotesk Bold Regular.ttf') format('truetype'), url('f../onts/BarnaulGrotesk Bold Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Conv_BarnaulGrotesk';
  src: url('../fonts/Barnaul Grotesk//BarnaulGrotesk.eot');
  src: local('☺'), url('../fonts/Barnaul Grotesk//BarnaulGrotesk.woff') format('woff'), url('../fonts/Barnaul Grotesk//BarnaulGrotesk.ttf') format('truetype'), url('../fonts/Barnaul Grotesk//BarnaulGrotesk.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_BarnaulGrotesk Italic';
  src: url('../fonts/Barnaul Grotesk//BarnaulGrotesk Italic.eot');
  src: local('☺'), url('../fonts/Barnaul Grotesk//BarnaulGrotesk Italic.woff') format('woff'), url('../fonts/Barnaul Grotesk//BarnaulGrotesk Italic.ttf') format('truetype'), url('../fonts/Barnaul Grotesk//BarnaulGrotesk Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_BarnaulGrotesk Bold Italic';
  src: url('../fonts/Barnaul Grotesk/BarnaulGrotesk Bold Italic.eot');
  src: local('☺'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk Bold Italic.woff') format('woff'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk Bold Italic.ttf') format('truetype'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk Bold Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_BarnaulGrotesk ExtraBold Italic';
  src: url('../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Italic.eot');
  src: local('☺'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Italic.woff') format('woff'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Italic.ttf') format('truetype'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_BarnaulGrotesk ExtraBold Regular';
  src: url('../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Regular.eot');
  src: local('☺'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Regular.woff') format('woff'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Regular.ttf') format('truetype'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_BarnaulGrotesk Medium Italic';
  src: url('../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Italic.eot');
  src: local('☺'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Italic.woff') format('woff'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Italic.ttf') format('truetype'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_BarnaulGrotesk Medium Regular';
  src: url('../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Regular.eot');
  src: local('☺'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Regular.woff') format('woff'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Regular.ttf') format('truetype'), url('../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}