// usage: <span class="{-spritename-} sprite"></span>
// replace {-spritename-} with the sprite you like to use

.sprite {display:inline-block; vertical-align: middle ; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/map.png);}

.cards-i {width:70px; height:48px; background-position: -321px -2px}
.clock-i {width:60px; height:60px; background-position: -197px -2px}
.food-i {width:65px; height:75px; background-position: -2px -2px}
.map-i {width:58px; height:69px; background-position: -69px -2px}
.purse-i {width:66px; height:60px; background-position: -129px -2px}
.watch-i {width:60px; height:59px; background-position: -259px -2px}


// sprite X 0.8

.spriteX08 { display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/mapX08.png);}

.cardsX08-i {width:52px; height:36px; background-position: -111px -56px}
.clockX08-i {width:44px; height:44px; background-position: -297px -2px}
.foodX08-i {width:44px; height:52px; background-position: -111px -2px}
.hot {width:24px; height:24px; background-position: -347px -66px}
.mapX08-i {width:41px; height:48px; background-position: -157px -2px}
.p28-i  {width:27px; height:27px; background-position: -347px -37px}
.p32-i  {width:33px; height:33px; background-position: -343px -2px}
.p42-i  {width:40px; height:40px; background-position: -165px -52px}
.pigX08-i {width:107px; height:90px; background-position: -2px -2px}
.purseX08-i {width:49px; height:45px; background-position: -200px -2px}
.s3-i {width:33px; height:33px; background-position: -312px -48px}
.s4-i  {width:33px; height:33px; background-position: -277px -49px}
.s6-i {width:33px; height:33px; background-position: -242px -49px}
.s8-i  {width:33px; height:33px; background-position: -207px -49px}
.vegetarian {width:24px; height:24px; background-position: -376px -63px}
.very-hot {width:24px; height:24px; background-position: -376px -37px}
.watchX08-i {width:44px; height:45px; background-position: -251px -2px}