body{
    color: #515151;
}
.navbar, .subnavbar, .toolbar {
    background: #059bce;
    border-bottom: 1px solid white;
}
.navbar {
    color: white;
    i{color:white;font-size: 24px;}
}
.page-content{
        background: #059bce;
}
#search{
    color:white;
    select{
        color:white;
        font-size: 18px;
    }
    input{
        color:white;
        font-size: 18px;
    }
    .item-inner.col-70 {
        font-size: 18px;
        width:68%!important
    }
    .list-block .item-inner:after{
        background:white;
    }
    .list-block ul:after {background:white;}
    .list-block ul:before {background:white;}
    .list-block ul {background: #059bce;}
}
.login-screen-content{
    color: white;
    .item-content{
        background: white;
    }
    .list-block .item-link.list-button {
    line-height: 38px!important;
    }
}
.content-block-inner{
    background: #059bce;
    &:before {
    background-color: #059bce;
    }
    &:after {
    background-color: #059bce;
    }
}
.b-white{
            border: 1px solid #ffffff!important;
            color: #ffffff!important;
    }
.white20{
    color: white;
    font-size: 20px;
}
.age-text{
    font-size: 14px;
    color: #c4f0ff;
}
.back.link{
    span{
        color: #ffffff;
    }
    i{
      color: #ffffff;  
    }
}
.bttn-fill.bttn-warning {
    background: #feab3a;
    color: #fff;
    line-height: 24px;
    height: 34px;
}
.color-custom { color: white }
.no-br{border-radius: 0px;}
a.button.b-white.bttn-fill.bttn-warning.no-br.button {
    margin-top: 20px;
    height: 50px;
    line-height: 39px;
    font-size: 27px;
}
.item-content.row {
    i{margin-right: 10px;}
}

.pulse {
    position: relative;
    margin-left: 38%;
}
.pulse p {
    left: 33px;
    top: 20px;
    position: absolute;
    color: white;
        margin-top: 37%;
}
.pulse:before, .pulse:after {
  content: '';
  border: 5px solid white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  margin-top: 30%;
}
.pulse:before {
  -webkit-animation: pulse-outer 0.8s ease-in infinite;
  -moz-animation: pulse-outer 0.8s ease-in infinite;
  animation: pulse-outer 0.8s ease-in infinite;
}
.pulse:after {
  -webkit-animation: pulse-inner 0.8s linear infinite;
  -moz-animation: pulse-inner 0.8s linear infinite;
  animation: pulse-inner 0.8s linear infinite;
}

@-webkit-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes pulse-inner {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes pulse-inner {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes pulse-inner {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

// <div class="pulse"><p>33%</p></div>

	.range-slider input[type="range"]::-webkit-slider-thumb { 
    border: 1px solid silver;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.navbar .right a{
    color: white;
}
.picker-calendar-day{
    color:white;
}
.picker-calendar-day.picker-calendar-day-today span {
    background: #2196F3;
}
.picker-calendar-day.picker-calendar-day-selected span {
    background: #feab3a;
}

.toolbar.calendar-custom-toolbar {
    background: #feab3a;
    color: white;
}
.card{
      margin: 0px;
}
.card-header {
    border-radius: 0px;
    font-size: 17px;
    height: 55vw;
    /* height: 240px; */
    background-size: cover;
    background-position: center;
    padding: 0px;
    .card-content{
      width: 100%;
      background: rgba(0,0,0,.53);
      box-shadow: 0 0 30px 25px rgba(0,0,0,.53);
      border: none;
      p {
          margin: 0px;
          font-size: 16px;
      }
    }
}
.hotprice{
        padding: 6px;
    width: auto;
    background: #feab3a;
    position: absolute;
    right: 0px;
    bottom: 0px;

}
.text-right{
  text-align: right;
}
.rate{
    top: 0px;
    position: absolute;
    padding: 6px;
    background: #52b700;
    left: 0px;
    font-size: 15px;
}
.mdi-star{
  color:#feab3a;
}
.mdi-food{
  color:#feab3a;
}
.list-block .item-content {
    background: #059bce;
    color: white;
}
.smart-select .item-after {
    color: white;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
    background-color: #feab3a;
}
.fixed-ar {
    position: relative;
}

.fixed-ar:before {
    display: block;
    content: " ";
    width: 100%;
}

.fixed-ar > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center!important;
    background-size: cover;
}

/*
    class		AR
    ------		---
    ar-1-1		1:1 (square)
    ar-4-3		4:3
    ar-3-2		3:2
    ar-16-9		16:9

    padding-top: (ar_height / ar_width) * 100%;
*/
.fixed-ar.ar-1-1:before {
    padding-top: 100%;
}

.fixed-ar.ar-4-3:before {
    padding-top: 75%;
}

.fixed-ar.ar-3-2:before {
    padding-top: 66.66%;
}

.fixed-ar.ar-16-9:before {
    padding-top: 56.25%;
}

.fixed-ar.ar-21-9:before {
    padding-top: 44%;
}
.hotelprice {
    padding: 6px;
    width: auto;
    background: #feab3a;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    z-index: 9;
}
.hotelrate{
    position: absolute;
    padding: 10px;
    background: #52b700;
    color: white;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    z-index: 9;
}
h3{
        margin-top: 5px;
}
.row .col-md-6 {
    width: 25%;
    width: -webkit-calc((100% - 15px*3)/ 4);
    width: calc((100% - 15px*3)/ 4);
    display: inline-block;
}
.icons-top.row {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    i{
        color: #059bce;
        padding: 10px 12px;
        font-size: 30px;
        border: 2px solid #059bce;
        border-radius: 50%;
    }
    p{    color: #059bce;    font-size: 10px;}
}
.p5{
    padding: 5px;
}
.tabs{
    margin-top: 15px;
}
.button.kokos.active {
       background: #059bce;
    color: #fff;
    border: 1px solid #059bce;
}
.button.kokos {
    border: 1px solid #059bce;
    color: #059bce;
}
.button.user.active {
     border: 1px solid white;
       background: #fff;
    color: #059bce;
}
.button.user {
    border: 1px solid white;
    color: white;
}
.hotel-tab{
    margin-top: -15px;
   
    .serv-all.col-33 {
    margin-bottom: 10px;
     i.mdi{
        color: #ffffff;
        padding: 10px 12px;
        background: #059bce;
        font-size: 30px;
        /* border: 2px solid #059bce; */
        border-radius: 50%;
        box-shadow: 0 5px 5px rgba(0,0,0,0.08);
    }
}
}
.card-hotelr{
    box-shadow: 0 2px 2px rgba(0,0,0,0.08);
    background-color: #f1f7f9;
    margin-bottom: 20px;
    border: solid 1px rgba(29, 29, 38, 0.1);
    i.mdi{
        font-size: 24px;
        color: #059bce;
    }
    .date {
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 5px;
    color: #212121;
    }
    .pricetour{
        border: 2px dotted #feab3a;
        border-radius: 50px;
        margin-top: 25px;
        background: white;
        margin-bottom: 10px;
    }
    p.pricet {
    font-size: 21px;
    text-align: right;
    color: #feab3a;
    margin-bottom: 0px;
    margin-top: 10px;
}
.room{margin-top: -4px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #51516c;
}
}  
.mdi-airplane.back:before {
    transform: rotate(270deg);
} 
.mdi-airplane.go:before {
    transform: rotate(90deg);
}
.aboutH {
    position: absolute;
    bottom: 0px;
    color: white;
    background: rgba(0,0,0,0.33);
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    div{padding-left: 10px;}
    h3{    margin-bottom: 0px;padding-left: 10px;}
    .airport{    border: 1px solid white;
    padding: 3px;}
}
.p10{
    padding:10px;
    
}
.p10.row{
    .col-30{
        font-size: 13px;
    }
}
.mdi.mdi-airplane-takeoff.back{
    &:before{    transform: rotate(-180deg) scale(1, -1);}
}
.tourprice{    font-size: 32px;
    text-align: center;
    color: white;
    border: 1px solid #feab3a;
    background: #feab3a;}
.fixtour{

    bottom: 0px;
        height: 45px!important;
}
.plane-info {
    padding-bottom: 40px;
}
.bay{
    .list-block .item-content {
    background: #ffffff;
    color: #212121;
    }
}
.info-act{
    background: #f8f8f9;
    margin-left: 10px;
    margin-right: 10px;
    color: #8e8e93;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 13px;
}
.bttn-fill.bttn-warning:focus, .bttn-fill.bttn-warning:hover {
    color: #feab3a!important;
}
.time-end{
    font-size: 33px;
}
.text-clock.col-50 {
    text-align: left;
}
[v-cloak] {
    display: none;
}
.notification-item{
    background: #28b78d !important;
     .item-content {
        background: none;
        color: white;
    }
    .item-title-row {
        background: #ffffff;
        color: #333;
    }
}
#header-login{
    .item-content {
        background: white;
        color: #333;
    }
    button.button.btn-warning.btn-block.bttn-fill.bttn-md.bttn-warning.no-br {
    margin-top: 25px;
    height: 45px;
    }
    .login-screen-content .list-block .item-link.list-button {
    line-height: 38px !important;
    color: white;
    }
    button {
    padding: 0px;
    width: 100%;
    }
    .login-screen-content .list-block .item-link.list-button {
    line-height: 38px !important;
    color: white;
}
.list-block .item-link.list-button {
    color: white!important;
}
}
#reg1{
    padding: 0px;
    .item-content {
        background: white;
        color: #333;
    }
    button.button.btn-warning.btn-block.bttn-fill.bttn-md.bttn-warning.no-br {
    margin-top: 25px;
    height: 45px;
    }
}
#reg2{
    margin-top: 0px;
    padding: 0px;
    .item-content {
        background: white;
        color: #333;
    }
    button.button.btn-warning.btn-block.bttn-fill.bttn-md.bttn-warning.no-br {
    margin-top: 25px;
    height: 45px;
    }
    .content-block-inner {
    background: #059bce;
    text-align: center;
    color: white;
   
    }
   
}
 .text-reg{
            padding: 10px;
        margin-top: 0px;
        color: white;
        font-size: 21px;
}
.user-page{
    margin-top: 0px;
}
.user-tab{
        background: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mdi-close.cert{
    background: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
}
.mdi-check.cert{
    background: #28b78d;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
}
.logtext{
        text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: -50px;
}