// Add custom font
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

// Bootstrap Starter Template Styles
body {
      padding-top: 12px;
      font-family: "openSansRegular", sans-serif!important;
      -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: #edeef0;
}

.header .topbar {
    height: 30px;
    background-color: #1b1b1b;
    line-height: 30px;
    margin-bottom: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
$size_large: 1225px;
$size_medium: 992px;
$size_small: 768px;
$size_x_small: 480px;


//Миксин медиа запросов
@mixin respond($media) {
    @if $media == x_small {
        @media only screen and (max-width: $size_x_small) { @content; }
    }
    @else if $media == small {
        @media only screen and (max-width: $size_small - 1) { @content; }
    }
    @else if $media == medium {
        @media only screen and (max-width: $size_medium - 1) { @content; }
    }
    @else if $media == large {
        @media only screen and (max-width: $size_large) { @content; }
    }
}
//
.hhh{
  display: block;
  @include respond(small) { display: none; }
}
.l-intro{
  height: 600px;
 background-size: cover!important;
 margin-bottom: -3px;
}
div#search {
 top: 464px;

    position: relative;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    i{color:#059bce!important;    top: 5px;}
}
.headText{
    p{        margin-top: 60px;
    margin-bottom: 40px;
    font-size: 4vw;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.72);
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;}
    
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #059bce!important;
    border-color: #059bce!important;
}
.chek{    margin-top: 13px;}
.filter-list{
        background: white;
        box-shadow: 0 10px 10px rgba(0,0,0,.08);
        margin-top: 20px;
        border: 1px solid #dbdbea;
}
.irs-bar {
    height: 10px;
    top: 33px;
    border-top: 1px solid #059bce!important;
    border-bottom: 1px solid #059bce!important;
    background: #059bce!important;
    background: linear-gradient(to top, #059bce 0%,#059bce 100%)!important;
}
.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #059bce!important;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.multiselect__tags {
    border-radius: 0px!important;
}
button.btn.bttn-fill.bttn-lg.bttn-danger {
    border-radius: 0px;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
    z-index: 3;
    color: #fff!important;
    background-color: #059bce!important;
    border-color: #059bce!important;
    cursor: default;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #059bce !important;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.search-result_new.container{
    ul{padding-left: 0px;}
    .search-txt{background: white;padding: 10px;border: 1px solid #dbdbea;    margin-bottom: 15px;}
}
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;

  
  width: 100%;
  

	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% {  opacity: 0; }
  8.3%,25% {  opacity: 1; }
  33.33%, 100% {  opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% {  opacity: 0; }
  41.63%, 58.29% { opacity: 1; }
  66.66%, 100% {  opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% {  opacity: 0; }
  74.96%, 91.62% {  opacity: 1; }
  100% {  opacity: 0; }
}


.chk {
  position: absolute;
    left: 36px;
    top: -3px;
}
.chk:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
     left: 0.3875rem;
    z-index: 1;
    width: 1.5rem;
    height: 0.675rem;
  border: 2px solid #059bce;
  border-top-style: none;
  border-right-style: none;
}
.chk:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.chk:after {
  content: "";
  position: absolute;
    width: 1.7rem;
    height: 1.7rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}
.chkFilter {
    position: absolute!important;
    left: 13px;
    top: 0px;
}
.chkFilter:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
      left: 0.3rem;
    top: -0.1rem;
    z-index: 1;
    width: 1.5rem;
    height: 0.675rem;
  border: 2px solid #059bce;
  border-top-style: none;
  border-right-style: none;
}
.chkFilter:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.chkFilter:after {
  content: "";
  position: absolute;
       top: -0.3rem;
    width: 1.7rem;
    height: 1.7rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}
.irs-slider {
    border: 0px solid #AAA!important;
    background: #e9e9e9!important;
}
.irs-line {
    background: #f2f2f2!important;
}
h3.bold.padding-bottom-7.pull-right.rate-help {
    border: 1px solid #eeeeee;
    padding: 10px;
    position: relative;
    color: #28b78d;

    top: 6px;
    margin-bottom: 6px;
    margin-top: 0px;
    small{color:#28b78d;}
}
.labelSearch{    font-size: 1.2vw !important;
    margin-top: -3px;}
.fixed{position: fixed!important;
    z-index: 4;
    top: 50px!important;width: 100%;}

.top-hotel{background: white;border: 1px solid #dbdbea;    box-shadow: 0 10px 10px rgba(0,0,0,0.08);    border-radius: 0px;}
.starsHotel {
    .mdi-star {
    color: #feab3a;
    }   
    margin-top: -4px;
    color: #feab3a;
}
.hotelName{    position: absolute;
    z-index: 9;
    color: white;
    background: rgba(0, 0, 0, 0.32);
    margin: 0px;
    padding: 10px;}
.hotelRate{
    padding: 3px;
    background: rgba(82, 183, 0, 0.7);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
}
.hotelText{
    font-size: 30px;
    color: #495e71;
}
// input{
//     height: 45px!important;
//     border-radius: 0px!important;
//     display: block !important;
//     padding: 6px 12px !important;
//     font-size: 1.2vw !important;
// }
#hotelS{
    form{
    padding: 15px;
    margin-top: -15px;
    background: #059bce;
    padding-bottom: 50px;
        label{
            color: white;
            padding-left: 5px;
        }
        .toggle.btn{
            width: 103% !important;
            margin-left: -5px;
            margin-top: -3px;
            border-radius: 0px;
            border: 1px solid #cccccc;
        }
    }
    .col-md-3{
        padding: 0px!important;
    }
}
.infoair{
    background: #f1f7f9;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -55px;
    border-left: 1px solid #f1f7f9;
    box-shadow: 0 5px 5px rgba(0,0,0,0.08);
    h3{margin-top: 35px;    color: #059bce;}
    p{    color: #059bce;margin-top: 30px;}
}
.bttn-fill{
    border-radius: 0px!important;
}
.desc {
      color: #293033;
    font-size: 14px;
    div{color: #293033;
    font-size: 12px;}
    .mdi{    color: #ccc;    margin-right: 5px;}
    i{color:#777;}
    padding-left: 10px;

}

.event-list > li > .info{
    padding-top: 15px!important;
    font-size: 17px;
    padding-left: 10px!important;
}
.cardHotel{
   width: 270px;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 30px;
    background: white;
    .mdi-close{
            position: absolute;
            top: 20px;
            right: 20px;
            background: rgba(255, 255, 255, 0.81);
            padding: 5px 7px;
            border-radius: 50%;
            cursor: pointer;
    }
}
.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-title{
    margin-top: 0px;
    margin-bottom: 5px;
    
}
.card-text{
    color: #52b700;
    font-size: 16px;
}
input[type="checkbox"], input[type="radio"]{
    height:8px!important;
}
.no-padding{
    padding:0px;
}
span.padding-bottom-7.pull-right.rate-help {
    color: #52b700;
    font-size: 1vw;
    border-left: 1px solid #dfdfdf;
    padding-left: 10px;
}
.descrHotel{
    margin-top: 10px;
    color: #777;
    font-size: 1vw;
    max-height: 2.3vw;
    overflow: hidden;
}
.icon-list{
    margin-right: 15px;
    font-size: 2.3vw;color: #777;
    &:hover{
       color: #059bce; 
    }
}
p.stars-hotel {
    margin-top: -8px;
}
.stars-hotel {
       color: #feac3c;
}
.progress-bar{
        background-color: #059bce;
}
#back-to-top{
    background: #059bce;
}
.btn-info {
    color: #fff;
    background-color: #059bce;
    border-color: #059bce;
}
#iconshotel{
    margin-top: 10px;
    padding-bottom: 20px;
    i{
        padding: 12px 14px;
        font-size: 30px;
        background: #059bce;
        top: 15px;
        position: relative;
        color: white;
        border-radius: 50%;
        /* border: 1px solid #feab3a; */
        box-shadow: 0 3px 3px rgba(0,0,0,0.08);
    }
}
.three-col{
       list-style-position: inside;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;
    list-style-type:decimal;
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
}
.serv-all{
    width: 100%;
    display: inline-block;
}
.icons-top{
    text-align: center;
    margin-top: 30px;
    .col-md-6{
        margin-bottom: 40px;
    }
    i{
        padding: 14px 16px;
        font-size: 30px;
        background: #059bce;
        color: white;
        border-radius: 50%;
        /* border: 1px solid #feab3a; */
        box-shadow: 0 5px 5px rgba(0,0,0,0.08);
        &:hover{
           color: white; 
        }  
    }
}
.rh{
    background: #52b700;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 18px;
}
.over{
    background: white;
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
    border: 1px solid #dbdbea;
}
.col-md-4.over{
    background: #059bce;
    color:white;    min-height: 611px;
}
.col-md-8.over{
    min-height: 611px;
}
.nav > li > a:hover{
    font-size: 20px!important;
    background: #feab3a!important;
    color: white;
}
.nav > li > a{
    font-size: 20px!important;
    color: #212121;
}
.nav-tabs>li.active>a{
    font-size: 20px!important;
    background: #feab3a;
    color: white!important;
}
.nav > li > a:hover{
    font-size: 20px!important;
    background: none;
}
.nav > li > a:active{
    color: white!important;
}
.bg{
    background: url(/img/mal.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 170px;
    height: 100%;
    width: 100%;
     
}
.bgb{
    background: url(/img/malb.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-bottom: 170px;
    height: 100%;
    width: 100%;
}
.bg1{
    background: url(/img/bea1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   padding-bottom: 170px;
    height: 100%;
    width: 100%;
}
.l-footer{
    background: #1b1b1b;
    color: #ccc;
    padding-top: 20px;
    padding-bottom: 50px;
    a{
        color:white;
        padding-left: 0px;
    }
    p{
         padding-left: 0px;
    }
    .cop{
        text-align: center;
        margin-top: 20px;
        color: white;
        padding-right: 40px;
    }
    .vk{
        position: relative;
        top: -5px;
        text-decoration: none;
    }
     .msg{
        text-decoration: none;
    }
}
.main-con{
        padding-bottom: 50px;
}
.t{
        padding-bottom: 70px!important;
        padding-left: 0px;           
}
.logo.mb{
    margin-bottom: 50px;
}
.progress{
        margin-top: 20px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    background: rgb(254, 171, 58)!important;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    background: #feab3a!important;
}
.search-result-text_bold {
    font-size: 12px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    margin-left: 10px;
    top: 3px;
    position: relative;
}
.f14{
        font-size: 14px;
}
form#header-login {
    padding-bottom: 15px;
        background: white;
      color: #898989;
    input.s-input {
        margin: 0px;
        margin-bottom: 10px;
    }
    .bttn-fill.bttn-warning {
    margin-bottom: 10px;
    padding: 5px 12px;
    }
    button{
        margin: 0px;
        padding: 0px;
        border: 0px;
        width: 100%;
    }
}
span#close-auth {
    float: right;
    cursor: pointer;
}
footer {
    bottom: 0;
    width: 100%;
    clear: both;
    overflow: hidden;
    position: relative;
}
.container.cw{
        color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #607D8B;
}
.fixed-ar {
    position: relative;
}

.fixed-ar:before {
    display: block;
    content: " ";
    width: 100%;
}

.fixed-ar > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center!important;
    background-size: cover;
}

/*
    class		AR
    ------		---
    ar-1-1		1:1 (square)
    ar-4-3		4:3
    ar-3-2		3:2
    ar-16-9		16:9

    padding-top: (ar_height / ar_width) * 100%;
*/
.fixed-ar.ar-1-1:before {
    padding-top: 100%;
}

.fixed-ar.ar-4-3:before {
    padding-top: 75%;
}

.fixed-ar.ar-3-2:before {
    padding-top: 66.66%;
}

.fixed-ar.ar-16-9:before {
    padding-top: 56.25%;
}

.fixed-ar.ar-21-9:before {
    padding-top: 44%;
}
.bt{padding-top: 20px;border-top: 2px solid #ccc;
    &:hover{border-top: 2px solid #059bce;}
    }
.logo-footer {
       width: auto;
    height: auto;
    margin: 1px 7px;
    overflow: hidden;
    /* float: left; */
    font-weight: bold;
    font-size: 35px;
    /* position: relative; */
    padding: 10px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.72);
    /* top: 0px; */
    /* left: 120px; */
    text-align: center;
}
.tourlist{
    font-size: 1.9rem;
    h3{margin-top:0px;margin-bottom: 5px}
    .col-md-6{padding: 0px;}
    .col-md-3{padding: 0px;}
    .grey{color: #707070;;}
}
.hotelimg{
    .content{border-radius: 4px;}
}
.tourp{
    padding: 30px;
    padding-top: 20px;
}
.plane-info{
    padding: 0px;
    border-top: 4px dotted #059bce;
    padding-top: 20px;
    border-bottom: 4px dotted #059bce;
    padding-bottom: 20px;
    margin-bottom: 20px;
    i{    font-size: 36px;
    color: #059bce;
    top: 0px;
    left: 20px;
    position: relative;}
    img{
        top: 30px;
        position: relative;
    }
    .brblue{
            border-right: 3px solid #059bce;
    }
}
.turist{
    font-size: 2.6rem;
    background: #059bce;
    color: white;
    padding: 20px;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #059bce!important;
}
.tourprice{
    color: #ffffff;
    font-size: 2.8rem;
    background: #feab3a;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}
.text-clock{
    display: inline-block;
    text-align: left;
    color: #059bce;
    font-size: 1.6rem;
    margin-left: 10px;
    position: relative;
    top: -5px;
}
.timer{
    font-size: 4rem;
    color: #059bce;
    position: relative;
    top: -7px;
}
.icon-time{
    font-size: 6rem;
    color: #059bce;
    margin-left: 17px;
}
.time-end{
    display: inline-block;
    text-align:center;
    margin-left: 125px;
}
.time{
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
   
}
.content{
    top: -20px;
    position: relative;
}
.content:after {
  content: " ";
  display: block;
  clear: both;
}
.content div {
 
}
.content .collage {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  .content{
      cursor: pointer;
       -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        &:hover{ -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);}
        }
    img{
        cursor: pointer;
       -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        &:hover{ -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);} 
    }
}
.content .collage:after {
  content: " ";
  display: block;
  clear: both;
}
.content .collage .item0 {
  width: 25%;
  float: left;
  position: relative;
  overflow:hidden;

}
.content .collage .item1 {
  width: 25%;
  float: left;
  position: relative;
  overflow:hidden;
}
.content .collage .item2 {
    width: 25%;
  float: left;
  position: relative;
  overflow:hidden;

}
.content .collage .item3 {
  width: 25%;
  float: left;
  margin-right: 0;
  position: relative;
  overflow:hidden;
}
.content .collage .item4 {
   width: 25%;
  float: left;
  position: relative;
  overflow:hidden;
}
.content .collage .item5 {
   width: 25%;
  float: left;
  position: relative;
  overflow:hidden;
}
.content .collage .item6 {
     width: 25%;
    margin-top: 18.75%;
    position: absolute;
    overflow: hidden;

}
.content .collage .item7 {
  width: 25%;
  float: left;
  position: relative;
}

.info-home{
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.29); */
    background: rgba(0,0,0,.53);
    // box-shadow: 0 0 30px 25px rgba(0,0,0,.53);
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    .country{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 1px;
    }
}
.content2{
    top: -21px;
    position: relative;
}
.content2:after {
  content: " ";
  display: block;
  clear: both;
}
.content2 div {
 
}
.content2 .collage {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  .content{
        cursor: pointer;
       -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        &:hover{ -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);}
        }
    img{
        cursor: pointer;
       -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        &:hover{ -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);} 
    }
}
.content2 .collage:after {
  content: " ";
  display: block;
  clear: both;
}
.content2 .collage .item0 {
  width: 25%;
  float: left;
  position: relative;
  overflow:hidden;

}
.content2 .collage .item1 {
  width: 25%;
  float: left;
  position: relative;
  overflow:hidden;
}
.content2 .collage .item2 {
    width: 25%;
  float: right;
  position: relative;
  overflow:hidden;

}
.content2 .collage .item3 {
  width: 25%;
  float: left;
  margin-right: 0;
  position: relative;
  overflow:hidden;
}
.content2 .collage .item4 {
   width: 25%;
  float: left;
  position: relative;
  overflow:hidden;
}
.content2 .collage .item5 {
   width: 25%;
  float: left;
  position: relative;
  overflow:hidden;
}
.content2 .collage .item6 {
    width: 25%;
    margin-top: 18.75%;
    position: absolute;
    overflow: hidden;
    margin-left: 50%;

}
.content2 .collage .item7 {
  width: 25%;
  float: left;
  position: relative;
}

.info-home{
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.29); */
    background: rgba(0,0,0,.53);
    // box-shadow: 0 0 30px 25px rgba(0,0,0,.53);
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    .country{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 1px;
    }
}
.ccard{
           position: relative;
    top: 23px;
}


.l-intro::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 612px;
    background: rgba(0,0,0,.30);
}
.Absolute-Center {
		width: 50%;
		height: 50%;
		overflow: auto;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	
	.hotel-list-link {
		line-height: 21px;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
        max-width: 258px;
		position: relative;
		color: #0078be;
		font-weight: 600;
		text-decoration: none;
		cursor: pointer;
        font-size: 1vw!important;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	.li-right {
		box-sizing: border-box;
		position: absolute;
		height: 100%;
		width: 355px;
		right: 0;
		top: -5px;
		padding: 16px 24px 16px 20px;
		text-align: center;
		border-left: 1px dotted transparent;
	}
	
	.search-result-text {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
        font-size: 0.7vw;
	}
	
	.search-result-text:first-child {
		line-height: 21px;
	}
	
	.search-result-text__standart-price {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: bottom;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 100%;
		position: relative;
		font-family: Panton, sans-serif;
		font-size: 22px;
		line-height: 22px;
		font-weight: 700;
	}
	
	.search-result-text_normal {
		font-size: 13px;
	}
	
	.search-result-text_bold {
		font-weight: 600;
	}
	

	
	.search-result__short-group-button {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		width: 90px;
	}
	
	.search-result__short-group-price {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		width: 158px;
		/*font-family: Panton,sans-serif;*/
		font-weight: 600;
	}
	
	.search-result__more-info {
		background-color: #fff;
		border-top: 1px solid #dbdbea
	}
	
	.search-result-grouped-tours {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	.search-result__item-info_grouped-tours {
		padding: 12px 20px;
	}
	
	.search-result__item-info {
		position: relative;
	}
	
	.search-result__grouped-dates {
		width: 225px;
	}
	
	.search-result__full-accomodation,
	.search-result__grouped-accomodation,
	.search-result__grouped-availability,
	.search-result__grouped-dates,
	.search-result__grouped-transfer {
		vertical-align: top;
		display: inline-block;
		box-sizing: border-box;
	}
	
	.search-result-text_dates {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
		border-bottom: 1px dotted;
		cursor: pointer;
	}
	
	.search-result-text_grey {
		color: #9797a6;
	}
	
	.result__grouped-accomodation {
		width: 260px;
	}
	
	.search-result-text_black {
		color: #313140;
	}
	
	.search-result__grouped-type-room {
		display: inline-block;
		margin: 0 10% 0 0;
		max-width: 90%;
	}
	
	.search-result__grouped-availability {
		padding: 0 20px;
	}
	
	.search-result-availability {
		width: 140px;
		height: 30px;
	}
	
	.search-result__grouped-accomodation {
		width: 260px;
	}
	/* Add this attribute to the element that needs a tooltip */
	
	[data-tooltip] {
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
	/* Hide the tooltip content by default */
	
	[data-tooltip]:before,
	[data-tooltip]:after {
		visibility: hidden;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		opacity: 0;
		pointer-events: none;
	}
	/* Position tooltip above the element */
	
	[data-tooltip]:before {
		position: absolute;
		bottom: 150%;
		left: 50%;
		margin-bottom: 5px;
		margin-left: -80px;
		padding: 7px;
		width: 160px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #000;
		background-color: hsla(0, 0%, 20%, 0.9);
		color: #fff;
		content: attr(data-tooltip);
		text-align: center;
		font-size: 14px;
		line-height: 1.2;
	}
	/* Triangle hack to make tooltip look like a speech bubble */
	
	[data-tooltip]:after {
		position: absolute;
		bottom: 150%;
		left: 50%;
		margin-left: -5px;
		width: 0;
		border-top: 5px solid #000;
		border-top: 5px solid hsla(0, 0%, 20%, 0.9);
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		content: " ";
		font-size: 0;
		line-height: 0;
	}
	/* Show tooltip content on hover */
	
	[data-tooltip]:hover:before,
	[data-tooltip]:hover:after {
		visibility: visible;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
	
	.search-result__grouped-cell-4 {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		width: 89px;
	}
	
	.search-result__grouped-logo {
		width: 89px;
		height: 36px;
		margin-top: 3px;
		text-align: center;
	}
	
	.search-result-operator-logo {
		display: inline-block;
		max-width: 88px;
		max-height: 32px;
		vertical-align: middle;
	}
	
	.search-result__grouped-price {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		width: 155px;
	}
	
	.search-result-text_visible-overflow {
		overflow: visible;
	}
	
	.search-result-text_align-center {
		text-align: center;
	}
	
	.search-result-text__standart-price_with-border {
		border-bottom: 1px dotted;
		cursor: pointer;
	}
	
	.sr-currency-rub:after {
		content: "Р";
		display: inline;
		font-family: ALSRubl-Tahoma, Tahoma, sans-serif;
		text-transform: uppercase;
		font-weight: 300;
	}
	
	.search-result-grouped-tours__item {
		position: relative;
		border: 1px solid transparent;
		border-bottom: 1px solid #dbdbea;
		margin: 0 -1px;
	}
	
	.search-result-grouped-tours__item:hover {
		background-color: rgba(255, 204, 0, .2);
	}
	
	[v-cloak] {
		display: none;
	}
	
	.mdi-star {
		    color: #feab3a!important;
	}
	
	.ticketHotelDescription-2 {
		clear: both;
		position: relative;
		z-index: 5;
		text-align: center;
	}
	
	.ticketAirlinesDetails {
		margin-top: 0;
		font-size: 16px;
		padding: 0 8px;
		/*border: 2px solid #c8d7e1;*/
		border-radius: 3px;
	}
	
	.transferItem {
		display: inline-block;
		vertical-align: middle;
		width: 65px;
		margin-left: 5px;
		text-align: left;
	}
	
	.transferItem.wideItem {
		width: 100px;
	}
	
	.transferItem:first-child {
		margin-left: 0;
	}
	
	.transferItem .firstLine {
		/*font-family: openSansBold;*/
		font-weight: bold;
		color: #333;
		font-size: 16px;
		display: inline-block;
		margin-top: 6px;
	}
	
	.dayName {
		text-transform: capitalize;
	}
	
	.transferItem.flightConnectionsItem {
		width: 70px;
	}
	
	.flightConnectionsWrapper {
		display: inline-block;
		text-align: center;
		width: 100%;
		min-width: 60px;
	}
	
	.transferItem .secondLine {
		font-size: 11px;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
		overflow: hidden;
		width: 100%;
		margin-top: 10px;
		height: 14px;
	}
	
	.transferItem.finalItem {
		width: 105px;
	}
	
	.transferItem.itemDivider {
		width: auto;
	}
	
	.transferDivider {
		display: block;
		width: 1px;
		height: 66px;
		background-color: #c8d7e1;
	}
	
	.transferItemDivider.icon {
		color: #bac7cd;
		text-align: center;
		font-size: 22px;
		line-height: 22px;
		margin: 0 auto;
		width: 28px;
		display: block;
	}
	
	.transferItem .flightConnections.secondLine {
		position: relative;
		overflow: visible;
	}
	
	.flightConnections.secondLine {
		margin-top: 6px;
		display: inline-block;
	}
	.event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		padding: 0px;
		margin: 0px 0px 20px;
		box-shadow: 0 2px 2px rgba(0,0,0,0.08);
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(5, 155, 206);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(5, 155, 206);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 36pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 500;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
		background-color: #f1f7f9;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 90px;
			padding: 0px;
            cursor:pointer;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 90px;
			float: left;
		}
		.event-list > li > .info {
			background-color: #f1f7f9;
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 90px;
			height: 90px;
			padding: 0px;
			margin: 0px;
            padding-top: 5px;
		}
		.event-list > li > .info {
			position: relative;
			height: 90px;
			text-align: left;
			padding-right: 0px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			font-size: 24px;
    		 font-weight: bold;
			top: 40%;
			bottom: 50%;
			right: 0px;
			display: block;
			width: 150px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}
	#back-to-top {
		cursor: pointer;
		position: fixed;
		bottom: 20px;
		right: 20px;
		display:none;
	}
#hotelS .col-md-3 {
    padding: 0px !important;
    padding-top: 5px!important;
}
#hotelS .col-md-7 {
    padding-top: 5px!important;
}
.tourlist{
    .col-md-3{    font-size: 14px;}
    .col-md-9{    font-size: 14px;}
}
.hotel-searching-result {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.row.l-social-block.find-result{
     -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; } 
    to   { opacity: 1; }
}
.mdi.mdi-airplane-takeoff.back{
    &:before{    transform: rotate(-180deg) scale(1, -1);}
}
.panel-default>.panel-heading{
    background: #059bce!important;
    color: white!important;
}
.badg{
    float: right;
    background: #feab3a;
    padding: 3px 7px;
    border-radius: 50%;
    top: -4px;
    right: -6px;
    position: relative;
}
.mp{
        padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px!important;
    margin-left: 10px;
    margin-right: 10px;
}
.titleh{
        color: #fff;
    background-color: #337ab7;
    padding: 10px;
}
.mdi-close.ser{
    background: red;
    padding: 5px;
    color: white;
    border-radius: 3px;
        font-size: 16px;
}
.mdi-check.ser{
    background: #28b78d;
    padding: 5px;
    color: white;
    border-radius: 3px;
        font-size: 16px;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
.datepicker{
  position: relative;
  display: inline-block;
  width: 100%;
}
input.datepicker-input.with-reset-button {
  padding-right: 25px;
}
.datepicker > button.close {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.datepicker > button.close:focus {
  opacity: .2;
}
.datepicker-popup{
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  margin-top: 2px;
  z-index: 1000;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  @include clearfix;
}
.datepicker-inner{
  width: 218px;
  float: left;
}
.datepicker-body{
  padding: 10px 10px;
  text-align: center;
}
.datepicker-ctrl p,
.datepicker-ctrl span,
.datepicker-body span{
  display: inline-block;
  width: 28px;
  line-height: 28px;
  height: 28px;
  // border-radius: 4px;
}
.datepicker-ctrl p {
  width: 65%;
}
.datepicker-ctrl span {
  position: absolute;
}
.datepicker-body span {
  text-align: center;
}
.datepicker-monthRange span{
  width: 48px;
  height: 50px;
  line-height: 45px;
}
.datepicker-item-disable {
  background-color: white!important;
  cursor: not-allowed!important;
}
.decadeRange span:first-child,
.decadeRange span:last-child,
.datepicker-item-disable,
.datepicker-item-gray{
  color: #999;
}
.datepicker-dateRange-item-active:hover,
.datepicker-dateRange-item-active {
  background: rgb(50, 118, 177)!important;
  color: white!important;
}
.datepicker-monthRange {
  margin-top: 10px
}
.datepicker-monthRange span,
.datepicker-ctrl span,
.datepicker-ctrl p,
.datepicker-dateRange span {
  cursor: pointer;
}
.datepicker-monthRange span:hover,
.datepicker-ctrl p:hover,
.datepicker-ctrl i:hover,
.datepicker-dateRange span:hover,
.datepicker-dateRange-item-hover {
  background-color : #eeeeee;
}
.datepicker-dateRange {
  .daytoday-start,
  .daytoday-start:hover,
  .daytoday-end,
  .daytoday-end:hover{
    background: rgb(50, 118, 177)!important;
    color: white!important;
  }
}
.datepicker-dateRange .daytoday-range,
.datepicker-dateRange .daytoday-range:hover{
  background-color: #ddd;
}
.datepicker-weekRange span{
  font-weight: bold;
}
.datepicker-label{
  background-color: #f8f8f8;
  font-weight: 700;
  padding: 7px 0;
  text-align: center;
}
.datepicker-ctrl{
  position: relative;
  /*height: 30px;*/
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
.month-btn{
  font-weight: bold;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.datepicker-preBtn{
  left: 2px;
}
.datepicker-nextBtn{
  right: 2px;
}
.multiselect{
    width: 100%;
    background-color: #fff;
}

// @function mdi($name) {
//     @return char(nth($hexes, index($names, $name)));
// }
.multiselect__input {
    padding-left: 35px !important;
}
.hotels .multiselect:before {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F2DD";
    padding-left: 7px;
    position: absolute;
    top: 10px;
    left: 0;
    color: #059bce;
    z-index: 9;
}
.countries .multiselect:before {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F352";
    padding-left: 7px;
    position: absolute;
    top: 10px;
    left: 0;
    color: #059bce;
    z-index: 9;
}
.depart-sel .multiselect:before {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F01D";
    padding-left: 7px;
    position: absolute;
    top: 10px;
    left: 0;
    color: #059bce;
    z-index: 9;
}
.dates.stars:before {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F4CE";
    padding-left: 7px;
    position: absolute;
    top: 10px;
    left: 0;
    color: #059bce;
    z-index: 9;
}
.dates.people:before {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F00E";
    padding-left: 7px;
    position: absolute;
    top: 10px;
    left: 0;
    color: #059bce;
    z-index: 9;
}

.dates.update:before {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F6AF";
    padding-left: 7px;
    position: absolute;
    top: 10px;
    left: 0;
    color: #059bce;
    z-index: 9;
}
.dates.cash:before {
    font: normal normal normal 24px/1 "Material Design Icons";
        content: "\F114";
    padding-left: 7px;
    position: absolute;
    top: 10px;
    left: 0;
    color: #059bce;
    z-index: 9;
}


.panel{
        input.active:before {
            content: "\f05d";
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            background: #f1f7f9;
            top: -4px;
            position: relative;
        }
}
/* ANIMATIONS */

@keyframes width {

  0%, 100% {
    transition-timing-function: cubic-bezier(1, 0, .65, .85);
  }

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }

}
.my-indicator {
    background-color: #428bca !important;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    background-size: 40px 40px !important;
    -webkit-animation: progress-bar-stripes 1s linear infinite !important;
    animation: progress-bar-stripes 1s linear infinite !important;
    color: #fff !important;
}
.other-country {
    background: url(/img/chel.jpg) no-repeat center top;
    height: 300px;
    margin-top: -23px;
    background-size: cover !important;
    position: relative;
}
a{cursor: pointer;}
.contry{
    color: white;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    &:hover{
        color: white;
    }
}
.stars-hotel{
    .mdi-18px{
        &:before{
            font-size: 1vw!important;
        }
    }
}



.popme {
 
  
  .popshow {
    background-color: rgba(0,0,0,0.85);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: #fff;
    display: none;
    font-size: 12px;
    font-family: 'Helvetica',sans-serif;
    left: -95px;
    padding: 7px 10px;
    position: absolute;
    width: 200px;
    z-index: 4;
    
    &:before {
        border-top: 7px solid rgba(0,0,0,0.85);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        bottom: -7px;
        content: '';
        display: block;
        left: 50%;
        margin-left: -7px;
        position: absolute;
      }
  }
  
  &:hover {
      .popshow {
        display: block;
        -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
      }
    }
}

@-webkit-keyframes fade-in {
	from   { opacity: 0; }
	to { opacity: 1; }
}
@-moz-keyframes fade-in {
	from   { opacity: 0; }
	to { opacity: 1; }
}
@-ms-keyframes fade-in {
	from   { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes move-up {
	from   { bottom: 30px; }
	to { bottom: 42px; }
}
@-moz-keyframes move-up {
	from   { bottom: 30px; }
	to { bottom: 42px; }
}
@-ms-keyframes move-up {
	from   { bottom: 30px; }
	to { bottom: 42px; }
}

.virtual-scroller[data-v-303cd025]:not(.page-mode) {
  overflow-y: auto;
}
.item-container[data-v-303cd025] {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.items[data-v-303cd025] {
  width: 100%;
}

.resize-observer[data-v-c7b3205a] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  pointer-events: none;
  display: block;
  overflow: hidden;
}
div#feedback {
    margin-top: 50px;
    margin-bottom: 50px;
    hr{
        height: 5px;
        background: #feab3a;
        width: 10%;
    }
}
#feedback .feedback-block p {
    background-color: #fff;
    font-size: 14px;
    padding: 24px;
    border: 1px solid #e1e1e1;
    color: #636363;
    position: relative;
    height: 145px;

}
#feedback .feedback-block p::before {
    border-color: transparent transparent transparent #e1e1e1;
    border-style: solid;
    border-width: 0 20px 23px;
    bottom: -22px;
    content: "";
    height: 0;
    left: 49px;
    position: absolute;
}
.form-control{
    line-height: 1vw;
}
.category li.active {
    background: #ececec;
    color: #212121;
}
.selectize-input.items> select{
    height: 45px!important;
    border-radius: 0px!important;
    display: block !important;
    width: 100% !important;
    padding: 6px 12px !important;
    font-size: 1vw !important;
    -webkit-appearance: none;
}
.search-panel1{ 
    .selectize-input.items{
    display: block !important;
    /* padding: 6px 12px !important; */
    font-size: 1.2vw !important;
    line-height: 1.42857 !important;
    color: #555555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-left: 1px solid rgba(196, 196, 196, 0.52) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    transition: none !important;
    cursor: pointer;
}
}
.panel-body{
    select{
    height: 45px!important;
    border-radius: 0px!important;
    display: block !important;
    width: 100% !important;
    padding: 6px 12px !important;
    font-size: 1vw !important;
    -webkit-appearance: none;
    }
        input{
        height: 45px!important;
        border-radius: 0px!important;
        display: block !important;
        padding: 6px 12px !important;
        font-size: 1.2vw !important;
    }
    .toggle.btn-lg {
    max-height: 44px;
    top: 1px;
    min-height: 44px;
}
button.btn.btn-warning.btn-block.bttn-fill.bttn-md.bttn-warning {
    height: 44.5px!important;
    margin-top: 25px!important;
}
}
.hotelBG{
    /* background: url(https://cdn.pixabay.com/photo/2016/01/19/19/26/amsterdam-1150319_1280.jpg) no-repeat; */
    background-size: cover;
    background: url(/img/h2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 170px;
    height: 100%;
    width: 100%;
}