<template>
	<div @click="blurAll($event)" class="cart-page">
		<f7-page>
			<f7-navbar title="Корзина" back-link="Назад" sliding></f7-navbar>
			<f7-block  no-gutter class="no-padding no-margin">
				<div class="content-block-title">Товары: {{totalAmount}} шт. Сумма: {{totalPrice}} р.</div>
				<div class="list-block">
					<ul>
						<li 
							class="swipeout so-cart" 
							v-for="item in upgratedCartItems" 
							:class="{'--in-stop': item.inStop}"
							:key="item.id">
							<div class="swipeout-content">
								<!-- Your list element here -->
								<div class="item-content">
									<div class="item-media">
										<img width="64" :src="item.images[0].imageUrl">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">{{item.name}}</div>
											<div class="item-after">
												<small v-if="!item.inStop">{{item.seoDescription}}</small>
												<b v-else style="color:#000">Осталось {{item.inStop}} шт. !!!</b>
											</div>
											<div class="item-after">{{item.price}} p. x {{item.count}} шт. = {{item.price*item.count}} р.</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Swipeout actions right -->
							<div class="swipeout-actions-right" v-if="item.id !== '444d6b2b-f6a5-48ab-9c3c-003262cf73fb'">
								<!-- Swipeout actions links/buttons -->
								<a href="#" class="bg-red" @click="incrementItem(item, -1)">-</a>
								<a class="bg-green" href="#" @click="incrementItem(item, 1)">+</a>
							</div>
						</li>
					</ul>
				</div>
			</f7-block>
			<f7-block  no-gutter class="no-padding no-margin">
				<div class="content-block-title">Покупатель</div>
				<f7-list form class="cart-form">
					<f7-list-item>
						<f7-label>ФИО *</f7-label>
						<f7-input type="text" v-model="customer.name" placeholder="Иванов Иван"/>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Телефон *</f7-label>
						<f7-input type="tel" v-model="customer.phone" placeholder="+79002223399"/>
					</f7-list-item>
					<!--<f7-list-item>
						<f7-label>Email</f7-label>
						<f7-input type="email" v-model="customer.email" placeholder="example@mail.ru"/>
					</f7-list-item>-->
				</f7-list>
				<div class="content-block-title">Доставка</div>
				<f7-list form class="cart-form">
					<f7-list-item>
						<f7-label>Тип заказа</f7-label>
						<f7-input type="select" v-model="selfService">
							<option 
								:value="typ.val" 
								v-for="typ in serviseTypes"
								:key="`selfService-${typ.val}`">{{typ.name}}</option>
						</f7-input>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Персон</f7-label>
						<f7-input type="select" v-model.number="persons">
							<option 
								v-for="num in 6" 
								:value="num"
								:key="`persons-${num}`">{{num}}</option>
						</f7-input>
					</f7-list-item>
					<!-- Textarea -->
					<f7-list-item>
						<f7-label>Комментарий</f7-label>
						<f7-input v-model="comment" type="textarea" placeholder="Комментарий к заказу"></f7-input>
					</f7-list-item>
					<f7-list-item v-if="!selfService">
						<f7-label>Время доставки</f7-label>
						<f7-input type="select" v-model="delivery">
							<option value="now" selected>Как можно скорее</option>
							<optgroup label="К определенному времени">
								<option value="11:00">11:00</option>
								<option value="12:00">12:00</option>
								<option value="13:00">13:00</option>
								<option value="14:00">14:00</option>
								<option value="15:00">15:00</option>
								<option value="16:00">16:00</option>
								<option value="17:00">17:00</option>
								<option value="18:00">18:00</option>
								<option value="19:00">19:00</option>
								<option value="20:00">20:00</option>
								<option value="21:00">21:00</option>
								<option value="22:00">22:00</option>
								<option value="23:00">23:00</option>
								<option value="00:00">00:00</option>
							</optgroup>
						</f7-input>
					</f7-list-item>
				</f7-list>
				<div class="content-block-title">Адрес</div>
				<f7-list form class="cart-form">
					<!-- Text Input -->
					<!-- Доставка start-->
					<template v-if="!selfService">
						<f7-list-item>
							<f7-label>Город *</f7-label>
							<f7-input type="text" disabled value="Ейск"></f7-input>
						</f7-list-item>
						<f7-list-item>
							<f7-label>Улица *</f7-label>
							<f7-input type="text" v-model="address.street" placeholder="Армавирская"/>
						</f7-list-item>
						<f7-list-item>
							<f7-label>Дом *</f7-label>
							<f7-input type="text" v-model="address.home" placeholder="3"/>
						</f7-list-item>
						<f7-list-item>
							<f7-label>Корпус</f7-label>
							<f7-input type="text" v-model="address.housing" placeholder="3"/>
						</f7-list-item>
						<f7-list-item>
							<f7-label>Квартира</f7-label>
							<f7-input type="text" v-model="address.apartment" placeholder="30"/>
						</f7-list-item>
						<f7-list-item>
							<f7-label>Подъезд</f7-label>
							<f7-input type="text" v-model="address.entrance" placeholder="1"/>
						</f7-list-item>
						<f7-list-item>
							<f7-label>Этаж</f7-label>
							<f7-input type="text" v-model="address.floor" placeholder="2"/>
						</f7-list-item>
						<!-- <f7-list-item>
							<f7-label>Домофон</f7-label>
							<f7-input type="text" v-model="address.doorphone" placeholder="30"/>
						</f7-list-item>
						<f7-list-item>
							<f7-label>Доп.инфо</f7-label>
							<f7-input v-model="address.comment" type="textarea" placeholder="Например: пересечение улиц или въезд со стороны и т.п."></f7-input>
						</f7-list-item> -->
						<blockquote><small>Поля, отмеченные звездочкой (*), обязательны к заполнению.</small></blockquote>
					</template>
					<!-- Доставка end-->
					<!-- Самовывоз start -->
					<f7-list-item v-if="selfService">
						<f7-label>Адрес точки</f7-label>
						<f7-input type="select" v-model="deliveryPoint">
							<option 
								:value="one" 
								v-for="one in deliveryCenters"
								:key="`deliveryPoint-${one}`">{{one}}</option>
						</f7-input>
					</f7-list-item>
					<!-- Самовывоз end --> 
				</f7-list>
				<div class="content-block-title">Оплата</div>
				<f7-list form class="cart-form">
					<f7-list-item>
						<f7-label>Сумма товаров</f7-label>
						<f7-input v-model="totalPrice" type="text" disabled></f7-input>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Бонусами</f7-label>
						<f7-input v-model="hochuPotratit" type="text" disabled></f7-input>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Оплата бонус.</f7-label>
						<f7-range 
							type="range" 
							:min="0"
							:max="maxTratitBonus"
							:step="1"
							v-model.number="hochuPotratit"
						/>
					</f7-list-item>
					<f7-list-item>
						<f7-label>К оплате</f7-label>
						<f7-input v-model="summOplat" type="text" disabled></f7-input>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Начислят бонус.</f7-label>
						<f7-input v-model="nachislyatBonusov" type="text" disabled></f7-input>
					</f7-list-item>
					<f7-list-item> 
						<f7-label>Тип оплаты -></f7-label>
						<f7-input type="select" v-model="paymentType">
							<option value="" disabled>Выберите тип оплаты</option>
							<option value="cash" data-option-image="/imgBackEnd/commodity1.png">Наличными</option>
							<option value="sber" selected data-option-image="/img/sber-active.png">Оплата онлайн</option>
							<option value="courier_card" data-option-image="/imgBackEnd/commodity5.png">Картой курьеру</option>
						</f7-input>
					</f7-list-item>
				</f7-list>
				<f7-button 
					color="green" 
					fill 
					big v-if="waitForCartUpdate">Проверяем цены...</f7-button>
				<f7-button 
					v-else
					color="green" 
					fill 
					big 
					@click="orderIt()">Заказать!</f7-button>
				<br>
			</f7-block>
		</f7-page>
	</div>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		name: 'cart',
		mixins: [mixins],
		data() {
			return {
				hochuPotratit: 0,
				bonusPercent: 0,
				modifiersRequired: [
					'6cb74b54-7064-4922-b8fb-ea1908b3ab16',
					'229383ed-b18b-4dca-90c7-82c8dd49889e',
					'b2df1e3f-9235-47d8-a999-f69bcf63740f'
				],
				apiBusy: false,
				serviseTypes: [{name: 'Доставка', val: ''}, {name: 'Самовывоз', val: true}],
				selfService: '',
				deliveryCenters: ['ул.Победы, д.74'],
				deliveryPoint: 'ул.Победы, д.74',
				delivery: 'now',
				persons: 1,
				paymentType: '',
				cartData: {
					items: {}
				},
				"customer": {
					"name": (this.tplData && this.tplData.user && this.tplData.user.name) ? this.tplData.user.name : '',
					"phone": (this.tplData && this.tplData.user && this.tplData.user.contactPoint && this.tplData.user.contactPoint.phone) ? this.tplData.user.contactPoint.phone : '',
					"email": ""
				},
				"address": {
					"city": "Ейск",
					"street": "",
					"home": "",
					"housing": "",
					"apartment": "",
					"entrance": "",
					"floor": "",
					"doorphone": "",
					"comment": ""
				},
				comment: '',
				showedPayDelivery: false,
				waitForCartUpdate: false,
				priceChanges: []
			}
		},
		computed: {
			stopList() {
				return this.$store.getters.stopList
			},
			upgratedCartItems() {
				let $_out = []
				for (let key in this.cartItems) {
					let one = this.cartItems[key]
					let inStop = (this.stopList[key] && this.stopList[key] < one.count) ? this.stopList[key] : false
					$_out.push({
						...one,
						inStop
					})
				}
				return $_out
			},
			summOplat() {
				return this.totalPrice-this.hochuPotratit;
			},
			nachislyatBonusov() {
				return Math.floor((this.mozhnoTratitBonusami - this.hochuPotratit) * this.serverBonus.cash_back);
			},
			maxTratitBonus() {
				let $_out = this.mozhnoTratitBonusami * this.serverBonus.max_bonus_in_price
				if (this.totalPrice - $_out < this.minOrderAmount) {
					$_out = this.totalPrice - this.minOrderAmount
				}
				$_out = ($_out > this.bonuses) ? this.bonuses : $_out
				return $_out
			},
			mozhnoTratitBonusami() {
				let $_summ = 0;
				let promoId = (this.weekPromo &&
								this.weekPromo.props && 
								this.weekPromo.props.productId) ? this.weekPromo.props.productId : '';
				for (let key in this.cartItems) {
					let $_prod = this.cartItems[key];
					if ($_prod && ($_prod.id !== promoId) && !$_prod.oldPrice && $_prod.parentGroup !== '160bbccc-34f4-4ffe-b3e3-f803373f380f') {
						$_summ+= $_prod.count * $_prod.price;
					}
				}
				return $_summ;
			},
			awaitBonuses() {
				return (this.user && this.user.awaitsBonus) ? this.user.awaitsBonus : 0
			},
			bonuses() {
				return (this.user && this.user.bonus) ? this.user.bonus : 0
			},
			phoneTest() {
				let tel = this.customer.phone.replace(/\D+/g,"")
				if((tel.length === 10) && (String(tel[0]) === '9')){
					tel = '7'+tel;
				}
				if((tel.length === 11) && (String(tel[0]) === '8') && (String(tel[1]) === '9')){
					tel = '7'+(tel.slice(1));
				}

				return tel.length === 11
			},
			deliveryDish() {
				let dish = this.$store.getters.deliveryDish
				return {
					...dish,
					count: 1,
					name: 'Доставка',
					disablePlus: true,
					images: [{imageUrl: '/img/delivery.png'}],
					seoDescription: `Доставка платная до ${this.minFreeDeliveryAmount} р.`
				}
			},
			minOrderAmount() {
				return this.$store.getters.minOrderAmount
			},
			minFreeDeliveryAmount() {
				return this.$store.getters.minFreeDeliveryAmount || 500
			},
		},
		watch: {
			waitForCartUpdate(val) {
					let text = ''
					let duration = 3000
					let type = 'info'

					if (val) {
						// this.$f7.addNotification({
						// 	hold: 2000,
						// 	title: 'Проверка цен:',
						// 	message: 'Проверяем актуальные цены'
						// })
					} else {
						if (this.priceChanges.length) {
							this.$f7.alert(`Изменились цены на продукты:<br>${this.priceChanges.map((it)=>`– ${it.name}: было <b>${it.oldPrice}</b> стало <b>${it.newPrice}</b> руб.`).join('<br>')}`, 'Цены изменились')
						} else {
							// this.$f7.addNotification({
							// 	hold: 2000,
							// 	title: 'Проверка цен:',
							// 	message: 'Цены актуальны'
							// })
						}
					}
					if (!val) {
						this.priceChanges = []
					}
			},
			// hochuPotratit(val) {
			// 	if (val > this.maxTratitBonus) {
			// 		this.hochuPotratit = this.maxTratitBonus
			// 	}
			// },
			cartItems: {
				deep: true,
				immediate: true,
				handler(val) {
					this.hochuPotratit = 0
					this.reviewCart()
				}
			},
			selfService(val) {
				try {
					localStorage.setItem('cart_selfService', val);
				} catch(e) {}
			},
			delivery(val) {
				try {
					localStorage.setItem('cart_delivery', val);
				} catch(e) {}
			},
			persons(val) {
				try {
					localStorage.setItem('cart_persons', val);
				} catch(e) {}
			},
			paymentType(val) {
				try {
					localStorage.setItem('cart_paymentType', val);
				} catch(e) {}
			},
			comment(val) {
				try {
					localStorage.setItem('cart_comment', val);
				} catch(e) {}
			},
			address: {
				deep: true,
				handler(val) {
					try {
						localStorage.setItem('cart_address', JSON.stringify(val));
					} catch(e) {}
				}
			},
			customer: {
				deep: true,
				handler(val) {
					try {
						localStorage.setItem('cart_customer', JSON.stringify(val));
					} catch(e) {}
				}
			},
			totalPrice: {
				immediate: true,
				handler(val) {
					this.handleDelivery(val)
					if (val == 0) {
						this.$router.back();
					}
				}
			},
			apiBusy(val) {
				if (val) {
					this.$f7.showPreloader('Ожидайте...');
				} else {
					this.$f7.hidePreloader();
				}
			}
		},
		mounted() {
			var yaParams = {
				target: "nextPC"
			};
			try {
				var yaCounter30102269 = new Ya.Metrika({id: 30102269, params: yaParams});
				yaCounter30102269.reachGoal('nextPC', yaParams);
			} catch (e) {
				console.log(e);
			}
			this.$nextTick(()=>{
				// if (this.totalPrice < 500) {
				// 	this.$f7.addNotification({
				// 		hold: 5000,
				// 		title: 'Важно',
				// 		message: 'Минимальная сумма заказа не должна быть менее 500 рублей!',
				// 	});
				// }
				this.getDataFromLS();
				let li = document.getElementsByClassName('so-cart')[0];
				setTimeout(()=>{
					this.$f7.swipeoutOpen(li);
					setTimeout(()=>{
						this.$f7.swipeoutClose(li);
					}, 750)
				}, 1000)
				document.getElementById('main-view').addEventListener('click', this.clicker, false);
				document.getElementById('main-view').addEventListener("touchmove", this.hanleScroll , false);
			});
		},
		methods: {
			reviewCart: async function() {
				// return
				this.waitForCartUpdate = true
				let $_newData = await this.$http.get('/?json=')
				$_newData = $_newData.body.list.products
				if ($_newData && $_newData.length) {
					$_newData = $_newData.filter((item)=>this.cartItems[item.id])
					$_newData.forEach((item)=>{
						let $_cartItem = this.cartItems[item.id]
						if (item.price !== $_cartItem.price) {
							let oldPrice = $_cartItem.price
							let newPrice = item.price

							this.priceChanges.push({
								name: item.name,
								oldPrice,
								newPrice
							})

							$_cartItem.price = newPrice
						}
						$_cartItem = null
					})
				}
				$_newData = null
				this.waitForCartUpdate = false
			},
			handleDelivery(val) {
				if (!val) return
				let $_hasPAyDeliveryInCart = false
				let $_cartItems = this.cartItems
				if ($_cartItems[this.deliveryDish.id]) {
					$_hasPAyDeliveryInCart = true
				}
				val = ($_hasPAyDeliveryInCart) ? val - this.deliveryDish.price : val
				// console.log('val', val, '$_hasPAyDeliveryInCart: ',$_hasPAyDeliveryInCart, '$_cartItems: ',$_cartItems, 'deliveryDish: ', this.deliveryDish, 'this.minFreeDeliveryAmount: ',this.minFreeDeliveryAmount)
				// return
				if (!val) {
					try {
						this.incrementItem(this.deliveryDish, -1)
					} catch (e) {
						console.log(e)
					}
					return
				}
				
				if (val < this.minFreeDeliveryAmount) {
					if (!this.showedPayDelivery) {
						try {
							this.$f7.alert(`Минимальная сумма для бесплатной доставки - ${this.minFreeDeliveryAmount } руб. Если вы закажете меньше этой суммы, то доставка будет платная и будет составлять ${this.deliveryDish.price } руб.`, 'Внимание');
						} catch (r) {
							console.log(r)
						}
						this.showedPayDelivery = true
					}
					
					if (!$_hasPAyDeliveryInCart) {
						this.$store.commit('addToCart', this.deliveryDish)
					}
				} else {
					if ($_hasPAyDeliveryInCart) {
						this.incrementItem(this.deliveryDish, -1)
					}
				}
			},
			// функция восстановления формы заказа при ините из локалстораджа
			getDataFromLS() {
				let customer = localStorage.getItem('cart_customer');
				try {
					customer = JSON.parse(customer);
				} catch (e) {}
				if (customer) {
					this.$set(this, 'customer', customer);
				}
				let address = localStorage.getItem('cart_address');
				try {
					address = JSON.parse(address);
				} catch (e) {}
				if (address) {
					this.$set(this, 'address', address);
				}
				let comment = localStorage.getItem('cart_comment');
				if (comment) {
					this.$set(this, 'comment', comment);
				}
				let paymentType = localStorage.getItem('cart_paymentType');
				if (paymentType) {
					this.$set(this, 'paymentType', paymentType);
				}
				let persons = localStorage.getItem('cart_persons');
				if (persons) {
					this.$set(this, 'persons', persons);
				}
				let delivery = localStorage.getItem('cart_delivery');
				if (delivery) {
					this.$set(this, 'delivery', delivery);
				}
				let selfService = localStorage.getItem('cart_selfService');
				if (selfService) {
					this.$set(this, 'selfService', selfService);
				}
			},
			hanleScroll(e) {
				this.blurAll();
			},
			clicker(e) {
				let all = ['INPUT', 'TEXTAREA', 'SELECT'];
				let target = e.target;
				if (!all.includes(target.tagName)) {
					this.blurAll();
				}
			},
			blurAll(e) {
				let all = document.querySelectorAll('input, select');
				for (let i=0; i <all.length; i++) {
					let one = all[i];
					try {
						
						all[i].blur();
					} catch (e) {}
				}
			},
			getOrderItems() {
				let out = [];
				let items = JSON.parse(JSON.stringify(this.cartItems));
				for (let key in items) {
					let one = items[key];
					let item = {};
					item.id = one.id;
					item.code = one.code;
					item.name = one.name;
					item.amount = one.count;
					if (one.modifiers) {
						for (let j=0;j<one.modifiers.length;j++) {
							let oneMod = one.modifiers[j];
							if (oneMod.required) {
								if (!item.modifiers) {
									item.modifiers = [];
								}
								item.modifiers.push({
									id: oneMod.modifierId,
									amount: oneMod.minAmount
								});
							}
						}
					}
					if (one.groupModifiers) {
						for (let j=0;j<one.groupModifiers.length;j++) {
							let oneMod = one.groupModifiers[j];
							if (oneMod.required) {
								if (!item.modifiers) {
									item.modifiers = [];
								}
								let id = '';
								let founded = false;
								for (let k=0;k< oneMod.childModifiers.length;k++) {
									let child = oneMod.childModifiers[k];
									if (child.required) {
										id = child.modifierId; 
										founded = true;
									} else if (this.modifiersRequired.includes(child.modifierId)) {
										id = child.modifierId;
										founded = true;
									}
								}
								if (!founded) {
									id = oneMod.childModifiers[0];
									if (typeof(id) == 'object' && id.modifierId) {
										id = id.modifierId;
									}
								}
								item.modifiers.push({
									groupId: oneMod.modifierId,
									id: id,
									amount: oneMod.minAmount
								});
							}
						}
					}
					out.push(JSON.parse(JSON.stringify(item)));
				}
				return out;
			},
			addComment() {
				let out = [];
				if (this.selfService) {
					out.push('Самовывоз');
				}
				if (this.delivery == 'now') {
					out.push('');
				} else {
					out.push('ДОСТАВКА К '+this.delivery+'!');
				}
				if (this.paymentType)
				return out.join(', ')
			},
			validateOrder() {
				let out = false;
				let errors = [];
				if (!this.paymentType) {
					errors.push('тип оплаты');
					out = true;
				}
				if (!this.customer.name) {
					errors.push('ФИО');
					out = true;
				}
				if (!this.phoneTest) {
					errors.push('телефон');
					out = true;
				}
				if (!this.selfService) {
					if (!this.address.street) {
						errors.push('улица');
						out = true;
					}
					if (!this.address.home) {
						errors.push('дом');
						out = true;
					}
				}
				if (errors.length > 0) {
					this.$f7.addNotification({
						hold: 6000,
						title: 'Не указаны поля:',
						message: errors.join(', '),
					});
				}
				return out;
			},
			orderIt() {
				if (this.upgratedCartItems.find((it)=>it.inStop !== false)) {
					this.$f7.addNotification({
						hold: 500000,
						title: 'Внимание!',
						message: 'Проверьте заказ, некоторые товары находятся в стоп-листе!',
					});
					return
				}
				if (this.totalPrice < this.minOrderAmount) {
					this.$f7.addNotification({
						hold: 5000,
						title: 'Внимание!',
						message: `Минимальная сумма заказа не должна быть менее ${this.minOrderAmount} рублей!`,
					});
					return;
				}
				if (this.apiBusy) return;
				this.apiBusy = true;
				let error = this.validateOrder();
				if (error) {
					this.apiBusy = false;
					return;
				}
				
				let outJson = {
					order: {
						date: null,
						items: []
					}
				};
				outJson.customer = JSON.parse(JSON.stringify(this.customer));
				outJson.order.address = JSON.parse(JSON.stringify(this.address));
				let $_addr = outJson.order.address;
				let $_home = $_addr.home;
				if ($_home) {
					if (isNaN(parseInt($_home)) || $_home.length > 5) {
						this.$f7.addNotification({
							hold: 5000,
							title: 'Внимание!',
							message: 'Укажите правильный номер дома!',
						});
						this.apiBusy = false;
						return;
					}
				}
				let $_housing = $_addr.housing;
				if ($_housing) {
					if (isNaN(parseInt($_housing)) || $_housing.length > 5) {
						this.$f7.addNotification({
							hold: 5000,
							title: 'Внимание!',
							message: 'Укажите правильный корпус!',
						});
						this.apiBusy = false;
						return;
					}
				}
				
				let $_apartment = $_addr.apartment;
				if ($_apartment) {
					if (isNaN(parseInt($_apartment)) || $_apartment.length > 5) {
						this.$f7.addNotification({
							hold: 5000,
							title: 'Внимание!',
							message: 'Укажите правильный номер квартиры!',
						});
						this.apiBusy = false;
						return;
					}
				}
				let $_entrance = $_addr.entrance;
				if ($_entrance) {
					if (isNaN(parseInt($_entrance)) || $_entrance.length > 5) {
						this.$f7.addNotification({
							hold: 5000,
							title: 'Внимание!',
							message: 'Укажите правильный номер подъезда!',
						});
						this.apiBusy = false;
						return;
					}
				}
				let $_floor = $_addr.floor;
				if ($_floor) {
					if (isNaN(parseInt($_floor)) || $_floor.length > 5) {
						this.$f7.addNotification({
							hold: 5000,
							title: 'Внимание!',
							message: 'Укажите правильный номер этажа!',
						});
						this.apiBusy = false;
						return;
					}
				}
				let $_doorphone = $_addr.doorphone;
				if ($_doorphone) {
					if (isNaN(parseInt($_doorphone)) || $_doorphone.length > 5) {
						this.$f7.addNotification({
							hold: 5000,
							title: 'Внимание!',
							message: 'Укажите правильный номер домофона!',
						});
						this.apiBusy = false;
						return;
					}
				}
				let tel = outJson.customer.phone.replace(/\D+/g,"")
				if((tel.length === 10) && (String(tel[0]) === '9')){
					tel = '7'+tel;
				}
				if((tel.length === 11) && (String(tel[0]) === '8') && (String(tel[1]) === '9')){
					tel = '7'+(tel.slice(1));
				}
				outJson.order.phone = tel;
				outJson.order.fullSum = this.totalPrice;
				outJson.order.comment = this.comment;
				outJson.order.items = this.getOrderItems();
				outJson.order.personsCount = this.persons;
				outJson.order.comment+= 'ч:'+this.persons+' '+this.addComment();
				if (this.selfService) {
					outJson.order.address.street = 'Красная';
					outJson.order.address.home = '51/1';
				}
				let meta = {
					cartCache: [],
					tplDataItems: this.$store.getters.prods.reduce((memo, prod)=>{
						let productId = prod.id
						if (this.cartItems[productId]) {
							memo = [...memo, {
										name: prod.name,
										code: prod.code,
										price: prod.price,
										oldPrice: prod.oldPrice,
										discountPercent: prod.discountPercent
									}]
						} else if (prod.group && prod.group.length) {
							let item = prod.group.find(it=>this.cartItems[it.id])
							if (item && item.item) {
								memo = [...memo, {
										name: item.item.name,
										code: item.item.code,
										price: item.item.price,
										oldPrice: item.item.oldPrice,
										discountPercent: item.item.discountPercent
									}]
							}
						}
						return memo
					}, [])
				}
				for(let $_key in this.cartItems) {
					let $_cartItem = this.cartItems[$_key]
					meta.cartCache.push({
						name: $_cartItem.name,
						code: $_cartItem.code,
						price: $_cartItem.price,
						oldPrice: $_cartItem.oldPrice,
						count: $_cartItem.count,
						discountPercent: $_cartItem.discountPercent
					})
					$_cartItem = null
				}
				// debug out
				// console.log( {order: outJson}, Object.keys(this.cartItems), meta);
				// return;
				this.$http.post('/payment', { order: outJson, paymentType: this.paymentType, bonus: this.hochuPotratit, meta })
				.then((resp)=>{
					console.log(resp.body)
					if (resp.body.error) {
						throw new Error()
					}
					if (resp.body.sberPaymentLink) {
						location.href = resp.body.sberPaymentLink;
						setTimeout(()=>{
							this.$store.commit('clearCart');
						}, 50);
						
					} else {
						let yaParams = {
							target: "buy"
						};
						try {
							var yaCounter30102269 = new Ya.Metrika({id: 30102269, params: yaParams});
							yaCounter30102269.reachGoal('buy', yaParams);
						} catch (e) {
							console.log(e);
						}
						this.$f7.addNotification({
							hold: 50000,
							title: 'Спасибо!',
							message: resp.body.success,
						});
						this.$store.commit('clearCart');
						if (this.user) {
							this.$store.dispatch('updateUserBonuses')
						}
						this.$f7.mainView.router.load({url: '/'});
					}
					this.apiBusy = false;
				})
				.catch((fail)=>{
					console.log(fail);
					this.$f7.addNotification({
						hold: 5000,
						title: 'Ошибка!',
						message: 'Попробуйте еще раз.'
					});
					this.apiBusy = false;
				})
				// $.ajax({
				// 	type: 'POST',
				// 	url: '/payment',
				// 	contentType: 'application/json',
				// 	data: 
				// })
				// .done((resp)=>{
				// 	if (resp.sberPaymentLink) {
				// 		location.href = resp.sberPaymentLink;
				// 	} else {
				// 		location.href = '/?payment=cash';
				// 	}
				// 	this.apiBusy = false;
				// })
				// .fail((fail)=>{
				// 	console.log(fail);
				// 	this.apiBusy = false;
				// })
				// .then(()=>{
				// 	this.apiBusy = false;
				// });
			},
			incrementItem(item, val) {
				this.$store.commit('incrementCartItem', {id: item.id, val: val});
			},

		}
	}
</script>
<style lang="scss">
	.swipeout {
		&.so-cart{
			&.--in-stop {
				background: rgba(red, .7);
				color: #fff;
				.item-after {
					color: #fff;
				}
			}
		}
	}
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: 1px solid #000000;
		height: 5px;
		width: 5px;
		border-radius: 15px;
		background: #ffffff !important;
		cursor: pointer;
		position: absolute;
		z-index: 4;
		top: 50%; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
		box-shadow: 0 2px 4px rgba(0,0,0, .3); /* Add cool effects to your sliders! */
	}

	/* All the same stuff for Firefox */
	input[type=range]::-moz-range-thumb {
		box-shadow: 0 2px 4px rgba(0,0,0, .3);
		border: 1px solid #000000;
		height: 5px;
		width: 5px;
		border-radius: 15px;
		position: absolute;
		top: 50%;
		background: #ffffff !important;
		cursor: pointer;
	}

	/* All the same stuff for IE */
	input[type=range]::-ms-thumb {
		box-shadow: 0 2px 4px rgba(0,0,0, .3);
		border: 1px solid #000000;
		height: 5px;
		width: 5px;
		border-radius: 15px;
		position: absolute;
		top: 50%;
		background: #ffffff !important;
		cursor: pointer;
	}
</style>
