<template>
	<f7-page>
		<f7-navbar title="Меню" back-link="Назад" sliding>
			<f7-nav-right v-if="totalPrice" >
				<a @click.stop.prevent="checkTotalAmount($event)" href="cart/" :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}"><span> <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
			</f7-nav-right>
		</f7-navbar>
		<f7-block  
			no-gutter 
			class="no-padding no-margin" 
			style="    background: white;    margin-bottom: 1px;" 
			v-for="item in products" 
			:key="`prod-${item.id}`"
			v-if="item.id !== '656c19cb-73e8-466c-85a3-b2498e5d7e53'">
			<f7-grid no-gutter  class="product-card">
			
				<f7-col width="50" style="padding-right: 10px;    position: relative;" @click.stop.prevent="openProduct(item)">
					<img 
						@click.stop.prevent="openProduct(item)"
						:src="(item.images && item.images[0] && item.images[0].imageUrl) ? item.images[0].imageUrl : 'https://upload.wikimedia.org/wikipedia/commons/9/9a/%D0%9D%D0%B5%D1%82_%D1%84%D0%BE%D1%82%D0%BE.png'" 
						width="100%" 
						alt="">
					<div @click.stop.prevent="openProduct(item)" class="menu-el-status">
						<span v-if="item.mods && item.mods.hit" class="one-el-status el-hit">Хит</span>
						<span v-if="item.mods && item.mods.new" class="one-el-status el-novelty">Новинка</span>
					</div>
					<div @click.stop.prevent="openProduct(item)" class="menu-el-type-and-discount">
						<div 
							class="menu-el-discount" 
							v-if="item.discountPercent">
							<span class="el-corner"></span>
							<div class="el-discount-size">-{{item.discountPercent * 100}}%</div>
						</div>
						<div class="menu-el-type">
						
							<span v-if="item.mods && item.mods.vegetarian" class="spriteX08 vegetarian"></span>
							<span v-if="item.mods && item.mods.hot" class="spriteX08 hot"></span>
							<span v-if="item.mods && item.mods.veryHot" class="spriteX08 very-hot"></span>
						</div>
					</div>
				</f7-col>
				<f7-col width="50">
					<template  v-if="item.group">
						<h3 class="title-sale-cat" @click.stop.prevent="openProduct(item)">{{item.name}}</h3>
						<p class="descr-cat">{{item.seoDescription}}</p>
						<br>
						<br>
						<f7-col width="90"><a href="#" class="button  button-fill color-green open-popover" :data-popover="'#pop'+item.id">Выбрать размер</a></f7-col>
						<div class="popover popover-links" :id="'pop'+item.id">
							<div class="popover-angle"></div>
							<div class="popover-inner">
								<div class="list-block">
									<ul>
										<li v-for="(one, j) in item.group" :key="`${item.id}-group-${j}`">
											<a href="#" @click="addToCart(one.item)" class="list-button item-link close-popover">
												{{Math.round(one.item.weight*1000)}} грaмм - {{one.item.price}} <small>p.</small>
											</a>
										</li>
										<li>
											<a href="#" class="list-button item-link close-popover">
												Закрыть
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</template>
					<template v-else>
						<h3 class="title-sale-cat" @click.stop.prevent="openProduct(item)">{{item.name}}</h3>
						<p class="descr-cat">{{item.seoDescription}}<br>{{Math.round(item.weight*1000)}} гр.</p>
						<f7-grid no-gutter >
							<f7-col width="100" v-if="item.oldPrice" style="text-decoration: line-through; color: red">{{item.oldPrice}} <small>p.</small></f7-col>
							<f7-col width="40"><h2>{{item.price}} <small>p.</small></h2></f7-col>
							<f7-col width="60" class="add-item">
								<a href="" @click.stop.prevent="minusItem(item)">-</a>
								<span>{{item.count || 1}}</span>
								<a href="" @click.stop.prevent="plusItem(item)">+</a>
							</f7-col>
							<f7-col width="90"><p style="margin:0px;margin-bottom:10px;"><a href="#" class="button  button-fill color-green" @click.stop.prevent="addToCart(item)">В корзину</a></p></f7-col>
						</f7-grid>
					</template>
				</f7-col>
			</f7-grid>
		</f7-block>
  </f7-page>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		name: 'category-page',
		mixins: [mixins],
		props: ['fav'],
		computed: {
			stopList() {
				return (this.$store.state && 
						this.$store.state.tplData && 
						this.$store.state.tplData.stopList) ? this.$store.state.tplData.stopList : {};
			},
			catname() {
				return (this.$route && 
						this.$route.params && 
						this.$route.params.catname) ? this.$route.params.catname : '';
			},
			products() {
				let out = this.$store.getters.products(this.catname);
				let i=0;
				while(i < out.length) {
					out[i].name = out[i].name.replace(/(\(Д\))|(\()|(\))|(ГР\.)|(гр\.)|(пицца)|([0-9])|\//ig, '');
					let one = out[i];
					if (one.mods && one.mods.new) {
						out.splice(i, 1);
						out.unshift(one);
					}
					i++;
				}

				i=0;
				while(i < out.length) {
					let one = out[i];
					if (one.oldPrice) {
						let founded = one;
						out.splice(i, 1);
						out.unshift(one);
						break;
					}
					i++;
				}
				return out;
			}
		},
		methods: {
			choseFromGroup(item) {

			},
			addToCart(item) {
				let count = (this.stopList && 
							(this.stopList[item.id] !== undefined)) ? this.stopList[item.id] : 1;
				if (count > 0) {
					this.$store.commit('addToCart', item);
					this.$f7.addNotification({
						hold: 1000,
						title: 'Суши-Пицца',
						message: 'Товар добавлен в корзину'
					});
				} else {
					this.$f7.addNotification({
						hold: 2000,
						title: 'Суши-Пицца',
						message: 'Этот товар находится на стоп-листе :('
					});
				}
			},	
			minusItem(item) {
				this.$store.commit('minusItem', item);
			},
			plusItem(item) {
				let count = (this.stopList && 
							(this.stopList[item.id] !== undefined)) ? (this.stopList[item.id] || 1) : 10;
				let inStop = (this.stopList && 
							(this.stopList[item.id] !== undefined)) ? true : false;
				if (item.count >= count) {
					item.count = count;
					if (inStop) {
						this.$f7.addNotification({
						hold: 2000,
						title: 'Суши-Пицца',
						message: 'Этот товар находится на стоп-листе :('
					});
					}
				} else {
					this.$store.commit('plusItem', item);
				}
			}
		}
	}
</script>