<template>
	<f7-page style="background:white;">
		<f7-navbar title="Меню" back-link="Назад" sliding>
			<f7-nav-right v-if="totalPrice" >
				<a @click.stop.prevent="checkTotalAmount($event)" href="/cart/" ><span :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}"> <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
			</f7-nav-right>
		</f7-navbar>
		<f7-block  no-gutter>
			<div class="accordion-list">
					<div class="accordion-item" >
						<div class="accordion-item-toggle" style="border-bottom: 1px solid rgb(204, 204, 204);" ><h3 style="text-align:center;color:#333;">УСЛОВИЯ ДОСТАВКИ</h3></div>
						<div class="accordion-item-content delivery" style="border-bottom: 1px solid rgb(204, 204, 204);">
							<img src="/img/condition1.png" width="88" style="margin-top:10px;" alt="">
							<h4 >БЕСПЛАТНО</h4>
							<p>Вы оплачиваете только заказ. Доставку мы осуществляем бесплатно.</p>
							<img src="/img/condition2.png" width="88" style="margin-top:10px;" alt="">
							<h4 >ЕЖЕДНЕВНО</h4>
							<p>Вы оплачиваете только заказ. Работаем с 10:00 до 23.00</p>
							<img src="/img/condition3.png" width="88" style="margin-top:10px;" alt="">
							<h4 >50 МИНУТ</h4>
							<p>В течение этого времени заказ будет доставлен</p>
						</div>
					</div>
					<div class="accordion-item" >
						<div class="accordion-item-toggle" style="border-bottom: 1px solid rgb(204, 204, 204);" ><h3 style="text-align:center;color:#333;">МИНИМАЛЬНАЯ СУММА ЗАКАЗА</h3></div>
						<div class="accordion-item-content delivery" style="border-bottom: 1px solid rgb(204, 204, 204);">
							<h1 style="color:#00C75C">300 руб</h1>
							<p>в пределах г. Ейска, Широчанка</p>
							<h1 style="color:#00C75C">1000 руб</h1>
							<p>Морской</p>
							<h1 style="color:#00C75C">1000 руб</h1>
							<p>Ближнеейский</p>
								<h2><div style="text-align:center;color: #17191C;font-size: 30px;text-transform: uppercase;font-weight: bold;">Если доставка до 1000р.</div><br>
								<div style="color:#00C75C">-Краснофлотский-170р.</div>
								<div style="color:#00C75C">-Морской-170р.</div>
								<div style="color:#00C75C">-Ближниейский-70р.</div></h2>
						</div>
					</div>
					<div class="accordion-item" >
						<div class="accordion-item-toggle" style="border-bottom: 1px solid rgb(204, 204, 204);" ><h3 style="text-align:center;color:#333;">НАШИ ПРЕИМУЩЕСТВА</h3></div>
						<div class="accordion-item-content delivery" style="border-bottom: 1px solid rgb(204, 204, 204);">
							
							<h4 >ДОСТАВЛЯЕМ БЫСТРО</h4>
							<p>Наша служба доставки работает с 10:00 до 00:00 без перерыва и выходных дней. Мы отправляем заказы сразу после их приготовления и упаковки. Среднее время доставки – 50 минут.</p>
							
							<h4 >ДОСТАВЛЯЕМ БЕСПЛАТНО</h4>
							<p>Вы оплачиваете только свой заказ, который мы привезем совершенно бесплатно. 
									Минимальная сумма заказа – 500 рублей.
									Если сумма заказа менее 500 рублей, то стоимость доставки по городу 50 руб. </p>
							
							<h4 >ОПЛАТА ОНЛАЙН</h4>
							<p>Мы принимаем оплату онлайн, наличные и пластиковые карты</p>
							
							<h4 >КАРТА ДОСТАВКИ</h4>
							<p>Доставка осуществляется в Ейске и городах спутниках</p>
							
							<h4 >ЕДА С СОБОЙ</h4>
							<p>Вы можете забрать заказ сами. Выбирайте блюда из меню, удобное время и удобный пункт выдачи. Мы приготовим и упакуем ваш заказ к назначенному времени.</p>
						</div>
					</div>
					<div class="accordion-item" >
							<div class="accordion-item-toggle" style="border-bottom: 1px solid rgb(204, 204, 204);" ><h3 style="text-align:center;color:#333;">СПОСОБЫ ОПЛАТЫ ТОВАРА</h3></div>
							<div class="accordion-item-content delivery" style="border-bottom: 1px solid rgb(204, 204, 204);">
								<img src="/img/commodity1.png" width="88" style="margin-top:10px;" alt="">
								<h4 >НАЛИЧНЫМИ</h4>
								<img src="/img/commodity2.png" width="88" style="margin-top:10px;" alt="">
								<h4 >ОПЛАТА ОНЛАЙН</h4>
								<img src="/img/commodity5.png" width="88" style="margin-top:10px;" alt="">
								<h4 >КАРТОЙ КУРЬЕРУ</h4>
							</div>
						</div>
					
				</div> 
		</f7-block>
  	</f7-page>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		mixins: [mixins]
	}
</script>