<template>
	<f7-page>
		<f7-navbar title="Любимое" back-link="Назад" sliding>
			<f7-nav-right v-if="totalPrice" >
				<a @click.stop.prevent="checkTotalAmount($event)" href="cart/"><span :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}">  <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
			</f7-nav-right>
		</f7-navbar>
		<div style="text-align: center; padding-top: 50%;" v-if="emptyFav">
			<h2>В любимом ничего нет.</h2>
			<p>Нажимайте на странице товара на звездочку, и товар попадет в "Любимое".</p>
		</div>
		<div class="list-block" v-else>
			<ul>
				<li class="swipeout" v-for="item in fav" :key="item.id">
					<div class="swipeout-content">
						<!-- Your list element here -->
						<div class="item-content">
							<div class="item-media">
								<img width="64" :src="item.images[0].imageUrl">
							</div>
							<div class="item-inner">
								<div class="item-title-row">
									<div class="item-title">{{item.name}}</div>
									<div class="item-after" style="margin-left:0px;"><small>{{item.seoDescription}}</small></div>
									<div class="item-after"  style="margin-left:0px;margin-top:10px;margin-bottom:10px;">
										<p style="margin:0px;margin-bottom:10px;">
											<a href="#" class="button   button-fill color-green " style="border-radius:0px;" @click.stop.prevent="addToCart(item)">В корзину</a>
										</p>
										&nbsp;&nbsp;&nbsp;
										<p style="margin:0px;margin-bottom:10px;float:right">
											<a href="#" class="button  button-fill color-red" style="border-radius:0px;position: absolute;right: 20px;" @click.stop.prevent="addFav(item)">Удалить</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Swipeout actions right -->
					<div class="swipeout-actions-right">
						<!-- Swipeout actions links/buttons -->
						<a href="#" class="bg-red" @click="incrementItem(item, -1)">-</a>
						<a class="bg-green" href="#" @click="incrementItem(item, 1)">+</a>
					</div>
				</li>
			</ul>
		</div>
  </f7-page>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		name: 'category-page',
		mixins: [mixins],
		computed: {
			stopList() {
				return (this.$store.state && 
						this.$store.state.tplData && 
						this.$store.state.tplData.stopList) ? this.$store.state.tplData.stopList : {};
			},
			fav() {
				return this.$store.state.favourite;
			},
			emptyFav() {
				return (Object.keys(this.fav).length > 0) ? false : true;
			}
		},
		methods: {
			addFav(item) {
				this.$store.commit('addInFav', item);
				this.$f7.addNotification({
					hold: 1000,
					title: 'Суши-Пицца',
					message: 'Товар удален из любимого!'
				});
			},
			addToCart(item) {
				let count = (this.stopList && 
							(this.stopList[item.id] !== undefined)) ? this.stopList[item.id] : 1;
				if (count > 0) {
					this.$store.commit('addToCart', item);
					this.$f7.addNotification({
						hold: 1000,
						title: 'Суши-Пицца',
						message: 'Товар добавлен в корзину'
					});
				} else {
					this.$f7.addNotification({
						hold: 2000,
						title: 'Суши-Пицца',
						message: 'Этот товар находится на стоп-листе :('
					});
				}
			}
		}
	}
</script>