<template>
	<f7-page style="background:white;">
		<f7-navbar :title="selectedItem.name" back-link="Назад" sliding>
			<f7-nav-right v-if="totalPrice">
				<a @click.stop.prevent="checkTotalAmount($event)" href="/cart/" :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}"><span> <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
			</f7-nav-right>
		</f7-navbar>
		<div class="content-block center">
			<div class="buttons-row" raised="raised" v-if="item && item.group">
				<a 
					v-for="(one, idx) in item.group" 
					href="#" 
					@click.stop.prevent="activeTab = idx" 
					class="tabber button" 
					:class="{'active': idx == activeTab}">{{one.item.weight * 1000}} гр.</a>
			</div>
			<div style="position:relative;">
			<img :src="selectedItem.images[0].imageUrl" width="100%" alt="">
				<div  class="menu-el-status">
					<span v-if="selectedItem.mods && selectedItem.mods.hit" class="one-el-status el-hit">Хит</span>
					<span v-if="selectedItem.mods && selectedItem.mods.new" class="one-el-status el-novelty">Новинка</span>
				</div>
				<div class="menu-el-type-and-discount">
					<div 
						class="menu-el-discount" 
						v-if="weekPromo && weekPromo.props && weekPromo.props.productId && (weekPromo.props.productId == selectedItem.id)">
						<span class="el-corner"></span>
						<div class="el-discount-size">-{{weekPromo.props.discount}}%</div>
					</div>
					<div class="menu-el-type">
						<span v-if="selectedItem.mods && selectedItem.mods.vegetarian" class="spriteX08 vegetarian"></span>
						<span v-if="selectedItem.mods && selectedItem.mods.hot" class="spriteX08 hot"></span>
						<span v-if="selectedItem.mods && selectedItem.mods.veryHot" class="spriteX08 very-hot"></span>
					</div>
				</div>
			</div>
			<h2>{{selectedItem.name}}</h2>
			<h3 >{{selectedItem.seoDescription}}<br>{{Math.round(selectedItem.weight*1000)}} гр.</h3>
			<hr>
			
		</div>
		<f7-toolbar style="    height: 60px;">
			<f7-grid no-gutter  style="width:100%;">
			<f7-col width="33"><h2>{{selectedItem.price}} <small>p.</small></h2></f7-col>
			<f7-col width="33"><h2 align="center" @click.stop.ptevent="addFav(selectedItem)"><f7-icon fa="heart" :class="{'outline white': !isFav}"></f7-icon></h2></f7-col>
			<f7-col width="33"><p style="margin-top: 23px;"><a href="#" class="button  button-fill color-green" @click.stop.prevent="addToCart(selectedItem)">В корзину</a></p></f7-col>
			</f7-grid>
		</f7-toolbar>
  	</f7-page>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		mixins: [mixins],
		data() {
			return {
				activeTab: 0
			}
		},
		computed: {
			productInPopup() {
				return null;
			},
			selectedItem() {
				return (this.item.group) ? this.item.group[this.activeTab].item : this.item;
			},
			item() {
				return this.$store.getters.item(this.$route.params.good);
			},
			fav() {
				return this.$store.state.favourite;
			},
			isFav() {
				return (this.fav && this.fav[this.selectedItem.id]) ? true : false;
			}
		},
		methods: {
			addFav(item) {
				this.$store.dispatch('addInFav', item)
				.then((resp)=>{
					if (resp) {
						this.$f7.addNotification({
							hold: 1000,
							title: 'Суши-Пицца',
							message: 'Товар добавлен в любимое!'
						});
					} else {
						this.$f7.addNotification({
							hold: 1000,
							title: 'Суши-Пицца',
							message: 'Товар удален из любимого!'
						});
					}
				})
				.catch((e)=>{
					console.log(e)
				})
			},
			addToCart(item) {
				this.$store.commit('addToCart', item);
				this.$f7.addNotification({
					hold: 1000,
					title: 'Суши-Пицца',
					message: 'Товар добавлен в корзину'
				});
			}
		}
	}
</script>
<style>
.toolbar-inner {
padding: 0 20px;
}
	.theme-white .button:not(.button-fill).active {
		color: #000;
	}
	.tabber {
		background: #555;
    	color: #fff;
	}
	.outline {
		 color: transparent !important;
		-webkit-text-stroke-width: 2px !important;
		-webkit-text-stroke-color: #fff !important;
	}
</style>