<template>
	<f7-page style="background:white;">
		<f7-navbar :title="item.name" back-link="Назад" sliding>
			<f7-nav-right v-if="totalPrice">
				<a @click.stop.prevent="checkTotalAmount($event)" href="/cart/" :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}"><span> <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
			</f7-nav-right>
		</f7-navbar>
		<div class="content-block center">
			<img v-if="item && item.image" :src="item.image[0]" width="100%" alt="">
			<h2>{{item.name}}</h2>
			<div v-html="item.description"></div>
			<hr>
			<f7-grid no-gutter >
			</f7-grid>
		</div>
  	</f7-page>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		mixins: [mixins],
		computed: {
			item() {
				return this.$store.state.tplData.main;
			},
			route() {
				return this.$route;
			}
		},
		mounted(){
			this.$http.get(this.route.path+'?json').then(response => {
				this.$store.commit('setTData', response.body);
			}, response => {
			// error callback
			});
		},
		methods: {
			
		}
	}
</script>