<template>
	<div class="view view-main">
      	<div class="pages">
       		<div class="page" data-page="home">
          		<div class="page-content">
				  	<div class="list-block">
						<ul>
							<li v-for="cat in categories"  
								class="item-content">
								<div class="item-inner">
									<div class="item-title">
										{{cat.name}}
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'main-page',
		computed: {
			categories() {
				return (this.$store && 
						this.$store.getters && 
						this.$store.getters.categories) ? this.$store.getters.categories : [];
			}
		}
	}
</script>