<template>
	<div @click="blurAll($event)">
		<f7-page>
			<f7-navbar title="Восстановление пароля" back-link="Назад" sliding></f7-navbar>
			<f7-block  no-gutter class="no-padding no-margin">
				<f7-list form class="cart-form">
					<f7-list-item>
						<f7-label>Телефон</f7-label>
						<f7-input type="tel" v-model="phone" placeholder="89002223399"/>
					</f7-list-item>
				</f7-list>
				<f7-button color="green" fill big @click="recovery()">Восстановить!</f7-button>
			</f7-block>
		</f7-page>
	</div>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		name: 'recovery-password',
		mixins: [mixins],
		data() {
			return {
				phone: '',
				apiBusy: false
			}
		},
		computed: {
			phoneTest() {
				return /^(8|\+?\d{1,3})?[ -]?\(?(\d{3})\)?[ -]?(\d{3})[ -]?(\d{2})[ -]?(\d{2})$/.test(this.phone);
			},
		},
		
		methods: {
			
		}
	}
</script>