<template>
	<div @click="blurAll($event)">
		<f7-page>
			<f7-navbar title="Регистрация" back-link="Назад" sliding></f7-navbar>
			<f7-block  no-gutter class="no-padding no-margin">
				<f7-list form class="cart-form">
					<f7-list-item>
						<f7-label>ФИО</f7-label>
						<f7-input type="text" v-model="name" placeholder="Иванов Иван"/>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Телефон</f7-label>
						<f7-input type="tel" v-model="phone" placeholder="+79112223344"/>
					</f7-list-item>
					<f7-list-item>
						<f7-label>E-mail</f7-label>
						<f7-input type="email" v-model="email" placeholder="example@mail.com"/>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Пароль</f7-label>
						<f7-input type="text" v-model="pass1" placeholder="Придумайте пароль"/>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Пароль</f7-label>
						<f7-input type="text" v-model="pass2" placeholder="Повторите пароль"/>
					</f7-list-item>
				</f7-list>
				<f7-button color="green" fill big @click="registerIt()">Зарегистрироваться!</f7-button><br>
				<f7-button color="blue" fill big @click="recovery()">Восстановить пароль</f7-button>
			</f7-block>
		</f7-page>
	</div>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		name: 'registration',
		mixins: [mixins],
		data() {
			return {
				name: '',
				phone: '',
				pass1: '',
				pass2: '',
				email: '',
				apiBusy: false
			}
		},
		computed: {
			phoneTest() {
				return /^(8|\+?\d{1,3})?[ -]?\(?(\d{3})\)?[ -]?(\d{3})[ -]?(\d{2})[ -]?(\d{2})$/.test(this.phone);
			},
			similarPass() {
				let out = false;
				if (this.pass1 && this.pass2 && (this.pass1 == this.pass2)) {
					out = true;
				}
				return out;
			}
		},
		
		methods: {
			recovery(flag) {
				this.$f7.popup('#popup-recovery');
			},
			validate() {
				let out = false;
				if (!(this.phone && this.name && this.similarPass)) {
					out = true;
				}
				if (!this.similarPass) {
					this.$f7.addNotification({
						hold: 3000,
						title: 'Ошибка',
						message: 'Пароли не совпадают!',
					});
				}
				return out;
			},
			getUser(cb) {
				let sid = localStorage.getItem('session');
				if (sid) {
					this.$http.post('/user', {session:sid}).then((resp2)=>{
						this.$store.commit('setUser', resp2.body);
						if (cb && typeof(cb) == 'function') {
							return cb();
						}
					});
				}
			},
			registerIt() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				let errors = this.validate();
				if (errors) {
					this.apiBusy = false;
					return;
				}
				let user = {
					name: this.name,
					phone: this.phone.replace(/\D+/g,""),
					password:  this.pass1,
					password1: this.pass2,
					email: this.email
				};
				if((user.phone.length === 10) && (String(user.phone[0]) === '9')){
					user.phone = '7'+user.phone;
				}
				if((user.phone.length === 11) && (String(user.phone[0]) === '8') && (String(user.phone[1]) === '9')){
					user.phone = '7'+(user.phone.slice(1));
				}
				if ((user.phone.length < 11) || (user.phone.indexOf('79') !== 0)) {
					this.$f7.addNotification({
						hold: 3000,
						title: 'Ошибка',
						message: 'Телефон должен быть в формате +79001112233!',
					});
					this.apiBusy = false;
					return;
				}
				this.$f7.showPreloader('Регистрация...');
				this.$http.post('/auth/registration', user)
				.then((resp)=>{
					let data = resp.body;
					if (data.success) {
						localStorage.setItem('session', data.session);
						this.getUser(()=>{
							this.$f7.addNotification({
								hold: 3000,
								title: 'Отлично!',
								message: 'Регистрация прошла успешно!',
							});
							location.href = '/';
						});
					} else {
						this.$f7.addNotification({
							hold: 3000,
							title: 'Ошибка',
							message: data.error,
						});
					}
					this.$f7.hidePreloader();
					this.apiBusy = false;
				});
			}
		}
	}
</script>