<template>
	<f7-page>
		<f7-navbar title="Рестораны" back-link="Назад" sliding>
			<f7-nav-right v-if="totalPrice" >
				<a @click.stop.prevent="checkTotalAmount($event)" href="/cart/" :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}"><span> <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
			</f7-nav-right>
		</f7-navbar>
		<template v-for="(item, index) in items">
			<f7-photo-browser
				:ref="'pb'+index"
				:photos="item.image"
				theme="dark"
				:toolbar="false"
			></f7-photo-browser>
			<f7-swiper :params="{speed:500, slidesPerView: 1}">
				<f7-swiper-slide class="rest" v-for="(image, idx) in item.image"><img :src="image" style="width:100%" alt="" @click="openPhotos(index, idx)"></f7-swiper-slide>
			</f7-swiper>
			<f7-block inner class="no-margin-top">
				<h3>{{item.name}}</h3><hr>
				<div v-html="item.description"></div>
			</f7-block>
		</template>
  </f7-page>
</template>

<script>
	import mixins from '../components/mixins.js'
	export default {
		mixins: [mixins],
		computed: {
			items() {
				return (this.$store && 
						this.$store.getters && 
						this.$store.getters.items) ? this.$store.getters.items : [];
			}
		},
		methods: {
			openPhotos(index, idx) {
				let ref = 'pb'+index;
				this.$refs[ref][0].open();
			}
		}
	}
</script>
<style>
	.swiper-slide.rest {
    height: 213px;

}
.swiper-slide:before {
    display: block;
    content: " ";
    width: auto!important;
    padding-top: 100%;
}
</style>