<template>
	<div @click="blurAll($event)">
		<f7-page>
			<f7-navbar title="Отзыв" back-link="Назад" sliding></f7-navbar>
			<f7-block  no-gutter class="no-padding no-margin">
				<f7-list form class="cart-form">
					<f7-list-item>
						<f7-label>ФИО</f7-label>
						<f7-input type="text" v-model="feed.fio" placeholder="Иванов Иван"/>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Телефон</f7-label>
						<f7-input type="tel" v-model="feed.phone" placeholder="89002223399"/>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Отзыв</f7-label>
						 <textarea v-model="feed.description" placeholder="Отзыв в свободной форме"></textarea>
					</f7-list-item>
				</f7-list>
				<f7-button color="green" fill big @click="sendReview()">Отправить!</f7-button>
			</f7-block>
		</f7-page>
	</div>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		name: 'review',
		mixins: [mixins],
		data() {
			return {
				feed: {
					description: '',
					fio: '',
					phone: ''
				},
				apiBusy: false
			}
		},
		computed: {
			checktel() {
				let out = false;
				if ((this.feed.phone.length == 11) && (this.feed.phone.indexOf('89') == 0)) {
					out = true;
				}
				return out;
			}
		},
		methods: {
			blurAll(e) {
				let all = document.querySelectorAll('input, select');
				for (let i=0; i <all.length; i++) {
					let one = all[i];
					try {
						
						all[i].blur();
					} catch (e) {}
				}
			},
			sendReview() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				let out = JSON.parse(JSON.stringify(this.feed));
				out.review = true;
				if (!out.fio) {
					this.$f7.addNotification({
						hold: 3000,
						title: 'Ошибка:',
						message: 'Укажите ФИО!',
					});
					this.apiBusy = false;
					return;
				}
				if (!out.phone) {
					this.$f7.addNotification({
						hold: 3000,
						title: 'Ошибка:',
						message: 'Укажите Телефон!',
					});
					this.apiBusy = false;
					return;
				}
				if (!out.description) {
					this.$f7.addNotification({
						hold: 3000,
						title: 'Ошибка:',
						message: 'Укажите текст отзыва!',
					});
					this.apiBusy = false;
					return;
				}
				if (!this.checktel) {
					this.$f7.addNotification({
						hold: 5000,
						title: 'Ошибка:',
						message: 'Не верно указан телефон, укажите в формате 89001112233!',
					});
					this.apiBusy = false;
					return;
				}
				this.$f7.showPreloader('Отправляем...');
				this.$http.post('/feedback', out)
				.then((data)=>{
					let resp = data.body;
					this.$f7.hidePreloader();
					if (!resp.error) {
						this.$f7.addNotification({
							hold: 3000,
							title: 'Отлично:',
							message: 'Отзыв отправлен!',
						});
						this.feed.fio = '';
						this.feed.phone = '';
						this.feed.description = '';
						this.apiBusy = false;
						setTimeout(()=>{
							location.href = '/';
						},1000);
					} else {
						this.$f7.addNotification({
							hold: 3000,
							title: 'Ошибка:',
							message: resp.error,
						});
						this.apiBusy = false;
					}
				});
			}
		}
	}
</script>