<template>
	<div class="page">
		<div class="page-content pull-to-refresh-content" ref="ptr" data-ptr-distance="55">
			<!-- Default pull to refresh layer-->
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
		
			<!-- usual content below -->
			<div class="list-block">
				<f7-navbar title="Личный кабинет" back-link="Назад" sliding>
					<f7-nav-right v-if="totalPrice" >
						<a @click.stop.prevent="checkTotalAmount($event)" href="/cart/" :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}"><span> <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
					</f7-nav-right>
				</f7-navbar>
				<template v-if="user">
					<f7-block style="    margin: 10px 0;">
						<h2 style="margin-top:10px;margin-bottom:10px;">{{user.name}}</h2>
						<hr>
						<p>{{(user.contactPoint && user.contactPoint.phone) ? user.contactPoint.phone : ''}}</p>
						<h3>Бонусы</h3>
						<hr>
						<div>Текущий баланс: <b>{{ bonuses }}</b></div>
						<div>Ожидает начисления: <b>{{ awaitBonuses }}</b></div>
						<h3 style="color:#333;">ИСТОРИЯ ЗАКАЗОВ</h3>
					</f7-block>
					<div class="data-table card">
						<table>
							<thead>
							<tr>
								<th class="label-cell">Дата</th>
								<th class="numeric-cell">№ заказа</th>
								<th class="numeric-cell">Стоимость</th>
								<th class="numeric-cell">Заказ</th>
							</tr>
							</thead>
							<tbody>
								<tr v-for="one in userHistory" :key="one.orderId" :class="{'canceled-order': one.status == 'CANCELLED', 'success-order': one.status == 'CLOSED', 'inprogress-order': (one.status != 'CANCELLED' && one.status != 'CLOSED')}">
									<td class="label-cell">{{one.date|date}}</td>
									<td class="numeric-cell"><span>{{one.number}}</span></td>
									<td class="numeric-cell"><span v-if="one.status != 'CANCELLED'">{{one.sum}} .р</span></td>
									<td class="numeric-cell">
										<a  v-if="one.status != 'CANCELLED'" href="#" @click.stop.prevent="showOrder(one)"><f7-link icon="icon-bars"></f7-link></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</template>
			</div>
		</div>
  	</div>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		mixins: [mixins],
		data() {
			return {
				history: null,
				currentOrder: null
			}
		},
		mounted() {
			this.loadOrders();
			try {
				this.$refs.ptr.addEventListener("ptr:refresh", this.loadOrders, false);
			} catch (e) {
				console.log(e);
			}
		},
		watch: {
			'userHistory.length' () {
				console.log(this.userHistory)
			}
		},
		computed: {
			awaitBonuses() {
				return (this.user && this.user.awaitsBonus) ? this.user.awaitsBonus : 0
			},
			bonuses() {
				return (this.user && this.user.bonus) ? this.user.bonus : 0
			},
			userHistory(){
				let out = [];
				if (!(this.history)) return out;
				let history = this.history.customersDeliveryHistory;
				for (let i=0; i < history.length;i++) {
					let one = history[i].deliveryHistory;
					for (let j=0; j < one.length;j++) {
						let two = one[j];
						out.push(two);
					}
				}
				out.sort(function(a,b) {
					let one = (new Date(a.date)).getTime();
					let two = (new Date(b.date)).getTime();
					if (one > two) {
						return -1;
					}
					if (one < two) {
						return 1;
					}
					return 0;
				});
				return out;
			}	
		},
		methods: {
			showOrder(order) {
				this.$store.commit('setCurrentOrder', order);
				this.$nextTick(()=>{
					this.$f7.popup('.popup-current-order');
				});
			},
			loadOrders() {
				this.$f7.showPreloader('Обновляем заказы...');
				this.$http.get('/account?json')
				.then((resp)=>{
					this.$set(this, 'history', (resp.body.list.history || null));
					this.$nextTick(()=>{
						this.$f7.hidePreloader();
						try {
							this.$f7.pullToRefreshDone(this.$refs.ptr)
						} catch (e) {}
					});
				});
			}
		}
	}
</script>
<style>
	.canceled-order {
		background: tomato;
   		color: #fff;
	}
	.success-order {
		background: palegreen;
	}
	.inprogress-order {
		background: lightskyblue;
   		color: #fff;
	}
</style>