<template>
	<f7-page>
		<f7-navbar title="Вакансии" back-link="Назад" sliding>
			<f7-nav-right v-if="totalPrice" >
				<a @click.stop.prevent="checkTotalAmount($event)" href="/cart/" :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}"><span> <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
			</f7-nav-right>
		</f7-navbar>
		<f7-block  no-gutter style="padding:0px;">
			<f7-card v-for="one in items" class="vac" :key="one.id">
				<f7-card-content v-if="one.image && one.image[0]">
					<img :src="one.image[0]" width="100%" alt="">
				</f7-card-content>
				<f7-card-footer>
					<h3 style="word-break: break-word;" class="no-margin">{{one.name}}</h3>
				</f7-card-footer>
				<f7-card-footer style="display:block;">
					<div style="width:100%;word-break: break-word;" v-html="one.description"></div>
					<div style="word-break: break-word; display:block;text-align:right;">
			
						<f7-icon fa="calendar"></f7-icon> 
						<small>{{one.dates.created|date}}</small>
					</div>
				</f7-card-footer>
				
			</f7-card>
		</f7-block>
  	</f7-page>
</template>

<script>
	import mixins from '../components/mixins.js'

	export default {
		mixins: [mixins],
		computed: {
			items() {
				return (this.$store && 
						this.$store.getters && 
						this.$store.getters.items) ? this.$store.getters.items : [];
			}
		}
	}
</script>
