<!-- Подтверждение телефона -->
<div class="modal fade" id="sms_auth" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
	<div class="modal-dialog modal-sm-custom">
		<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="icon close" data-dismiss="modal" aria-hidden="true"><i class="mdi mdi-close"></i></button>
				<h4 class="modal-title" id="modal_label">Введите код из смс</h4>
			</div>
			<div class="modal-body">
				<p class="form-group">
					<span>Мы отправили сообщение с кодом</span><br>
					<span>подтверждения на ваш номер</span><br>
					<span>+7 (988) 768-02-06</span>
				</p>
				<p class="form-group link">Изменить номер</p>
				<div class="form-group">
					<input class="form-control text-center" type="tel" placeholder="____" value="">
				</div>
				<p class="form-group input-error">Вы ввели просроченный проверочный код. Пожалуйста, получите новый и попробуйте ещё раз</p>
				<button class="btn btn-default green" type="button">Запросить код повторно</button>
			</div>
		</div>
	</div>
</div>