@font-face {
    font-family: 'Framework7 Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Framework7Icons-Regular.eot");
    src: local('Framework7 Icons'),
       local('Framework7Icons-Regular'),
       url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
  }
  
  .f7-icons, .framework7-icons {
    font-family: 'Framework7 Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;   
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
  }
  .card-footer:before {
    height: 2px;}
.vac h3, h2, span {font-size: 18px!important;} 
.navbar-inner.cached {
    display: flex;
}
.navbar .left {
    margin-right: 10px;
    margin-left: 10px;
}
i.icon.fa.fa-heart {
    color: #e40713;
    position: relative;
    top: 4px;
}
a.tabber.button.active {
    background-color: #4bd963!important;
    color: white!important;
    padding: 5px 10px;
    height: 40px;
}
a.tabber.button {
    background-color: #fefefe!important;
    color: #555555!important;
    padding: 5px 10px;
    height: 40px;
    /* outline: 1px solid rebeccapurple; */
    border: 1px solid #555!important;
    margin-top: 10px;
    border-radius: 0px!important;
    font-weight: bold;
}
.spriteX08 {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/mapX08.png);
  }
  .hot {
    width: 24px;
    height: 24px;
    background-position: -347px -66px;
  }
  .vegetarian {
    width: 24px;
    height: 24px;
    background-position: -376px -63px;
  }
  
  /* line 33, ../scss/_sprite.scss */
  .very-hot {
    width: 24px;
    height: 24px;
    background-position: -376px -37px;
  }
.menu-el-value {
    height: 38px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
  }
  /* line 1147, ../scss/_base.scss */
  .menu-el-value [class^="sprite"] {
    margin-top: 7px;
  }
  /* line 1150, ../scss/_base.scss */
  .menu-el-value [class*="p28"] {
    margin-top: 7px;
  }
  /* line 1153, ../scss/_base.scss */
  .menu-el-value [class*="p32"] {
    margin-top: 4px;
  }
  /* line 1156, ../scss/_base.scss */
  .menu-el-value [class*="p42"] {
    margin-top: 0;
  }
  /* line 1159, ../scss/_base.scss */
  .menu-el-value i {
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  /* line 1162, ../scss/_base.scss */
  .menu-el-value:hover {
    cursor: pointer;
    display: inline-block;
  }
  /* line 1165, ../scss/_base.scss */
  .menu-el-value:hover i {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  /* line 1171, ../scss/_base.scss */
  .menu-el-value.active:after {
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -8px;
    content: '';
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #00C75C transparent;
  }
  
.sprite {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/map.png);
  }
  /* line 1031, ../scss/_base.scss */
.menu-el-status {
    position: absolute;
    top: 7px;
    left: -1px;
    height: 45px;
  }
  
  /* line 1037, ../scss/_base.scss */
  .one-el-status {
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    line-height: 18px;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    text-transform: uppercase;
    padding: 0 5px;
    position: relative;
  }
  /* line 1046, ../scss/_base.scss */
  .one-el-status:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    width: 0;
    height: 0;
    border: 2px solid;
    border-color: #555 #555 transparent transparent;
  }
  
  /* line 1057, ../scss/_base.scss */
  .el-novelty {
    background-color: #FFBF12;
  }
  /* line 1059, ../scss/_base.scss */
  .el-novelty:after {
    border-color: #ab7d00 #ab7d00 transparent transparent;
  }
  
  /* line 1063, ../scss/_base.scss */
  .el-hit {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #35baf2;
  }
  /* line 1068, ../scss/_base.scss */
  .el-hit:after {
    border-color: #0c83b5 #0c83b5 transparent transparent;
  }
  
  /* line 1072, ../scss/_base.scss */
  .menu-el-type-and-discount {
    position: absolute;
    right: 5px;
    top: 0px;
  }
  
  /* line 1077, ../scss/_base.scss */
  .menu-el-discount {
    position: relative;
    height: 57px;
    width: 57px;
  }
  
  /* line 1082, ../scss/_base.scss */
  .el-corner {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 29px solid;
    border-color: #E30613 #E30613 transparent transparent;
  }
  /* line 1092, ../scss/_base.scss */
  .el-corner:after {
    position: absolute;
    left: -29px;
    top: -29px;
    content: '';
    width: 0;
    height: 0;
    border: 2px solid;
    border-color: transparent transparent #80030b #80030b;
  }
  /* line 1102, ../scss/_base.scss */
  .el-corner:before {
    position: absolute;
    right: -29px;
    bottom: -29px;
    content: '';
    width: 0;
    height: 0;
    border: 2px solid;
    border-color: transparent transparent #80030b #80030b;
  }
  
  /* line 1113, ../scss/_base.scss */
  .el-discount-size {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FFF;
    font-size: 14px;
    font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
    text-transform: uppercase;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* line 1123, ../scss/_base.scss */
  .menu-el-type {
    text-align: right;
    padding: 10px;
    width: 45px;
    float: right;
  }
  
  /* line 1129, ../scss/_base.scss */
  .menu-el-count {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    font-size: 1px;
    padding: 11px;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
.panel-left .navbar{
display: none;
}
.center.col-50 a{
    color: #666;
}
.navbar-inner, .toolbar-inner {
    background: #555;
    color: white;;
}
.no-padding{padding: 0px;}
.button.color-grey {
    border-radius: 3px;
    border: 1px solid #666;
    color: #666;
    width: 100%;
    margin-right: 10px;
}
.card.no-margin h2{    margin-top: 10px; margin-bottom: 5px;
}
.card.no-margin h3{    margin-top: 11px;    color: #999;position: relative;display: inline-block;
    font-size: 18px;
    font-weight: 400;}
.card.no-margin h3:after{    content: '';
    display: block;
    position: absolute;
    left: -2px;
    right: -2px;
    top: 50%;
    height: 2px;
    background-color: #d93636;
    margin-top: -1px;
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: .75;}
.center.icons i{font-size: 22px; margin-right: 15px;color: #666;}
.center{text-align: center;}
.content-block.center {
    margin-top: 0px;
}
.no-padding.no-margin .content-block-inner{padding-top: 0px;padding-bottom: 0px;}
.descr-cat{ font-size: 9px;
    margin: 8px 0;
    line-height: 1.3;}
.no-margin{margin: 0px;}
.content-block.center a{
    font-size: 17px;
    text-align: center;
    color: #666;line-height: 30px;
    text-transform: uppercase;
}
h2, h3{    font-weight: 400;}
.title-sale{    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
    color: #000;}
    .title-sale-cat{    display: block;    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    font-weight: 500;
    color: #333;    max-width: 170px;}
.content-block.center a.active{
    font-weight: bold;
    color: #333;
}
.no-margin-top{margin-top: 0px;}
.content-block.no-margin-top {
    padding-bottom: 20px;
}
a.close-popup {
       font-size: 30px!important;
    position: absolute;
    right: 8px;
    top: 2px;
}
.add-item{       margin-top: 6px;
    font-size: 17px;}
.add-item span{position: relative;
    top: -3px;}
.add-item a{    margin: 0px 13px;font-size: 30px;color: #333}
.add-item1{       margin-top: 10px;
    }
.add-item1 span{position: relative;font-size: 30px;
    top: 0px;}
.add-item1 a{     margin: 0px 22px;    top: -1px;
    position: relative;
    font-size: 30px!important;color: #333}
.product-card{position: relative;}
.product-card .open-popup{    display: flex;
    color: inherit;}
.label{position: absolute;
    left: 10px;
    top: 10px;
    font-size: 10px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;}
.navbar{
    
        background: rgba(0, 0, 0, 0.22);
}
.start-btn .button-big{    border-radius: 0px;
    border: none;
    background: white;
    border-bottom: 1px solid #f0f0f0!important;    display: block;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    color: #666!important;height: 60px;}
.br-f0{
        border-right: 1px solid #f0f0f0;
}
.color-black.button:not(.button-fill).active, .color-black.buttons-row .button.active {
    background-color: white;
    color: #666!important;
}
.panel.panel-left.panel-cover {
    z-index: 6000;
    left: -325px;
}
.start-btn .ripple-wave {
    display: none;
}

body.with-panel-left-cover .panel-left {
    -webkit-transform: translate3d(325px,0,0);
    transform: translate3d(325px,0,0);
    transition-duration: .4s!important;
}
.panel{
    width: 325px;
    
}
.progressbar, .progressbar-infinite {
    background: transparent;
}
[data-select-name="paymentType"] .item-media>img{
    width: 32px;
}
.card-footer {
    word-break: break-all;
}
.data-table {
    overflow-x: auto;
}
.data-table thead td:not(.sortable-active), .data-table thead th:not(.sortable-active) {
    color: #8e8e93;text-align: left;    
}
.data-table td.numeric-cell, .data-table th.numeric-cell {
    text-align: right;
}
.data-table thead td, .data-table thead th {
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 16px;
}
.data-table td, .data-table th {
    padding: 0;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    height: 44px;
    border-bottom: 1px solid #ccc;
}
.data-table thead {
    font-size: 12px;
}
.data-table table {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    text-align: left;
}
.delivery {
    text-align: center;
}
.delivery h4{
   color: #00C75C;
}
.list-block .item-title.label {
    margin-bottom: 18px;
}
.statusbar-overlay {
    background: #f7f7f8;
    z-index: 10000;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    display: none;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    display: none!important;
}
/*foto*/
.fixed-ar {
    position: relative;
}

.fixed-ar:before {
    display: block;
    content: " ";
    width: 100%;
}

.fixed-ar > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center!important;
    background-size: cover;
}
.fixed-ar.ar-1-1:before {
    padding-top: 100%;
}

.fixed-ar.ar-4-3:before {
    padding-top: 75%;
}

.fixed-ar.ar-3-2:before {
    padding-top: 66.66%;
}

.fixed-ar.ar-16-9:before {
    padding-top: 56.25%;
}

.fixed-ar.ar-21-9:before {
    padding-top: 44%;
}

.swiper-slide {
    position: relative;
}
.swiper-slide:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 100%;
}
.swiper-slide > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center!important;
    background-size: cover;
}
.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid white;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: white!important;
    border: 1px solid white;
}
i.mdi.mdi-cart-outline {
    color: white;
}
div#pop-phone {
    border-radius: 0px;
    width: 100%;
    left: 0px!important;
    top: 44px!important;
}
.popover-angle.on-top {
    left: 229.906px!important;
}
a.list-button.item-link.close-popover.close {
    font-size: 50px;
    position: absolute;
    right: 0px;
    top: 9px;
    border: none;
}
.close:after {

    background-color: white!important;
   
}
.popover a {
    border-radius: 13px 13px 0 0;
    color: #555!important;
}
.swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 100%;
    background: transparent;
    opacity: 1;
}

.swiper-pagination.swiper-pagination-bullets {
    bottom: 2px;
}
.promo__stub {
    display: none;
    position: relative;
    width: 100%;
}
.swiper-container.swiper-container-horizontal.home {
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
}
@media screen and (orientation: portrait) {.swiper-container.swiper-container-horizontal.home {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 61;
}
.promo__stub {
    display: block;
    position: relative;
    width: 100%;
}
.promo__stub:before {
    content: ' ';
    display: block;
    padding-top: 100%;
}
}

.accordion-item-content { -webkit-transform: none; transform: none; }
.accordion-item-content.delivery {
    height: auto;
}