
@charset "UTF-8";
/* line 4, ../scss/_sprite.scss */
.sprite {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(../img/map.png);
}
.s5-i {
  background-image: url(../img/5sprites.png);
  width: 30px;
  display: block;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-btn{
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  border-bottom: 0px;
  box-sizing: border-box;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #f7f7f7;
  line-height: 31px;
  color: #666;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  background-origin: border-box;
  background-image: -webkit-linear-gradient(top,#fff,#eee);
  background-image: linear-gradient(to bottom,#fff,#eee);
  text-shadow: 0 1px 0 #fff;
}

.green-panel{
  cursor: pointer;
  background: #00c65d;
  color: white!important;
  border-radius: 3px;
  text-align: center;
  background-color: #00c65d!important;
}
.note-editor.note-frame .note-editing-area .note-editable {

  min-height: 250px;
}
.main-nav a:hover {
    color: #00c75c;
}
/* line 6, ../scss/_sprite.scss */
.cards-i {
  width: 70px;
  height: 48px;
  background-position: -321px -2px;
}

/* line 7, ../scss/_sprite.scss */
.clock-i {
  width: 60px;
  height: 60px;
  background-position: -197px -2px;
}

/* line 8, ../scss/_sprite.scss */
.food-i {
  width: 65px;
  height: 75px;
  background-position: -2px -2px;
}

/* line 9, ../scss/_sprite.scss */
.map-i {
  width: 58px;
  height: 69px;
  background-position: -69px -2px;
}

/* line 10, ../scss/_sprite.scss */
.purse-i {
  width: 66px;
  height: 60px;
  background-position: -129px -2px;
}

/* line 11, ../scss/_sprite.scss */
.watch-i {
  width: 60px;
  height: 59px;
  background-position: -259px -2px;
}

/* line 16, ../scss/_sprite.scss */
.spriteX08 {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(../img/mapX08.png);
}

/* line 18, ../scss/_sprite.scss */
.cardsX08-i {
  width: 52px;
  height: 36px;
  background-position: -111px -56px;
}

/* line 19, ../scss/_sprite.scss */
.clockX08-i {
  width: 44px;
  height: 44px;
  background-position: -297px -2px;
}

/* line 20, ../scss/_sprite.scss */
.foodX08-i {
  width: 44px;
  height: 52px;
  background-position: -111px -2px;
}

/* line 21, ../scss/_sprite.scss */
.hot {
  width: 24px;
  height: 24px;
  background-position: -347px -66px;
}

/* line 22, ../scss/_sprite.scss */
.mapX08-i {
  width: 41px;
  height: 48px;
  background-position: -157px -2px;
}

/* line 23, ../scss/_sprite.scss */
.p28-i {
  width: 27px;
  height: 27px;
  background-position: -347px -37px;
}

/* line 24, ../scss/_sprite.scss */
.p32-i {
  width: 33px;
  height: 33px;
  background-position: -343px -2px;
}

/* line 25, ../scss/_sprite.scss */
.p42-i {
  width: 40px;
  height: 40px;
  background-position: -165px -52px;
}

/* line 26, ../scss/_sprite.scss */
.pigX08-i {
  width: 107px;
  height: 90px;
  background-position: -2px -2px;
}

/* line 27, ../scss/_sprite.scss */
.purseX08-i {
  width: 49px;
  height: 45px;
  background-position: -200px -2px;
}

/* line 28, ../scss/_sprite.scss */
.s3-i {
  width: 33px;
  height: 33px;
  background-position: -312px -48px;
}

/* line 29, ../scss/_sprite.scss */
.s4-i {
  width: 33px;
  height: 33px;
  background-position: -277px -49px;
}

/* line 30, ../scss/_sprite.scss */
.s6-i {
  width: 33px;
  height: 33px;
  background-position: -242px -49px;
}

/* line 31, ../scss/_sprite.scss */
.s8-i {
  width: 33px;
  height: 33px;
  background-position: -207px -49px;
}

/* line 32, ../scss/_sprite.scss */
.vegetarian {
  width: 24px;
  height: 24px;
  background-position: -376px -63px;
}

/* line 33, ../scss/_sprite.scss */
.very-hot {
  width: 24px;
  height: 24px;
  background-position: -376px -37px;
}

/* line 34, ../scss/_sprite.scss */
.watchX08-i {
  width: 44px;
  height: 45px;
  background-position: -251px -2px;
}

@font-face {
  font-family: 'Conv_BarnaulGrotesk Bold Regular';
  src: url("../fonts/Barnaul Grotesk//BarnaulGrotesk Bold Regular.eot");
  src: local("☺"), url("../fonts/Barnaul Grotesk//BarnaulGrotesk Bold Regular.woff") format("woff"), url("../fonts/Barnaul Grotesk//BarnaulGrotesk Bold Regular.ttf") format("truetype"), url("f../onts/BarnaulGrotesk Bold Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_BarnaulGrotesk';
  src: url("../fonts/Barnaul Grotesk//BarnaulGrotesk.eot");
  src: local("☺"), url("../fonts/Barnaul Grotesk//BarnaulGrotesk.woff") format("woff"), url("../fonts/Barnaul Grotesk//BarnaulGrotesk.ttf") format("truetype"), url("../fonts/Barnaul Grotesk//BarnaulGrotesk.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_BarnaulGrotesk Italic';
  src: url("../fonts/Barnaul Grotesk//BarnaulGrotesk Italic.eot");
  src: local("☺"), url("../fonts/Barnaul Grotesk//BarnaulGrotesk Italic.woff") format("woff"), url("../fonts/Barnaul Grotesk//BarnaulGrotesk Italic.ttf") format("truetype"), url("../fonts/Barnaul Grotesk//BarnaulGrotesk Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_BarnaulGrotesk Bold Italic';
  src: url("../fonts/Barnaul Grotesk/BarnaulGrotesk Bold Italic.eot");
  src: local("☺"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk Bold Italic.woff") format("woff"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk Bold Italic.ttf") format("truetype"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk Bold Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_BarnaulGrotesk ExtraBold Italic';
  src: url("../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Italic.eot");
  src: local("☺"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Italic.woff") format("woff"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Italic.ttf") format("truetype"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_BarnaulGrotesk ExtraBold Regular';
  src: url("../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Regular.eot");
  src: local("☺"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Regular.woff") format("woff"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Regular.ttf") format("truetype"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk ExtraBold Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_BarnaulGrotesk Medium Italic';
  src: url("../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Italic.eot");
  src: local("☺"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Italic.woff") format("woff"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Italic.ttf") format("truetype"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_BarnaulGrotesk Medium Regular';
  src: url("../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Regular.eot");
  src: local("☺"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Regular.woff") format("woff"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Regular.ttf") format("truetype"), url("../fonts/Barnaul Grotesk/BarnaulGrotesk Medium Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../scss/style.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 39, ../scss/style.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 44, ../scss/style.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 53, ../scss/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dbdfdb;
  margin: 1em 0;
  padding: 0;
}

/* line 67, ../scss/style.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 78, ../scss/style.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 88, ../scss/style.scss */
textarea {
  resize: vertical;
}

/* line 96, ../scss/style.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 4, ../scss/_base.scss */
html, body {
  height: 100%;
}

/* line 7, ../scss/_base.scss */
body {
  font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #292b2c;
  min-width: 1010px;
  background: #fff;
}

/* line 15, ../scss/_base.scss */
.main-wrapper-container {
  background-color: #e6e7e8;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
/* line 22, ../scss/_base.scss */
.main-wrapper-container.index-page {
  background-image: url(../img/index-bg.jpg) top center no-repeat;
  background-color: #e6e7e8;
}
/* line 34, ../scss/_base.scss */
.main-wrapper-container:after {
  content: ' ';
  display: block;
  height: 165px;
  clear: both;
}

/* line 41, ../scss/_base.scss */
.container {
  width: 1010px;
}

/* line 44, ../scss/_base.scss */
.bottom-section-img {
  height: 350px;
  padding: 80px 0 20px;
  background: #edeff1;
  margin: 35px 0;
  position: relative;
}

/* line 51, ../scss/_base.scss */
.bigBg {
  position: absolute;
  right: 0;
  bottom: -60px;
  height: 600px;
  width: auto;
}

/* line 58, ../scss/_base.scss */
.bigBg-wr {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 350px;
  overflow-y: hidden;
  z-index: 2;
}
/* line 65, ../scss/_base.scss */
.bigBg-wr img {
  margin-top: -190px;
  height: 600px;
  width: auto;
}

/* line 71, ../scss/_base.scss */
.menu {
  position: relative;
  z-index: 2;
}

/* line 75, ../scss/_base.scss */
img.blur {
  filter: blur(5px);
  /* Someday, sigh ... */
  -webkit-filter: blur(8px);
  /* Prefixed CSS3 blur filters */
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  /* Firefox needs SVG */
  /* IE lte 9 */
  filter: url(blur.svg#blur);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 95, ../scss/_base.scss */
.btn {
  border-width: 0 0 3px 0;
  text-transform: uppercase;
}
/* line 98, ../scss/_base.scss */
.btn:active {
  border-color: transparent;
}

/* line 102, ../scss/_base.scss */
.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}

/* line 106, ../scss/_base.scss */
.modal-md {
  width: 580px;
}

/* line 109, ../scss/_base.scss */
.modal-header {
  background: #00C75C;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
/* line 114, ../scss/_base.scss */
.modal-header .close {
  line-height: 52px;
  color: #fff;
  opacity: 1;
  font-weight: normal;
}
/* line 119, ../scss/_base.scss */
.modal-header .close:hover {
  opacity: .9;
}

/* line 124, ../scss/_base.scss */
.modal-title {
  font-size: 36px;
}

/* line 127, ../scss/_base.scss */
.modal-footer {
  background: #e6e7e8;
}

/* line 130, ../scss/_base.scss */
.help-text {
  padding-top: 10px;
}
/* line 132, ../scss/_base.scss */
.help-text a {
  color: #889297;
  font-size: 14px;
}
/* line 135, ../scss/_base.scss */
.help-text a:hover {
  color: #00C75C;
}
/* line 138, ../scss/_base.scss */
.help-text a:focus {
  outline: none;
}

/* line 143, ../scss/_base.scss */
.modal-content {
  box-shadow: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 149, ../scss/_base.scss */
.form-control:focus {
  box-shadow: none;
}

/* line 153, ../scss/_base.scss */
.modal-text-help {
  color: #889297;
  font-size: 16px;
}

/* line 157, ../scss/_base.scss */
.chie-img-modal {
  margin: -32px -20px 0;
  position: relative;
}
/* line 160, ../scss/_base.scss */
.chie-img-modal img {
  width: 100%;
}

/* line 164, ../scss/_base.scss */
.chie-img-modal-text {
  position: absolute;
  right: 62px;
  top: 60px;
  width: 230px;
  color: #475054;
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk Italic", 'Arial', sans-serif;
  line-height: 1.5;
}
/* line 173, ../scss/_base.scss */
.chie-img-modal-text .bottom-text-chief-block-modal {
  color: #828A8E;
  font-size: 14px;
}

/* line 178, ../scss/_base.scss */
.main-modal-title {
  color: #1A1E1D;
  font-size: 36px;
  text-transform: uppercase;
}

/* line 183, ../scss/_base.scss */
.form-horizontal .control-label {
  text-align: left;
}

/* line 186, ../scss/_base.scss */
label {
  color: #1A1E1D;
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}

/* line 191, ../scss/_base.scss */
.help-block {
  font-size: 14px;
}

/* line 194, ../scss/_base.scss */
.checkbox {
  font-size: 14px;
}

/* line 197, ../scss/_base.scss */
.inner-form-group-bg {
  margin: 0 -20px 15px;
  padding: 20px;
  background: #f9f9f9;
}

/* line 205, ../scss/_base.scss */
.table > thead > tr > th {
  background: #d1d6d9;
}
/* line 211, ../scss/_base.scss */
.table tr th, .table tr td {
  color: #889297;
  font-size: 16px;
  font-weight: normal;
}
/* line 215, ../scss/_base.scss */
.table tr th a, .table tr td a {
  color: #363739;
  text-decoration: none;
}
/* line 218, ../scss/_base.scss */
.table tr th a:hover, .table tr td a:hover {
  text-decoration: underline;
}
/* line 222, ../scss/_base.scss */
.table tr th.done, .table tr td.done {
  color: #00C75C;
}
/* line 225, ../scss/_base.scss */
.table tr th.canceled, .table tr td.canceled {
  color: #E30613;
}
/* line 231, ../scss/_base.scss */
.table.table-striped-custom tbody {
  tr: nth-child(even);
  tr-background: #f4f4f5;
}

/* line 238, ../scss/_base.scss */
.order2-modal, .order3-modal, .order4-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 247, ../scss/_base.scss */
.header-top {
  padding: 25px 0;
  padding-bottom: 0px;
}
/* line 249, ../scss/_base.scss */
.header-top .col-xs-8 {
  width: 60%;
}

/* line 253, ../scss/_base.scss */
.phones__header {
  font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
  font-size: 23px;
  line-height: 23px;
  color: #17191C;
  width: 20%;
}
/* line 259, ../scss/_base.scss */
.phones__header .code {
  color: #8F999D;
}
/* line 262, ../scss/_base.scss */
.phones__header p {
  margin: 0 0 5px;
}

/* line 266, ../scss/_base.scss */
.address__header, .delivery__header {
  color: #828A8E;
  font-family: "Conv_BarnaulGrotesk Italic", 'Arial', sans-serif;
  font-size: 16px;
}

/* line 271, ../scss/_base.scss */
.logo {
  white-space: nowrap;
  color: transparent;
  width: 237px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 278, ../scss/_base.scss */
.custom-col-header {
  width: 29.16665%;
}

/* line 281, ../scss/_base.scss */
.login-block {
  text-align: right;
  width: 20%;
}
/* line 285, ../scss/_base.scss */
.login-block .btn [class*="sp-"] {
  margin-right: 5px;
}
/* line 289, ../scss/_base.scss */
.login-block .registration-link {
  color: #969FA3;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 293, ../scss/_base.scss */
.login-block .registration-link [class*="sp-"] {
  margin-right: 5px;
}
/* line 296, ../scss/_base.scss */
.login-block .registration-link:hover {
  color: #00C75C;
  text-decoration: none;
}
/* line 301, ../scss/_base.scss */
.login-block .registration-link-wrapper {
  margin: 0;
}

/* line 305, ../scss/_base.scss */
.date-wr {
  position: relative;
}
/* line 307, ../scss/_base.scss */
.date-wr .icon-sp-calendar-i {
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 17px;
  color: #666;
}
/* line 314, ../scss/_base.scss */
.date-wr input {
  padding-left: 40px;
}

/* line 318, ../scss/_base.scss */
.main-nav {
  background: #F44336;
  padding: 15px;
  text-align: center;
}
/* line 322, ../scss/_base.scss */
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
/* line 328, ../scss/_base.scss */
.main-nav li {
  display: inline-block;
  margin-left: 45px;
}
/* line 331, ../scss/_base.scss */
.main-nav li:first-child {
  margin-left: 0;
}
/* line 334, ../scss/_base.scss */

/* line 338, ../scss/_base.scss */
.main-nav a {
  color: #fff;
  text-transform: uppercase;
  font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial ', sans-serif;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
}
/* line 348, ../scss/_base.scss */
.main-nav a:hover {
  color: #A1ADB3;
}
/* line 352, ../scss/_base.scss */
.main-nav.main-nav__footer {
  margin-top: -25px;
}

/* line 356, ../scss/_base.scss */
.preview {
  position: relative;
  z-index: 60;
}

/* line 361, ../scss/_base.scss */
.index-page .main-slider {
  margin-top: -280px;
  height: 910px;
  position: absolute;
  left: 0;
  right: 0;
}
/* line 370, ../scss/_base.scss */
.index-page .main-block-nav .main-info {
  margin-top: 350px;
  z-index: 52;
  position: relative;
}
/* line 375, ../scss/_base.scss */
.index-page .main-block-nav .left-submenu-wrapper {
  position: relative;
  z-index: 60;
}
/* line 380, ../scss/_base.scss */
.index-page .slider-text-wr {
  padding-left: 20px;
}

/* line 384, ../scss/_base.scss */
.sl-bigBg {
  position: absolute;
  right: 0;
  bottom: -280px;
  height: 910px;
  width: auto;
}

/* line 391, ../scss/_base.scss */
.sl-bigBg-wr {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 350px;
  overflow-y: hidden;
}
/* line 397, ../scss/_base.scss */
.sl-bigBg-wr img {
  margin-top: -280px;
  height: 910px;
  width: auto;
}

/* line 403, ../scss/_base.scss */
.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  background-color: transparent;
  left: 0;
  height: 910px !important;
}

/* line 410, ../scss/_base.scss */
.bxslider {
  padding: 0;
  margin: 0;
}

/* line 414, ../scss/_base.scss */
.bx-wrapper .bx-pager {
  padding: 0;
  width: 1010px;
  left: 50%;
  margin-left: -505px;
  text-align: right;
  bottom: 310px;
  z-index: 51;
}

/* line 429, ../scss/_base.scss */
.sl-img-wr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: right;
  line-height: 920px;
  vertical-align: middle;
  z-index: 1;
}
/* line 439, ../scss/_base.scss */
.sl-img-wr img {
  display: inline;
}

/* line 444, ../scss/_base.scss */
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-link {
    background: transparent;
    border-radius: 0;
    color: transparent;
    height: 15px;
    width: 15px;

    border: 2px solid #00C75C;
}
/* line 451, ../scss/_base.scss */
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-link:hover, .bx-wrapper .bx-pager.bx-default-pager .bx-pager-link.active {
  color: transparent;
  background: #00C75C;
  border: 2px solid transparent;
}

/* line 458, ../scss/_base.scss */
.slider-title {
  color: #00C75C;
  font-size: 36px;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
  max-width: 14em;
}

/* line 465, ../scss/_base.scss */
.slider-text {
  color: #303638;
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  max-width: 30em;
}

/* line 470, ../scss/_base.scss */
.one-slide {
  height: 350px;
  padding: 80px 0 20px;
  background: #edeff1;
  margin: 280px 0;
  position: relative;
  cursor: pointer;
}
/* line 476, ../scss/_base.scss */
.one-slide .container {
  position: relative;
  z-index: 51;
}

/* line 481, ../scss/_base.scss */
.left-submenu-wrapper {
  background: #fff;
  padding: 25px 0;
}

/* line 485, ../scss/_base.scss */
.title-left-aside {
  padding: 0 30px 5px;
  text-transform: uppercase;
  margin: 0;
  color: #17191C;
  font-family: "Conv_BarnaulGrotesk Medium Regular", "PT Sans Narrow" sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 494, ../scss/_base.scss */
.one-dish {
  display: block;
  height: 293px;
  border: 2px solid #D1D6D9;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 502, ../scss/_base.scss */
.one-dish:hover {
  border-color: #00C75C;
}
/* line 504, ../scss/_base.scss */
.one-dish:hover .dish-text {
  opacity: 1;
}
/* line 507, ../scss/_base.scss */
.one-dish:hover .dish-footer {
  color: #00C75C;
}

/* line 512, ../scss/_base.scss */
.dish-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 10px;
  background-color: #F1F1F2;
  color: #17191C;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 522, ../scss/_base.scss */
.dish-footer:after {
  content: '';
  position: absolute;
  left: 15px;
  top: -16px;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: transparent transparent #F1F1F2 transparent;
}

/* line 533, ../scss/_base.scss */
.dish-title {
  float: left;
  font-family: "Conv_BarnaulGrotesk Medium Regular", "PT Sans Narrow", 'Arial', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 539, ../scss/_base.scss */
.dish-cost {
  float: right;
  font-family: "Conv_BarnaulGrotesk Medium Regular", "PT Sans Narrow", 'Arial', sans-serif;
  font-size: 22px;
}
/* line 543, ../scss/_base.scss */
.dish-cost [class^="icon-"] {
  font-size: 21px;
}

/* line 547, ../scss/_base.scss */
.dish-content {
  position: relative;
  overflow: hidden;
}
/* line 550, ../scss/_base.scss */
.dish-content .thumbnail {
  margin-bottom: 50px;
}

/* line 554, ../scss/_base.scss */
.dish-text {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  position: absolute;
  padding: 50px 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  color: #333537;
  font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

/* line 571, ../scss/_base.scss */
.left-submenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 576, ../scss/_base.scss */
.left-submenu li {
  padding: 5px 15px;
}
/* line 579, ../scss/_base.scss */
.left-submenu li.active a {
  color: #00C75C;
  border-bottom: 1px solid #00C75C;
}
/* line 582, ../scss/_base.scss */
.left-submenu li.active a:before {
  opacity: 1;
}
/* line 588, ../scss/_base.scss */
.left-submenu a {
  font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  padding: 4px 15px;
  display: block;
  color: #828A8E;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}
/* line 598, ../scss/_base.scss */
.left-submenu a:before {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  content: '';
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -13px;
  width: 0;
  height: 0;
  border: 13px solid;
  border-color: transparent transparent transparent #e6e7e8;
}
/* line 611, ../scss/_base.scss */
.left-submenu a:hover {
  color: #00C75C;
}
/* line 613, ../scss/_base.scss */
.left-submenu a:hover:before {
  opacity: 1;
}

/* line 619, ../scss/_base.scss */
.main-info {
  padding-top: 40px;
  z-index: 52;
}
/* line 622, ../scss/_base.scss */
.main-info > div:nth-child(2n+1) {
  clear: left;
}

/* line 626, ../scss/_base.scss */
.one-info-block {
  margin-left: 45px;
  margin-bottom: 10px;
  display: block;
}

/* line 633, ../scss/_base.scss */
a.one-info-block:hover, a.one-info-block-leftside:hover {
  color: #17191C;
  text-decoration: none;
}
/* line 636, ../scss/_base.scss */
a.one-info-block:hover .title-info-block, a.one-info-block-leftside:hover .title-info-block {
  color: #00C75C;
  text-decoration: none;
}

/* line 642, ../scss/_base.scss */
.title-info-block {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 5px;
  color: #17191C;
  text-decoration: none;
}

/* line 649, ../scss/_base.scss */
.info-icon {
  float: left;
  margin-right: 20px;
  width: 70px;
  text-align: center;
}

/* line 655, ../scss/_base.scss */
.description-info-block {
  overflow: hidden;
  color: #17191C;
  font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
  font-size: 16px;
  display: block;
}

/* line 662, ../scss/_base.scss */
.one-info-block-leftside {
  display: block;
  margin: 15px 0 0;
}
/* line 665, ../scss/_base.scss */
.one-info-block-leftside .info-icon {
  width: 45px;
}
/* line 668, ../scss/_base.scss */
.one-info-block-leftside .title-info-block {
  font-size: 18px;
}
/* line 671, ../scss/_base.scss */
.one-info-block-leftside .text-info-block {
  font-size: 14px;
}

/* line 675, ../scss/_base.scss */
.chief-block {
  background: url(../img/chief-bg.png) top center no-repeat;
  background-size: cover;
  height: 510px;
  padding: 50px 0 95px;
}

/* line 681, ../scss/_base.scss */
.chief-block-left {
  color: #475054;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  padding-top: 60px;
}

/* line 686, ../scss/_base.scss */
.title-chief-block-left {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

/* line 691, ../scss/_base.scss */
.text-chief-block-left {
  font-size: 24px;
  font-family: "Conv_BarnaulGrotesk Italic", 'Arial', sans-serif;
  margin: 0 0 15px;
}

/* line 696, ../scss/_base.scss */
.chief-block-right {
  margin-top: 20px;
  padding: 30px 35px 30px 130px;
  font-family: "Conv_BarnaulGrotesk Italic", 'Arial', sans-serif;
  background: url(../img/mesBg.png) 45px top no-repeat;
}

/* line 702, ../scss/_base.scss */
.main-text-chief-block-right {
  color: #475054;
  font-size: 16px;
}

/* line 706, ../scss/_base.scss */
.bottom-text-chief-block-right {
  color: #828A8E;
  font-size: 14px;
  padding-left: 40px;
  background: url(../img/hat.png) left center no-repeat;
}
/* line 711, ../scss/_base.scss */
.bottom-text-chief-block-right p {
  margin: 0;
}
.container.w_100xs {
  position: relative;
  padding-bottom: 60px;
}
/* line 715, ../scss/_base.scss */
.main-footer-wrappe {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: #262a2c url(../img/footer-bg.png);
  background-size: cover;
}

/* line 724, ../scss/_base.scss */
.footer-bottom-block {
  font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial', sans-serif;
  font-size: 14px;
  color: #889297;
  padding-top: 30px;
}

/* line 730, ../scss/_base.scss */
.phones__footer {
  color: #00C75C;
  font-size: 18px;
  line-height: 18px;
  padding-top: 10px;
  margin-bottom: 5px;
}

/* line 737, ../scss/_base.scss */
.soc-block {
  padding-top: 7px;
}

/* line 740, ../scss/_base.scss */
.soc-icons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 0;
}
/* line 746, ../scss/_base.scss */
.soc-icons-list li {
  display: inline-block;
  margin-left: 5px;
}
/* line 749, ../scss/_base.scss */
.soc-icons-list li.fb a:hover {
  background-color: #377bcf;
}
/* line 752, ../scss/_base.scss */
.soc-icons-list li.vk a:hover {
  background-color: #527498;
}
/* line 755, ../scss/_base.scss */
.soc-icons-list li.inst a:hover {
  background-color: #517FA4;
}
/* line 758, ../scss/_base.scss */
.soc-icons-list li.tw a:hover {
  background-color: #4da7de;
}
/* line 761, ../scss/_base.scss */
.soc-icons-list li.cl a:hover {
  background-color: #f26109;
}
/* line 765, ../scss/_base.scss */
.soc-icons-list a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background-color: #35393b;
  color: #757778;
  display: inline-block;
  text-align: center;
  font-size: 21px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 776, ../scss/_base.scss */
.soc-icons-list a:hover {
  color: #fff;
}

/* line 786, ../scss/_base.scss */
.main-content-wrapper {
  padding: 25px 0 0 45px;
}

/* line 789, ../scss/_base.scss */
.content-block {
  margin-bottom: 20px;
}

/* line 792, ../scss/_base.scss */
.page-title {
  color: #17191C;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  margin-top: 0;
}

/* line 799, ../scss/_base.scss */
.user-info {
  margin-bottom: 20px;
}

/* line 802, ../scss/_base.scss */
.other-color {
  color: #889297;
}

/* line 805, ../scss/_base.scss */
.main-user-info-wr {
  border-bottom: 2px solid #00C75C;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* line 810, ../scss/_base.scss */
.main-user-info-name {
  margin: 0;
  color: #17191C;
  font-size: 18px;
  line-height: 22px;
}

/* line 816, ../scss/_base.scss */
.edit-user-info {
  color: #889297;
  font-size: 16px;
  margin: 0;
  line-height: 20px;
}
/* line 821, ../scss/_base.scss */
.edit-user-info:hover {
  text-decoration: none;
}
/* line 824, ../scss/_base.scss */
.edit-user-info [class^="icon"] {
  font-size: 13px;
}

/* line 829, ../scss/_base.scss */
.user-birthday [class^="icon"] {
  margin-right: 5px;
  line-height: 1;
  vertical-align: text-top;
}

/* line 835, ../scss/_base.scss */
.history-user-shipping-label {
  color: #17191C;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

/* line 843, ../scss/_base.scss */
.show-all-user-shipping {
  display: inline-block;
  line-height: 20px;
  font-size: 16px;
}
/* line 847, ../scss/_base.scss */
.show-all-user-shipping a {
  text-decoration: none;
}
/* line 850, ../scss/_base.scss */
.show-all-user-shipping .dropdown-menu {
  padding: 5px 10px;
}
/* line 852, ../scss/_base.scss */
.show-all-user-shipping .dropdown-menu li {
  cursor: pointer;
}

/* line 857, ../scss/_base.scss */
.discount-block {
  background: #fff;
  margin-top: -25px;
  padding: 25px 20px;
  margin-bottom: 10px;
}

/* line 863, ../scss/_base.scss */
.discount-info-img {
  float: left;
  margin-right: 10px;
}

/* line 867, ../scss/_base.scss */
.discount-block-label {
  color: #17191C;
  font-size: 18px;
  text-transform: uppercase;
}

/* line 872, ../scss/_base.scss */
.iscount-size {
  color: #17191C;
  font-size: 22px;
  line-height: 22px;
}
/* line 876, ../scss/_base.scss */
.iscount-size .icon-rouble {
  font-size: 19px;
  line-height: 22px;
  vertical-align: top;
}

/* line 882, ../scss/_base.scss */
.how-works-link {
  color: #17191C;
  font-size: 14px;
  text-transform: uppercase;
}

/* line 887, ../scss/_base.scss */
.discount-progress-slider {
  position: relative;
  color: #889297;
  font-size: 12px;
  height: 55px;
  padding-top: 24px;
}

/* line 894, ../scss/_base.scss */
.ds-pr-sl-bar {
  background: #c3cbd0;
  height: 8px;
}

/* line 898, ../scss/_base.scss */
.ds-pr-sl-grids {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 904, ../scss/_base.scss */
.ds-pr-sl-grids span {
  display: block;
}

/* line 908, ../scss/_base.scss */
.ds-pr-sl-grid {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
}
/* line 914, ../scss/_base.scss */
.ds-pr-sl-grid.ds-active .ds-pr-sl-percent {
  color: #00C75C;
}
/* line 918, ../scss/_base.scss */
.ds-pr-sl-grid:after {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  height: 18px;
  top: 50%;
  margin-top: -9px;
  background: #c3cbd0;
}

/* line 930, ../scss/_base.scss */
.ds-pr-sl-bar {
  position: relative;
}

/* line 933, ../scss/_base.scss */
.ds-pr-sl-text {
  margin-bottom: 21px;
}

/* line 936, ../scss/_base.scss */
.ds-pr-sl-bar-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #00C75C;
}

/* line 943, ../scss/_base.scss */
.gr-1 {
  left: 0;
  text-align: left;
}
/* line 946, ../scss/_base.scss */
.gr-1:after {
  display: none;
}

/* line 950, ../scss/_base.scss */
.gr-2 {
  left: 60px;
}

/* line 953, ../scss/_base.scss */
.gr-3 {
  left: 125px;
}

/* line 956, ../scss/_base.scss */
.gr-4 {
  left: 200px;
}

/* line 959, ../scss/_base.scss */
.gr-5 {
  right: 0;
}

/* line 963, ../scss/_base.scss */
.user-info label {
  font-weight: normal;
}

/* line 968, ../scss/_base.scss */
.edit-info .main-user-info-name {
  color: #17191C;
  font-size: 18px;
  text-transform: uppercase;
}
/* line 973, ../scss/_base.scss */
.edit-info .edit-user-info {
  color: #00C75C;
}

/* line 977, ../scss/_base.scss */
.account-order-modal-info {
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  color: #ADB6BC;
}
/* line 981, ../scss/_base.scss */
.account-order-modal-info dt {
  width: auto;
  margin-right: 5px;
  font-weight: normal;
}
/* line 986, ../scss/_base.scss */
.account-order-modal-info dd {
  color: #889297;
  margin-left: 0;
}
/* line 990, ../scss/_base.scss */
.account-order-modal-info .done {
  color: #00C75C;
}
/* line 993, ../scss/_base.scss */
.account-order-modal-info .canceled {
  color: #E30613;
}

/* line 998, ../scss/_base.scss */
.btn-rp .glyphicon {
  font-size: .8em;
}

/* line 1007, ../scss/_base.scss */
.menu-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* line 1013, ../scss/_base.scss */
.menu-el {
  border: 2px solid #D1D6D9;
  height: 390px;
  background-color: #F1F1F2;
  margin-bottom: 10px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 1019, ../scss/_base.scss */
.menu-el:hover {
  border-color: #00C75C;
}
/* line 1021, ../scss/_base.scss */
.menu-el:hover .menu-el-title {
  color: #00C75C;
}

/* line 1026, ../scss/_base.scss */
.menu-el-th {
  height: 243px;
  margin-bottom: 15px;
  position: relative;
}

/* line 1031, ../scss/_base.scss */
.menu-el-status {
  position: absolute;
  top: 7px;
  left: -5px;
  height: 45px;
}

/* line 1037, ../scss/_base.scss */
.one-el-status {
  display: inline-block;
  color: #FFF;
  font-size: 14px;
  line-height: 18px;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  text-transform: uppercase;
  padding: 0 5px;
  position: relative;
}
/* line 1046, ../scss/_base.scss */
.one-el-status:after {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: '';
  width: 0;
  height: 0;
  border: 2px solid;
  border-color: #555 #555 transparent transparent;
}

/* line 1057, ../scss/_base.scss */
.el-novelty {
  background-color: #FFBF12;
}
/* line 1059, ../scss/_base.scss */
.el-novelty:after {
  border-color: #ab7d00 #ab7d00 transparent transparent;
}

/* line 1063, ../scss/_base.scss */
.el-hit {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #35baf2;
}
/* line 1068, ../scss/_base.scss */
.el-hit:after {
  border-color: #0c83b5 #0c83b5 transparent transparent;
}

/* line 1072, ../scss/_base.scss */
.menu-el-type-and-discount {
  position: absolute;
  right: -5px;
  top: -5px;
}

/* line 1077, ../scss/_base.scss */
.menu-el-discount {
  position: relative;
  height: 57px;
  width: 57px;
}

/* line 1082, ../scss/_base.scss */
.el-corner {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 29px solid;
  border-color: #E30613 #E30613 transparent transparent;
}
/* line 1092, ../scss/_base.scss */
.el-corner:after {
  position: absolute;
  left: -29px;
  top: -29px;
  content: '';
  width: 0;
  height: 0;
  border: 2px solid;
  border-color: transparent transparent #80030b #80030b;
}
/* line 1102, ../scss/_base.scss */
.el-corner:before {
  position: absolute;
  right: -29px;
  bottom: -29px;
  content: '';
  width: 0;
  height: 0;
  border: 2px solid;
  border-color: transparent transparent #80030b #80030b;
}

/* line 1113, ../scss/_base.scss */
.el-discount-size {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #FFF;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  text-transform: uppercase;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 1123, ../scss/_base.scss */
.menu-el-type {
  text-align: right;
  padding: 10px;
  width: 45px;
  float: right;
}

/* line 1129, ../scss/_base.scss */
.menu-el-count {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: 1px;
  padding: 11px;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 1140, ../scss/_base.scss */
.menu-el-value {
  height: 38px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}
/* line 1147, ../scss/_base.scss */
.menu-el-value [class^="sprite"] {
  margin-top: 7px;
}
/* line 1150, ../scss/_base.scss */
.menu-el-value [class*="p28"] {
  margin-top: 7px;
}
/* line 1153, ../scss/_base.scss */
.menu-el-value [class*="p32"] {
  margin-top: 4px;
}
/* line 1156, ../scss/_base.scss */
.menu-el-value [class*="p42"] {
  margin-top: 0;
}
/* line 1159, ../scss/_base.scss */
.menu-el-value i {
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 1162, ../scss/_base.scss */
.menu-el-value:hover {
  cursor: pointer;
  display: inline-block;
}
/* line 1165, ../scss/_base.scss */
.menu-el-value:hover i {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 1171, ../scss/_base.scss */
.menu-el-value.active:after {
  position: absolute;
  bottom: -11px;
  left: 50%;
  margin-left: -8px;
  content: '';
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: transparent transparent #00C75C transparent;
}

/* line 1184, ../scss/_base.scss */
.menu-el-heft {
  float: right;
  color: #ADB6BC;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  padding-top: 15px;
}

/* line 1191, ../scss/_base.scss */
.menu-el-description {
  height: 65px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 5px;
}

/* line 1197, ../scss/_base.scss */
.menu-el-title {
  color: #17191C;
  font-size: 18px;
  line-height: 18px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 5px;
}

/* line 1206, ../scss/_base.scss */
.menu-el-ingredients {
  color: #828A8E;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-align: center;
  margin: 0;
}

/* line 1213, ../scss/_base.scss */
.menu-el-prices {
  display: inline-block;
  margin-top: -15px;
  text-align: center;
  padding-top: 20px;
  position: relative;
}

/* line 1220, ../scss/_base.scss */
.menu-el-old-price {
  display: inline-block;
  position: absolute;
  color: #E30613;
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  line-height: 16px;
  padding: 0 2px;
  left: 0;
  top: 0;
}
/* line 1230, ../scss/_base.scss */
.menu-el-old-price .icon-rouble {
  font-size: 1em;
  line-height: 1em;
  vertical-align: bottom;
}
/* line 1235, ../scss/_base.scss */
.menu-el-old-price:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -1px;
  background: #E30613;
}

/* line 1247, ../scss/_base.scss */
.menu-el-price {
  color: #17191C;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
}
/* line 1252, ../scss/_base.scss */
.menu-el-price .icon-rouble {
  font-size: 1em;
  line-height: 1em;
  vertical-align: bottom;
}

/* line 1258, ../scss/_base.scss */
.el-order-form-group {
  margin: 4px 0;
}
/* line 1260, ../scss/_base.scss */
.el-order-form-group .input-group-addon {
  width: 15px;
  padding: 2px;
  background: #d1d6d9;
  color: #fff;
  cursor: pointer;
}
/* line 1266, ../scss/_base.scss */
.el-order-form-group .input-group-addon:hover {
  color: #00C75C;
}
/* line 1270, ../scss/_base.scss */
.el-order-form-group .form-control {
  text-align: center;
  padding: 2px;
  height: 25px;
  font-size: 18px;
  line-height: 1;
}

/* line 1278, ../scss/_base.scss */
.order-btn-wrapper {
  position: relative;
  text-align: right;
}

/* line 1282, ../scss/_base.scss */
.basket-counter {
  display: none;
  position: absolute;
  right: 5px;
  top: -20px;
  color: #828A8E;
  font-size: 12px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  line-height: 16px;
  width: 120px;
}
/* line 1290, ../scss/_base.scss */
.basket-counter [class*="icon-"] {
  color: #00C75C;
  font-size: 15px;
  vertical-align: middle;
  margin-left: 4px;
}

/* line 1297, ../scss/_base.scss */
.order-panel-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
    background: #F1F1F2;
    background: rgba(241, 241, 242, 0.9);
}

/* line 1304, ../scss/_base.scss */
.order-panel {
  height: 70px;
  padding: 10px 0;
}

/* line 1312, ../scss/_base.scss */
.order-panel-discount-img {
  font-size: 38px;
  color: #00C75C;
  float: left;
  margin-right: 15px;
}

/* line 1318, ../scss/_base.scss */
.order-panel-discount-link {
  color: #17191C;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  display: block;
  padding: 8px 0;
}

/* line 1326, ../scss/_base.scss */
.order-panel-basket-img {
  font-size: 38px;
  color: #00C75C;
  float: left;
  margin-right: 15px;
}

/* line 1332, ../scss/_base.scss */
.order-panel-order-wr {
  width: 250px;
  float: left;
  margin: 0 10px 0 25px;
}

/* line 1337, ../scss/_base.scss */
.order-panel-your-order {
  color: #17191C;
  font-size: 18px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 1343, ../scss/_base.scss */
.order-panel-your-order .label {
  font-size: inherit;
  margin: 0 6px;
  min-width: 35px;
  padding: 5px;
  display: inline-block;
  vertical-align: bottom;
}
/* line 1351, ../scss/_base.scss */
.order-panel-your-order .min-text {
  text-transform: none;
}

/* line 1355, ../scss/_base.scss */
.order-panel-min-order {
  color: #e40713;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}

/* line 1360, ../scss/_base.scss */
.order-panel-price-wr {
  width: 130px;
  float: left;
  margin-right: 10px;
  text-align: center;
}

/* line 1366, ../scss/_base.scss */
.order-panel-order-price {
  color: #17191C;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 0;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  text-transform: uppercase;
}
/* line 1373, ../scss/_base.scss */
.order-panel-order-price [class*="icon"] {
  font-size: .8em;
  line-height: inherit;
}

/* line 1378, ../scss/_base.scss */
.order-panel-discount-price {
  color: #00C75C;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
}
/* line 1383, ../scss/_base.scss */
.order-panel-discount-price span {
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
}

/* line 1387, ../scss/_base.scss */
.order-panel-order-btn-wr {
  float: right;
  width: 230px;
  text-align: right;
}
/* line 1391, ../scss/_base.scss */
.order-panel-order-btn-wr .btn {
  vertical-align: top;
}

/* line 1395, ../scss/_base.scss */
.dropdown-wr {
  position: relative;
  display: inline-block;
  padding: 15px 0 15px 5px;
}

/* line 1405, ../scss/_base.scss */
.order-panel-dropdown {
  cursor: pointer;
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 3px;
  position: relative;
  text-align: center;
  color: #BDC2C5;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 1417, ../scss/_base.scss */
.order-panel-dropdown.active-dropdown-btn {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 1421, ../scss/_base.scss */
.order-panel-dropdown:hover {
  color: #a2a9ad;
}

/* line 1425, ../scss/_base.scss */
.all-orders-dropdown-menu {
  /*display: none;*/
  width: 565px;
  background: #D1D6D9;
  background: rgba(209, 214, 217, 0.8);
  position: absolute;
  right: 0;
  bottom: 100%;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

/* line 1437, ../scss/_base.scss */
.all-orders-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 1445, ../scss/_base.scss */
.one-order-in-orders {
  margin-bottom: 10px;
  background-color: #F1F1F2;
  padding: 10px;
}
/* line 1450, ../scss/_base.scss */
.one-order-in-orders:last-child {
  margin-bottom: 0;
}
/* line 1453, ../scss/_base.scss */
.one-order-in-orders .thumbnail {
  margin-bottom: 0;
}

/* line 1457, ../scss/_base.scss */
.title-in-order-list {
  color: #17191C;
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin-top: 30px;
}

/* line 1465, ../scss/_base.scss */
.count-order-in-list {
  margin-top: 23px;
}

/* line 1468, ../scss/_base.scss */
.sum-in-order-list {
  color: #17191C;
  font-size: 16px;
  line-height: 16px;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  text-align: center;
  margin-top: 33px;
}
/* line 1475, ../scss/_base.scss */
.sum-in-order-list [class*="icon"] {
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  font-size: 14px;
}

/* line 1480, ../scss/_base.scss */
.btn-closein-order-list {
  margin-top: 28px;
}
/* line 1482, ../scss/_base.scss */
.btn-closein-order-list .icon-sp-close-i {
  font-size: 20px;
}

/* line 1486, ../scss/_base.scss */
.step-group {
  font-size: 0;
}

/* line 1489, ../scss/_base.scss */
.order-step {
  display: inline-block;
  border: 3px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 18px;
  line-height: 38px;
  width: 40px;
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  margin-left: 52px;
  position: relative;
}
/* line 1501, ../scss/_base.scss */
.order-step:first-child:after {
  display: none;
}
/* line 1505, ../scss/_base.scss */
.order-step:after {
  content: '';
  position: absolute;
  width: 46px;
  height: 3px;
  background-color: #FFF;
  top: 50%;
  margin-top: -1px;
  left: -50px;
}
/* line 1515, ../scss/_base.scss */
.order-step.done {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 1519, ../scss/_base.scss */
.promo-code-form {
  padding-top: 20px;
}

/* line 1522, ../scss/_base.scss */
.sum-oder-modal {
  display: inline-block;
}
/* line 1524, ../scss/_base.scss */
.sum-oder-modal .order-panel-price-wr {
  width: auto;
}
/* line 1527, ../scss/_base.scss */
.sum-oder-modal .order-panel-discount-price {
  margin-bottom: 0;
}
/* line 1530, ../scss/_base.scss */
.sum-oder-modal .order-panel-order-price {
  line-height: 30px;
}

/* line 1534, ../scss/_base.scss */
.label-sum-oder-modal {
  float: left;
  color: #1A1E1D;
  font-size: 30px;
  line-height: 30px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  margin: 0 5px;
}

/* line 1544, ../scss/_base.scss */
.modal-footer .btn {
  vertical-align: top;
}

/* line 1548, ../scss/_base.scss */
.help-text-tooltip {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  background-color: #D1D3D6;
  border-radius: 24px;
  color: #A8ACB2;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -12px;
  cursor: default;
}
/* line 1565, ../scss/_base.scss */
.help-text-tooltip:hover {
  color: #00C75C;
}

/* line 1570, ../scss/_base.scss */
.nav a {
  color: #889297;
  position: relative;
}
/* line 1577, ../scss/_base.scss */
.nav li.active a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  border: 8px solid;
  height: 0;
  width: 0;
  border-color: transparent transparent #00C75C transparent;
}

/* line 1592, ../scss/_base.scss */
.nav-tabs-modal {
  text-align: center;
}
/* line 1594, ../scss/_base.scss */
.nav-tabs-modal li {
  display: inline-block;
  font-size: 18px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  color: #1A1E1D;
}
/* line 1600, ../scss/_base.scss */
.nav-tabs-modal li .or {
  padding: 10px;
}
/* line 1603, ../scss/_base.scss */
.nav-tabs-modal li a {
  background-color: #E9ECEE;
  color: #889297;
}
/* line 1608, ../scss/_base.scss */
.nav-tabs-modal li.active a {
  color: #FFF;
  background: #00C75C;
  position: relative;
}
/* line 1612, ../scss/_base.scss */
.nav-tabs-modal li.active a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  border: 8px solid;
  height: 0;
  width: 0;
  border-color: transparent transparent #F6F6F6 transparent;
}

/* line 1627, ../scss/_base.scss */
.order-count-person {
  margin: -15px -20px 15px -20px;
  background: #e9ecee;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 1633, ../scss/_base.scss */
.payment-method, .info-about-order-title {
  color: #1A1E1D;
  font-size: 18px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

/* line 1641, ../scss/_base.scss */
.payment-method-btn-group {
  text-align: center;
}
/* line 1643, ../scss/_base.scss */
.payment-method-btn-group [class*="icon"] {
  height: 70px;
  width: 70px;
  line-height: 70px;
  font-size: 32px;
  border: 2px solid #D1D6D9;
  text-align: center;
  color: #D1D6D9;
}
/* line 1651, ../scss/_base.scss */
.payment-method-btn-group [class*="icon"]:hover {
  border-color: #00C75C;
  color: #00C75C;
}
/* line 1656, ../scss/_base.scss */
.payment-method-btn-group .btn {
  padding: 0;
  box-shadow: none;
  width: 85px;
}
/* line 1661, ../scss/_base.scss */
.payment-method-btn-group .btn.active [class*="icon"] {
  border-color: #00C75C;
  color: #00C75C;
}
/* line 1667, ../scss/_base.scss */
.payment-method-btn-group label {
  color: #9BA3A7;
  font-size: 14px;
  line-height: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
}

/* line 1675, ../scss/_base.scss */
.info-about-order {
  text-align: center;
}
/* line 1677, ../scss/_base.scss */
.info-about-order .radio {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 1682, ../scss/_base.scss */
.add-comment {
  display: inline-block;
  color: #889297;
  font-size: 18px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 1690, ../scss/_base.scss */
.checkbox.track-order-wr {
  margin-bottom: 30px;
}
/* line 1692, ../scss/_base.scss */
.checkbox.track-order-wr label {
  color: #1A1E1D;
  font-size: 18px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}

/* line 1703, ../scss/_base.scss */
.shares-list {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
}

/* line 1708, ../scss/_base.scss */
.shares-thumbnail {
  margin: 0 20px 0 0;
  float: left;
}

/* line 1712, ../scss/_base.scss */
.shares-thumbnail-width-time {
  position: relative;
}

/* line 1715, ../scss/_base.scss */
.end-time {
  position: absolute;
  left: -4px;
  bottom: 20px;
  color: #FFF;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 2px 10px;
  background: #E30613;
}
/* line 1726, ../scss/_base.scss */
.end-time:after {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: '';
  width: 0;
  height: 0;
  border: 2px solid #FFBF12;
  border-color: #ab7d00 #ab7d00 transparent transparent;
}
/* line 1736, ../scss/_base.scss */
.end-time.end-time-old {
  background: #979b9d;
}
/* line 1739, ../scss/_base.scss */
.end-time.end-time-big {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 1744, ../scss/_base.scss */
.shares-list-one-item {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #BCC3C7;
  margin-bottom: 20px;
}
/* line 1748, ../scss/_base.scss */
.shares-list-one-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/* line 1753, ../scss/_base.scss */
.shares-text-block-title {
  margin: 0 0 20px;
}
/* line 1755, ../scss/_base.scss */
.shares-text-block-title a {
  color: #17191C;
  font-size: 24px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 1761, ../scss/_base.scss */
.shares-text-block-title a:hover {
  color: #00C75C;
}

/* line 1766, ../scss/_base.scss */
.shares-text-block-description {
  color: #17191C;
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  line-height: 25px;
}

/* line 1772, ../scss/_base.scss */
.shares-text-block {
  overflow-y: hidden;
}

/* line 1775, ../scss/_base.scss */
.old-shares {
  color: #17191C;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
}

/* line 1781, ../scss/_base.scss */
.breadcrumb {
  font-family: "Conv_BarnaulGrotesk Italic", "PT Sans Narrow", 'Arial', sans-serif;
  margin-bottom: 5px;
}

/* line 1785, ../scss/_base.scss */
.breadcrumb > li:after {
  content: "→ ";
  padding-left: 4px;
}

/* line 1789, ../scss/_base.scss */
.breadcrumb > li:before {
  display: none;
}

/* line 1794, ../scss/_base.scss */
.pagination > li > a {
  border-width: 2px;
  border-radius: 0 !important;
  width: 29px;
  height: 29px;
  padding: 1px 7px;
  margin-right: 8px;
}
/* line 1801, ../scss/_base.scss */
.pagination > li > a [class*="icon"] {
  font-size: .8em;
  font-weight: bold;
}
/* line 1807, ../scss/_base.scss */
.pagination > li:last-child > a {
  margin-right: 0;
}

/* line 1813, ../scss/_base.scss */
.comments-block-label {
  color: #889297;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 1819, ../scss/_base.scss */
.share-block {
  margin-bottom: 30px;
}

/* line 1822, ../scss/_base.scss */
.similar-block {
  margin-bottom: 30px;
}

/* line 1825, ../scss/_base.scss */
.similar-block-label, .comments-list-label {
  color: #889297;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 1832, ../scss/_base.scss */
.item-similar-block-title {
  display: block;
  margin-bottom: 10px;
  color: #17191C;
  font-size: 18px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
}
/* line 1839, ../scss/_base.scss */
.item-similar-block-title:hover {
  text-decoration: none;
}

/* line 1843, ../scss/_base.scss */
.comments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 1848, ../scss/_base.scss */
.one-comment {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #C3CBD0;
}

/* line 1853, ../scss/_base.scss */
.post-time {
  color: #ADB6BC;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}
/* line 1857, ../scss/_base.scss */
.post-time time {
  margin-right: 5px;
}

/* line 1866, ../scss/_base.scss */
.news-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 1871, ../scss/_base.scss */
.news-thumbnail {
  margin: 0 20px 0 0;
  float: left;
}

/* line 1875, ../scss/_base.scss */
.news-list-one-item {
  border: 2px solid #D1D6D9;
  overflow: hidden;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: #f1f1f2;
  margin-bottom: 20px;
}
/* line 1881, ../scss/_base.scss */
.news-list-one-item .news-list-one-item-link {
  padding: 5px;
  text-decoration: none;
  display: block;
}
/* line 1886, ../scss/_base.scss */
.news-list-one-item:hover {
  text-decoration: none;
  border-color: #00C75C;
}
/* line 1889, ../scss/_base.scss */
.news-list-one-item:hover .news-text-block-title {
  color: #00C75C;
}

/* line 1894, ../scss/_base.scss */
.news-text-block-title {
  margin: 0 0 10px;
  color: #17191C;
  font-size: 24px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 1903, ../scss/_base.scss */
.news-text-block-description {
  color: #17191C;
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  line-height: 25px;
}
/* line 1908, ../scss/_base.scss */
.news-text-block-description p {
  margin-bottom: 5px;
}

/* line 1912, ../scss/_base.scss */
.news-text-block {
  overflow-y: hidden;
}

/* line 1915, ../scss/_base.scss */
.loader {
  text-align: center;
}

/* line 1918, ../scss/_base.scss */
.additional-info {
  color: #ADB6BC;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}
/* line 1922, ../scss/_base.scss */
.additional-info .glyphicon {
  font-size: .9em;
}
/* line 1925, ../scss/_base.scss */
.additional-info .number-posts, .additional-info .number-views {
  margin-left: 10px;
}

/* line 1929, ../scss/_base.scss */
.time-add-news {
  color: #798286;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}

/* line 1939, ../scss/_base.scss */
.delivery-page-title {
  color: #17191C;
  font-size: 30px;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

/* line 1947, ../scss/_base.scss */
.minimum-order-item {
  text-align: right;
}

/* line 1950, ../scss/_base.scss */
.minimum-order-block {
  padding: 0 50px;
}

/* line 1953, ../scss/_base.scss */
.minimum-order-title {
  color: #00C75C;
  font-size: 100px;
  line-height: 100px;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  margin: 0;
}
/* line 1959, ../scss/_base.scss */
.minimum-order-title [class*="icon"] {
  font-size: 90px;
  line-height: 90px;
  vertical-align: bottom;
}

/* line 1965, ../scss/_base.scss */
.commodity-list-wr {
  display: table;
  width: 100%;
}

/* line 1969, ../scss/_base.scss */
.commodity-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 1974, ../scss/_base.scss */
.commodity-item-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* line 1979, ../scss/_base.scss */
.commodity-item-label {
  display: inline-block;
  color: #17191C;
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
}

/* line 1986, ../scss/_base.scss */
.one-delivery-section {
  margin-bottom: 50px;
}

/* line 1990, ../scss/_base.scss */
.info-block-list .col-xs-5:nth-child(2n+1) {
  clear: left;
}

/* line 1994, ../scss/_base.scss */
.commodity-text-wr {
  padding: 50px 10px 0;
}

/* line 2002, ../scss/_base.scss */
.contacts-tabpanel {
  margin-bottom: 20px;
}

/* line 2005, ../scss/_base.scss */
.main-restaurants-content {
  padding-left: 25px;
}

/* line 2008, ../scss/_base.scss */
.rest-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 2013, ../scss/_base.scss */
.rest-list-item {
  margin-bottom: 40px;
}

/* line 2016, ../scss/_base.scss */
.uppercase-title {
  color: #17191C;
  font-size: 24px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  text-transform: uppercase;
}
/* line 2021, ../scss/_base.scss */
.uppercase-title.light-title {
  color: #889297;
  font-weight: 500;
  font-size: 26px;
}

/* line 2027, ../scss/_base.scss */
.rest-list-thumbnail {
  position: relative;
}
/* line 2029, ../scss/_base.scss */
.rest-list-thumbnail .rest-info-block {
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  position: absolute;
  right: 50px;
  top: 31px;
  width: 340px;
  text-decoration: none;
  color: #889297;
  border: 2px solid transparent;
}
/* line 2038, ../scss/_base.scss */
.rest-list-thumbnail .rest-info-block:hover {
  border: 2px solid #00C75C;
}
/* line 2040, ../scss/_base.scss */
.rest-list-thumbnail .rest-info-block:hover .rest-contacts {
  color: #00C75C;
}

/* line 2046, ../scss/_base.scss */
.rest-more-info {
  background-color: rgba(241, 241, 242, 0.95);
  padding: 15px 20px;
  color: #889297;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  height: 147px;
}
/* line 2053, ../scss/_base.scss */
.rest-more-info dt {
  font-weight: normal;
  float: left;
  width: 95px;
  margin-right: 5px;
  float: left;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 2065, ../scss/_base.scss */
.rest-contacts {
  height: 88px;
  padding: 15px 20px;
  background-color: rgba(251, 249, 245, 0.95);
  color: #323335;
  font-size: 18px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}
/* line 2072, ../scss/_base.scss */
.rest-contacts .rest-address {
  font-size: 20px;
  margin-bottom: 5px;
}
/* line 2076, ../scss/_base.scss */
.rest-contacts p {
  margin: 0;
}
/* line 2079, ../scss/_base.scss */
.rest-contacts .meneger-tel {
  font-size: 12px;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  text-transform: uppercase;
}

/* line 2086, ../scss/_base.scss */
.rest-work-time p {
  margin: 0;
}

/* line 2090, ../scss/_base.scss */
.map-wrapper {
  margin-bottom: 40px;
}

/* line 2093, ../scss/_base.scss */
.address-list {
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}
/* line 2100, ../scss/_base.scss */
.address-list li:hover a {
  color: #00C75C;
  text-decoration: none;
}
/* line 2106, ../scss/_base.scss */
.address-list a {
  color: #17191C;
  text-decoration: none;
}

/* line 2111, ../scss/_base.scss */
.rest-infowindow {
  width: 325px;
}
/* line 2113, ../scss/_base.scss */
.rest-infowindow .rest-contacts {
  background: #00C75C;
  color: #fff;
  font-size: 16px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  padding: 10px 15px;
  height: inherit;
}
/* line 2120, ../scss/_base.scss */
.rest-infowindow .rest-contacts .rest-address {
  color: #fff;
}
/* line 2123, ../scss/_base.scss */
.rest-infowindow .rest-contacts .meneger-tel {
  color: #323335;
  font-size: 11px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
  height: inherit;
}
/* line 2130, ../scss/_base.scss */
.rest-infowindow .rest-more-info {
  border: 2px solid #00C75C;
  padding: 10px 15px;
}

/* line 2135, ../scss/_base.scss */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div {
  /* we have to use !important because we are overwritng inline styles */
  background-color: transparent !important;
  box-shadow: none !important;
  width: auto !important;
  height: auto !important;
}

/* arrow colour */
/* line 2145, ../scss/_base.scss */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div {
  background-color: #00C75C !important;
  box-shadow: none !important;
}

/* close button */
/* line 2151, ../scss/_base.scss */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child {
  margin-right: 10px;
  margin-top: 5px;
  background: #fff;
  border-radius: 50px !important;
  opacity: 1 !important;
}

/* image icon inside close button */
/* positioning of infowindow */
/* line 2164, ../scss/_base.scss */
.gm-style-iw {
  top: 22px !important;
  left: 22px !important;
}

/* line 2168, ../scss/_base.scss */
.view-contacts-block {
  background: #f1f1f2;
  padding: 20px;
}

/* line 2172, ../scss/_base.scss */
.view-contacts-address {
  color: #889297;
  font-size: 14px;
  font-family: "Conv_BarnaulGrotesk", 'Arial', sans-serif;
}
/* line 2176, ../scss/_base.scss */
.view-contacts-address p {
  margin: 0;
}
/* line 2179, ../scss/_base.scss */
.view-contacts-address .view-contacts-phone {
  color: #00C75C;
  font-size: 18px;
  font-family: "Conv_BarnaulGrotesk Bold Regular", 'Arial', sans-serif;
  text-transform: uppercase;
}

/* line 2186, ../scss/_base.scss */
.view-contactsrest-more-info {
  padding: 0;
  height: inherit;
}

/* line 2190, ../scss/_base.scss */
.media-list {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  font-size: 0;
}
/* line 2196, ../scss/_base.scss */
.media-list li {
  display: inline-block;
  margin-right: 20px;
  overflow-y: hidden;
  height: 170px;
}
/* line 2201, ../scss/_base.scss */
.media-list li:last-child {
  margin-right: 0;
}
/* line 2204, ../scss/_base.scss */
.media-list li img {
  max-height: 100%;
  width: auto;
}

/* line 2210, ../scss/_base.scss */
.lb-container {
  padding: 0;
  border-radius: 0;
}

/* line 2214, ../scss/_base.scss */
.lb-outerContainer {
  border-radius: 0;
}

/* line 2217, ../scss/_base.scss */
.lightbox .lb-image {
  border-radius: 0;
}

/* line 2225, ../scss/_base.scss */
.wrapper {
  display: block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  text-align: left;
  margin: 0 -10px 0 -20px;
}
/* line 2233, ../scss/_base.scss */
.wrapper.baron:hover .scroller__bar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 2238, ../scss/_base.scss */
.scroller {
  width: 100% !important;
  max-height: 390px;
  overflow-y: scroll;
  /*-webkit-overflow-scrolling: touch;*/
  /* uncomment to accelerate scrolling on iOs */
  padding: 0 40px 0 0;
  margin-left: 20px;
}

/* line 2248, ../scss/_base.scss */
.scroller::-webkit-scrollbar {
  width: 0;
}

/* line 2251, ../scss/_base.scss */
.scroller__bar-wrapper {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 5px;
  border-radius: 0;
  background: #bdc3c7;
  pointer-events: none;
}

/* line 2262, ../scss/_base.scss */
.scroller__bar {
  position: absolute;
  z-index: 1;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 5px;
  background-color: #00C75C;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  pointer-events: auto;
}

/* line 2274, ../scss/_base.scss */
.baron .scroller__bar {
  height: 100px !important;
}

/* line 2277, ../scss/_base.scss */
.scroller__bar-wrapper_h {
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  height: 2px;
  background-color: #98A1A5;
}

/* line 2285, ../scss/_base.scss */
.scroller.baron_h {
  overflow-y: hidden;
  padding: 0 0 25px;
  margin: 20px 0 0;
  height: 210px !important;
}

/* line 2291, ../scss/_base.scss */
.baron_h .scroller__bar_h {
  opacity: 1;
  width: 101px !important;
  height: 10px !important;
  top: -4px !important;
}

/* line 2297, ../scss/_base.scss */
.wrapper_2 {
  margin: 0;
  overflow-y: hidden;
  height: 210px;
}

/* line 2308, ../scss/_base.scss */
svg {
  margin: auto;
}
/* line 2310, ../scss/_base.scss */
svg rect {
  fill: #00C75C;
}

/* line 122, ../scss/style.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 130, ../scss/style.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 141, ../scss/style.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 150, ../scss/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 166, ../scss/style.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 180, ../scss/style.scss */
.invisible {
  visibility: hidden;
}

/* line 196, ../scss/style.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 202, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 211, ../scss/style.scss */
.clearfix {
  *zoom: 1;
}

@media print {
  /* line 238, ../scss/style.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 245, ../scss/style.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 250, ../scss/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 254, ../scss/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 262, ../scss/style.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 268, ../scss/style.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 274, ../scss/style.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 278, ../scss/style.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 283, ../scss/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 291, ../scss/style.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 298, ../scss/style.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.tooltip-inner{
    background-color: #fff;
    color: #222;
    border: solid 1px #00C75C;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #00C75C;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #00C75C;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #00C75C;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #00C75C;
}
.product-large-image{
    cursor:zoom-in;
}

.modal-title {
  line-height: initial;
}

.modal-header .close {
  width: 1em;
}

.promo-error{
    color: red;
}

.order-center{
    text-align: center;
}

.order-number{
    text-align: right;
}
.order-number span{
    display: block;
    margin-right: 0em;
    width: 90%;
}
.order-table thead th{
    text-align: center;
}
.order-table .icon-rouble{
    font-size: 14px;
}

.show-by-cookie{
    display: none;
}

.icon-sberbank {
    background: url("../img/sber-inactive.png") no-repeat center;
}

.payment-method-btn-group .icon-sberbank:hover {
    background: url("../img/sber-active.png") no-repeat center;
}

.payment-method-btn-group .btn.active .icon-sberbank {
    background: url("../img/sber-active.png") no-repeat center;
}

.regitstration-link{
    font-size: 18px;
}
.redmdc {
    background-color: #F44336!important;
}

i.icon-rouble {
    font-family: 'sp-font'!important;
}
.phones__header .code {
    color: black;
}
.main-nav {
    background: #5a5f61;
    padding: 15px;
    text-align: center;
}
.one-dish:hover .dish-text {
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
}
.main-nav a:hover {
    color: #00c75c!important;
}
.main-nav li.active {
    color: #acb0b1!important;
    text-decoration: underline!important;
}
.main-nav li.active a {
  color: #acb0b1!important;
}
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    top: -45px!important;
    margin-bottom: -15px!important;
    position: relative;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #00c75c!important;
    border:1px solid white;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: rgba(255, 255, 255, 0.42)!important;
    border-radius: 30px;
    display: inline-block;
    height: 12px!important;
    overflow: hidden;
    text-indent: -999em;
    width: 12px!important;
    position: relative;
    z-index: 99;
    border:1px solid white;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
@media (min-width: 900px)  {
  .cat18 .new {
    display:block;
    color: #ffbf12;
}
.cat18 a {
   color: #ffbf12!important; 
}
.cat18.active a {
   color: #ffbf12!important; 
    border-bottom: 1px solid #ffbf12!important;
}
.slide-fade-enter-active {
  transition: all .15s ease;
}
.slide-fade-leave-active {
  transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter {
  transform: rotateY( 90deg );
  opacity: 0;
} 
.slide-fade-leave-to {
  transform: rotateY( 90deg );
  opacity: 0;
}
.list-enter-active, .list-leave-active {
  transition: all 0.25s;
}
.list-enter, .list-leave-to {
  opacity: 0;
}
.list-group.mods{
  margin-bottom: 0;
}
.list-group.mods .list-group-item{
  padding: 8px 15px;
}
#login-form input{
  margin-bottom: 20px;
  border-radius: 0px;
}
.main-content {
  min-height: 700px;
}
}
i.nag-20 {
  width: 33px;
  height: 33px;
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/n20.png);
}
.nag-9 {
  width: 33px;
  height: 33px;
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/n9.png);
}
.nag-6 {
  width: 33px;
  height: 33px;
 
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/n6.png);
}


@media print
{
    .non-printable { display: none; }
    .printable { display: block; }
}
.logo{
  position: relative;
  top: -18px;
}
.lSAction > a {

  zoom: 137%;
}
.lSAction > .lSPrev {
  background-position: 0 0;
  left: 100px;
}
.lSAction > .lSNext {
  background-position: -32px 0;
  right: 100px;
}

header.header {
  background-image: url(/img/pat.png);
  background-repeat: no-repeat;
}
.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  background: #ffffff8c;
  border: none;
}
.navbar-form button.btn.btn-default {
  background: none;
  border: none;
  color: #888;
  position: absolute;
  right: 10px;
  top: 4px;
}
.col-xs-2.phones__header {
  text-align: right;
}
.main-nav a {
  color: #5a5f61;
}
.main-nav a {
  color: #5a5f61;
  text-transform: uppercase;
  font-family: "Conv_BarnaulGrotesk", "PT Sans Narrow", 'Arial ', sans-serif;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
}
.main-nav li.active a {
  color: #333!important;
}
.main-nav {
  background: transparent;
    padding: 15px 0px;
    text-align: left;
}
.login-block {
  text-align: right;
  width: auto;
  display: inline-block;
  float: right;

}
p.regitstration-link-wrapper {
  display: inline-block;
}
a.regitstration-link {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid #5a5f61;
}
a.regitstration-link-name {
  color: #00c75c!important;
}
.header-top {

  margin-bottom: -11px;
}
a.hotitem {
  display: block;
  margin-bottom: 10px;
}

.main-nav.main-nav__footer {
  display: none;
}
.lSSlideOuter {
  margin-top: -10px;
}