<template>
	<div class="container">
		<div class="panel panel-default printable" id="printable">
		<!-- Default panel contents -->
			<div class="panel-heading">История заказов сбербанк <span v-if="sberData[0]">за {{sberData[0].dates.changed|date}}</span></div>
			<div class="panel-body" v-if="loading">
				<div class="progress progress-striped active">
					<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					</div>
				</div>
			</div>
			<table class="table table-bordered" v-else>
				<thead>
					<tr>
						<th>№</th>
						<th>Дата</th>
						<th>Время</th>
						<th>Статус</th>
						<th style="text-align: right;">Сумма</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(one, idx) in sberData">
						<td>{{idx+1}}</td>
						<td>{{one.dates.changed|date}}</td>
						<td>{{one.dates.changed|time}}</td>
						<td>{{one.description}}</td>
						<td style="text-align: right;">{{one.order.fullSum}} р.</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td >Итого:</td>
						<td style="text-align: right;">{{fullSumm}} р.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button @click="printIt" class="btn btn-success pull-right">Печать</button>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				loading: true,
				sberData: []
			}
		},
		computed: {
			fullSumm() {
				let out = 0;
				for (let i=0;i< this.sberData.length;i++) {
					let one = this.sberData[i];
					if (one.orderStatus == 2) {
						out+= one.order.fullSum;
					}
				}
				return out;
			}
		},
		mounted() {
			this.loadData();
		},
		methods: {
			printElement(elem) {
				var domClone = elem.cloneNode(true);
				
				var $printSection = document.getElementById("printSection");
				
				if (!$printSection) {
					var $printSection = document.createElement("div");
					$printSection.id = "printSection";
					document.body.appendChild($printSection);
				}
				
				$printSection.innerHTML = "";
				
				$printSection.appendChild(domClone);
			},
			printIt() {
				this.printElement(document.getElementById("printable"));
				window.print();
			},
			loadData() {
				$.get('/admin/get_payments_sber')
				.done((resp)=>{
					this.sberData = resp;
					this.loading = false;
				})
				.fail(()=>{
					this.loading = false;
				})
			}
		},
		filters: {
			date(val) {
				let date = new Date(val);
				return ''+('0'+date.getDate()).substr(-2)+'-'+('0'+(date.getMonth()+1)).substr(-2)+'-'+date.getFullYear();
			},
			time(val) {
				let date = new Date(val);
				return ''+('0'+date.getHours()).substr(-2)+':'+('0'+date.getMinutes()).substr(-2)
			}
		}
	}
</script>
<style>
	@media screen {
		#printSection {
			display: none;
		}
	}

	@media print {
		body * {
			visibility:hidden;
		}
		
		#printSection, #printSection * {
			visibility:visible;
		}
		#printSection {
			position:absolute;
			left:0;
			top:0;
			right: 0;
		}

		.non-printable { display: none; }
    	.printable { display: block; }
	}
</style>