<template>
	<div>
		<div class="modal fade sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<form @submit.stop.prevent="login" class="form-horizontal" id="login-form">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
				</button>
							<h4 class="modal-title" id="signIinLabel">Вход</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<masked-input class="form-control" v-model="auth.login" mask="\+\7 (111) 111-11-11" placeholder="Телефон"/>
									<input class="form-control" type="password" name="" v-model="auth.password" value="" placeholder="Пароль">
								</div>
							</div>
							<div class="row">
								<div class="col-xs-8 col-xs-offset-2">
									<p id="login-error"></p>
								</div>
							</div>
						</div>
						<div class="modal-footer"  style="    text-align: center;">
							<div class="text-center"  style="display:inline-block;">
								<button type="submit" class="btn btn btn-success btn-lg">Войти</button>
							</div>
							<div class="text-center"  style="display:inline-block;">
								<button @click.stop.prevent="recoveryOpen('sign-in-modal')"  class="btn btn btn-success btn-lg">Восстановление пароля</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- password recovery modal -->
		<div class="modal fade password-recovery-modal" tabindex="-1" role="dialog" aria-labelledby="passwordRecovery" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<form action="#" class="form-horizontal" @submit.stop.prevent="recoveryIt">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
				</button>
							<h4 class="modal-title" id="passwordRecoveryLabel">Восстановление пароля</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<p class="col-xs-10 col-xs-offset-1 modal-text-help">Если вы забыли пароль от вашего аккаунта, не переживайте.
									<br>Просто введите свой номер телефона, который вы указывали при регистрации в поле ниже и мы пришлем вам
									новый пароль на него. </p>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<masked-input class="form-control phone" type="tel" v-model="recoveryTel" mask="\+\7 (111) 111-11-11" placeholder="Телефон"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="text-center">
								<button type="submit" class="btn btn btn-success btn-lg">Восстановить</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- end password recovery modal -->
		<!-- registration modal -->
		<div class="modal fade registration-modal" tabindex="-1" role="dialog" aria-labelledby="registration" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<form @submit.stop.prevent="register()" class="form-horizontal" id="reg-form">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
				</button>
							<h4 class="modal-title" id="registrationLabel">Регистрация</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2 text-center">
									<h5 class="main-modal-title">в службе доставки «Суши&Пицца»</h5>
									<p class=" modal-text-help">Сразу после регистрации вы начнете получать приятные бонусы за каждый заказ</p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<input class="form-control" v-model="reg.name" type="text" name="name" value="" placeholder="Имя">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<masked-input class="form-control phone" type="tel" v-model="reg.phone" mask="\+\7 (111) 111-11-11" placeholder="Телефон"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<input class="form-control phone" type="email" v-model="reg.email" placeholder="E-mail"/>
								</div>
							</div>
							<!--<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<input class="form-control" type="email" name="email" value="" placeholder="Электронная почта">
								</div>
							</div>
							<div class="form-group">
								<label for="inputBirthday" class="col-xs-3 col-xs-offset-2 control-label">Дата рождения</label>
								<div class="col-xs-3 date-wr">
									<i class="icon-sp-calendar-i"></i>
									<input type="text" class="form-control date" name="birthDate" id="inputBirthday" placeholder="__.__.____">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<p class="help-block">Мы любим дарить подарки =)</p>
								</div>
							</div>
							<div class="inner-form-group-bg">
								<div class="row">
									<div class="col-xs-8 col-xs-offset-2">
										<label for="inputAddres">Адрес доставки</label>
										<textarea class="form-control" id="inputAddres" name="address" value="" placeholder="Улица, дом, квартира, офис"></textarea>
									</div>
								</div>
							</div>-->
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<input class="form-control" v-model="reg.password" type="text" value="" placeholder="Придумайте пароль">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<input class="form-control" v-model="reg.password1" type="text" value="" placeholder="Повторите пароль">
								</div>
							</div>
							<div class="row">
								<div class="checkbox col-xs-8 col-xs-offset-2">
									<label>
										<input type="checkbox" v-model="reg.police"> Настоящим подтверждаю, что я ознакомлен и согласен с
                            				<a href="/pages/police/" target="_blank">условиями политики конфиденциальности</a>
									</label>
								</div>
							</div>
						</div>
						<div class="modal-footer" style="    text-align: center;">
							<div class="text-center" style="display:inline-block;">
								<button type="submit" class="btn btn btn-success btn-lg" v-show="reg.police">Зарегистрироваться</button>
							</div>
							<div class="text-center"  style="display:inline-block;">
								<button @click.stop.prevent="recoveryOpen('registration-modal')" class="btn btn btn-success btn-lg">Восстановление пароля</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- end password recovery modal -->

		<!-- chief message modal -->
		<div class="modal fade chief-message-modal" tabindex="-1" role="dialog" aria-labelledby="chiefMessage" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<form @submit.stop.prevent="sendReview" class="form-horizontal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i></button>
							<h4 class="modal-title" id="chiefMessageLabel">обратная связь </h4>
						</div>
						<div class="modal-body">
							<!--
							<div class="chie-img-modal">
								<img src="/img/chie-img-modal-img.png" alt="">
								<div class="chie-img-modal-text">
									<p>Нам очень важно знать ваше мнение о нашем сервисе. Напишите свое письмо лично директору или шеф-повару и мы ответим
										вам в кратчайшие сроки</p>
									<p class="bottom-text-chief-block-modal">С уважением, команда доставки</p>
								</div>
							</div>
							-->
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<input class="form-control" v-model="feed.fio" type="text" name="" value="" placeholder="Ваше имя">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<input class="form-control phone" v-model="feed.phone" type="phone" name="" value="" placeholder="Телефон  +7 (___) ____-__-__">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<textarea class="form-control" name="" value="" v-model="feed.description" placeholder="Отзыв в свободной форме"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="text-center">
								<button type="submit" class="btn btn btn-success btn-lg">Отправить</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- end chief message modal -->
		<div class="modal fade" id="payment-suc" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
							</button>
							<h4 class="modal-title" id="signIinLabel">Статус заказа:</h4>
						</div>
						<div style="text-align: center;" class="modal-body">
							<p>БОЛЬШОЕ СПАСИБО!</p>
							<p>Как только оплата подтвердится, ваш заказ будет отправлен в обработку.</p>
							<p>Ожидайте смс уведомления и не забудьте оставить свой <a href="#" data-dismiss="modal"  data-toggle="modal" data-target=".chief-message-modal">отзыв</a>.</p>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="payment-cash" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
							</button>
							<h4 class="modal-title" id="signIinLabel">Статус заказа:</h4>
						</div>
						<div style="text-align: center;" class="modal-body">
							<p>БОЛЬШОЕ СПАСИБО!</p>
							<p>Ожидайте смс с номером заказа и не забудьте оставить свой <a href="#" data-dismiss="modal" data-toggle="modal" data-target=".chief-message-modal">отзыв</a>.</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import MaskedInput from 'vue-masked-input'

	export default {
		components: {
			MaskedInput
		},
		name: 'auth-block',
		data() {
			return {
				recoveryTel: '',
				feed: {
					description: '',
					fio: '',
					phone: ''
				},
				auth: {
					login: '',
					password: ''
				},
				reg: {
					email: '',
					police: true,
					phone: '',
					name: '',
					password1: '',
					password: ''
				},
				apiBusy: false
			}
		},
		methods: {
			recoveryOpen(modalClass) {
				let modal = $('.'+modalClass);
				modal.on('hidden.bs.modal', function (e) {
					$('.password-recovery-modal').modal('show');
					modal.off('hidden.bs.modal');
				});	
				modal.modal('hide');
			},
			recoveryIt() {
				if (this.apiBusy) {
					return;
				}
				this.apiBusy = true;
				let phone = this.recoveryTel.replace(/\D+/g,"");
				if ((phone.length < 11) || (phone.indexOf('79') !== 0)) {
					this.apiBusy = false;
					this.$notify({
						group: 'foo',
						title: 'Ошибка:',
						text: 'Укажите корректный номер телефона!',
						type: 'error',
						duration: 3000,
						position: 'bottom right'
					});
					return;
				}
				$.ajax({
					url: '/auth/password/recovery',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify({login: phone})
				})
				.done((data) => {
					if (data.success) {
						this.$notify({
							group: 'foo',
							title: 'Успешно:',
							text: data.success,
							type: 'success',
							duration: 10000,
							position: 'bottom right'
						});
						$('.password-recovery-modal').modal('hide');
						setTimeout(()=>{
							$('.sign-in-modal').modal('show');
						},150);
					} else {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: data.error,
							type: 'error',
							duration: 10000,
							position: 'bottom right'
						});
					}
				});
			},
			sendReview() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				let out = JSON.parse(JSON.stringify(this.feed));
				out.review = true;
				if (!out.fio) {
					this.$notify({
						group: 'foo',
						title: 'Произошла ошибка',
						text: `Вы не указали свое имя`,
						type: 'error',
						duration: 5000,
						position: 'bottom right'
					});
					this.apiBusy = false;
					return;
				}
				if (!out.phone) {
					this.$notify({
						group: 'foo',
						title: 'Ошибка:',
						text: `Вы не указали номер телефона`,
						type: 'error',
						duration: 5000,
						position: 'bottom right'
					});
					this.apiBusy = false;
					return;
				}
				if (!out.description || out.description.length < 10) {
					this.$notify({
						group: 'foo',
						title: 'Ошибка:',
						text: `Минимальная длина отзыва: 10 символов`,
						type: 'error',
						duration: 5000,
						position: 'bottom right'
					});
					this.apiBusy = false;
					return;
				}
				const checker = (phone) => {
					if ((phone.length == 12) && (phone.indexOf('+79') == 0)) {
						return true;
					}
					return false;
				}
				if (!checker(out.phone)) {
					this.$notify({
						group: 'foo',
						title: 'Ошибка:',
						text: 'Не верно указан телефон, укажите в формате +79001112233!',
						type: 'error',
						duration: 5000,
						position: 'bottom right'
					});
					this.apiBusy = false;
					return;
				}

				$.ajax({
					url: '/feedback',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(out)
				})
				.then((resp)=>{
					if (!resp.error) {
						this.$notify({
							group: 'foo',
							title: 'Готово!',
							text: 'Отзыв успешно отправлен. Спасибо!',
							type: 'info',
							duration: 2000,
							position: 'bottom right'
						});

						this.feed.fio = '';
						this.feed.phone = '';
						this.feed.description = '';
						this.apiBusy = false;
						setTimeout(()=>{
							location.href = '/';
						},1000);
					} else {
						this.$notify({
							group: 'foo',
							title: 'Произошла ошибка',
							text: resp.error,
							type: 'error',
							duration: 2000,
							position: 'bottom right'
						});
						this.apiBusy = false;
					}
				});
			},
			register() {
				let user = {
					name: this.reg.name,
					phone: this.reg.phone.replace(/\D+/g,""),
					password:  this.reg.password,
					password1: this.reg.password1,
					email: this.reg.email
				};
				if (!(user.name && user.phone && user.password && user.password1 && user.phone.length == 11)) {
					return false;
				}
				$.ajax({
					url: '/auth/registration',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(user)
				})
				.done((data) => {
					console.log(data)
					if (data.success) {
						window.location.href = '/account';
					} else {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: data.error,
							type: 'error',
							duration: 10000,
							position: 'bottom right'
						});
					}
				});
			},
			login() {
				let login = '+'+this.auth.login.replace(/\D+/g,"");
				let password = this.auth.password;
				$.post('/auth/login', {login: login, password: password})
					.done((data) => {
						console.log(data)
						if (data.success) {
							window.location.href = '/account';
						} else {
							document.getElementById('login-error').innerHTML = 'Неверно введен логин или пароль :('
						} 
					});
			}
		}
	}
</script>