<template>
	<transition name="fade">
		<div class="order-panel-wrapper hidden-xs hidden-sm" style="" v-show="(totalAmount > 0) && ($parent.componentName != 'order-page')">
			<div class="order-panel">
				<div class="container">
					<div class="row">
						<div class="col-xs-3">
						</div>
						<div class="col-md-8  col-xs-12 col-sm-12 pull-right ">
							<div class="order-panel-order-wr">
								<p class="order-panel-basket-img bt_order btn-primary" style="background: inherit;" data-toggle="modal" data-target=".order1-modal">
									<i class="icon-basket"></i>
								</p>
								<p class="order-panel-your-order hidden-xs">
									Ваш заказ
									<span class="label label-danger cart_qty">{{totalAmount}}</span>
									<span class="min-text">{{totalAmount|ends('блюдо', 'блюда', 'блюд')}}</span>
								</p>
								<p class="order-panel-your-order visible-xs">
									Ваш заказ
									<span class="label label-danger cart_qty">1</span>
									<span class="min-text">блюда</span>
								</p>
								<p class="order-panel-min-order">
									Минимальная сумма заказа {{ minOrderAmount }}
									<i class="icon-rouble"></i>
								</p>
								<p class="order-panel-order-price visible-xs">
									<span class="cart_total">{{totalPrice}}</span> 
									<i class="icon-rouble"></i>
								</p>
							</div>
							<div class="order-panel-price-wr hidden-xs  hidden-sm">
								<p class="order-panel-order-price">
									<span class="cart_total">{{totalPrice}}</span>&nbsp;
									<i class="icon-rouble"></i>
								</p>
								<p class="order-panel-discount-price" data-toggle="tooltip" data-original-title="" style="display: none;">
									Скидка&nbsp;
									<span class="cart_discount">0</span>&nbsp;
									<i class="icon-rouble"></i>
								</p>
							</div>
							<div class="order-panel-order-btn-wr hidden-xs  hidden-sm">
								<a href="#" class="btn btn-lg bt_order" :class="{'btn-danger': totalPrice >= minOrderAmount, 'btn-primary': totalPrice < minOrderAmount}" @click.prevent.stop="openOrder()">Оформить заказ</a>
									<div class="dropdown-wr hidden-xs hidden-sm">
										<p class="order-panel-dropdown js-dropdown-btn" :class="{'active-dropdown-btn': showItems}"> 
											<span class="glyphicon glyphicon-triangle-top" @click.stop.prevent="showItems = !showItems" style="color: red"></span>
										</p>
										<transition name="fade">
											<div class="all-orders-dropdown-menu js-dropdown-menu" v-show="showItems">
												<div class="wrapper wrapper_1" data-baron-v="inited">
													<div class="scroller">
														<ul class="all-orders-list">
															<li 
																v-for="(one, i) in cartData.items" 
																:key="'dich'+i"
																class="one-order-in-orders alert fade in  hidden-xs" 
																data-example-id="dismissible-alert-js" 
																data-product="258" 
																data-prodtype="2" 
																data-cartid="258_8">

																<div class="row fade in" role="alert">
																	<div class="col-xs-2 ">
																		<a href="#" class="thumbnail">
																			<img :src="((one.images && one.images[0] && one.images[0].imageUrl) ? one.images[0].imageUrl : '/img/2.jpg')" alt="">
																		</a>
																	</div>
																	<div class="col-xs-5">
																		<p class="title-in-order-list">{{one.name|name}}</p>
																	</div>
																	<div class="col-xs-2 count-order-in-list">
																		<div class="form-group el-order-form-group" v-if="one.id !== '444d6b2b-f6a5-48ab-9c3c-003262cf73fb'">
																			<div class="input-group">
																				<div class="input-group-addon" @click.stop.prevent="minusItem(one)">-</div>
																				<input type="text" class="form-control input-sm input_qty" v-model="one.count" autocomplete="off">
																				<div class="input-group-addon" @click.stop.prevent="plusItem(one)">+</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-xs-2">
																		<p class="sum-in-order-list">
																			<span class="item_sum">{{one.count * one.price}}</span>&nbsp;
																			<i class="icon-rouble"></i>
																		</p>
																	</div>
																	<div class="col-xs-1 btn-closein-order-list">
																		<button 
																			v-if="one.id !== '444d6b2b-f6a5-48ab-9c3c-003262cf73fb'"
																			type="button" 
																			class="close" 
																			@click.prevent.stop="remove(one.id)">
																			<i class="icon-sp-close-i"></i>
																		</button>
																	</div>
																</div>
															</li>
														</ul>
													</div>
													<div class="scroller__bar-wrapper">
														<div class="scroller__bar" style="top: 0px; height: 109px;"></div>
													</div>
												</div>
											</div>
										</transition>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
import eventHub from './eventHub.js'
export default {
	name: 'cart',
	data() {
		return {
			cartData: {
				items: {}
			},
			showItems: false
		}
	},
	computed: {
		minOrderAmount() {
			return this.$store && this.$store.getters && this.$store.getters.minOrderAmount
		},
		totalAmount() {
			let amount = 0;
			for (let key in this.cartData.items) {
				let one = this.cartData.items[key];
				if (one && Object.prototype.hasOwnProperty.call(this.cartData.items, key)) {
					amount+= Number(one.count);
				}
			}
			return amount;
		},
		totalPrice() {
			let price = 0;
			for (let key in this.cartData.items) {
				let one = this.cartData.items[key];
				if (one && Object.prototype.hasOwnProperty.call(this.cartData.items, key)) {
					price+= Number(one.price) * Number(one.count);
				}
			}
			return price;
		}
	},
	created(){
		eventHub.$on('addToCart', this.add);
		eventHub.$on('clearCart', this.clearCart);
		eventHub.$on('updateCart', this.updateCart);
		eventHub.$on('openCart', this.openOrder);
		this.updateCart();
	},
	watch: {
		cartData: {
			deep: true,
			handler(val) {
				if (val && val.items) {
					if (Object.keys(val.items).length === 1 && val.items['444d6b2b-f6a5-48ab-9c3c-003262cf73fb']) {
						this.clearCart()
					} 
				}
			}
		}
	},
	methods: {
		firstNextYA() {
			var yaParams = {
           		target: "firstNext"
			};
			try {
				var yaCounter30102269 = new Ya.Metrika({id: 30102269, params: yaParams});
				yaCounter30102269.reachGoal('firstNext', yaParams);
			} catch (e) {
				console.log(e);
			}
		},
		updateCart() {
			try {
				let cachedData = JSON.parse(JSON.stringify(lscache.get('cart')));
				if (cachedData) {
					this.cartData = cachedData;
				}
			} catch (e) {}
		},	
		clearCart() {
			this.$set(this.cartData, 'items', {});
			lscache.set('cart', JSON.parse(JSON.stringify(this.cartData)));
		},
		openOrder() {
			if (this.totalPrice >=this.minOrderAmount) {
				this.firstNextYA();
				eventHub.$emit('compChange', 'order-page');
			} else {
				// toDo : сделать тостр
				return;
			}
		},
		minusItem(item) {
			if (item.count > 1) {
				item.count-= 1;
			} else {
				item.count = 1
			}
			try {
				lscache.set('cart', JSON.parse(JSON.stringify(this.cartData)));
			} catch (e) {}
		},
		plusItem(item) {
			let data = this.$parent.data;
			let count = (data && 
						data.stopList && 
						(data.stopList[item.id] !== undefined)) ? (data.stopList[item.id] || 1) : 10;
			let inStop = (data && 
						data.stopList && 
						(data.stopList[item.id] !== undefined)) ? true : false;
			if (item.count >= count) {
				item.count = count;
				if (inStop) {
					this.$notify({
						group: 'foo',
						title: 'Извините:',
						text: 'Количество товара ограничено :(',
						type: 'warn',
						duration: 5000,
						position: 'bottom right'
					});
				}
			} else {
				item.count+= 1;
			}
			try {
				lscache.set('cart', JSON.parse(JSON.stringify(this.cartData)));
			} catch (e) {}
			
		},
		add(item) {
			if (!item) return;
			if (this.cartData.items[item.id]) {
				this.cartData.items[item.id].count+= 1;
			} else {
				this.$set(this.cartData.items, item.id, JSON.parse(JSON.stringify(item)));
			}
			try {
				lscache.set('cart', JSON.parse(JSON.stringify(this.cartData)));
			} catch (e) {}
		},
		remove(id) {
			if (!id) return;
			if (this.cartData.items && this.cartData.items[id]) {
				this.$delete(this.cartData.items, id);
				try {
					lscache.set('cart', JSON.parse(JSON.stringify(this.cartData)));
				} catch (e) {}
			}
		}
	},
	components: {
	},
	filters: {
		ends (value,a,b,c) {
			var strVal = String(value);
			var lastChar = strVal[strVal.length-1];
			var end;
			switch (lastChar) {
				case '1':
				if (strVal[strVal.length-2] != '1') {
					end = a;
				} else {
					end = c;
				}
				break;
				case '2':
				case '3':
				case '4':
				if (strVal[strVal.length-2] != '1') {
					end = b;
				} else {
					end = c;
				}
				break;
				default:
				end = c;
				break;
			}
			return end;
		},
		name(val) {
			return val.replace(/\(Д\)/ig, '').replace(/ГР\.$/ig, '').replace(/[0-9]/ig,'');
		},
		weight(val) {
			return Number((val*1000).toFixed(0));
		}
	}
}
</script>
<style>
	.fade-enter-active, .fade-leave-active {
		transition: opacity .5s
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
		opacity: 0
	}
</style>