<template>
	<div class="main-content">
		<div class="container w_100xs">
			<div class="row">
				<div class="col-xs-3  hidden-sm hidden-xs">
					<div style="margin-bottom: 10px; postition: relative" v-if="weekPromo">
						<a :href="weekPromo.props.productUrl" @click.stop.prevent="showPromo">
                  			<img class="shadow" :src="weekPromo.props.image.leftBaner" style="width:100%;">
                  		</a>
						<button v-if="isAdmin" data-toggle="modal" data-target="#changeMainDish" class="icon-btn" ><i class="glyphicon glyphicon-cog"></i></button>
					</div>
					<aside class="left-submenu-wrapper">
						<h2 class="title-left-aside">Меню</h2>
						<div class="left-submenu">
							<div class="left-submenu">
								<ul>
									<li :class="{'active': showFav}"><a href="#love" @click.stop.prevent="showFav=true">Избранное</a></li>
									<!-- <li v-for="cat in data.list.groups" :class="{'active': cat.id == data.main.id, 'cat18': cat.additionalInfo == 'new'}"><a @click.stop.prevent="changeCategory(cat)" :href="'/category/'+cat.url">{{cat.name}}<div v-if="cat.additionalInfo == 'new'" class="new" style="position: absolute;top: -10px;right: 0px;"><img src="/img/new.png"></div></a></li> -->
									<li 
										v-for="cat in data.list.groups" 
										:class="{'active': ((cat.id == data.main.id) && !showFav)}"
										:key="`cat-${cat.id}`"><a @click.stop.prevent="changeCategory(cat)" :href="'/category/'+cat.url">{{cat.name}}</a></li>
								</ul>
							</div>
						</div>
					</aside>
					<div class="row main-info-leftside">
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 watchX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ДОСТАВЛЯЕМ БЫСТРО</h5>
									<p class="text-info-block">Наша служба доставки работает с 10:00 до 23.00 без перерыва и выходных дней. Мы отправляем заказы сразу после их
										приготовления и упаковки. Среднее время доставки — 50 минут.
									</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 purseX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ДОСТАВЛЯЕМ БЕСПЛАТНО</h5>
									<p class="text-info-block">Вы оплачиваете только свой заказ, который мы привезем совершенно бесплатно.
										<br> Минимальная сумма заказа — {{ minOrderAmount }} рублей.
									</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 cardsX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">Любая форма расчета</h5>
									<p class="text-info-block">Мы принимаем оплату онлайн, наличные и карты курьеру.</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 mapX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">Карта доставки</h5>
									<p class="text-info-block">Доставка осуществляется в Ейске и городах спутниках</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 foodX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ЕДА С СОБОЙ</h5>
									<p class="text-info-block">Вы можете забрать заказ сами. Выбирайте блюда из меню, удобное время и удобный пункт выдачи. Мы приготовим и упакуем
										ваш заказ к назначенному времени.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					<!-- <a href="" class="hotitem">
						<img src="/img/ba.png" style="width:100%;" alt="">
					</a> -->
					<!--<input 
						class="form-control" 
						style="width:100%; margin-bottom:10px" 
						placeholder="Поиск блюда по названию"
						v-model="search"
						v-if="isAdmin">-->
					<div class="menu">
						<div style="text-align: center; padding-top: 50%;" v-if="showFav && items.length == 0">
							<h2>В избранном ничего нет.</h2>
							<p>Нажимайте на блюде на звездочку, и товар попадет в "Избранное".</p>
						</div>
						<transition-group name="slide-fade" class="row menu-list" tag="ul" v-else>
							<li 
								v-for="item in items" 
								:key="`list-${item.id}`" 
								v-if="item.id !== '656c19cb-73e8-466c-85a3-b2498e5d7e53'" 
								class="col-xs-12 col-sm-6 col-md-4">
								<transition name="slide-fade" mode="out-in">
									<div v-if="adminProduct && adminProduct.id == item.id" class="menu-el item258" :key="'admin'">
										<button class="btn btn-danger btn-block" @click="adminProduct = null">Закрыть</button>
										<ul class="list-group mods">
											<li class="list-group-item">
												<div class="checkbox">
													<label>
														<input type="checkbox" v-model="mods.new"> Новинка
													</label>
												</div>
											</li>
											<li class="list-group-item">
												<div class="checkbox">
													<label>
														<input type="checkbox" v-model="mods.hit"> Хит
													</label>
												</div>
											</li>
											<li class="list-group-item">
												<div class="checkbox">
													<label>
														<input type="checkbox" v-model="mods.hot"> Острое
													</label>
												</div>
											</li>
											<li class="list-group-item">
												<div class="checkbox">
													<label>
														<input type="checkbox" v-model="mods.veryHot"> Горячее
													</label>
												</div>
											</li>
											<li class="list-group-item">
												<div class="checkbox">
													<label>
														<input type="checkbox" v-model="mods.vegetarian"> Вегетарианское
													</label>
												</div>
											</li>
										</ul>
										<button class="btn btn-success btn-block" data-loading-text="Сохраняем..." @click="saveMods()" id="saveMods">Сохранить</button>
									</div>
									<div v-else class="menu-el item258" :key="'noadmin'">
										<div class="thumbnail menu-el-th">
											<button 
												v-if="isAdmin"
												@click.stop.prevent="adminProduct = item"
												class="icon-btn" 
												style="position: absolute; top: 0px; margin: 0 auto; left: 50%; margin-left: -18px;">
												<i class="glyphicon glyphicon-cog"></i>
											</button>
											<!-- :href="'/item/'+item.url"  -->
											<a 
												class="product-large-image hidden-xs" 
												href="#"
												@click.stop.prevent="showProduct(item)"
												:title="item.name">
												<div
													:style="'background-image: url('+ ((item.images && item.images[0] && item.images[0].imageUrl) ? item.images[0].imageUrl : '/img/nofoto.jpg') + '); background-size: contain; width: 238px; height: 238px;'">
												</div>
												<!-- <img 
													:src="((item.images && item.images[0] && item.images[0].imageUrl) ? item.images[0].imageUrl : '/img/nofoto.jpg')" 
													width="238" 
													height="238" 
													:alt="'Фото '+ item.name"> -->
											</a>
											<a class="product-large-image visible-xs">
												<img :src="((item.images && item.images[0] && item.images[0].imageUrl) ? item.images[0].imageUrl : '/img/nofoto.jpg')" width="238" height="238" alt="Фото Якудзе">
											</a>
											<div class="menu-el-status">
												<span v-if="item.mods && item.mods.hit" class="one-el-status el-hit">Хит</span>
												<span v-if="item.mods && item.mods.new" class="one-el-status el-novelty">Новинка</span>
											</div>
											<div class="menu-el-type-and-discount">
												<div 
													class="menu-el-discount" 
													v-if="item.discountPercent">
													<span class="el-corner"></span>
													<div class="el-discount-size">-{{item.discountPercent * 100}}%</div>
												</div>
												<div class="menu-el-type">
													<span v-if="item.mods && item.mods.vegetarian" class="spriteX08 vegetarian"></span>
													<span v-if="item.mods && item.mods.hot" class="spriteX08 hot"></span>
													<span v-if="item.mods && item.mods.veryHot" class="spriteX08 very-hot"></span>
												</div>
											</div>
											<div v-if="!item.group" class="menu-el-count">
												<template v-if="item.mods && item.mods.icon">
												<span class="menu-el-value active"><i :class="item.mods.icon"></i></span>
												</template>
												<!-- <span class="menu-el-value active"><i class="spriteX08 s8-i"></i></span> -->
												<span v-if="item.mods && item.mods.economy && (item.mods.economy == 'temp')" class="temp"><img src="/img/temp.png"></span>
												<span v-if="item.mods && item.mods.economy && (item.mods.economy == 'hin')" class="hin"><img src="/img/hin.png"></span>
												<span v-if="item.mods && item.mods.economy && (item.mods.economy == 'kog')" class="kog"><img src="/img/kog.png"></span>
												<span v-if="item.mods && item.mods.economy && (item.mods.economy == 'lux')" class="lux"><img src="/img/210.png"></span>
												<span class="menu-el-heft"><span class="weight">{{(item.id == 'c0fb882b-a2e1-4e02-bfb9-f1ef81b02b6e') ? 200 : item.weight|weight}} гр.</span></span>
											</div>
											<div v-if="item.group" class="menu-el-count">
												<span 
													v-for="(it, idx) in item.group" 
													:key="`one-thing-${idx}`"
													class="menu-el-value" 
													:class="{'active': idx == item.activeItem}" 
													@click="item.activeItem = idx">
													<i :class="it.icon"></i>
												</span>
												<span class="menu-el-heft"><span class="weight">{{item.group[item.activeItem].item.weight|weight}}</span> гр.</span>
											</div>
										</div>
										<div class="menu-el-description hidden-xs hidden-sm">
											<h3 data-toggle="tooltip" class="menu-el-title" style="    color: #00c75c;" data-original-title="Креветка, икра масаго, огурец, майонез">{{item.name|name}}</h3>
											<p data-toggle="tooltip" class="menu-el-ingredients" data-original-title="Креветка, икра масаго, огурец, майонез">{{item.seoDescription}}</p>
										</div>
										<div class="menu-el-description visible-xs visible-sm">
											<h3 class="menu-el-title" style="color: #00c75c;" data-original-title="Креветка, икра масаго, огурец, майонез">{{item.name|name}}</h3>
											<p class="menu-el-ingredients" data-original-title="Креветка, икра масаго, огурец, майонез">{{item.seoDescription}}</p>
										</div>
										<div v-if="item.group" class="menu-el-order">
											<form @submit.stop.prevent="addToCart(item.group[item.activeItem].item)" class="form-horizontal menu-el-order-form">
												<div class="col-xs-4">
													<div class="menu-el-prices">
														<div class="menu-el-old-price" v-if="item.group[item.activeItem].item.oldPrice">
															<span class="item_old_price" style="color: #E30613">{{item.group[item.activeItem].item.oldPrice}}</span>
														</div>
														<div class="menu-el-price">
															<span class="item_price">{{item.group[item.activeItem].item.price}}</span>
															<i class="icon-rouble "></i>
															
														</div>
													</div>
												</div>
												<div class="col-xs-3">
													<div class="form-group el-order-form-group">
														<div class="input-group">
															<div class="input-group-addon" @click="minusItem(item.group[item.activeItem].item)">-</div>
															<input type="text" class="form-control input-sm" v-model="item.group[item.activeItem].item.count" autocomplete="off">
															<div class="input-group-addon" @click="plusItem(item.group[item.activeItem].item)">+</div>
														</div>
													</div>
												</div>
												<div class="col-xs-5 order-btn-wrapper">
													<p class="basket-counter" style="display: none;">в корзине <span class="basket-counter-qty">0</span> шт.<i class="icon-basket"></i></p>
													<button type="submit" class="btn btn-sm btn-success btn-order">В корзину</button>
												</div>
											</form>
										</div>
										<div v-if="!item.group" class="menu-el-order">
											<form @submit.stop.prevent="addToCart(item)" class="form-horizontal menu-el-order-form">
												<div class="col-xs-4">
													<div class="menu-el-prices">
														<div class="menu-el-old-price" v-if="item.oldPrice">
															<span class="item_old_price">{{item.oldPrice}}</span>
														</div>
														<div class="menu-el-price">
															<span class="item_price">{{item.price}}</span>
															<i class="icon-rouble "></i>
															
														</div>
													</div>
												</div>
												<div class="col-xs-3">
													<div class="form-group el-order-form-group">
														<div class="input-group">
															<div class="input-group-addon" @click="minusItem(item)">-</div>
															<input type="text" class="form-control input-sm" v-model="item.count" autocomplete="off">
															<div class="input-group-addon" @click="plusItem(item)">+</div>
														</div>
													</div>
												</div>
												<div class="col-xs-5 order-btn-wrapper">
													<p class="basket-counter" style="display: none;">в корзине <span class="basket-counter-qty">0</span> шт.<i class="icon-basket"></i></p>
													<button type="submit" class="btn btn-sm btn-success btn-order">В корзину</button>
												</div>
											</form>
										</div>
									</div>
								</transition>
							</li>
						</transition-group>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import eventHub from './eventHub.js'
	export default {
		name: 'category-page',
		props: ['tplData', 'fav'],
		data() {
			return {
				apiBusy: false,
				data: this.tplData,
				adminProduct: null,
				mods: {
					vegetarian: false,
					hot: false,
					veryHot: false,
					new: false,
					hit: false
				},
				search: this.$parent.search,
				showFav: false
			}
		},
		mounted() {
			eventHub.$on('searchIt', (val)=>{
				this.search = val;
			});	
			if (window.location.hash == '#love') {
				this.showFav = true;
				window.location.hash = '';
			}
		},
		created() {
			// this.setCounts();
			// this.items = this.uniq(this.data.main.items);
		},
		watch: {
			adminProduct: {
				deep: true,
				handler(val) {
					for (let key in this.mods) {
						this.mods[key] = false;
					}
					if (val) {
						for (let key in val.mods) {
							if (this.mods[key] !== undefined) {
								this.mods[key] = val.mods[key];
							}
						}
					}
				}
			}
		},
		computed: {
			minOrderAmount() {
				return this.$store && this.$store.getters && this.$store.getters.minOrderAmount
			},
			isAdmin() {
				return (this.tplData && this.tplData.isAdmin) ? true : false;
			},
			weekPromo() {
				return (this.tplData && 
						this.tplData.promo && 
						this.tplData.promo.weekly) ? this.tplData.promo.weekly : null;
			},
			items() {
				let out = [];
				if (this.search) {
					let all = this.data.list.products;
					let search = this.search.toLowerCase();
					for (let i=0;i<all.length; i++) {
						let oneName = all[i].name.toLowerCase();
						let descr = (all[i].seoDescription || '').toLowerCase();
						// console.log(oneName, search)
						if ((oneName.indexOf(search) !== -1) || (descr.indexOf(search) !== -1)) {
							out.push(all[i]);
						}
					}
				} else if (this.showFav) {
					for (let key in this.fav) {
						out.push(this.fav[key]);
					}
				} else {
					return this.data.main.items || []
					// out = (this.data && 
					// 	this.data.main && 
					// 	this.data.main.items) ? this.data.main.items : [];

					// let i=0;
					// while(i < out.length) {
					// 	out[i].name = out[i].name.replace(/(\(Д\))|(\()|(\))|(ГР\.)|(гр\.)|(пицца)|([0-9])|\//ig, '');
					// 	let one = out[i];
					// 	if (one.mods && one.mods.new) {
					// 		out.splice(i, 1);
					// 		out.unshift(one);
					// 	}
					// 	i++;
					// }
					// i=0;
					// while(i < out.length) {
					// 	let one = out[i];
					// 	if (one.oldPrice) {
					// 		let founded = one;
					// 		out.splice(i, 1);
					// 		out.unshift(one);
					// 		break;
					// 	}
					// 	i++;
					// }

				}
				return out;
			}
		},
		methods: {
			setInFav(item) {
				eventHub.$emit('setInFav', item);
			},
			showPromo() {
				let item = null;
				if (!(this.weekPromo && this.weekPromo.props && this.weekPromo.props.productUrl)) return;
				let urlId = this.weekPromo.props.productUrl.split('/');
				urlId = urlId[urlId.length-1];
				let i = 0;
				while (i < this.tplData.list.products.length) {
					let one = this.tplData.list.products[i];
					if (one.url == urlId) {
						item = one;
						break;
					}
					i++;
				}
				if (item) {
					eventHub.$emit('productModal', item);
				}
			},
			showProduct(obj) {
				eventHub.$emit('productModal', obj);
			},
			saveMods() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				var btn = $('#saveMods');
				btn.button('loading');
				let out = {
					id: this.adminProduct.id,
					mods: this.mods
				};
				$.ajax({
					url: '/admin/edit_modifiers',
					type: 'PUT',
					contentType: 'application/json',
					data: JSON.stringify(out)
				})
				.done((resp)=>{
					console.log(out, resp)
					if (resp.success && resp.mods) {
						this.$set(this.adminProduct, 'mods', JSON.parse(JSON.stringify(out.mods)));
						this.adminProduct = null;
					}
					btn.button('reset');
					this.apiBusy = false;
				});
			},
			minusItem(item) {
				if (item.count > 1) {
					item.count-= 1;
				} else {
					item.count = 1
				}
			},
			plusItem(item) {
				let count = (this.data && 
							this.data.stopList && 
							(this.data.stopList[item.id] !== undefined)) ? (this.data.stopList[item.id] || 1) : 10;
				let inStop = (this.data && 
							this.data.stopList && 
							(this.data.stopList[item.id] !== undefined)) ? true : false;
				if (item.count >= count) {
					item.count = count;
					if (inStop) {
						this.$notify({
							group: 'foo',
							title: 'Извините:',
							text: 'Количество товара ограничено :(',
							type: 'warn',
							duration: 5000,
							position: 'bottom right'
						});
					}
				} else {
					item.count+= 1;
				}
			},
			addToCart(item) {
				let count = (this.data && 
							this.data.stopList && 
							(this.data.stopList[item.id] !== undefined)) ? this.data.stopList[item.id] : 1;
				if (count > 0) {
					eventHub.$emit('addToCart', item);
				} else {
					this.$notify({
						group: 'foo',
						title: 'Извините:',
						text: 'Этот товар находится на стоп-листе :(',
						type: 'warn',
						duration: 5000,
						position: 'bottom right'
					});
				}
			},
			changeCategory(cat) {
				this.showFav = false;
				NProgress.start();
				var body = $("html, body");
				body.stop().animate({scrollTop:115}, 100, 'swing').promise().done(()=>{
					let newMain = JSON.parse(JSON.stringify(cat));
					newMain.items = [];
					for (let i=0; i < this.data.list.products.length;i++) {
						let one = this.data.list.products[i];
						if (one.parentGroup == newMain.id) {
							newMain.items.push(JSON.parse(JSON.stringify(one)));
						}
					}
					this.data.main = newMain;
					try {
						history.pushState({ key: Date.now().toFixed(3), url: '/category/'+newMain.url }, '', '/category/'+newMain.url);
						NProgress.done();
					} catch(e) {}
				});
			}
		},
		components: {
		},
		filters: {
			name(val) {
				return val.replace(/(\(Д\))|(\()|(\))|(ГР\.)|(гр\.)|(пицца)|([0-9])|\//ig, '');
			},
			weight(val) {
				return Number((val*1000).toFixed(0));
			}
		}
	}

</script>