<template>
	<div class="main-content">
		<div class="container w_100xs">
			<div class="row">
				<div class="col-xs-3  hidden-sm hidden-xs">
					<div style="margin-bottom: 10px; postition: relative" v-if="weekPromo" >
						<a :href="weekPromo.props.productUrl" @click.stop.prevent="showPromo">
                  			<img class="shadow" :src="weekPromo.props.image.leftBaner" style="width:100%;">
                  		</a>
						<button v-if="isAdmin" data-toggle="modal" data-target="#changeMainDish" class=" icon-btn" ><i class="glyphicon glyphicon-cog"></i></button>
					</div>
					<aside class="left-submenu-wrapper">
						<h2 class="title-left-aside">Меню</h2>
						<div class="left-submenu">
							<div class="left-submenu">
								<ul>
									<li><a href="/category/4#love">Избранное</a></li>
									<!-- <li v-for="cat in data.list.groups" :class="{'active': cat.id == data.main.id, 'cat18': cat.additionalInfo == 'new'}"><a @click.stop.prevent="changeCategory(cat)" :href="'/category/'+cat.url">{{cat.name}}<div v-if="cat.additionalInfo == 'new'" class="new" style="position: absolute;top: -10px;right: 0px;"><img src="/img/new.png"></div></a></li> -->
									<li v-for="cat in data.list.groups" :class="{'active': cat.id == data.main.id}"><a :href="'/category/'+cat.url">{{cat.name}}</a></li>
								</ul>
							</div>
						</div>
					</aside>
					<div class="row main-info-leftside">
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 watchX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ДОСТАВЛЯЕМ БЫСТРО</h5>
									<p class="text-info-block">Наша служба доставки работает с 10:00 до 23.00 без перерыва и выходных дней. Мы отправляем заказы сразу после их
										приготовления и упаковки. Среднее время доставки — 50 минут.
									</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 purseX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ДОСТАВЛЯЕМ БЕСПЛАТНО</h5>
									<p class="text-info-block">Вы оплачиваете только свой заказ, который мы привезем совершенно бесплатно.
										<br> Минимальная сумма заказа — {{ minOrderAmount }} рублей.
									</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 cardsX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">Любая форма расчета</h5>
									<p class="text-info-block">Мы принимаем оплату онлайн, наличные и карты курьеру.</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 mapX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">Карта доставки</h5>
									<p class="text-info-block">Доставка осуществляется в Ейске и городах спутниках</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 foodX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ЕДА С СОБОЙ</h5>
									<p class="text-info-block">Вы можете забрать заказ сами. Выбирайте блюда из меню, удобное время и удобный пункт выдачи. Мы приготовим и упакуем
										ваш заказ к назначенному времени.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					
					<div class="main-content-wrapper">
						<simple-editor v-if="isAdmin" :tplData="tplData" :text="'Редактировать'" :obj="main"></simple-editor>
						<ol class="breadcrumb">
							<li><a href="/">Главная</a></li>
							<li class="active"><a :href="main.cache.parent.url">{{main.cache.parent.name}}</a></li>
						</ol>
						<h3 class="page-title">{{main.name}}
							<!--<time class="time-add-news">25.09.2017</time>-->
						</h3>
						<div class="content-block">
							
							<div class="content-text-block" v-html="main.description">
							</div>
							<div class="thumbnail news" v-for="image in main.image">
								<img :src="image" alt="" class="img-responsive">
							</div>
							<div class="col-md-12" v-if="main.parentId == 'd1c150000000000000000002'">
								<h2>Откликнуться на вакансию</h2>
								<form role="form" @submit.stop.prevent="feedback">
									<div class="form-group">
										<label for="exampleInputPassword1">ФИО</label>
										<input name="fio" class="form-control" v-model="feed.fio" placeholder="Введите ФИО" autocomplete="off">
									</div>
									<!--<div class="form-group">
										<label for="exampleInputEmail1">Должность</label>
										<input name="dolzhnost" class="form-control" placeholder="Введите должность на которую хотите устроиться" autocomplete="off">
									</div>-->
									<div class="form-group">
										<label for="exampleInputPassword1">Номер телефона</label>
										<input name="tel" v-model="feed.phone" class="form-control" placeholder="Ведите Ваш номер телефона" autocomplete="off">
									</div>
									<label>Расскажите о себе</label>
									<textarea name="about" v-model="feed.description" class="form-control" rows="6" placeholder="Опишите себя, Ваше оброзование и прошлые места работы"></textarea>
									<br>
									<button type="submit" class="btn btn-default pull-right">Отправить</button>
								</form>
							</div>
							<div v-else>
								<div class="share-block">
									<p class="help-block">Понравилось? Расскажите друзьям:</p>
									<div class="ya-share2" data-services="vkontakte,odnoklassniki,telegram,viber,whatsapp,twitter,facebook,gplus" data-counter></div>
								</div>
								<!--<div class="comments-block">
									<h5 class="comments-list-label">комментарии</h5>
									<div id="vk_comments" style="width: 100%; height: 190px; background: none;"></div>
								</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import eventHub from './eventHub.js'

	export default {
		name: 'item-page',
		props: ['tplData'],
		data() {
			return {
				mout: false,
				data: this.tplData,
				apiBusy: false,
				feed: {
					fio: '',
					phone: '',
					description: ''
				}
			}
		},
		created() {
			eventHub.$on('simpleDataChange', this.updData);
		},
		methods: {
			showPromo() {
				let item = null;
				if (!(this.weekPromo && this.weekPromo.props && this.weekPromo.props.productUrl)) return;
				let urlId = this.weekPromo.props.productUrl.split('/');
				urlId = urlId[urlId.length-1];
				let i = 0;
				while (i < this.tplData.list.products.length) {
					let one = this.tplData.list.products[i];
					if (one.url == urlId) {
						item = one;
						break;
					}
					i++;
				}
				if (item) {
					eventHub.$emit('productModal', item);
				}
			},
			feedback() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				let out = JSON.parse(JSON.stringify(this.feed));
				out.position = this.data.main.name;
				if (!out.fio) {
					this.$notify({
						group: 'foo',
						title: 'Ошибка:',
						text: 'Укажите ФИО!',
						type: 'error',
						duration: 5000,
						position: 'bottom right'
					});
					this.apiBusy = false;
					return;
				}
				if (!out.phone) {
					this.$notify({
						group: 'foo',
						title: 'Ошибка:',
						text: 'Укажите Телефон!',
						type: 'error',
						duration: 5000,
						position: 'bottom right'
					});
					this.apiBusy = false;
					return;
				}
				if (!out.description) {
					this.$notify({
						group: 'foo',
						title: 'Ошибка:',
						text: 'Укажите о себе!',
						type: 'error',
						duration: 5000,
						position: 'bottom right'
					});
					this.apiBusy = false;
					return;
				}
				$.post('/feedback', out)
				.done((resp)=>{
					if (!resp.error) {
						this.$notify({
							group: 'foo',
							title: 'Отлично:',
							text: 'Заявка отправлена, ожидайте. С вами свяжутся.',
							type: 'success',
							duration: 7000,
							position: 'bottom right'
						});
						this.feed.fio = '';
						this.feed.phone = '';
						this.feed.description = '';
						this.apiBusy = false;
					} else {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: resp.error,
							type: 'error',
							duration: 7000,
							position: 'bottom right'
						});
						this.apiBusy = false;
					}
				});
			},
			openLink(link) {
				eventHub.$emit('openLink', link);
			},
			updData(data) {
				this.data = JSON.parse(JSON.stringify(data));
			}
		},
		computed: {
			minOrderAmount() {
				return this.$store && this.$store.getters && this.$store.getters.minOrderAmount
			},
			main() {
				return (this.tplData && 
						this.tplData.main) ? this.tplData.main : null
			},
			weekPromo() {
				return (this.tplData && 
						this.tplData.promo && 
						this.tplData.promo.weekly) ? this.tplData.promo.weekly : null;
			},
			isAdmin() {
				return (this.tplData && this.tplData.isAdmin) ? true : false;
			},
			items() {
				return (this.tplData &&
						this.tplData.list && 
						this.tplData.list.items) ? this.tplData.list.items : [];
			}
		},
		mounted() {
			this.mount = true;
		},
		components: {
			'simple-editor': () => import('./SimpleEditor.vue')
		},
		filters: {
			name(val) {
				return val.replace(/\(Д\)/ig, '').replace(/ГР\.$/ig, '').replace(/[0-9]/ig,'');
			},
			weight(val) {
				return Number((val*1000).toFixed(0));
			},
			textCut(val) {
				return ((val.replace(/<\/?[^>]+(>|$)/g, "")).substring(0, 250))+'...';
			},
			date(val) {
				let time = new Date(val);
				return ('0'+time.getDate()).substr(-2)+'.'+('0'+(time.getMonth()+1)).substr(-2)+'.'+time.getFullYear();
			}
		}
	}
</script>