<template>
	<div id="app">
		<div class="main-wrapper-container index-page">
			<header class="header">
				<div class="container">
					<div class="row header-top">
						<div class="col-xs-3">
								<div class="logo">
									<a href="/">
									<img src="/img/lognew.png"  width="237" alt="">Суши и пицца
									</a>
								</div>
							</div>
						<div class="col-md-4">
							<form class="navbar-form navbar-left" style="width: 100%;" @submit.stop.prevent="sarchIt()">
								<div class="form-group" style="width: 100%;">
								  <input v-model="search" type="text" class="form-control" placeholder="Поиск" style="width: 100%;">
								</div>
								<button type="submit" class="btn btn-default"><i class="glyphicon" :class="{'glyphicon-search': !reset, 'glyphicon-remove': reset}"></i></button>
							</form>
						</div>
						<div class="col-xs-2" style="width: 21.6%;">
							<div class="row">
								<div class="col-xs-12  delivery__header" style="    padding-left: 25px; /** padding-top: 5px; */">
									<!--  <p style="color:white;    font-size: 15px;">Доставка 31.12 c 11:00 до 18:00
												<br>01.01 c 14:00 до 23.00</p>   -->
									<p style="color:white; font-size: 14.4px;">Доставка от 500 руб. бесплатно
										<br>Ежедневно c 10:00 до 23.00</p>
								</div>
								
								
								
							</div>
						</div>
						<div class="col-xs-2 phones__header">
							<p style="color:white"><span class="code" style="color:#1bdf7a">+7 861</span> 32-999-99</p>
							<p style="color:white"><span class="code" style="color:#1bdf7a">+7 988</span> 522-44-99</p>
						</div>
						
						
					</div>
					<div class="navbar top-panel clearfix" role="navigation">
						<div class="main-nav main-nav__header">
							<nav>
								<ul class="menu-navbar-susi">
									<!-- <li :class="{'active': !data.main._id && !data.main.id}"><a href="/">Главная</a> -->
									<li :class="{'active': !data.main._id && data.main.id}"><a @click.prevent.stop="openLink('/category/4')" href="/category/4">Меню</a>
									</li>
									<li 
										v-for="(link, i) in data.list.pages" 
										:key="'link-'+i"
										:class="{'active': data.main._id == link._id}"><a @click.prevent.stop="openLink(link.url)"  :href="link.url">{{link.name}}</a>
									</li>
									<li v-if="data.isAdmin"><a style="cursor:pointer;" href="/admin">Админ панель</a></li>
									<div v-if="data.user" class="login-block">
											<a href="/account" class="regitstration-link-name">
												{{data.user.name|userName}}</a>
											<p class="regitstration-link-wrapper">
												<a href="/auth/logout" class="regitstration-link" id="sign-out">
														Выход</a>
											</p>
										</div>
										<div v-if="!data.user" class=" login-block">
											<a href="#"  data-toggle="modal" data-target=".sign-in-modal">Войти</a>
											<p class="regitstration-link-wrapper">
												<a href="#" class="regitstration-link" data-toggle="modal" data-target=".registration-modal">Регистрация</a>
											</p>
										</div>
								</ul>
								
							</nav>
						</div>
					</div>
				</div>
			</header>
			<admin-page v-if="adminPageVisibility"></admin-page>
			<transition v-else name="component-fade" mode="out-in">
				<component :is="componentName" :tplData="data" :fav="favourite"></component>
			</transition>
			<cart v-if="mount"></cart>
			<div class="main-footer-wrappe">
				<div class="container">
					<footer class="main-footer clearfix">
						<div class="main-nav main-nav__footer">
							<nav>
								<ul>
									<!-- <li><a @click.prevent.stop="openLink('/')" href="/">Главная</a> -->
									<li><a @click.prevent.stop="openLink('/category/4')" href="/category/4">Меню</a>
									</li>
									<li 
										v-for="(link, i) in data.list.pages"
										:key="'link2-'+i"><a @click.prevent.stop="openLink(link.url)" :href="link.url">{{link.name}}</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="row footer-bottom-block">
							<div class="col-xs-3 copyright-block">
								<p>© 2014 - 2020 Ресторан «Суши&Пицца»
									<br> Доставка суши и пиццы на дом
									<br> в Ейске и Ейском районе</p>
							</div>
							<div class="col-xs-4">
								<p class="phones__footer">+7 86132 999-99, +7 988 522-44-99</p>
								<p class="delivery delivery__footer">Доставка от 500 руб. бесплатно</p>
							</div>
							<div class="col-xs-5 soc-block">
								<div class="row">
									<div class="col-xs-5">
										<div class="label-soc-links" id="ssilka"><a href="#"  data-toggle="modal" data-target=".chief-message-modal">Оставить отзыв</a></div>
										<div class="label-soc-links"><p>Мы всегда на связи с нашими любимым клиентами</p></div>
									</div>
									<div class="col-xs-7">
										<ul class="soc-icons-list">
											<li class="fb">
												<a href="https://www.facebook.com/groups/1712858048974785/"><i class="icon-sp-fb-i"></i></a>
											</li>
											<li class="vk">
												<a href="https://vk.com/sushipizza_yeysk"><i class="icon-sp-vk-i"></i></a>
											</li>
										
											<li class="inst" style="opacity: 0;">
												<a href="https://instagram.com/sushipizza_yeysk?igshid=1u84jz28kfb55"><i class="icon-sp-inst-i"></i></a>
											</li>
											<li class="cl" style="opacity: 0;">
												<a href="http://ok.ru/group/57559565926448"><i class="icon-sp-okl-i2"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</div>
		<auth-block v-if="mount"></auth-block>
		<modals v-if="mount" :tplData="tplData" :fav="favourite"></modals>
		<notifications v-if="mount" group="foo" :width="400"/>
		<div v-if="mount" id="product-modal" class="ekko-lightbox modal fade">
			<div class="modal-dialog" v-if="productModal">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">{{productModal.name}}</h4>
					</div>
					<div class="modal-body">
						<div class="ekko-lightbox-container" align="center">
							<div v-if="productModal.images && productModal.images[0] && productModal.images[0].imageUrl">
								<div
									:style="'background-image: url('+ (productModal.images[0].imageUrl ? productModal.images[0].imageUrl : '/img/nofoto.jpg') + '); background-size: contain; width: 540px; height: 540px;'">
								</div>
								<!-- <img :src="productModal.images[0].imageUrl" class="img-responsive"> -->
							</div>
							<p>{{productModal.seoDescription}}</p>
							<!-- <p >{{productModal.price}} руб / {{productModal.weight*1000}} гр</p> -->
							<div class="zbu">
								<table class="table table-striped" v-if="false">
									<tbody>
										<tr>
											<th></th>
											<th class="numbered">Белки</th>
											<th class="numbered">Жиры</th>
											<th class="numbered">Углеводы</th>
											<th class="numbered">кКал</th>
										</tr>
										<tr>
											<td > В 100 г </td>
											<td class="numbered">{{ productModal.fiberAmount.toFixed(1) }}</td>
											<td class="numbered">{{ productModal.fatAmount.toFixed(1) }}</td>
											<td class="numbered">{{ productModal.carbohydrateAmount.toFixed(1) }}</td>
											<td class="numbered">{{ productModal.energyAmount.toFixed(1) }}</td>
										</tr>
										<tr>
											<td >Порция</td>
											<td class="numbered">{{ productModal.fiberFullAmount.toFixed(1) }}</td>
											<td class="numbered">{{ productModal.fatFullAmount.toFixed(1) }}</td>
											<td class="numbered">{{ productModal.carbohydrateFullAmount.toFixed(1) }}</td>
											<td class="numbered">{{ productModal.energyFullAmount.toFixed(1) }}</td>
										</tr>
									</tbody>
								</table>
								<div class="zbu-row">
									<span class="zbu-row__prop">Вес</span>
									<span class="zbu-row__value">{{productModal.weight*1000}} гр.</span>
								</div>
								<div class="zbu-row">
									<span class="zbu-row__prop">Цена</span>
									<span class="zbu-row__value">{{productModal.price}} руб.</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success btn-block " style="width:49%;display:inline-block;"  @click="addToCart()">Добавить в корзину</button>
						<button 
							class="btn" style="width:49%;display:inline-block; margin-top: 1px;"
							:class="{'btn-default': !favourite[productModal.id], 'btn-danger': favourite[productModal.id]}"
							@click.stop.prevent="setInFav(productModal)">
							<i class="mdi mdi-star"></i> {{(favourite[productModal.id]) ? 'Убрать из избранного' : 'Добавить в избранное'}}
						</button>
					</div> 
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import MainPage from './MainPage.vue'
	import CategoryPage from './CategoryPage.vue'
	import eventHub from './eventHub.js'
	import Cart from './Cart.vue'
	import OrderPage from './OrderPage.vue'
	import SimplePage from './SimplePage.vue'
	import UserPage from './UserPage.vue'
	import ItemPage from './ItemPage.vue'
	import AdminPage from './AdminPage.vue'
	// import AuthBlock from './AuthBlock.vue'

	export default {
		name: 'layout',
		props: ['tplData'],
		data() {
			return {
				reset: false,
				search: '',
				mount: false,
				data: this.tplData,
				componentName: this.tplData.template.component,
				productModal: null,
				favourite: {}
			}
		},
		computed: {
			adminPageVisibility() {
				return (this.data.isAdmin && this.data.url.query.admin == 'trues')
			}
		},
		mounted() {
			this.mount = true;
			eventHub.$on('compChange', this.changeComp);
			eventHub.$on('openLink', this.openLink);
			eventHub.$on('updateStopList', this.updateStopList);
			eventHub.$on('productModal', (msg)=>{
				this.$set(this, 'productModal', msg);
				$('#product-modal').modal('show');
			});
			this.$nextTick(()=>{
				
				try {
					// $('#app').on('submit', '#login-form', this.login);
					// $('#app').on('submit', '#reg-form', this.register);
				} catch (e) {}
			});
			setTimeout(()=>this.checkPay(), 1500)
			this.initFav();
			eventHub.$on('setInFav', this.setInFav);
			// this.updateStopList()
		},
		methods: {
			updateStopList(data=null) {
				if (data) {
					this.$set(this.data, 'stopList', data)
					return
				}
				
				$.get('/stop-list')
				.done((resp)=>{
					// resp['4d6fa0df-0bc7-4c1f-addc-976d52d70b95'] = 1
					// console.log(resp)
					this.$set(this.data, 'stopList', resp)
					
					setTimeout(()=>{
						this.updateStopList()
					}, 5000)
				})
				.fail(()=>{
					setTimeout(()=>{
						this.updateStopList()
					}, 5000)
				})
			},
			setInFav(item) {
				if (this.favourite[item.id]) {
					this.$delete(this.favourite, item.id);
					this.$notify({
						group: 'foo',
						title: 'Избранное:',
						text: 'Товар удален!',
						type: 'success',
						duration: 3000,
						position: 'top right'
					});
					// toastr.success('Товар удален из любимого!')
				} else {
					this.$set(this.favourite, item.id, item);
					this.$notify({
						group: 'foo',
						title: 'Избранное:',
						text: 'Товар добавлен!',
						type: 'success',
						duration: 3000,
						position: 'top right'
					});
					// toastr.success('Товар добавлен в любимое!')
				}
				this.$nextTick(()=>{
					localStorage.setItem('favourite', JSON.stringify(this.favourite));
				});
			},
			initFav() {
				let storageData = localStorage.getItem('favourite');
				try {
					storageData = JSON.parse(storageData);
				} catch (e) {
					console.log(e)
					storageData = null;
				}
				if (storageData == null) {
					this.$set(this, 'favourite', {});
				} else {
					this.$set(this, 'favourite', storageData);
				}
			},
			sarchIt() {
				if (this.componentName !== 'category-page') {
					this.openLink('/category/4')
					.then(()=>{
						this.$nextTick(()=>{
							if (this.reset) {
								this.search = '';
							}
							this.reset = !this.reset;
							eventHub.$emit('searchIt', this.search);
						})
					})
					// this.$set(this, 'componentName', 'category-page');
					
				} else {
					if (this.reset) {
						this.search = '';
					}
					this.reset = !this.reset;
					eventHub.$emit('searchIt', this.search);
				}
			},
			addToCart() {
				if (!this.productModal) return;
				let count = (this.data && 
							this.data.stopList && 
							(this.data.stopList[this.productModal.id] !== undefined)) ? this.data.stopList[this.productModal.id] : 1;
				if (count > 0) {
					eventHub.$emit('addToCart', this.productModal);
					$('#product-modal').modal('hide');
				} else {
					this.$notify({
						group: 'foo',
						title: 'Извините:',
						text: 'Этот товар находится на стоп-листе :(',
						type: 'warn',
						duration: 5000,
						position: 'bottom right'
					});
				}
			},
			checkPay() {
				let status = (this.tplData && this.tplData.url && this.tplData.url.query && this.tplData.url.query.payment) ? this.tplData.url.query.payment : '';
				
				if (status == 'success') {
					$('#payment-suc').modal('show');
					eventHub.$emit('clearCart');
				} else if (status == 'cash') {
					$('#payment-cash').modal('show');
					eventHub.$emit('clearCart');
				}
			},
			register(e) {
				e.preventDefault();
				let form = $('#reg-form');
				let user = {
					name: form.find('[name="name"]').val(),
					phone: form.find('[name="phone"]').val(),
					email: form.find('[name="email"]').val(),
					birthDate: form.find('[name="birthDate"]').val(),
					address: form.find('[name="address"]').val(),
					password: form.find('[name="password"]').val(),
					password1: form.find('[name="password1"]').val()
				};
				if (!(user.name && user.phone && user.email && user.birthDate && user.address && user.password && user.password1)) {
					return false;
				}
				$.post('/auth/registration', user)
					.done((data) => {
						console.log(data)
						if (data.success) {
							window.location.href = '/account';
						} else {
							// toDo toaster
						}
					});
			},
			login(e) {
				e.preventDefault();
				let login = document.getElementById('login-value').value;
				let password = document.getElementById('password-value').value;
				$.post('/auth/login', {login: login, password: password})
					.done((data) => {
						console.log(data)
						if (data.success) {
							window.location.reload();
						} else {
							document.getElementById('login-error').innerHTML = 'Неверно введен логин или пароль :('
						} 
					});
			},
			openLink(url) {
				return new Promise((resolve, reject)=>{
					try {
						NProgress.start();
						$.get(url+'?json')
							.done((data)=>{
								this.data = data;
								this.componentName = data.template.component;
								try {
									history.pushState({ key: Date.now().toFixed(3), url: url }, '', url);
									NProgress.done();
								} catch(e) {}
								if (this.componentName == 'simple-page') {
									eventHub.$emit('simpleDataChange', data);
								}
								try {
									var body = $("html, body");
									let st = (this.data.user) ? 115 : 132;
									body.stop().animate({scrollTop:st}, 500, 'swing');
								} catch (e) {}
								this.$nextTick(()=>{
									resolve();
								})
						});
					} catch (e) {}	
				});
			},
			changeComp(name) {
				this.componentName = name;
			},
			sortBy(arr, val) {
				return arr.sort(function(a,b){
					var one = (val) ? a[val] : a;
					var two = (val) ? b[val] : b;
					if (one > two) {
						return 1;
					}
					if (one < two) {
						return -1;
					}
					return 0;
				});
			}
		},
		components: {
			MainPage,
			CategoryPage,
			Cart,
			OrderPage,
			SimplePage,
			UserPage,
			ItemPage,
			AdminPage,
			'auth-block': () => import('./AuthBlock.vue'),
			'modals': () => import('./Modals.vue')
		},
		filters: {
			userName(val) {
				if (val.length > 18) {
					return val.substring(0, 18)+'...';
				}
				return val;
			}
		}
	}
</script>

<style lang="scss">
	.zbu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: inherit;
		.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
			border-top: 1px solid #ddd;
		}
		.table tr th, 
		.table tr td {
			color: #000;
		}
		.numbered {
			text-align: right;
		}
		&-row {
			width: 100%;
			margin-bottom: 10px;

			&:after {
				content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
				display: block;
				white-space: nowrap;
				overflow: hidden;
			}
			&__prop {
				float: left;
			}

			&__value {
				float: right;
				font-weight: bold;
			}
			span  {
				margin-bottom: -.31em;
			}
		}
	}
	.menu-navbar-susi {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		li {
			margin-left: 0 !important;
		}
		.login-block {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			p {
				margin: 0 !important;
			}
		}
	}

	.component-fade-enter-active, .component-fade-leave-active {
		transition: opacity .3s ease;
	}
	.component-fade-enter, .component-fade-leave-to
		/* .component-fade-leave-active for <2.1.8 */ {
		opacity: 0;
	}
	
	.notification {
		&.vue-notification {
			border-radius: 15px;
			padding: 20px;
    		margin: 10px;
			border-left: none;
			&.info {
				background: rgba($color: #44a4fc, $alpha: 0.8);
				box-shadow: 0 0 10px rgba(#187fe7,1);
			}
			&.error {
				background: rgba(red, .8);
				box-shadow: 0 0 10px rgba(red,1);
			}
		}
		&-title {
			font-size: 18px !important;
		}
		&-content {
			font-size: 14px !important;
		}
	}
</style>
