<template>
	<div>
		<div class="main-content">
			<div class="row" style="    margin-top: -12px;    margin-bottom: -12px; position: relative" v-if="mount">
				<button v-if="isAdmin" data-toggle="modal" data-target="#banners-modal" class="icon-btn" style="z-index:99999"><i class="glyphicon glyphicon-cog"></i></button>
				<div class="hidden-xs hidden-sm" id="pcslider" style="margin-bottom: 10px;">
					<template  v-if="banners">
						<template  v-for="(one , idx) in banners">
							<a v-if="idx == weekPromo.props.bannerPosition-1" @click.stop.prevent="showPromo" :href="(weekPromo && weekPromo.props && weekPromo.props.productUrl) ? weekPromo.props.productUrl : '#'">
								<img :src="weekPromo.props.image.topSlideBaner" width="100%">
							</a>
							<a  :href="(one.url || '#')" v-if="one.imageDesctop">
								<img :src="one.imageDesctop" width="100%">
							</a>
						</template>
					</template>
					<template  v-else>
						<a v-if="weekPromo" @click.stop.prevent="showPromo" :href="(weekPromo && weekPromo.props && weekPromo.props.productUrl) ? weekPromo.props.productUrl : '#'">
							<img :src="weekPromo.props.image.topSlideBaner" width="100%">
						</a>
					</template>
				</div>
            </div>
			<div class="container">
				<div class="preview mt-20">
					<div class="row">
						<div v-for="cat in groups" v-if="cat.seoTitle" class="col-md-3  col-xs-6 col-sm-6 no-p">
							<a @click.prevent.stop="goToCategory(cat)" :href="'/category/'+cat.url" class="one-dish item-3">
								<div class="dish-content ">
									<figure class="thumbnail">
										<img :src="cat.images[0].imageUrl" alt="">
									</figure>
									<div class="dish-text">
										<p>{{cat.seoText}}</p>
									</div>
									<div class="dish-text-op">
										<p>{{cat.seoText}}</p>
									</div>
								</div>
								<footer class="dish-footer">
									<p class="dish-title">{{cat.seoTitle}}</p>
									<p class="dish-cost" style="    text-transform: uppercase;" v-if="cat.description">{{cat.description}} <i class="icon-rouble"></i></p>
								</footer>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="container main-block-nav  hidden-xs hidden-sm">
				<div class="row">
					<div class="col-xs-9">
						<div class="row main-info" style="    margin-top: 0px;">
							<div class="col-xs-6">
								<a href="pages/delivery" class="one-info-block">
									<div class="info-icon">
										<span class="sprite watch-i"></span>
									</div>
									<div class="description-info-block">
										<h5 class="title-info-block">ДОСТАВЛЯЕМ БЫСТРО</h5>
										<p class="text-info-block">Наша служба доставки работает с 10:00 до 23.00 без перерыва и выходных дней. Мы отправляем заказы сразу после их
											приготовления и упаковки. Среднее время доставки — 50 минут.
										</p>
									</div>
								</a>
							</div>

							<div class="col-xs-6">
								<a href="pages/delivery" class="one-info-block">
									<div class="info-icon">
										<span class="sprite purse-i"></span>
									</div>
									<div class="description-info-block">
										<h5 class="title-info-block">ДОСТАВЛЯЕМ БЕСПЛАТНО</h5>
										<p class="text-info-block">Вы оплачиваете только свой заказ, который мы привезем совершенно бесплатно.
											<br> Минимальная сумма заказа — {{ minOrderAmount }} рублей (стоимость доставки 50 рублей). Минимальная сумма заказа для бесплатной доставки – {{ minFreeDeliveryAmount }} рублей.
										</p>
									</div>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="pages/delivery" class="one-info-block">
									<div class="info-icon">
										<span class="sprite cards-i"></span>
									</div>
									<div class="description-info-block">
										<h5 class="title-info-block">Любая форма расчета</h5>
										<p class="text-info-block">Мы принимаем оплату онлайн, наличные и карту курьеру.</p>
									</div>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="pages/delivery" class="one-info-block">
									<div class="info-icon">
										<span class="sprite map-i"></span>
									</div>
									<div class="description-info-block">
										<h5 class="title-info-block">Карта доставки</h5>
										<p class="text-info-block">Доставка осуществляется в Ейске и городах спутниках</p>
									</div>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="pages/delivery" class="one-info-block">
									<div class="info-icon">
										<span class="sprite food-i"></span>
									</div>
									<div class="description-info-block">
										<h5 class="title-info-block">ЕДА С СОБОЙ</h5>
										<p class="text-info-block">Вы можете забрать заказ сами. Выбирайте блюда из меню, удобное время и удобный пункт выдачи. Мы приготовим и упакуем
											ваш заказ к назначенному времени.</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="chief-block hidden-xs hidden-sm">
			<div class="container">
				<div class="row">
					<div class="col-xs-4 chief-block-left">
						<h3 class="title-chief-block-left">Здраствуйте, <br> меня зовут Сергей</h3>
						<div class="text-chief-block-left">
							<p>Я шеф-повар сети ресторанов
								<br> «Суши&amp;Пицца».
							</p>
						</div>
						<!--<a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#chief-modal">Обратиться к шефу </a>-->
					</div>
					<div class="col-xs-6 col-xs-offset-2 chief-block-right">
						<div class="main-text-chief-block-right">
							<p>Мы всегда рады слышать слова благодарности от наших гостей и знать, что усилия нашей команды оценены по достоинству.
								В то же время мы любим здоровую критику, которая позволяет нам своевременно исправлять недостатки и сохранять качество
								услуг на неизменно высоком уровне.</p>
							<!-- <p>Если у вас есть замечания к сервису, качеству блюд или пожелания по работе заведений сети «Суши&amp;Пицца», вы можете
								оставить их здесь. Каждое из сообщений я возьму под персональный контроль.</p> -->
						</div>
						<div class="bottom-text-chief-block-right">
							<p>Желаю вам приятного аппетита!</p>
							<p class="chief">Сергей.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import eventHub from './eventHub.js'
export default {
	name: 'main-page',
	props: ['tplData'],
	data() {
		return {
			data: this.tplData,
			mount: false
		}
	},
	mounted() {
		this.mount= true;
		this.$nextTick(()=>{
			try {
				$('#pcslider').lightSlider({
					gallery:false,
					item:1,
					loop:true,
					auto:true,
					enableDrag: false,
					pager:true,
					slideMargin:0,
					pause:8000,
					onSliderLoad: function (el) {
						$('#pcslider').css('height', 'auto');
						$('#pcslider').slideDown('fast');
					}
				});
			} catch (e) {}
		})
	},
	computed: {
		minOrderAmount() {
			return this.$store && this.$store.getters && this.$store.getters.minOrderAmount
		},
		minFreeDeliveryAmount() {
			return this.$store && this.$store.getters && this.$store.getters.minFreeDeliveryAmount
		},
		isAdmin() {
			return (this.tplData && this.tplData.isAdmin) ? true : false;
		},
		weekPromo() {
			return (this.tplData && 
					this.tplData.promo && 
					this.tplData.promo.weekly) ? this.tplData.promo.weekly : null;
		},
		banners() {
			return (this.tplData.promo && 
					this.tplData.promo.slider && 
					this.tplData.promo.slider.props && 
					this.tplData.promo.slider.props.banners) ? this.tplData.promo.slider.props.banners : null;
		},
		groups() {
			return this.data.list.groups.map((group)=>{
				let image = group.images && group.images[0] && group.images[0].imageUrl
				return {
					...group,
					images: [
						{
							imageUrl: (image || '/img/nofoto.jpg') 
						}
					]
				}
			})
		}
	},
	methods: {
		showPromo() {
			let item = null;
			if (!(this.weekPromo && this.weekPromo.props && this.weekPromo.props.productUrl)) return;
			let urlId = this.weekPromo.props.productUrl.split('/');
			urlId = urlId[urlId.length-1];
			let i = 0;
			while (i < this.tplData.list.products.length) {
				let one = this.tplData.list.products[i];
				if (one.url == urlId) {
					item = one;
					break;
				}
				i++;
			}
			if (item) {
				eventHub.$emit('productModal', item);
			}
		},
		goToCategory(cat) {
			NProgress.start();
			let newMain = JSON.parse(JSON.stringify(cat));
			newMain.items = [];
			for (let i=0; i < this.data.list.products.length;i++) {
				let one = this.data.list.products[i];
				if (one.parentGroup == newMain.id) {
					newMain.items.push(JSON.parse(JSON.stringify(one)));
				}
			}
			this.data.main = newMain;
			try {
				history.pushState({ key: Date.now().toFixed(3), url: '/category/'+newMain.url }, '', '/category/'+newMain.url);
			} catch(e) {}
			eventHub.$emit('compChange', 'category-page');
			NProgress.done();
		}
	},
	components: {
	}
}
</script>