<template>
	<div>
		<div class="modal fade" id="changeMainDish" tabindex="-1" role="dialog" aria-labelledby="chiefMessage" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<form @submit.stop.prevent="saveWeekDish()" class="form-horizontal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
							</button>
							<h4 class="modal-title" id="chiefMessageLabel">Блюдо недели</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<label>Выдерите блюдо</label>
									<select class="form-control" v-model="weekMeal.props.productId">
										<option v-for="meal in meals" :value="meal.id">{{meal.name}}</option>
									</select>
								</div>
							</div>
							<!--<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<label>Скидка (%)</label>
									<input type="number" class="form-control" v-model.number="weekMeal.props.discount"/>
								</div>
							</div>-->
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<label>Верхний баннер (слайдер)</label>
									<input type="file" @change="uplTopSlideBaner($event, 'topSlideBaner-prog')"/>
									<div class="progress progress-striped active hidden" id="topSlideBaner-prog">
										<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span>0%</span></div>
									</div>
									<img v-if="weekMeal.props.image.topSlideBaner" :src="weekMeal.props.image.topSlideBaner" class="img-responsive"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<label>Левый баннер (квадратный)</label>
									<input type="file" @change="uplLeftBaner($event, 'leftBaner-prog')" />
									<div class="progress progress-striped active hidden" id="leftBaner-prog">
										<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span>0%</span></div>
									</div>
									<img v-if="weekMeal.props.image.leftBaner" :src="weekMeal.props.image.leftBaner" class="img-responsive"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<label>Мобильный баннер</label>
									<input type="file" @change="uplMobileBaner($event, 'mobileBaner-prog')" />
									<div class="progress progress-striped active hidden" id="mobileBaner-prog">
										<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span>0%</span></div>
									</div>
									<img v-if="weekMeal.props.image.mobileBaner" :src="weekMeal.props.image.mobileBaner" class="img-responsive"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<label>Позиция блюда в баннерах на главной</label>
									<input type="number" class="form-conrol" v-model="weekMeal.props.bannerPosition" />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="text-center">
								<button type="submit" class="btn btn btn-success btn-lg">Сохранить</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="banners-modal" tabindex="-1" role="dialog" aria-labelledby="chiefMessage" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<form @submit.stop.prevent="saveBanners()" class="form-horizontal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
							</button>
							<h4 class="modal-title" id="chiefMessageLabel">Баннера для слайдера</h4>
						</div>
						<div class="modal-body">
							<small>Первый баннер это баннер блюда недели</small>
							<div class="form-group" v-for="(one, index) in banners.props.banners">
								<h3>Баннер {{index+2}}</h3>
								<div class="col-xs-8 col-xs-offset-2">
									<label>Ссылка</label>
									<input v-model="one.url" class="form-control" type="text"/>
									<label>Баннер Десктоп</label>
									<input type="file" @change="uplBanner($event, 'desc-ban-prog', 'imageDesctop', one)"/>
									<div class="progress progress-striped active hidden" id="desc-ban-prog">
										<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span>0%</span></div>
									</div>
									<img v-if="one.imageDesctop" :src="one.imageDesctop" class="img-responsive"/>
									<label>Баннер Мобильный</label>
									<input type="file" @change="uplBanner($event, 'mob-ban-prog', 'imageMobile', one)"/>
									<div class="progress progress-striped active hidden" id="mob-ban-prog">
										<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span>0%</span></div>
									</div>
									<img v-if="one.imageMobile" :src="one.imageMobile" class="img-responsive"/>
								</div>
								<button class="btn btn-danger" @click.stop.prevent="deleteBanner(index)">Удалить баннер</button>
								<button class="btn btn-primary" @click.stop.prevent="upBanner(index)" v-if="index !== 0">Поднять вверх</button>
								<button class="btn btn-primary" @click.stop.prevent="downBanner(index)" v-if="index !== banners.props.banners.length-1">Опустить вниз</button>
							</div>
							<button class="btn btn-primaty" @click.stop.prevent="addBanner()">Добавить еще баннер</button>
						</div>
						<div class="modal-footer">
							<div class="text-center">
								<button type="submit" class="btn btn btn-success btn-lg">Сохранить</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="print-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
						</button>
						<h4 class="modal-title" id="chiefMessageLabel">Заказы безнал</h4>
					</div>
					<div class="modal-body printable" id="printable">
					<h2>Список заказов</h2>
				        
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>№ заказа</th>
								<th>Дата</th>
								<th>Сумма</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>432432</td>
								<td>14.02.2017 14:02</td>
								<td>473286 руб</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td>473286 руб</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<div class="text-center">
							<button type="submit" @click.stop.prevent="printIt" class="btn btn btn-success btn-lg">Печать</button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import eventHub from './eventHub.js'
	export default {
		name: 'modals',
		props: ['tplData','fav'],
		data() {
			let banners = (this.tplData.promo && 
					this.tplData.promo.slider && 
					this.tplData.promo.slider.props && 
					this.tplData.promo.slider.props.banners) ? this.tplData.promo.slider.props.banners : [
							{url: '', imageDesctop: '', imageMobile: ''},
							{url: '', imageDesctop: '', imageMobile: ''}
						];
			return {
				apiBusy: false,
				weekMeal: {
					props: {
						image: {
							topSlideBaner: '',
							leftBaner: '',
							mobileBaner: ''
						},
						discount: 0,
						productId: '',
						productUrl: '',
						bannerPosition: 1
					}
				},
				banners: {
					props: {
						banners: banners
					}
				}
			}
			showFav: false
		},
		mounted() {
			$('#print-modal').on('show.bs.modal', this.loadTable);
			
		},
		methods: {
			setInFav(item) {
				eventHub.$emit('setInFav', item);
			},
			upBanner(index) {
				this.banners.props.banners.splice(index-1, 2, this.banners.props.banners[index], this.banners.props.banners[index - 1]);
			},
			downBanner(index) {
				this.banners.props.banners.splice(index, 2, this.banners.props.banners[index + 1], this.banners.props.banners[index]);
			},
			deleteBanner(idx) {
				this.banners.props.banners.splice(idx, 1);
			},
			addBanner() {
				this.banners.props.banners.push({url: '', imageDesctop: '', imageMobile: ''})
			},
			printElement(elem) {
				var domClone = elem.cloneNode(true);
				
				var $printSection = document.getElementById("printSection");
				
				if (!$printSection) {
					var $printSection = document.createElement("div");
					$printSection.id = "printSection";
					document.body.appendChild($printSection);
				}
				
				$printSection.innerHTML = "";
				
				$printSection.appendChild(domClone);
			},
			printIt() {
				this.printElement(document.getElementById("printable"));
				window.print();
				// $("#printable").printThis({ 
				// 	debug: false,              
				// 	importCSS: true,             
				// 	importStyle: true,         
				// 	printContainer: true,       
				// 	loadCSS: "../css/style.css", 
				// 	pageTitle: "My Modal",             
				// 	removeInline: false,        
				// 	printDelay: 333,            
				// 	header: null,             
				// 	formValues: true          
				// }); 
			},
			loadTable() {
				document.body.classList.add('printModal')
				$.get('/admin/get_payments_sber')
				.done((resp)=>{

				})
				.fail(()=>{

				})
			},
			saveBanners() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				this.$notify({
					group: 'foo',
					title: 'Сохранение:',
					text: 'Пожалуйста, подождите...',
					duration: 3000
				});
				$.ajax({
					url: '/admin/promo?type=slider',
					type: 'PUT',
					contentType: 'application/json',
					data: JSON.stringify(this.banners)
				})
				.done((resp)=>{
					if (resp.success) {
						$('#banners-modal').modal('hide');
						location.reload();
					}
					this.apiBusy = false;
				});
			},
			saveWeekDish() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				this.$notify({
					group: 'foo',
					title: 'Сохранение:',
					text: 'Пожалуйста, подождите...',
					duration: 3000
				});
				let pUrl = '';
				let pId = this.weekMeal.props.productId;
				let i=0;
				while(i < this.meals.length) {
					let one = this.meals[i];
					if (pId == one.id) {
						pUrl = '/product/'+one.url;
						break;
					} 
					i++;
				}
				this.weekMeal.props.productUrl = pUrl;
				$.ajax({
					url: '/admin/promo?type=weekly',
					type: 'PUT',
					contentType: 'application/json',
					data: JSON.stringify(this.weekMeal)
				})
				.done((resp)=>{
					if (resp.success) {
						$('#changeMainDish').modal('hide');
						location.reload();
					}
					this.apiBusy = false;
				});
			},
			uplTopSlideBaner(ev, progressId) {
				let file = ev.target.files[0];
				this.upload(file, progressId, (resp)=>{
					this.weekMeal.props.image.topSlideBaner = resp.fileName;
				});
			},
			uplLeftBaner(ev, progressId) {
				let file = ev.target.files[0];
				this.upload(file, progressId, (resp)=>{
					this.weekMeal.props.image.leftBaner = resp.fileName;
				});
			},
			uplMobileBaner(ev, progressId) {
				let file = ev.target.files[0];
				this.upload(file, progressId, (resp)=>{
					this.weekMeal.props.image.mobileBaner = resp.fileName;
				});
			},
			uplBanner(ev, progressId, type, obj) {
				let file = ev.target.files[0];
				this.upload(file, progressId, (resp)=>{
					obj[type] = resp.fileName;
				});
			},
			upload(file, progressId, cb) {
				var count = 0;
				// upload all at once
				var xhr = new XMLHttpRequest();
				// Add any event handlers here...
				let progressBar = $('#'+progressId);
				xhr.upload.addEventListener('progress', function(e){
					var percent = (e.loaded / e.total)*100;
					progressBar.find('.progress-bar').css('width', percent);
					progressBar.find('span').html(percent+' %');
				}, false);

				xhr.addEventListener('loadstart', function(e){
					progressBar.removeClass('hidden');
				}, false);
				xhr.addEventListener('loadend',   function(e){
					progressBar.addClass('hidden');
				}, false);

				xhr.open('POST', '/upload', true);

				// if (settings.type=='json') {
				xhr.setRequestHeader('Content-Type', 'application/octet-stream');
				// }

				xhr.onreadystatechange = function() {
					if (xhr.readyState==4){

						var response = xhr.responseText;

						// if (settings.type=='json') {
							try {
								response = JSON.parse(response);
							} catch(e) {
								response = false;
							}
						// }
						return cb(response);
					}
				};
				var readFiles = function (_file) {
					var reader = new FileReader();
					reader.onload = function (e, res) {
						if (e && e.target && e.target.result) {
							xhr.send(e.target.result);
						}
					}
					reader.readAsArrayBuffer(_file);
				}
				readFiles(file);
			}
		},
		computed: {
			// productModal() {
			// 	return this.$store.state.productModal;
			// },
			meals() {
				let out = JSON.parse(JSON.stringify(this.tplData.list.products));
				out.sort((a,b)=>{
					let one = a.name.toLowerCase();
					let two = b.name.toLowerCase();
					if (one > two) {
						return 1;
					}
					if (one < two) {
						return -1;
					}
					return 0;
				});
				return out;
			}
		}
	}
</script>
<style>
	
	@media screen {
		#printSection {
			display: none;
		}
	}

	@media print {
		body.printModal * {
			visibility:hidden;
		}
		body.printModal .main-content {
			display: none;
		}
		#printSection, #printSection * {
			visibility:visible;
		}
		#printSection {
			position:absolute;
			left:0;
			top:0;
		}

		.non-printable { display: none; }
    	.printable { display: block; }
	}
</style>