<template>
	<div class="main-content">
		<div class="modal fade" id="payDelivery" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
							</button>
							<h4 class="modal-title" id="signIinLabel">Доставка:</h4>
						</div>
						<div class="modal-body">
							<p>Минимальная сумма для бесплатной доставки - {{ minFreeDeliveryAmount }} руб. Если вы закажете меньше этой суммы, то доставка будет платная и будет составлять {{ deliveryDish.price }} руб.</p>
						</div>
				</div>
			</div>
		</div>
		<div class="container w_100xs">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" style="margin-bottom: 25px;">
					<div class="modal-header">
						<h4 class="modal-title step-group" id="order1Label">
							<div class="order-step done">
								<i class="icon-basket"></i>
							</div>
							<div class="order-step" :class="{done: step > 1}">
								<i class="icon-list"></i>
							</div>
							<div class="order-step" :class="{done: step > 2}">
								<i class="icon-check"></i>
							</div>
						</h4>
					</div>
					<div class="modal-body p5" style="background: #ffffff">
						<div class="wrapper wrapper_1" data-baron-v="inited" v-show="step==1">
							<div class="scroller">
								<ul class="all-orders-list">
									<li 
										v-for="one in cartData.items" 
										:key="`item-order-${one.id}`"
										:class="{'-instop': isInStop(one)}"
										class="one-order-in-orders alert fade in  hidden-xs" 
										data-example-id="dismissible-alert-js" 
										data-product="258" 
										data-prodtype="2" 
										data-cartid="258_8"
										style="background: #ffffff; border-bottom: solid 1px #dbdfdb">

										<div class="row fade in" role="alert">
											<div class="col-xs-2 ">
												<a href="#" class="thumbnail">
													<img :src="((one.images && one.images[0] && one.images[0].imageUrl) ? one.images[0].imageUrl : '/img/2.jpg')" alt="">
												</a>
											</div>
											<div class="col-xs-5">
												<p class="title-in-order-list">{{one.name|name}}</p>
											</div>
											<div class="col-xs-2 count-order-in-list">
												<div class="form-group el-order-form-group">
													<div class="input-group">
														<div 
															class="input-group-addon" 
															@click.stop.prevent="minusItem(one)" 
															:style="`${one.disablePlus ? 'pointer-events: none': ''}`">-</div>
															<input 
																:disabled="one.disablePlus" 
																type="text" 
																class="form-control input-sm input_qty" 
																v-model="one.count" 
																autocomplete="off">
														<div 
															class="input-group-addon" 
															@click.stop.prevent="plusItem(one)"
															:style="`${one.disablePlus ? 'pointer-events: none': ''}`">+</div>
													</div>
												</div>
											</div>
											<div class="col-xs-2">
												<p class="sum-in-order-list">
													<span class="item_sum">{{one.count * one.price}}</span>&nbsp;
													<i class="icon-rouble"></i>
												</p>
											</div>
											<div class="col-xs-1 btn-closein-order-list" v-if="!one.disablePlus">
												<button type="button" class="close" @click.prevent.stop="remove(one.id)">
													<i class="icon-sp-close-i"></i>
												</button>
											</div>
										</div>
										<p><small>{{one.seoDescription}}</small></p>
									</li>
								</ul>
							</div>
							<div class="scroller__bar-wrapper">
								<div class="scroller__bar" style="top: 0px; height: 223px;"></div>
							</div>
						</div>
						<div class="row p20" v-show="step==1">
							<hr>
							<div class="col-md-12" style="padding-left: 20px">
								<h5>У Вас {{userBonuses}} бонусных баллов</h5>
								<p>Вы можете потратить {{maxTratitBonus.toFixed(0)}} бонусов</p>
							<template v-if="userBonuses == 0">
								<a href="#" @click.stop.prevent="bonusInfo = !bonusInfo">Как получить бонусные баллы?</a>
								<div v-show="bonusInfo">
									<p>Когда заказываете еду, начисляются бонусные баллы от суммы общего чека (не начисляются баллы за акционные блюда и бар)</p>
									<a href="#" @click.stop.prevent="bonusInfo = false">Скрыть информацию</a>
								</div>
							</template>
							<template v-else>
								<div class="checkbox">
									<label><input type="checkbox" v-model="bonusInPay"> Хочу оплатить бонусами</label>
								</div>
								<template v-if="bonusInPay">
									<div class="checkbox">
										<label><input 
													type="range" 
													:min="0"
													:max="maxTratitBonus"
													:step="1"
													v-model.number="hochuPotratit"><small>* бонусами можно оплачивать до 40% заказа</small></label>
										
									</div>
									<div class="row">
										<div class="col-md-6">
											<span>К оплате: {{summOplat.toFixed(2)}} руб.</span>
										</div>
										<div class="col-md-6">
											<span>Бонусами: {{hochuPotratit}} руб.</span>
										</div>
									</div>
									<hr>
									<h4 style="padding-top: 25px"><strong>За покупку Вам начислятся: {{nachislyatBonusov}} бонусов</strong></h4>
								</template>
							</template>
							</div>
						</div>
						<!--<div class="row promo-code-form p20" v-show="step==1">
							<div class="col-md-8 col-xs-7  col-xs-offset-1">
								<span id="promo-tooltip" class="help-text-tooltip" data-toggle="tooltip" title="" style="display: none;" data-original-title="Введите промокод, и нажмите Применить">?</span>
								<input id="input-promo" type="text" class="form-control" placeholder="Введите промокод" autocomplete="off">
								<div id="promo-error" class="promo-error" style="display: none;"></div>
								<div id="applied-promo">Купон promo10 на скидку 10%</div>
							</div>
							<div class="col-xs-2">
								<button id="btn-check-promo" class="btn-success btn" style="display: none;">Применить</button>
							</div>
						</div>-->
						<div v-show="step==2">
							<div class="form-group" :class="{'has-error': (!customer.name || customer.name.length < 1)}">
								<div class="col-xs-8 col-xs-offset-2">
									<label>ФИО *</label>
									<input v-model="customer.name" class="form-control" type="text" name="name" value="" placeholder="ФИО" required="" data-error="Введите ваше имя" autocomplete="on">
									<div class="help-block with-errors">
										<ul class="list-unstyled" v-if="(!customer.name || customer.name.length < 1)">
											<li>Укажите ФИО</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="form-group" :class="{'has-error': !phoneTest}">
								<div class="col-xs-8 col-xs-offset-2">
									<label>Телефон *</label>
									<input style="padding-left: 23px;" v-model="customer.phone" v-mask="{'model': customer.phone, 'mask': '(999)-999-99-99'}" class="form-control phone" type="tel" name="phone" required="" placeholder="Телефон  +7 (___) ___-__-__" autocomplete="on">
									<span class="seven" style="    position: absolute;
									top: 38.2px;
									left: 10px;
									color: #889296;">+7</span>
									<div class="help-block with-errors">
										<ul class="list-unstyled" v-if="!phoneTest">
											<li>Укажите ваш телефон</li>
										</ul>
									</div>
								</div>
							</div>
							<!--<div class="form-group">
								<div class="col-xs-8 col-xs-offset-2">
									<input v-model="customer.email" class="form-control" type="email" name="email" value="" placeholder="Электронная почта" autocomplete="off">
								<hr>
								</div>
							</div>-->
							<div role="tabpanel">
								<div class="row">
									<ul class="nav nav-tabs-modal col-xs-8 col-xs-offset-2 delivery_type" role="tablist">
										<li role="presentation" class="active">
											<a href="#delivery" @click="selfService = false" aria-controls="delivery" role="tab" data-toggle="tab" aria-expanded="true">Доставка</a>
										</li>
										<li>
											<div class="or">или</div>
										</li>
										<li role="presentation" class="">
											<a href="#himself" @click="selfService = true" aria-controls="himself" role="tab" data-toggle="tab" aria-expanded="false">Самовывоз</a>
										</li>
									</ul>
								</div>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="delivery">
										<div class="inner-form-group-bg" style="background: #ffffff">
											<div class="form-group">
												<div class="col-xs-8 col-xs-offset-2">
													<label for="inputAddres2">Адрес доставки:</label>
													<!--<textarea class="form-control" name="address" placeholder="Улица, дом, квартира, офис" required=""></textarea>-->
													<div class="help-block with-errors"></div>
													
												</div>
											</div>
											<div class="form-group" :class="{'has-error': (!address.city || address.city.length < 2)}">
												<div class="col-xs-8 col-xs-offset-2">
													<label>Город *</label>
													<input v-model="address.city" disabled="disabled" class="form-control" type="text" required="true" placeholder="Город" autocomplete="off">
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="form-group" :class="{'has-error': (!address.street || address.street.length < 3)}">
												<div class="col-xs-8 col-xs-offset-2">
													<label>Улица *</label>
													<input v-model="address.street" class="form-control" type="text" required="true" placeholder="Улица" autocomplete="on">
													<div class="help-block with-errors">
														<ul class="list-unstyled" v-if="(!address.street || address.street.length < 3)">
															<li>Укажите улицу</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="form-group" :class="{'has-error': !address.home}">
												<div class="col-xs-8 col-xs-offset-2">
													<label>Дом *</label>
													<input maxlength="10" v-model="address.home" class="form-control" type="text" required="true" placeholder="Дом" autocomplete="on">
													<div class="help-block with-errors">
														<ul class="list-unstyled" v-if="!address.home">
															<li>Укажите дом</li>
														</ul>
													</div>
													
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-8 col-xs-offset-2">
													<label>Корпус <span style="font-size: small; color: #777;">(не обязательно)</span></label>
													<input maxlength="10" v-model="address.housing" class="form-control" type="text" required="true" placeholder="Корпус" autocomplete="off">
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-8 col-xs-offset-2">
													<label>Квартира <span style="font-size: small; color: #777;">(не обязательно)</span></label>
													<input maxlength="10" v-model="address.apartment" class="form-control" type="text" required="true" placeholder="Квартира" autocomplete="off">
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-8 col-xs-offset-2">
													<label>Подъезд <span style="font-size: small; color: #777;">(не обязательно)</span></label>
													<input maxlength="10" v-model="address.entrance" class="form-control" type="text" required="true" placeholder="Подъезд" autocomplete="off">
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-8 col-xs-offset-2">
													<label>Этаж <span style="font-size: small; color: #777;">(не обязательно)</span></label>
													<input maxlength="10" v-model="address.floor" class="form-control" type="text" required="true" placeholder="Этаж" autocomplete="off">
												</div>
											</div>
											<!-- <div class="form-group">
												<div class="col-xs-8 col-xs-offset-2">
													<label>Домофон <span style="font-size: small; color: #777;">(не обязательно)</span></label>
													<input maxlength="10" v-model="address.doorphone" class="form-control" type="text" required="true" placeholder="Домофон" autocomplete="off">
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-8 col-xs-offset-2">
													<label>Доп. информация <span style="font-size: small; color: #777;">(не обязательно)</span></label>
													<textarea maxlength="500" v-model="address.comment" class="form-control" placeholder="Например: пересечение улиц или въезд со стороны и т.п."></textarea>
													<hr>
												</div>
											</div> -->
											<div class="form-group">
												<div class="col-xs-8 col-xs-offset-2">
													<blockquote>
														<small>Поля, отмеченные звездочкой (*), обязательны к заполнению.</small>
													</blockquote>
													<hr>
												</div>
											</div>
											<div class="col-md-12 row">
												<div class="col-xs-8 col-xs-offset-2">
													<p><b>Дата и время получения:</b></p>
													<div class="radio">
														<label>
															<input type="radio" name="delivery_time" value="asap" :checked="delivery=='now'"  @click="delivery='now'" autocomplete="off"> Как можно скорее
														</label>
													</div>
													<span class="col-xs-12" style="margin-top:10px;margin-botton:10px;;font-size:14px;marginleft:10px;color:#ccc;" id="in-fast">Время доставки заказа — в течение 50 минут</span>
													<div class="radio">
														<label class="col-xs-12 control-label">
															<input type="radio" @click="delivery='11:00'" name="delivery_time" value="at_time" autocomplete="off"> К определенному времени
														</label>
														<div class="col-xs-4" style="    padding-top: 10px;" v-show="delivery!='now'">
															<select class="form-control" name="time" v-model="delivery">
																<option value="11:00">11:00</option>
																<option value="12:00">12:00</option>
																<option value="13:00">13:00</option>
																<option value="14:00">14:00</option>
																<option value="15:00">15:00</option>
																<option value="16:00">16:00</option>
																<option value="17:00">17:00</option>
																<option value="18:00">18:00</option>
																<option value="19:00">19:00</option>
																<option value="20:00">20:00</option>
																<option value="21:00">21:00</option>
																<option value="22:00">22:00</option>
																<option value="23:00">23:00</option>
																<option value="00:00">00:00</option>
															</select>
														</div>
														<label class="col-xs-5 control-label" style="    padding-left: 5px;    padding-top: 10px;position:relative;" id="dp">
															<input type="text" class="form-control" name="deliveryDate" value="2/1/2017" autocomplete="off" style="display: none;">
														</label>
													</div>
													<span class="col-xs-12" style="margin-top: 10px; font-size: 14px; color: rgb(204, 204, 204); display: none;" id="in-time">
														Заказ должен быть оформлен не менее чем <br>
														за 50 минут до желаемого времени доставки..
													</span>
													
												</div>

											</div>
												
										</div>
										
									</div>

									<div role="tabpanel" class="tab-pane" id="himself">
									<div class="inner-form-group-bg" style="background: #ffffff">
										<div class="row">
										<div class="col-xs-8 col-xs-offset-2">
											<label for="inputAddres">Выберите ближайший адрес ресторана:</label>
											<select class="form-control" name="rest_address" v-model="deliveryPoint">
												<option v-for="one in deliveryCenters" :value="one">{{one}}</option>
											</select>
										</div>
										</div>
									</div>
									</div>
								</div>
							</div>
							
							<div class="row" style="background: #ffffff">
							
								<div class="col-xs-8 col-xs-offset-2">
									<hr>
									<div class="row">
									
									<label class="col-md-12 control-label" for="inputAddres">Количество персон:</label>
									<div class="col-xs-12">
										<select class="form-control" name="num_persons" v-model="persons">
											<option v-for="num in 6" :value="num">{{num}}</option>
										</select>
									</div>
									</div>
								</div>
							</div>

							<div class="form-group">
							<div class="col-xs-10 col-xs-offset-1">
								<hr>
								<p class="payment-method">Способы оплаты:</p>
								<hr>

							</div>
							</div>
							
							<div class="form-group">
								<div class="col-xs-12">
									<div class="payment-method-btn-group" data-toggle="buttons" align="center">
										<div class="btn" @click="paymentType = 'sber'" style="width:25%; vertical-align: top;">
											<p style="height: 70px;">
											<span class="icon-card"></span>
											</p>
											<label class="">
												<input type="radio" value="sber" name="pay_options" id="option5"  autocomplete="off"> Оплата <br>онлайн
											</label>
										</div>
										<div class="btn active" @click="paymentType = 'cash'" style="width:25%; vertical-align: top;">
											<p>
												<span class="icon-wallet"></span>
											</p>
											<label>
												<input type="radio" value="cash" name="pay_options" autocomplete="off" checked=""> Наличными
											</label>
										</div>

										<div class="btn" @click="paymentType = 'courier_card'" style="width:25%; vertical-align: top;">
											<p>
												<span class="icon-card-m"></span>
											</p>
											<label>
												<input type="radio" value="courier_card" name="pay_options" autocomplete="off"> Картой курьеру
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group text-center">
							<div class="col-xs-10 col-xs-offset-1">
								<hr>
								<a class="add-comment" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Добавить комментарий к заказу</a>
								<div class="collapse" id="collapseExample">
								<textarea v-model="comment" class="form-control" name="comment" placeholder="Комментарий..."></textarea>
								</div>
								<hr>
							</div>
							</div>
						</div>
						<div class="modal-footer order-actions">
							
							<div class="order-actions__buttons" v-if="step==1">
								<div class="button-action -left">
									<button class="btn btn-primary btn-lg" @click.stop.prevent="close()">Назад</button>
								</div>
								<div class="order-actions__buttons__price">
									Итого:&nbsp;&nbsp;{{checkPrice.toFixed(2)}}&nbsp;&nbsp;<i class="icon-rouble"></i>
								</div>
								<div class="button-action -right">
									<button 
										class="btn btn-danger btn-lg btn_last_step" 
										id="bt-customer-next" 
										@click.stop.prevent="secondStep()"
										:disabled="waitForCartUpdate">
										{{(waitForCartUpdate) ? 'Проверка...' : 'Далее'}}
									</button>
								</div>
							</div>
							<div class="row order-actions__buttons" v-if="step==2">
								<div class="button-action -left">
									<button class="btn btn-primary btn-lg" @click.stop.prevent="step = 1">Назад</button>
								</div>
								<div class="order-actions__buttons__price">
									Итого:&nbsp;&nbsp;{{checkPrice.toFixed(2)}}&nbsp;&nbsp;<i class="icon-rouble"></i>
								</div>
								<div class="button-action -right">
									<button class="btn btn-danger btn-lg btn_last_step" id="bt-customer-next" @click.stop.prevent="thirdStep()">Заказать</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import eventHub from './eventHub.js'
	export default {
		directives: {
			mask: {
				inserted(el, binding) {
					let placeholder = binding.value.mask;
					el.placeholder = placeholder;
				},
				update(el, binding, vnode) {
					let oldVal = binding.oldValue.model;
					let nv = String(binding.value.model).replace(/\D/g, '');
					let masked = '';
					if (nv[0] !== undefined) {
						masked+= '('+nv[0];
					}
					if (nv[1] !== undefined) {
						masked+= nv[1];
					}
					if (nv[2] !== undefined) {
						masked+= nv[2];
					}
					if (nv[3] !== undefined) {
						masked+= ')'+nv[3];
					}
					if (nv[4] !== undefined) {
						masked+= nv[4];
					}
					if (nv[5] !== undefined) {
						masked+= nv[5];
					}
					if (nv[6] !== undefined) {
						masked+= '-'+nv[6];
					}
					if (nv[7] !== undefined) {
						masked+= nv[7];
					}
					if (nv[8] !== undefined) {
						masked+= '-'+nv[8];
					}
					if (nv[9] !== undefined) {
						masked+= nv[9];
					}
					vnode.context.customer.phone = masked;
				}
			}	
		},
		name: 'order-page',
		props: ['tplData'],
		data() {
			let phone = (this.tplData && this.tplData.user && this.tplData.user.contactPoint && this.tplData.user.contactPoint.phone) ? this.tplData.user.contactPoint.phone : '';
			if (phone.indexOf('79') === 0) {
				phone = phone.replace('7', '');
			}
			return {
				showedPayDelivery: false,
				hochuPotratit: 0,
				bonusPercent: 0,
				bonusInfo: false,
				modifiersRequired: [
					'6cb74b54-7064-4922-b8fb-ea1908b3ab16',
					'229383ed-b18b-4dca-90c7-82c8dd49889e',
					'b2df1e3f-9235-47d8-a999-f69bcf63740f'
				],
				apiBusy: false,
				step: 1,
				selfService: false,
				deliveryCenters: ['ул.Победы, д.74'],
				deliveryPoint: 'ул.Победы, д.74',
				delivery: 'now',
				persons: 1,
				paymentType: 'cash',
				cartData: {
					items: {}
				},
				"customer": {
					"name": (this.tplData && this.tplData.user && this.tplData.user.name) ? this.tplData.user.name : '',
					"phone": phone,
					"email": ""
				},
				"address": {
					"city": "Ейск",
					"street": "",
					"home": "",
					"housing": "",
					"apartment": "",
					"entrance": "",
					"floor": "",
					"doorphone": "",
					"comment": ""
				},
				comment: '',
				waitForCartUpdate: false,
				priceChanges: []
			}
		},
		watch: {
			'cartData': {
				deep: true,
				handler(val) {
					this.updateCart(val)
					.then(()=>{
						this.hochuPotratit = 0
						if (this.totalPrice < this.minOrderAmount) {
							
							this.close();
						}
					})
					this.reviewCart()
				}
			},
			totalPrice: {
				immediate: true,
				handler: 'handlePayDelivery'
			},
			waitForCartUpdate(val) {
				this.$notify({
					group: 'foo',
					clean: true
				})
				this.$nextTick(()=>{

					
					let text = ''
					let duration = 3000
					let type = 'info'

					if (val) {
						text = 'Проверяем актуальные цены'
					} else {
						if (this.priceChanges.length) {
							text = `Изменились цены на продукты:<br>${this.priceChanges.map((it)=>`– ${it.name}: было <b>${it.oldPrice}</b> стало <b>${it.newPrice}</b> руб.`).join('<br>')}`
							duration = 10000
							type = 'warn'
						} else {
							text = 'Цены акктуальны!'
							type = 'success'
						}
					}
					this.$notify({
						group: 'foo',
						title: 'Проверка цен:',
						text,
						type,
						duration,
						position: 'top right'
					})
					if (!val) {
						this.priceChanges = []
					}
				})
			}
		},
		computed: {
			deliveryDish() {
				let dish = this.tplData && this.tplData.delivery
				return {
					...dish,
					count: 1,
					name: 'Доставка',
					disablePlus: true,
					images: [{imageUrl: '/img/delivery.png'}],
					seoDescription: `Доставка платная до ${this.minFreeDeliveryAmount} р.`
				}
			},
			minOrderAmount() {
				return this.$store && this.$store.getters && this.$store.getters.minOrderAmount
			},
			minFreeDeliveryAmount() {
				return this.tplData && this.tplData.minFreeDeliveryAmount ? this.tplData.minFreeDeliveryAmount : 500
			},
			nachislyatBonusov() {
				return Math.floor((this.mozhnoTratitBonusami - this.hochuPotratit) * this.serverBonus.cash_back);
			},
			maxTratitBonus() {
				let $_out = this.mozhnoTratitBonusami * this.serverBonus.max_bonus_in_price;
				return ($_out > this.userBonuses) ? this.userBonuses : $_out;
			},
			maxTratitBonus() {
				let $_out = this.mozhnoTratitBonusami * this.serverBonus.max_bonus_in_price
				$_out = ($_out > this.userBonuses) ? this.userBonuses : $_out
				if (this.totalPrice - $_out < this.tplData.minOrderAmount) {
					$_out = this.totalPrice - this.tplData.minOrderAmount
				}
				return $_out
			},
			serverBonus() {
				return this.tplData.bonus;
			},
			mozhnoTratitBonusami() {
				let $_summ = 0;
				let promoId = (this.tplData && 
								this.tplData.promo && 
								this.tplData.promo.weekly && 
								this.tplData.promo.weekly.props && 
								this.tplData.promo.weekly.props.productId) ? this.tplData.promo.weekly.props.productId : '';
				for (let key in this.cartData.items) {
					let $_prod = this.cartData.items[key];
					if ($_prod && ($_prod.id !== promoId) && !$_prod.oldPrice && $_prod.parentGroup !== '160bbccc-34f4-4ffe-b3e3-f803373f380f') {
						$_summ+= $_prod.count * $_prod.price;
					}
				}
				return $_summ;
			},
			bonusInPay: {
				get() {
					return this.$store.state.bonusInPay;
				},
				set(val) {
					this.$store.commit('SET_BONUS_IN_PAY', val);
				}
			},
			user() {
				return (this.$store && 
						this.$store.getters &&
						this.$store.getters.user) ? this.$store.getters.user : null;
			},
			userBonuses() {
				return (this.$store && 
						this.$store.getters &&
						this.$store.getters.userBonuses) ? this.$store.getters.userBonuses : 0;
			},
			phoneTest() {
				return (/^(8|\+?\d{1,3})?[ -]?\(?(\d{3})\)?[ -]?(\d{3})[ -]?(\d{2})[ -]?(\d{2})$/.test(this.customer.phone) && 
						String(this.customer.phone.replace(/\D/g, ''))[0] == '9');
			},
			maxPercent() {
				return Number((this.totalPrice * 0.4).toFixed(0));
			},
			summOplat() {
				return this.totalPrice-this.hochuPotratit;
			},
			maxPercent() {
				return (maxTratitBonus / 100) * mozhnoTratitBonusami;
			},	
			summBonus() {
				let perc = this.bonusPercent;
				let out = this.totalPrice * perc / 100;
				if (out > this.maxTratitBonus) {
					out = this.maxTratitBonus;
				}
				return Number(out.toFixed(0));
			},
			checkPrice() {
				return this.totalPrice - this.hochuPotratit;
			},
			totalPrice() {
				let price = 0;
				for (let key in this.cartData.items) {
					let one = this.cartData.items[key];
					if (one && Object.prototype.hasOwnProperty.call(this.cartData.items, key)) {
						price+= Number(one.price) * Number(one.count);
					}
				}
				return price;
			}
		},
		created() {
			try {
				let cachedData = JSON.parse(JSON.stringify(lscache.get('cart')));
				if (cachedData) {
					this.$set(this.cartData, 'items', cachedData.items);
				}
			} catch (e) {}
		},
		methods: {
			handlePayDelivery(val) {
				if (!val) return
				let $_hasPAyDeliveryInCart = false
				let $_cartItems = this.cartData.items
				if ($_cartItems[this.deliveryDish.id]) {
					$_hasPAyDeliveryInCart = true
				}
				val = ($_hasPAyDeliveryInCart) ? val - this.deliveryDish.price : val
				if (!val) {
					try {
						this.remove(this.deliveryDish.id)
					} catch (e) {
						console.log(e)
					}
					return
				}
				
				if (val < this.minFreeDeliveryAmount) {
					if (!this.showedPayDelivery) {
						try {
							$('#payDelivery').modal({show: true})
						} catch (r) {}
						this.showedPayDelivery = true
					}
					
					if (!$_hasPAyDeliveryInCart) {
						this.add(this.deliveryDish)
					}
				} else {
					if ($_hasPAyDeliveryInCart) {
						this.remove(this.deliveryDish.id)
					}
				}
			},
			isInStop(item) {
				let inStop = false
				let inStopItem = this.tplData.stopList[item.id]
				if (inStopItem && inStopItem < item.count) {
					inStop = true
				}
				return inStop
			},
			updateCart(val) {
				return new Promise((resolve, reject) => {
					lscache.set('cart', val);
					eventHub.$emit('updateCart');
					setTimeout(()=>{
						resolve();
					},10)
				});
				
			},
			close() {
				eventHub.$emit('compChange', 'category-page');
			},
			validateOrder() {
				let out = false;
				if (!this.customer.name) {
					this.$notify({
						group: 'foo',
						title: 'Ошибка:',
						text: 'Укажите ваше ФИО!',
						type: 'error',
						duration: 2000,
						position: 'bottom right'
					});
					out = true;
				}
				if (!this.phoneTest) {
					this.$notify({
						group: 'foo',
						title: 'Ошибка:',
						text: 'Укажите ваш телефон!',
						type: 'error',
						duration: 2000,
						position: 'bottom right'
					});
					out = true;
				}
				if (!this.selfService) {
					if (!this.address.city) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: 'Укажите ваш город!',
							type: 'error',
							duration: 2000,
							position: 'bottom right'
						});
						out = true;
					}
					if (!this.address.street) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: 'Укажите улицу!',
							type: 'error',
							duration: 2000,
							position: 'bottom right'
						});
						out = true;
					}
					if (!this.address.home) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: 'Укажите номер дома!',
							type: 'error',
							duration: 2000,
							position: 'bottom right'
						});
						out = true;
					}
				}

				return out;
			},
			getOrderItems() {
				let out = [];
				let items = this.cartData.items;
				for (let key in items) {
					let one = items[key];
					let item = {};
					item.id = one.id;
					item.code = one.code;
					item.name = one.name;
					item.amount = one.count;
					if (one.modifiers) {
						for (let j=0;j<one.modifiers.length;j++) {
							let oneMod = one.modifiers[j];
							if (oneMod.required) {
								if (!item.modifiers) {
									item.modifiers = [];
								}
								item.modifiers.push({
									id: oneMod.modifierId,
									amount: oneMod.minAmount
								});
							}
						}
					}
					if (one.groupModifiers) {
						for (let j=0;j<one.groupModifiers.length;j++) {
							let oneMod = one.groupModifiers[j];
							if (oneMod.required) {
								if (!item.modifiers) {
									item.modifiers = [];
								}
								let id = '';
								let founded = false;
								for (let k=0;k< oneMod.childModifiers.length;k++) {
									let child = oneMod.childModifiers[k];
									if (child.required) {
										id = child.modifierId; 
										founded = true;
									} else if (this.modifiersRequired.includes(child.modifierId)) {
										id = child.modifierId;
										founded = true;
									}
								}
								if (!founded) {
									id = oneMod.childModifiers[0];
									if (typeof(id) == 'object' && id.modifierId) {
										id = id.modifierId;
									}
								}
								item.modifiers.push({
									groupId: oneMod.modifierId,
									id: id,
									amount: oneMod.minAmount
								});
							}
						}
					}
					out.push(JSON.parse(JSON.stringify(item)));
				}
				console.log(out)
				return out;
			},
			addComment() {
				let out = [];
				if (this.selfService) {
					out.push('Самовывоз');
				}
				if (this.delivery == 'now') {
					out.push('');
				} else {
					out.push('ДОСТАВКА К '+this.delivery+'!');
				}
				if (this.paymentType)
				return out.join(', ')
			},
			getStopList() {
				return new Promise((resolve)=>{
					$.get('/stop-list')
					.done((resp)=>{
						// resp['4d6fa0df-0bc7-4c1f-addc-976d52d70b95'] = 1
						eventHub.$emit('updateStopList', resp);
						resolve(resp)
					})
				})
			},
			isInStopList: async function (items) {
				let newStopList = await this.getStopList()
				let $_stops = []
				items.forEach((item)=>{
					let inStop = newStopList[item.id]
					if (inStop && item.amount > inStop) {
						$_stops.push({name: item.name, left: inStop})
					}
				})
				return $_stops
			},
			thirdStep: async function() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				let error = this.validateOrder();
				console.log(error)
				if (error) {
					this.apiBusy = false;
					return;
				}
				let outJson = {
					order: {
						date: null,
						items: []
					}
				};
				outJson.customer = JSON.parse(JSON.stringify(this.customer));
				outJson.customer.phone = '7'+outJson.customer.phone.replace(/\D/g, '');
				outJson.order.address = JSON.parse(JSON.stringify(this.address));
				let $_addr = outJson.order.address;
				let $_home = $_addr.home;
				if ($_home) {
					if (isNaN(parseInt($_home)) || $_home.length > 5) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: 'Укажите правильный номер дома!',
							type: 'error',
							duration: 5000,
							position: 'bottom right'
						});
						this.apiBusy = false;
						return;
					}
				}
				let $_housing = $_addr.housing;
				if ($_housing) {
					if (isNaN(parseInt($_housing)) || $_housing.length > 5) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: 'Укажите правильный корпус!',
							type: 'error',
							duration: 5000,
							position: 'bottom right'
						});
						this.apiBusy = false;
						return;
					}
				}
				
				let $_apartment = $_addr.apartment;
				if ($_apartment) {
					if (isNaN(parseInt($_apartment)) || $_apartment.length > 5) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: 'Укажите правильный номер квартиры!',
							type: 'error',
							duration: 5000,
							position: 'bottom right'
						});
						this.apiBusy = false;
						return;
					}
				}
				let $_entrance = $_addr.entrance;
				if ($_entrance) {
					if (isNaN(parseInt($_entrance)) || $_entrance.length > 5) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: 'Укажите правильный номер подъезда!',
							type: 'error',
							duration: 5000,
							position: 'bottom right'
						});
						this.apiBusy = false;
						return;
					}
				}
				let $_floor = $_addr.floor;
				if ($_floor) {
					if (isNaN(parseInt($_floor)) || $_floor.length > 5) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: 'Укажите правильный номер этажа!',
							type: 'error',
							duration: 5000,
							position: 'bottom right'
						});
						this.apiBusy = false;
						return;
					}
				}
				let $_doorphone = $_addr.doorphone;
				if ($_doorphone) {
					if (isNaN(parseInt($_doorphone)) || $_doorphone.length > 5) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: 'Укажите правильный номер домофона!',
							type: 'error',
							duration: 5000,
							position: 'bottom right'
						});
						this.apiBusy = false;
						return;
					}
				}
				outJson.order.phone = outJson.customer.phone;
				outJson.order.fullSum = this.totalPrice;
				outJson.order.comment = this.comment;
				outJson.order.items = this.getOrderItems();
				outJson.order.personsCount = this.persons;
				outJson.order.comment+= 'ч:'+this.persons+' '+this.addComment();
				if (this.selfService) {
					outJson.order.address.street = 'Победы';
					outJson.order.address.home = '74';
				}
				this.$notify({
						group: 'foo',
						title: 'Проверка стоп-листа',
						type: 'info',
						duration: 5000,
						position: 'bottom right'
				});
				let isInStopList = await this.isInStopList(outJson.order.items)
				
				if (isInStopList.length) {
					this.$notify({
							group: 'foo',
							title: 'Некоторые товары на стоп-листе:',
							text: `${isInStopList.map((item) => `– ${item.name} осталось ${item.left} шт.`).join('<br>')}`,
							type: 'error',
							duration: 500000,
							position: 'bottom right'
					});
					this.apiBusy = false
					this.step= 1
					return
				}
				// debug
				// this.apiBusy = false;
				// return;
				let yaParams = {
					target: "buy"
				};
				try {
					var yaCounter30102269 = new Ya.Metrika({id: 30102269, params: yaParams});
					yaCounter30102269.reachGoal('buy', yaParams);
				} catch (e) {
					console.log(e);
				}
				let $_items = this.cartData.items

				let meta = {
					cartCache: [],
					tplDataItems: this.tplData.list.products.reduce((memo, prod)=>{
						let productId = prod.id
						if ($_items[productId]) {
							memo = [...memo, {
										name: prod.name,
										code: prod.code,
										price: prod.price,
										oldPrice: prod.oldPrice,
										discountPercent: prod.discountPercent
									}]
						} else if (prod.group && prod.group.length) {
							let item = prod.group.find(it=>$_items[it.id])
							if (item && item.item) {
								memo = [...memo, {
										name: item.item.name,
										code: item.item.code,
										price: item.item.price,
										oldPrice: item.item.oldPrice,
										discountPercent: item.item.discountPercent
									}]
							}
						}
						return memo
					}, [])
				}
				for(let $_key in this.cartData.items) {
					let $_cartItem = this.cartData.items[$_key]
					meta.cartCache.push({
						name: $_cartItem.name,
						code: $_cartItem.code,
						price: $_cartItem.price,
						oldPrice: $_cartItem.oldPrice,
						count: $_cartItem.count,
						discountPercent: $_cartItem.discountPercent
					})
					$_cartItem = null
				}
				// debug out
				// console.log( meta);
				// return;
				$.ajax({
					type: 'POST',
					url: '/payment',
					contentType: 'application/json',
					data: JSON.stringify({order: outJson, paymentType: this.paymentType, bonus: this.hochuPotratit, meta})
				})
				.done((resp)=>{
					if (resp.error) {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: resp.error,
							type: 'error',
							duration: 7000,
							position: 'bottom right'
						});
					} else if (resp.sberPaymentLink) {
						location.href = resp.sberPaymentLink;
					} else {
						location.href = '/?payment=cash';
					}
					this.apiBusy = false;
				})
				.fail((fail)=>{
					console.log(fail);
					this.apiBusy = false;
				})
				.then(()=>{
					this.apiBusy = false;
				});
			},
			getSiteData() {
				return new Promise((resolve)=>{
					$.get('/?json=')
					.done((resp)=>{
						resolve(resp.list.products)
					})
				})
			},
			reviewCart: async function() {
				// return
				this.waitForCartUpdate = true
				let $_newData = await this.getSiteData()
				if ($_newData && $_newData.length) {
					$_newData = $_newData.filter((item)=>this.cartData.items[item.id])
					$_newData.forEach((item)=>{
						let $_cartItem = this.cartData.items[item.id]
						if (item.price !== $_cartItem.price) {
							let oldPrice = $_cartItem.price
							let newPrice = item.price

							this.priceChanges.push({
								name: item.name,
								oldPrice,
								newPrice
							})

							$_cartItem.price = newPrice
						}
						$_cartItem = null
					})
				}
				$_newData = null
				this.waitForCartUpdate = false
			},
			secondStep() {
				var yaParams = {
					target: "nextPC"
				};
				try {
					var yaCounter30102269 = new Ya.Metrika({id: 30102269, params: yaParams});
					yaCounter30102269.reachGoal('nextPC', yaParams);
				} catch (e) {
					console.log(e);
				}
				this.step = 2;
			},
			setCounts() {
				if (this.data && this.data.main && this.data.main.items && this.data.main.items.length) {
					for (let i = 0; i < this.data.main.items.length; i++) {
						this.$set(this.data.main.items[i], 'count', 1);
					}	
				}
			},
			minusItem(item) {
				if (item.disablePlus) return
				if (item.count > 1) {
					item.count-= 1;
				} else {
					item.count = 1
				}
			},
			plusItem(item) {
				if (item.disablePlus) return
				let data = this.$parent.data;
				let count = (data && 
							data.stopList && 
							(data.stopList[item.id] !== undefined)) ? (data.stopList[item.id] || 1) : 10;
				let inStop = (data && 
							data.stopList && 
							(data.stopList[item.id] !== undefined)) ? true : false;
				if (item.count >= count) {
					item.count = count;
					if (inStop) {
						this.$notify({
							group: 'foo',
							title: 'Извините:',
							text: 'Количество товара ограничено :(',
							type: 'warn',
							duration: 10000,
							position: 'bottom right'
						});
					}
				} else {
					item.count+= 1;
				}
			},
			add(item) {
				if (!item) return;
				if (this.cartData.items[item.id]) {
					this.cartData.items[item.id].count+= 1;
				} else {
					this.$set(this.cartData.items, item.id, JSON.parse(JSON.stringify(item)));
				}
				try {
					lscache.set('cart', JSON.parse(JSON.stringify(this.cartData)));
				} catch (e) {}
			},
			remove(id) {
				if (!id) return;
				if (this.cartData.items && this.cartData.items[id]) {
					this.$delete(this.cartData.items, id);
					try {
						lscache.set('cart', JSON.parse(JSON.stringify(this.cartData)));
					} catch (e) {}
				}
			},
			changeCategory(cat) {
				NProgress.start();
				let newMain = JSON.parse(JSON.stringify(cat));
				newMain.items = [];
				for (let i=0; i < this.data.list.products.length;i++) {
					let one = this.data.list.products[i];
					if (one.parentGroup == newMain.id) {
						newMain.items.push(JSON.parse(JSON.stringify(one)));
					}
				}
				this.data.main = newMain;
				this.setCounts();
				try {
					history.pushState({ key: Date.now().toFixed(3), url: '/category/'+newMain.url }, '', '/category/'+newMain.url);
					NProgress.done();
				} catch(e) {}
			}
		},
		components: {
		},
		filters: {
			name(val) {
				return val.replace(/\(Д\)/ig, '').replace(/ГР\.$/ig, '').replace(/[0-9]/ig,'');
			},
			weight(val) {
				return Number((val*1000).toFixed(0));
			}
		}
	}

</script>
<style lang="scss">
	.order-actions {
		background: white;
		padding: 20px 10px !important;

		&__buttons {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&__price {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				font-size: 28px;
				font-weight: bold;
				text-transform: uppercase;

				i {
					font-size: 24px;
				}
			}
		}
	}
	.one-order-in-orders {
		&.-instop {
			background: rgba(red, .2) !important;
		}
	}
</style>

