<template>
	<div class="panel panel-default">
		<div class="panel-heading green-panel" style="cursor: pointer" @click="openEditor = !openEditor">{{text ? text : 'Добавить новое'}}</div>
		<div class="panel-body" v-show="openEditor">
			<div class="form-group">
				<label>Заголовок:</label>
				<input class="form-control" v-model="newPost.name" type="text"/>
			</div>
			<div class="form-group">
				<label>Описание:</label>
				<div id="summernote" v-html="newPost.description"></div>
			</div>
			<div class="form-group">
				<label>Фотографии:</label>
				<input class="form-control" type="file" @change="uploadImages($event)" multiple="multiple"/>
				<div class="progress progress-striped active hidden" id="p-bar">
					<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span>0%</span></div>
				</div>
				<div class="row" v-if="newPost.image">
					<div 
						class="col-md-4 no-p" 
						v-for="(img, idx) in newPost.image" 
						style="height: 180px; border: 1px solid #ccc; overflow: hidden;    margin-left: 6px;margin-top: 10px;">
						<div class="dish-content ">
							<figure class="thumbnail">
								<img :src="img" class="img-responsive">
							</figure>
						</div>
						<footer class="dish-footer" style="height: 64px;bottom: 0px;">
							<button class="btn btn-danger btn-block" @click="deleteImage(idx)"><i class="glyphicon glyphicon-remove"></i></button>
						</footer>
					</div>
				</div>
			</div>
			<template v-if="obj && obj._id">
				<button  class="btn btn-success" data-loading-text="Сохраняем..." id="save-post" @click="putPost()">Изменить</button>
				<button class="btn btn-danger pull-right" @click="deletePost()">Удалить запись</button>
			</template>
			<button v-else class="btn btn-success" data-loading-text="Сохраняем..." id="save-post" @click="savePost()">Сохранить</button>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'simple-editor',
		props: {
			tplData: {
				required: true,
				type: Object
			},
			text: String,
			obj: Object
		},
		data() {
			return {
				apiBusy: false,
				sn: false,
				openEditor: false,
				newPost: {
					typeTree: 'Action.Post',
					kind: 'item',
					image: [],
					name: '',
					description: ''
				}
			}
		},
		created() {
			this.setObj();
		},
		mounted() {
			this.$nextTick(()=>{
				this.initSN();
			});
		},
		beforeDestroy() {
			$('#summernote').summernote('destroy');
		},
		methods: {
			setObj() {
				let obj = this.obj;
				if (!obj) {
					return;
				} else {
					this.newPost.name = (obj.name || '');
					this.newPost.description = (obj.description || '');
					this.newPost.image = (obj.image || [])
				}
			},
			clearAndHide() {
				this.openEditor = false;
				this.newPost.image = [];
				this.newPost.name = '';
				$('#summernote').summernote('code', '');
			},
			deletePost() {
				if (this.apiBusy) return;
				var toDel = confirm("Вы уверены что хотите удалить запись?");
				if (!toDel) return;
				this.apiBusy = true;
				$.ajax({
					url: '/admin/item?id='+this.obj._id,
					type: 'DELETE'
				})
				.done((resp)=>{
					if (resp.success) {
						location.href = this.obj.cache.parent.url;
					}
				});
			},
			putPost() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				var btn = $('#save-post');
				btn.button('loading');
				let post = JSON.parse(JSON.stringify(this.newPost));
				post.description = $('#summernote').summernote('code');
				$.ajax({
					url: '/admin/item?id='+this.obj._id,
					type: 'PUT',
					contentType: 'application/json',
					data: JSON.stringify(post)
				})
				.done((resp)=>{
					if (resp.success && resp.obj) {
						this.$set(this.tplData, 'main', resp.obj);
						this.openEditor = false;
					}
					this.apiBusy = false;
					btn.button('reset');
				})
				.fail((err)=>{
					console.log(err);
					this.apiBusy = false;
					btn.button('reset');
				})
			},
			savePost() {
				if (this.apiBusy) return;
				this.apiBusy = true;
				var btn = $('#save-post');
				btn.button('loading');
				let post = JSON.parse(JSON.stringify(this.newPost));
				post.parentId = this.tplData.main._id;
				post.description = $('#summernote').summernote('code');
				$.ajax({
					url: '/admin/item',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(post)
				})
				.done((resp)=>{
					if (resp.success && resp.obj) {
						if (!this.tplData.list) {
							this.$set(this.tplData, 'list', {});
						}
						if (!this.tplData.list.items) {
							this.$set(this.tplData.list, 'items', []);
						}
						this.tplData.list.items.unshift(resp.obj);
						this.clearAndHide();
					}
					this.apiBusy = false;
					btn.button('reset');
				})
				.fail((err)=>{
					console.log(err);
					this.apiBusy = false;
					btn.button('reset');
				})
			},
			deleteImage(idx) {
				this.newPost.image.splice(idx, 1);
			},
			initSN() {
				let $sn = $('#summernote');
				$sn.summernote({
					lang: 'ru-RU',
					toolbar: [
						['style', ['bold', 'italic', 'underline', 'clear']],
						['font', ['strikethrough', 'superscript', 'subscript']],
						['fontsize', ['fontsize']],
						['color', ['color']],
						['para', ['ul', 'ol', 'paragraph']],
						['height', ['height']],
						['insert',['link', 'table', 'hr']]
					]
				});
			},
			uploadImages(e) {
				let files = e.target.files;
				this.recursUpl(files, 0);
			},
			recursUpl(files, num) {
				let file = files[num];
				if (!file) return;
				this.upload(file, 'p-bar', (resp)=>{
					this.newPost.image.push(resp.fileName);
					this.recursUpl(files, num+1);
				});
			},
			upload(file, progressId, cb) {
				var count = 0;
				// upload all at once
				var xhr = new XMLHttpRequest();
				// Add any event handlers here...
				let progressBar = $('#'+progressId);
				xhr.upload.addEventListener('progress', function(e){
					var percent = (e.loaded / e.total)*100;
					progressBar.find('.progress-bar').css('width', percent);
					progressBar.find('span').html(percent+' %');
				}, false);

				xhr.addEventListener('loadstart', function(e){
					progressBar.find('.progress-bar').css('width', 0);
					progressBar.find('span').html(0+' %');
					progressBar.removeClass('hidden');
				}, false);
				xhr.addEventListener('loadend',   function(e){
					progressBar.addClass('hidden');
				}, false);

				xhr.open('POST', '/upload', true);

				// if (settings.type=='json') {
				xhr.setRequestHeader('Content-Type', 'application/octet-stream');
				// }

				xhr.onreadystatechange = function() {
					if (xhr.readyState==4){

						var response = xhr.responseText;

						// if (settings.type=='json') {
							try {
								response = JSON.parse(response);
							} catch(e) {
								response = false;
							}
						// }
						return cb(response);
					}
				};
				var readFiles = function (_file) {
					var reader = new FileReader();
					reader.onload = function (e, res) {
						if (e && e.target && e.target.result) {
							xhr.send(e.target.result);
						}
					}
					reader.readAsArrayBuffer(_file);
				}
				readFiles(file);
			}
		}
	}
</script>