<template>
	<div class="main-content">
		<div class="container w_100xs">
			<div class="row">
				<div v-if="data.main.leftMenu" class="col-xs-3  hidden-sm hidden-xs">
					<div style="margin-bottom: 10px; postition: relative" v-if="weekPromo" @click.stop.prevent="showPromo">
						<a :href="weekPromo.props.productUrl">
                  			<img class="shadow" :src="weekPromo.props.image.leftBaner" style="width:100%;">
                  		</a>
						<button v-if="isAdmin" data-toggle="modal" data-target="#changeMainDish" class=" icon-btn" ><i class="glyphicon glyphicon-cog"></i></button>
					</div>
					<aside class="left-submenu-wrapper">
						<h2 class="title-left-aside">Меню</h2>
						<div class="left-submenu">
							<div class="left-submenu">
								<ul>
									<li><a href="/category/4#love">Избранное</a></li>
									<!-- <li v-for="cat in data.list.groups" :class="{'active': cat.id == data.main.id, 'cat18': cat.additionalInfo == 'new'}"><a @click.stop.prevent="changeCategory(cat)" :href="'/category/'+cat.url">{{cat.name}}<div v-if="cat.additionalInfo == 'new'" class="new" style="position: absolute;top: -10px;right: 0px;"><img src="/img/new.png"></div></a></li> -->
									<li v-for="cat in data.list.groups" :class="{'active': cat.id == data.main.id}"><a :href="'/category/'+cat.url">{{cat.name}}</a></li>
								</ul>
							</div>
						</div>
					</aside>
					<div class="row main-info-leftside">
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 watchX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ДОСТАВЛЯЕМ БЫСТРО</h5>
									<p class="text-info-block">Наша служба доставки работает с 10:00 до 23.00 без перерыва и выходных дней. Мы отправляем заказы сразу после их
										приготовления и упаковки. Среднее время доставки — 50 минут.
									</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 purseX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ДОСТАВЛЯЕМ БЕСПЛАТНО</h5>
									<p class="text-info-block">Вы оплачиваете только свой заказ, который мы привезем совершенно бесплатно.
										<br> Минимальная сумма заказа — {{ minOrderAmount }} рублей.
									</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 cardsX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">Любая форма расчета</h5>
									<p class="text-info-block">Мы принимаем оплату онлайн, наличные и карты курьеру.</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 mapX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">Карта доставки</h5>
									<p class="text-info-block">Доставка осуществляется в Ейске и городах спутниках</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 foodX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ЕДА С СОБОЙ</h5>
									<p class="text-info-block">Вы можете забрать заказ сами. Выбирайте блюда из меню, удобное время и удобный пункт выдачи. Мы приготовим и упакуем
										ваш заказ к назначенному времени.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12" :class="{'col-md-9': data.main.leftMenu, 'col-md-12': !data.main.leftMenu}">
					<div class="main-content-wrapper">
						<h3 class="page-title">
							{{data.main.title}}
						</h3>
						<div class="content-block" v-if="tplData.main._id == 'd1c150000000000000000003'">
							<h2>Кафе "Суши-Пицца" на Красной</h2>
							<p>Адрес: г. Ейск, ул.Победы, д.74
							</p><p>Телефон администратора: +7 964 926-81-18
							</p><p>Доставка: есть
							</p><p>Телефон бесплатной доставки: 8 (86132) 999-99 ; +7 988 522-44-99
							</p><p>Парковка: есть
							</p><p>Режим работы: 11.00 - 01.00
							</p><hr><h2>ООО "Этика"</h2><h3>Директор</h3><p>Хизов Александр Анатольевич<br>Телефон: 8-918-2888-310</p><p>hizovaleksandr@gmail.com</p><h3>Начальник отдела кадров</h3><p>Оксана Александровна<br>Телефон: 8-964-926-85-85
							</p><p><br>
							</p><p><br>ИНН/КПП <a dir="ltr" x-apple-data-detectors="true" x-apple-data-detectors-type="telephone" x-apple-data-detectors-result="18" target="_blank" class="daria-goto-anchor" rel="noopener noreferrer"></a><a dir="ltr" x-apple-data-detectors="true" x-apple-data-detectors-type="telephone" x-apple-data-detectors-result="0" target="_blank" class="daria-goto-anchor" rel="noopener noreferrer"></a><span class="wmi-callto" style="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);" rel="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);">2306028039/230601001</span>
							</p><p><span class="wmi-callto" style="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);" rel="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);"></span>ОГРН <span class="wmi-callto" style="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);" rel="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);">1062306003968</span>
							</p><p><span class="wmi-callto" style="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);" rel="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);"></span>Адрес: Краснодарский край, г.Ейск, ул.Победы, д.74
							</p><p><span></span>р/с <span class="wmi-callto" style="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);" rel="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);">40702810490000000853</span>
							</p><p><span class="wmi-callto" style="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);" rel="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);"></span>в ЗАО АКБ «ГАЗБАНК» г.САМАРА, БИК <span class="wmi-callto" style="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);" rel="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);">043601863</span>,
							</p><p><span></span>к/с <span class="wmi-callto" style="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);" rel="background-color: initial; font-size: 14px; color: rgb(119, 119, 119);">30101810300000000780</span>
							</p><blockquote>
								<blockquote>
									<blockquote><span class="wmi-callto"></span>
									</blockquote>
								</blockquote>
							</blockquote>
						</div>
						<div v-if="tplData.main._id == 'd1c150000000000000000004'">
							<div class="main-info">
								<div class="well clearfix one-delivery-section">
							<h4 class="delivery-page-title col-md-8 col-md-offset-2 col-xs-12 col-sm-12">Условия доставки</h4>
							<div class="col-md-4 col-xs-12">
								<div class="one-info-block">
									<div class="info-icon">
										<img src="/imgBackEnd/condition1.png" alt="">
									</div>
									<div class="description-info-block">
										<h5 class="title-info-block">Бесплатно</h5>
										<p class="text-info-block">Вы оплачиваете только заказ. Доставку мы осуществляем бесплатно.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-12">
								<div class="one-info-block">
									<div class="info-icon">
										<img src="/imgBackEnd/condition2.png" alt="">
									</div>
									<div class="description-info-block">
										<h5 class="title-info-block">Ежедневно</h5>
										<p class="text-info-block">Вы оплачиваете только заказ. Работаем с 10:00 до 00:00
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-12">
								<div class="one-info-block">
									<div class="info-icon">
										<img src="/imgBackEnd/condition3.png" alt="">
									</div>
									<div class="description-info-block">
										<h5 class="title-info-block">50 Минут</h5>
										<p class="text-info-block">В течение этого времени заказ будет доставлен
										</p>
									</div>
								</div>
							</div>
						</div><div class="clearfix minimum-order-block one-delivery-section">
							<h4 class="delivery-page-title col-md-8 col-md-offset-2 col-xs-12 col-sm-12">минимальная сумма заказа</h4>
							<div class="col-md-4 col-xs-12 col-sm-12 minimum-order-item">
								<h3 class="minimum-order-title">{{ minOrderAmount }}<i class="icon-rouble"></i></h3>
								<p>в пределах г. Ейска, Широчанка
								</p>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 minimum-order-item">
								<h3 class="minimum-order-title">1000<i class="icon-rouble"></i></h3>
								<p>Морской
								</p>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 minimum-order-item">
								<h3 class="minimum-order-title">1000<i class="icon-rouble"></i></h3>
								<p>Ближнеейский
								</p>
								<p><br>
								</p>
								<p> ЗАКАЗ ПО ТЕЛЕФОНУ 8(988)522-44-99 ; 8(86132)999-99
								</p>
							</div>
							<br>
							<h2><div style="text-align:center;color: #17191C;font-size: 30px;text-transform: uppercase;font-weight: bold;">Если доставка до 1000р.</div><br>
								<div style="color:#00C75C">-Краснофлотский-170р.</div>
								<div style="color:#00C75C">-Морской-170р.</div>
								<div style="color:#00C75C">-Ближниейский-70р.</div></h2>
						</div><div class="well clearfix one-delivery-section">
							<h4 class="delivery-page-title col-xs-8 col-xs-offset-2">Наши преимущества</h4>
							<div class="info-block-list">
								<div class="col-md-5 col-xs-12 col-sm-12">
									<div class="one-info-block">
										<div class="info-icon">
											<span class="sprite watch-i"></span>
										</div>
										<div class="description-info-block">
											<h5 class="title-info-block">ДОСТАВЛЯЕМ БЫСТРО</h5>
											<p class="text-info-block">Наша служба доставки работает с 10:00 до 00:00 без перерыва и выходных дней. Мы отправляем заказы сразу после их приготовления и упаковки. Среднее время доставки – 50 минут.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-5 col-md-offset-1 col-md-5 col-xs-12 col-sm-12">
									<div class="one-info-block">
										<div class="info-icon">
											<span class="sprite purse-i"></span>
										</div>
										<div class="description-info-block">
											<h5 class="title-info-block">ДОСТАВЛЯЕМ БЕСПЛАТНО</h5>
											<p class="text-info-block">Вы оплачиваете только свой заказ, который мы привезем совершенно бесплатно.
												<br> Минимальная сумма заказа – {{ minOrderAmount }} рублей. </p><p class="text-info-block">Если сумма заказа менее {{ minFreeDeliveryAmount }} рублей, то стоимость доставки по городу 50 руб. <br></p>
										</div>
									</div>
								</div>
								<div class="col-md-5 col-xs-12 col-sm-12">
									<div class="one-info-block">
										<div class="info-icon">
											<span class="sprite cards-i"></span>
										</div>
										<div class="description-info-block">
											<h5 class="title-info-block">Оплата онлайн</h5>
											<p class="text-info-block">Мы принимаем оплату онлайн, наличные и карту курьеру.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-5 col-xs-12 col-sm-12">
									<div class="one-info-block">
										<div class="info-icon">
											<span class="sprite map-i"></span>
										</div>
										<div class="description-info-block">
											<h5 class="title-info-block">Карта доставки</h5>
											<p class="text-info-block">Доставка осуществляется в Ейске и городах спутниках
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-xs-12 col-sm-12">
									<div class="one-info-block">
										<div class="info-icon">
											<span class="sprite food-i"></span>
										</div>
										<div class="description-info-block">
											<h5 class="title-info-block">ЕДА С СОБОЙ</h5>
											<p class="text-info-block">Вы можете забрать заказ сами. Выбирайте блюда из меню, удобное время и удобный пункт выдачи. Мы приготовим и упакуем ваш заказ к назначенному времени.
											</p>
											<p class="text-info-block">ЗАКАЗ ПО ТЕЛЕФОНУ 8(988)522-44-99 ; 8(86132)999-99<br>
											</p>
											<p class="text-info-block"><br>
											</p>
											<p class="text-info-block"><br>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div><div class="clearfix one-delivery-section">
							<h4 class="delivery-page-title col-md-8 col-md-offset-2 col-xs-12 col-sm-12">способы оплаты товара</h4>
							<div class="commodity-list-wr">
								<div class="commodity-item">
									<div class="commodity-item-icon">
										<img src="/imgBackEnd/commodity1.png" alt="">
									</div>
									<p class="commodity-item-label">наличными
									</p>
								</div>
								<div class="commodity-item">
									<div class="commodity-item-icon">
										<img src="/imgBackEnd/commodity2.png" alt="">
									</div>
									<p class="commodity-item-label">Оплата онлайн
									</p>
								</div>
								<div class="commodity-item">
									<div class="commodity-item-icon">
										<img src="/imgBackEnd/commodity5.png" alt="">
									</div>
									<p class="commodity-item-label">картой курьеру
									</p>
								</div>
							</div>
							<div class="commodity-text-wr">
								<p><b>Оплата онлайн </b>
								</p>
								<p> Для выбора оплаты товара онлайн на соответствующей странице сайта необходимо нажать кнопку «Оплата онлайн».
								</p>
								<p> Оплата происходит через авторизационный сервер Процессингового центра Банка с использованием Банковских кредитных карт следующих платежных систем:
								</p>
								<ul>
									<img src="//secure.eworldwire.com/uploaded_images/client_logos/307716_78914.jpg" rel="width:120px;" style="width:120px;"><br>
									<img src="//www.gutabank.ru/images/mastercard.png" rel="width:120px;" style="width:120px;">
								</ul>
								<p><b>Описание процессa оплаты</b>
								</p>
								<p> При выборе формы оплаты с помощью пластиковой карты проведение платежа по заказу производится непосредственно после его оформления. После завершения оформления заказа в нашем магазине, Вы должны будете нажать на кнопку «Оплата банковской картой», при этом система переключит Вас на страницу авторизационного сервера, где Вам будет предложено ввести данные пластиковой карты, инициировать ее авторизацию, после чего вернуться в наш магазин кнопкой "Вернуться в магазин". После того, как Вы возвращаетесь в наш магазин, система уведомит Вас о результатах авторизации. В случае подтверждения авторизации Ваш заказ будет автоматически выполняться в соответствии с заданными Вами условиями. В случае отказа в авторизации карты Вы сможете повторить процедуру оплаты.
								</p>
								<p>При аннулировании заказа
								</p>
								<p> При аннулировании позиций из оплаченного заказа (или при аннулировании заказа целиком) Вы можете заказать другой товар на эту сумму, либо вернуть всю сумму на карту предварительно написав письмо на e-mail.<br>
								</p>
								<table>
								<tbody>
								<tr>
									<td>
										<p><b>Оплата банковскими картами осуществляется после проверки заказа менеджером интернет-магазина.</b>
										</p>
										<p><b>Оплата по банковским картам VISA</b>
										</p>
										<p>К оплате принимаются все виды платежных карточек VISA, за исключением Visa Electron. В большинстве случаев карта Visa Electron не применима для оплаты через интернет, за исключением карт, выпущенных отдельными банками. О возможность оплаты картой Visa Electron вам нужно выяснять у банка-эмитента вашей карты.
										</p>
										<p><b>Оплата по кредитным картам MasterCard</b>
										</p>
										<p>На сайте к оплате принимаются все виды MasterCard, за исключением Maestro.
										</p>
										<p><b>Что нужно знать:</b>
										</p>
										<ul>
											<li>номер вашей кредитной карты;</li>
											<li>cрок окончания действия вашей кредитной карты, месяц/год;</li>
											<li>CVV код для карт Visa / CVC код для Master Card:</li>
										</ul>
										<p>3 последние цифры на полосе для подписи на обороте карты.
										</p>
										<p>Если на вашей карте код CVC / CVV отсутствует, то, возможно, карта не пригодна для CNP транзакций (т.е. таких транзакций, при которых сама карта не присутствует, а используются её реквизиты), и вам следует обратиться в банк для получения подробной информации.
										</p>
									</td>
								</tr>
								</tbody>
								</table>
								<p><strong>Доставка<br></strong><br>Доставка вкусной еды домой, в офис или на пляж – быстро и просто с кафе «Суши-Пицца»! Вы можете оформить доставку любым удобным способом, остальное доверьте нам.
								</p>
								<p>В меню «Суши-Пицца» богатый выбор блюд из рыбы и морепродуктов, линейка классических японских роллов и полюбившихся авторских вариаций, сеты роллов на выбор для любой компании, итальянская пицца на тонком или толстом тесте, паста, блюда европейской кухни, салаты и закуски, десерты, напитки и многое другое. Никаких компромиссов с качеством и ингредиентами – только свежие, отборные продукты и безупречное исполнение. Каждый заказ отправляется сразу же после приготовления в эргономичной упаковке. Обедайте и ужинайте с нами там, где удобно вам! Участвуйте в наших акциях и получайте приятные бонусы и подарки от кафе «Суши-Пицца»!
								</p>
							</div>
						</div>
							</div>
						</div>
						<div class="content-block" v-if="!((tplData.main._id == 'd1c150000000000000000003') || (tplData.main._id == 'd1c150000000000000000004'))">
							<simple-editor v-if="isAdmin" :tplData="tplData"></simple-editor>
							<div class="col-md-12" v-html="tplData.main.description"></div>
							<ul class="news-list" id="news-list" v-if="items && items.length > 0">		
								<li class="news-list-one-item col-xs-12" v-for="item in items">
									<a :href="'/item/'+item._id" class="news-list-one-item-link clearfix">
										<div class="news-thumbnail col-xs-12 col-md-6" v-if="item.image && item.image[0]">
											<img
												:src="item.image[0]" 
												style="width:344px;height:auto;margin-left: -7px;margin-top: 3px;" 
												:alt="'Фото '+item.name">
										</div>
										<div class="news-text-block  col-xs-12" :class="{'col-md-5': item.image && item.image[0], 'col-md-12': !(item.image && item.image[0])}">
											<h4 class="news-text-block-title">{{item.name}}</h4>
											<div class="news-text-block-description">
												<p>{{item.description|textCut}}</p>
												<div class="additional-info">
													<time class="add-time">{{item.dates.created|date}}</time>
												</div>
											</div>
										</div>
										<!-- <div class="news-text-block  col-xs-12" style="    margin-top: 10px;">
											
										</div> -->
									</a>
								</li>
							</ul>
							<p v-else>Сейчас здесь ничего нет :(</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import eventHub from './eventHub.js'

	export default {
		name: 'simple-page',
		props: ['tplData'],
		data() {
			return {
				mout: false,
				data: this.tplData,
			}
		},
		created() {
			eventHub.$on('simpleDataChange', this.updData);
		},
		methods: {
			showPromo() {
				let item = null;
				if (!(this.weekPromo && this.weekPromo.props && this.weekPromo.props.productUrl)) return;
				let urlId = this.weekPromo.props.productUrl.split('/');
				urlId = urlId[urlId.length-1];
				let i = 0;
				while (i < this.tplData.list.products.length) {
					let one = this.tplData.list.products[i];
					if (one.url == urlId) {
						item = one;
						break;
					}
					i++;
				}
				if (item) {
					eventHub.$emit('productModal', item);
				}
			},
			openLink(link) {
				eventHub.$emit('openLink', link);
			},
			updData(data) {
				this.data = JSON.parse(JSON.stringify(data));
			}
		},
		computed: {
			minOrderAmount() {
				return this.$store && this.$store.getters && this.$store.getters.minOrderAmount
			},
			minFreeDeliveryAmount() {
				return this.$store && this.$store.getters && this.$store.getters.minFreeDeliveryAmount
			},
			isAdmin() {
				return (this.tplData && this.tplData.isAdmin) ? true : false;
			},
			weekPromo() {
				return (this.tplData && 
						this.tplData.promo && 
						this.tplData.promo.weekly) ? this.tplData.promo.weekly : null;
			},
			items() {
				return (this.tplData &&
						this.tplData.list && 
						this.tplData.list.items) ? this.tplData.list.items : [];
			}
		},
		mounted() {
			this.mount = true;
		},
		components: {
			'simple-editor': () => import('./SimpleEditor.vue')
		},
		filters: {
			name(val) {
				return val.replace(/\(Д\)/ig, '').replace(/ГР\.$/ig, '').replace(/[0-9]/ig,'');
			},
			weight(val) {
				return Number((val*1000).toFixed(0));
			},
			textCut(val) {
				return (((val.replace(/<\/?[^>]+(>|$)/g, "")).substring(0, 250))+'...').replace(/&nbsp;/g,' ').replace(/&amp;/g,'&');
			},
			date(val) {
				let time = new Date(val);
				return ('0'+time.getDate()).substr(-2)+'.'+('0'+(time.getMonth()+1)).substr(-2)+'.'+time.getFullYear();
			}
		}
	}

</script>