<template>
	<div class="main-content">
		<div class="container w_100xs">
			<div class="row">
				<div class="col-xs-3  hidden-sm hidden-xs">
					<div style="margin-bottom: 10px; postition: relative" v-if="weekPromo">
						<a :href="weekPromo.props.productUrl" @click.stop.prevent="showPromo">
                  			<img class="shadow" :src="weekPromo.props.image.leftBaner" style="width:100%;">
                  		</a>
						<button v-if="isAdmin" data-toggle="modal" data-target="#changeMainDish" class="icon-btn" ><i class="glyphicon glyphicon-cog"></i></button>
					</div>
					<aside class="left-submenu-wrapper">
						<h2 class="title-left-aside">Меню</h2>
						<div class="left-submenu">
							<div class="left-submenu">
								<ul>
									<li><a href="/category/4#love">Избранное</a></li>
									<!-- <li v-for="cat in data.list.groups" :class="{'active': cat.id == data.main.id, 'cat18': cat.additionalInfo == 'new'}"><a @click.stop.prevent="changeCategory(cat)" :href="'/category/'+cat.url">{{cat.name}}<div v-if="cat.additionalInfo == 'new'" class="new" style="position: absolute;top: -10px;right: 0px;"><img src="/img/new.png"></div></a></li> -->
									<li v-for="cat in data.list.groups" :class="{'active': cat.id == data.main.id}"><a :href="'/category/'+cat.url">{{cat.name}}</a></li>
								</ul>
							</div>
						</div>
					</aside>
					<div class="row main-info-leftside">
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 watchX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ДОСТАВЛЯЕМ БЫСТРО</h5>
									<p class="text-info-block">Наша служба доставки работает с 10:00 до 23.00 без перерыва и выходных дней. Мы отправляем заказы сразу после их
										приготовления и упаковки. Среднее время доставки — 50 минут.
									</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 purseX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ДОСТАВЛЯЕМ БЕСПЛАТНО</h5>
									<p class="text-info-block">Вы оплачиваете только свой заказ, который мы привезем совершенно бесплатно.
										<br> Минимальная сумма заказа — {{ minOrderAmount }} рублей.
									</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 cardsX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">Любая форма расчета</h5>
									<p class="text-info-block">Мы принимаем оплату онлайн, наличные и карты курьеру.</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 mapX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">Карта доставки</h5>
									<p class="text-info-block">Доставка осуществляется в Ейске и городах спутниках</p>
								</div>
							</a>
						</div>
						<div class="col-xs-12">
							<a href="pages/delivery" class="one-info-block-leftside">
								<div class="info-icon">
									<span class="spriteX08 foodX08-i"></span>
								</div>
								<div class="description-info-block">
									<h5 class="title-info-block">ЕДА С СОБОЙ</h5>
									<p class="text-info-block">Вы можете забрать заказ сами. Выбирайте блюда из меню, удобное время и удобный пункт выдачи. Мы приготовим и упакуем
										ваш заказ к назначенному времени.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					<div class="main-content-wrapper">
						<div class="row">
							<div class="col-xs-5 user-info-block">
								<h3 class="page-title">Личный кабинет:</h3>

								<div class="row">
									<div class="main-user-info-wr clearfix">
										<div class="col-xs-7">
											<h4 class="main-user-info-name">{{user.name}}</h4>
										</div>
										<div class="col-xs-5 text-right">
										</div>
									</div>
								</div>
								<div class="user-info">
									<p class="user-email" v-if="user.email">{{user.email}}</p>
									<p class="user-phone">{{user.phone}}</p>
								</div>
							</div>
							<div class="col-xs-offset-1 col-xs-6 user-bonuses">
								<h3 class="page-title">Бонусы:</h3>
								<div class="user-bonuses__row">
									<span>Текущий баланс: <b>{{ bonuses }}</b></span>
								</div>
								<div class="user-bonuses__row">
									<span>Ожидает начисления: <b>{{ awaitBonuses }}</b></span>
								</div>
								<div class="user-bonuses__row">
									<small>* бонусами можно оплачивать до 40% заказа</small>
								</div>
								<div class="user-bonuses__row">
									<small>* при оформлении заказа вам будут начисляться бонусы. Бонусы начисляются на все товары кроме категории "Напитки"</small>
								</div>
							</div>
						</div>
						<div class="history-user-shipping">
							<div class="history-user-shipping-header">
								<p class="history-user-shipping-label">История заказов</p>
							</div>
							<table class="table table-striped-custom order-table">
								<thead>
									<tr>
										<th>Дата</th>
										<th>№ заказа</th>
										<th>Статус</th>
										<th>Стоимость</th>
										<th>Скидка</th>
										<th>Заказ</th>
										<th>Повторить</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="one in userHistory" :key="one.orderId">
										<td class="order-center">{{one.date|date}}</td>
										<td class="order-number"><span>{{one.number}}</span></td>
										<td class="order-center">{{(one.status == 'CLOSED') ? 'Выполнен' : (one.status == 'CANCELLED') ? 'Отменен' : 'Обработка'}}</td>
										<td class="order-center"><span v-if="one.status != 'CANCELLED'">{{one.sum}} <i class="icon-rouble"></i></span></td>
										<td class="order-number"><span v-if="one.status != 'CANCELLED'">{{one.discount}} <i class="icon-rouble"></i></span></td>
										<td class="order-number">
											<a  v-if="one.status != 'CANCELLED'" href="#" @click.stop.prevent="showOrder(one)"><span class="glyphicon glyphicon-list"></span></a>
										</td>
										<!-- 
											<td class="order-number">
												<a  v-if="one.status != 'CANCELLED'" href="#" @click.stop.prevent="refreshIt(one)"><span class="glyphicon glyphicon-refresh"></span></a>
											</td>
										-->
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="currentOrder" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content" v-if="currentOrder">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-sp-close-i"></i>
						</button>
						<h4 class="modal-title" id="signIinLabel">Заказ №{{currentOrder.number}}</h4>
					</div>
					<div class="modal-body">
						<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Блюдо</strong></td>
        							<td class="text-center"><strong>Цена</strong></td>
        							<td class="text-center"><strong>Кол-во</strong></td>
        							<td class="text-right"><strong>Итого</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr v-for="item in currentOrder.items">
    								<td>{{item.name}}</td>
    								<td class="text-center"><span>{{item.sum/item.amount}} <i class="icon-rouble"></i></span></td>
    								<td class="text-center">{{item.amount}}</td>
    								<td class="text-right"><span>{{item.sum}} <i class="icon-rouble"></i></span></td>
    							</tr>
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Пречек</strong></td>
    								<td class="thick-line text-right"><span>{{currentOrder.sum+currentOrder.discount}} <i class="icon-rouble"></i></span></td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Скидка</strong></td>
    								<td class="no-line text-right"><span>{{currentOrder.discount}} <i class="icon-rouble"></i></span></td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Итого</strong></td>
    								<td class="no-line text-right"><span>{{currentOrder.sum}} <i class="icon-rouble"></i></span></td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
					</div>
					<div class="modal-footer">
						<div class="text-center">
							<button type="submit" class="btn btn btn-success btn-lg">Закрыть</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import eventHub from './eventHub.js'
	export default {
		name: 'user-page',
		props: ['tplData'],
		data() {
			return {
				data: this.tplData,
				history: require('./delTestData.json'),
				currentOrder: null
			}
		},
		computed: {
			minOrderAmount() {
				return this.$store && this.$store.getters && this.$store.getters.minOrderAmount
			},
			awaitBonuses() {
				return (this.tplData.user && this.tplData.user.awaitsBonus) ? this.tplData.user.awaitsBonus : 0
			},
			bonuses() {
				return (this.tplData.user && this.tplData.user.bonus) ? this.tplData.user.bonus : 0
			},
			isAdmin() {
				return (this.tplData && this.tplData.isAdmin) ? true : false;
			},
			weekPromo() {
				return (this.tplData && 
						this.tplData.promo && 
						this.tplData.promo.weekly) ? this.tplData.promo.weekly : null;
			},
			user() {
				return {
					name: this.tplData.main.name,
					phone: this.tplData.main.contactPoint.phone
				}
			},
			userHistory(){
				let out = [];
				if (!(this.tplData.list && 
					this.tplData.list.history && 
					this.tplData.list.history.customersDeliveryHistory)) return out;
				let history = this.tplData.list.history.customersDeliveryHistory;
				for (let i=0; i < history.length;i++) {
					let one = history[i].deliveryHistory;
					for (let j=0; j < one.length;j++) {
						let two = one[j];
						out.push(two);
					}
				}
				out.sort(function(a,b) {
					let one = (new Date(a.date)).getTime();
					let two = (new Date(b.date)).getTime();
					if (one > two) {
						return -1;
					}
					if (one < two) {
						return 1;
					}
					return 0;
				});
				return out;
			}
		},
		created() {
			eventHub.$on('simpleDataChange', this.updData);
		},
		methods: {
			addToCartRe(item) {
				let count = (this.data && 
							this.data.stopList && 
							(this.data.stopList[item.id] !== undefined)) ? this.data.stopList[item.id] : 1;
				if (count > 0) {
					eventHub.$emit('addToCart', item);
				} else {
					this.$notify({
						group: 'foo',
						title: 'Извините:',
						text: item.name+' находится на стоп-листе :(',
						type: 'warn',
						duration: 5000,
						position: 'bottom right'
					});
				}
			},
			refreshIt(order) {
				let items =  order.items;
				let products = this.data.list.products;
				for (let i=0;i<products.length; i++) {
					let one = products[i];
					for (let j=0;j<items.length; j++) {
						let two = items[j];
						if (one.id == two.id) {
							for (let k=0;k<two.amount;k++) {
								this.addToCartRe(one);
							}
						}
					}
				}
				setTimeout(()=>{
					eventHub.$emit('openCart');
				}, 1000);
			},
			showPromo() {
				let item = null;
				if (!(this.weekPromo && this.weekPromo.props && this.weekPromo.props.productUrl)) return;
				let urlId = this.weekPromo.props.productUrl.split('/');
				urlId = urlId[urlId.length-1];
				let i = 0;
				while (i < this.tplData.list.products.length) {
					let one = this.tplData.list.products[i];
					if (one.url == urlId) {
						item = one;
						break;
					}
					i++;
				}
				if (item) {
					eventHub.$emit('productModal', item);
				}
			},
			showOrder(order) {
				this.$set(this, 'currentOrder', order);
				this.$nextTick(()=>{
					$('#currentOrder').modal('show');
				});
			},
			openLink(link) {
				eventHub.$emit('openLink', link);
			},
			updData(data) {
				this.data = JSON.parse(JSON.stringify(data));
			}
		},
		components: {
		},
		filters: {
			date(val) {
				let date = new Date(val);
				return ('0'+date.getDate()).substr(-2)+'.'+('0'+(date.getMonth()+1)).substr(-2)+'.'+date.getFullYear();
			},
			name(val) {
				return val.replace(/\(Д\)/ig, '').replace(/ГР\.$/ig, '').replace(/[0-9]/ig,'');
			},
			weight(val) {
				return Number((val*1000).toFixed(0));
			}
		}
	}

</script>
<style lang="scss">
	.user-bonuses {
		&__row {
			margin: 10px 0;
		}
	}
</style>
