<div class="block-head row">
	<div class="col-md-7">
	<h3  style="">Информация о владельце аккаунта.</h3>
	</div>
	<div class="col-md-5" style="    text-align: right;">
	<button class="btn btn-warning  bttn-fill bttn-md bttn-warning" style="    margin-top: 14px;position: relative;" id="show-cert-input">У меня есть сертификат!</button>
	</div>
</div>
<div class="block-head">
	
	<div id="input-cert" class="row" style="display: none">
	<hr>	
		<div class="col-md-6">
			<input class="form-control" id="cert-id" placeholder="Введите код сертификата">
		</div>
		<div class="col-md-6">
			<button class="btn btn-success  bttn-fill bttn-md bttn-success" style="height: 45px;" id="send-cert">Отправить</button>
		</div>
	</div>
	<hr>
	<p>Мы убедительно просим вас аккуратно и внимательно заполнять информацию. Для вашего удобства мы используем эту информацию для авто заполнения полей при заказе тура.</p> 
	<hr>
	<p class="capitalize">ФИО: <b>{?template.user.name}{template.user.name}{:else}Не указано{/template.user.name}</b></p>
	<p class="capitalize">Дата регистрации: <span id="timefromRegister"></span></p>
	<p>Баланс кокосов: <b><span id="balance">{?template.user.vars.credits}{template.user.vars.credits}{:else}0{/template.user.vars.credits}</span></b></p>
	<p>Контактный номер телефона: <b>{?template.user.contactPoint.phone}{template.user.contactPoint.phone}{:else}Не указан{/template.user.contactPoint.phone}</b></p>
	<button class="btn btn-warning  bttn-fill bttn-md bttn-warning">Редактировать</button>
</div>