<div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
	<div class="modal-dialog modal-sm-custom">
		<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="icon close" data-dismiss="modal" aria-hidden="true"><i class="mdi mdi-close"></i></button>
				<h4 class="modal-title" id="modal_label" style="position: absolute;top: 60px;color: white;left: 60px;">Не нашли ничего подходящего?</h4>
				<img src="/img/phone.jpg" style="width: 100%;" alt="">
			</div>
			<div class="modal-body" style="text-align: center">
				<p class="form-group">
					<span>Оставьте свой номер телефона, c Вами свяжутся наши специалисты и сделают предложение от которого вы не сможете отказаться.</span><br>
				</p>
				<div class="form-group" style="text-align: left">
					<input class="form-control text-center" id="callPhone" type="tel" placeholder="Укажите номер телефона" value="">
				</div>
				<button class=" btn btn-success btn-block bttn-fill bttn-md bttn-success" type="button" id="sendCallback">Перезвоните мне!</button>
			</div>
		</div>
	</div>
</div>