<!-- Модальное окно - Из чего состоит уборка -->
<div class="modal fade" id="how_it_work_modal" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
	<div class="modal-dialog modal-md-custom">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="icon close" data-dismiss="modal" aria-hidden="true"><i class="mdi mdi-close"></i></button>
				<h4 class="modal-title" id="modal_label">Что мы делаем всегда</h4>
			</div>

			<section class="wic">
			<!-- Что мы делаем -->
				<div class="what-we-do">
					<div class="item">
						<div class="fixed-ar ar-1-1">
							<div class="img" style="background-image: url('https://assets2.qlean.ru/assets/mainpage/popup/bedroom-bf07a014d29cdd2037ddb632a5a52a12.jpg')"></div>
						</div>
						<div class="text">
							<h4>В жилых комнатах</h4> 
							<ul>
								<li>Протираем все доступные поверхности, выключатели и дверные ручки</li>
								<li>Чистим зеркала и стеклянные поверхности</li>
								<li>Складываем одежду и расставляем вещи</li>
								<li>Застилаем кровать</li>
								<li>Моем пол, протираем плинтусы и пылесосим ковёр</li>
								<li>Убираем мусор</li>
							</ul>
						</div>
					</div>

					<div class="item">
						<div class="text">
							<h4>На кухне</h4> 
							<ul>
								<li>Протираем все доступные поверхности, выключатели и дверные ручки</li>
								<li>Моем снаружи плиту, столешницу и холодильник</li>
								<li>Чистим раковину</li>
								<li>Моем пол и протираем плинтусы</li>
								<li>Выносим мусор</li>
							</ul>
						</div>
						<div class="fixed-ar ar-1-1">
							<div class="img" style="background-image: url('https://assets2.qlean.ru/assets/mainpage/popup/bedroom-bf07a014d29cdd2037ddb632a5a52a12.jpg')"></div>
						</div>
					</div>

					<div class="item">
						<div class="fixed-ar ar-1-1">
							<div class="img" style="background-image: url('https://assets2.qlean.ru/assets/mainpage/popup/bedroom-bf07a014d29cdd2037ddb632a5a52a12.jpg')"></div>
						</div>
						<div class="text">
							<h4>В ванной и туалете</h4> 
							<ul>
								<li>Протираем все доступные поверхности, выключатели и дверные ручки</li>
								<li>Моем и дезинфициadsруем унитаз</li>
								<li>Моем душевую кабину и ванную</li>
								<li>Чистим зеркала и стеклянные поверхности</li>
								<li>Моем пол, протираем плинтусы и пылесосим коврики</li>
								<li>Протираем шкафы с внешней стороны</li>
								<li>Выносим мусор</li>
							</ul>
						</div>
					</div>

					<div class="item">
						<div class="text">
							<h4>В коридоре</h4> 
							<ul>
								<li>Протираем все доступные поверхности</li>
								<li>Чистим зеркала и стеклянные поверхности</li>
								<li>Моем пол, протираем плинтусы и пылесосим коврики</li>
								<li>Расставляем обувь</li>
							</ul>
						</div>
						<div class="fixed-ar ar-1-1">
							<div class="img" style="background-image: url('https://assets2.qlean.ru/assets/mainpage/popup/bedroom-bf07a014d29cdd2037ddb632a5a52a12.jpg')"></div>
						</div>
					</div>

				</div>

				<div class="additional">
					<h2>Дополнительные услуги</h2>
					<p class="sub">За отдельную плату мы сделаем и это</p>
					<div class="item">
						<div class="icon img refrigerator"></div>
						<h4>Почистим холодильник</h4>
						<p>Освободим от еды, удалим грязь изнутри, протрём полки и вернём всё на место. Отключите морозилку — мы почистим и её</p>
					</div>
					<div class="item">
						<div class="icon img oven"></div>
						<h4>Помоем духовку</h4>
						<p>Удалим жир и грязь изнутри, очистим и протрём духовой шкаф</p>
					</div>
					<div class="item">
						<div class="icon img kitchen_cabinets"></div>
						<h4>Помоем посуду</h4>
						<p>Освободим полки, протрём все поверхности изнутри и вернём всё обратно. Если вам нужно выкинуть старые продукты — только дайте знать</p>
					</div>
					<div class="item">
						<div class="icon img tableware"></div>
						<h4>Приберём кухонные шкафы</h4>
						<p>Оставьте её в раковине</p>
					</div>
					<div class="item">
						<div class="icon img microwave"></div>
						<h4>Помоем микроволновку</h4>
						<p>Удалим жир и грязь изнутри, очистим и протрём микроволновую печь</p>
					</div>
					<div class="item">
						<div class="icon img ironing"></div>
						<h4>Глажка</h4>
						<p>Оставьте белье на гладильной доске</p>
					</div>
					<div class="item">
						<div class="icon img windows"></div>
						<h4>Помоем окна</h4>
						<p>Зимой мы моем окна только с внутренней стороны</p>
					</div>
					<div class="item">
						<div class="icon img balconies"></div>
						<h4>Помыть балкон</h4>
						<p>Протрём все доступные поверхности, включая окна, затем помоем пол</p>
					</div>
					<div class="item">
						<div class="icon img keys_delivery"></div>
						<h4>Доставить ключи</h4>
						<p>Оставьте адрес, после уборки клинер завезёт ключи и передаст их вам лично в руки</p>
					</div>
				</div>

				<div class="order">
					<h2>И всё это от 1590 рублей</h2>
					<p>Если у вас возникли дополнительные вопросы, позвоните нам по номеру +7 (800) 500-82-64</p>
					<div class="center-block">
						<button class="btn btn-default green" data-dismiss="modal" aria-hidden="true">Заказать уборку</button>
					</div>
				</div>

				<div class="not-doing">
					<h4>Этим мы не занимаемся:</h4>
					<div class="item"><p class="icon">не поднимаем тяжелые предметы</p></div>
					<div class="item"><p class="icon">не удаляем глубокие пятна и не чистим паром</p></div>
					<div class="item"><p class="icon">не двигаем мебель</p></div>
					<div class="item"><p class="icon">не делаем химическую чистку ковров</p></div>
					<div class="item"><p class="icon">не применяем биологически опасные материалы</p></div>
					<div class="item"><p class="icon">не чистим жалюзи и шторы</p></div>
					<div class="item"><p class="icon">не работаем во дворах и огородах</p></div>
					<div class="item"><p class="icon">не прибираем в кладовке</p></div>
					<div class="item"><p class="icon">не делаем уборку в труднодоступных местах</p></div>
					<div class="item"><p class="icon">не моем стены</p></div>
				</div>
			</section>
		</div>
	</div>
</div>