<f7-page hide-bars-on-scroll >
	<section style="background : white;">
		<div class="swiper-container  swiper-init">
			<!-- Slides wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				
				{#template.result.GetHotelInformationResult.ImageUrls.string}
				<div class="swiper-slide">
					 <div class="fixed-ar ar-4-3 " >
						<div class="content"  style="background-image: url({.})" ></div>
					  </div>
				</div>
				{/template.result.GetHotelInformationResult.ImageUrls.string}
				
			</div>
			<div class="hotelprice">
					от <span  id="min-price" style="    font-size: 24px;">64 093</span><i class="mdi mdi-currency-rub"></i> 
			</div>
			<div class="hotelrate">
				<b>{template.main.rate}</b>
			</div>
		</div>
		<div class="row" style="    padding: 5px;">
			<div class="col-80">
				{@select key="{template.main.star.name}"}
				{@eq value="5*"}
				<span style="color: gold">
					<span class="starsHotel">
					<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
					</span>
				</span>
				{/eq}
				{@eq value="4*"}
				<span style="color: gold">
					<span class="starsHotel">
					<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
					</span>
				</span>
				{/eq}
				{@eq value="3*"}
				<span style="color: gold">
					<span class="starsHotel">
					<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
					</span>
				</span>
				{/eq}
				{@eq value="2*"}
				<span style="color: gold">
					<span class="starsHotel">
					<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
					</span>
				</span>
				{/eq}
				{@eq value="1*"}
				<span style="color: gold">
					<span class="starsHotel">
					<i class="mdi mdi-star mdi-18px"></i>
					</span>
				</span>
				{/eq}
				{@none}
				<span style="color: gold">
					<span class="starsHotel">
					Апартаменты
					</span>
				</span>
				{/none}
				{/select}
				<h3>{template.result.GetHotelInformationResult.Name} </h3>
				<p style="    margin-top: -10px;">{template.result.GetHotelInformationResult.CountryName}, {template.main.city.name}</p>
			</div>
			<div class="col-20">
				{template.result|bichLine} до пляжа
			</div>
		</div>
		<div class="icons-top row">
					{template.main|mServicesMob|s}
		</div>
		<div class="p5">
          <div class="buttons-row tabs">
            <a href="#tab1" class="button tab-link kokos active ">Туры</a>
            <a href="#tab2" class="button tab-link kokos">Об отеле</a>
			<a href="#tab3" class="button tab-link kokos">На карте</a>
          </div>
			<div class="tabs hotel-tab">
				<div id="tab1" class="tab active">
				<div class="content-block">
					<hotel-results></hotel-results>
				</div>
				</div>
				<div id="tab2" class="tab">
				<div class="content-block">
					<div style="margin-bottom: 15px;">
						{template.main.props.description|s}
					</div>
					<div class="row" style="text-align: center;margin-top: 40px;">
					{#template.result.GetHotelInformationResult.HotelFacilities.HotelInfoFacilityGroup}
						<div class="serv-all col-33">
							<div class="col-md-3"><i class="mdi mdi-{.Id|idToIcon}"></i></div>
							<p>{.Name}</p>
						</div>
					{/template.result.GetHotelInformationResult.HotelFacilities.HotelInfoFacilityGroup}
					</div>
				</div>
				</div>
				<div id="tab3" class="tab">
				<div class="content-block">
				<div id="map" style="width: 100%; height: 400px"></div>
				</div>
				</div>
			</div>
		</div>	
	</section>
</f7-page>