<div class="bgb">
    <section class="">
        <div class="row">
            <div class="logo col-md-3  mb">
                <a class="link link--ilin" href="/"><span>KOKOS</span> <span>TRAVEL</span></a>
            </div>

        </div>
    </section>
<section class="container cw">
    <div class="row">
        <div class="col-md-12">
            <router-view></router-view>
        </div>
    </div>
</section>
</div>