<template>
	<!-- App -->
  	<div id="app" ref="app" class="theme-white">
    	<!-- Statusbar -->
    	<f7-statusbar></f7-statusbar>
		<f7-progressbar color="red" :progress="progress"></f7-progressbar>
    	<!-- Left Panel -->
   		<f7-panel left cover>
     		<f7-view id="left-panel-view" navbar-through :dynamic-navbar="true">
				<f7-navbar v-if="$theme.ios" title="Left Panel" sliding></f7-navbar>
				<f7-pages>
          			<f7-page>
						<f7-navbar v-if="$theme.material" title="Left Panel" sliding></f7-navbar>
						<f7-block class="center">
							<f7-link v-if="user" @click.stop.prevent="openPage('account/')"><img src="/img/user1.png" alt="" width="75px"></f7-link><br>
							<f7-link v-if="user" @click.stop.prevent="logOut()">Выход</f7-link><br>
							<f7-link open-popup="#login-screen" v-if="!user">Вход</f7-link><br v-if="!user">
							<f7-link @click.stop.prevent="openPage('registration/')" v-if="!user">Регистрация</f7-link><br v-if="!user">
							<f7-link @click.stop.prevent="recovery()" v-if="!user">Восстановление пароля</f7-link><br v-if="!user">
							<f7-link @click.stop.prevent="goTo('/')" class="active">Главная</f7-link><br>
							<f7-link @click.stop.prevent="goTo('pages/restaurants/')">Рестораны</f7-link><br>
							<f7-link @click.stop.prevent="goTo('actions/')">Акции</f7-link><br>
							<f7-link @click.stop.prevent="goTo('pages/vac/')">Вакансии</f7-link><br>
							<f7-link @click.stop.prevent="openPage('pages/delivery/')">О доставке</f7-link><br>
							<!-- <f7-link link="/about/">Промокод</f7-link><br>-->
						</f7-block>
						<f7-block inner >
            				<f7-grid no-gutter>
								<f7-col width="50" class="center">
									<img @click.stop.prevent="openPage('favourite/')" src="/img/fav.jpg" alt="" style="width:100%;max-width: 118px;">
									<p @click.stop.prevent="openPage('favourite/')">Любимое</p>
								</f7-col>
								<f7-col 
									width="50" 
									class="center" 
									v-for="(cat, i) in categories"
									:key="`cat-1-${i}`">
									<img 
										:src="cat.images[0].imageUrl" 
										alt="" 
										style="width:100%;max-width: 118px;" 
										@click="goTo('category/'+cat.url, true, cat)">
									<p @click="goTo('category/'+cat.url, true, cat)">{{cat.name}}</p>
								</f7-col>
							</f7-grid>
           				</f7-block>
            			<f7-block class="center" >
              				<f7-link @click.stop.prevent="openPage('review/')">Написать отзыв</f7-link><hr>
							Мы в соц. сетях
            			</f7-block>
            			<f7-block class="center icons" inner>
                      
					  <a onclick="window.open('https://vk.com/sushipizza_yeysk', '_self', 'location=no');"><f7-icon fa="vk"></f7-icon></a>
					  <a onclick="window.open('https://www.facebook.com/groups/1712858048974785/', '_self', 'location=no');"><f7-icon fa="facebook-square"></f7-icon></a>
						<a style="opacity: 0;" onclick="window.open('https://instagram.com/sushipizza_yeysk?igshid=1u84jz28kfb55', '_self', 'location=no');"><f7-icon fa="instagram"></f7-icon></a>
						<a style="opacity: 0;" onclick="window.open('http://ok.ru/group/57559565926448', '_self', 'location=no');"><img src="/img/ok-1.png" style="height: 20px;
                        position: relative;
                        top: 5px;" alt=""></a>
              				<f7-icon fa=""></f7-icon>
            			</f7-block>
         			</f7-page>
        		</f7-pages>
   			</f7-view>
    	</f7-panel>
    	<!-- Main Views -->
    	<f7-views>
      		<f7-view id="main-view" navbar-through :dynamic-navbar="true" main>
				<!-- iOS Theme Navbar -->
				<f7-navbar v-if="$theme.ios">
					<f7-nav-left>
						<f7-link  open-panel="left"><i class="f7-icons">bars</i></f7-link>
					</f7-nav-left>
					<f7-nav-center ><img src="/img/log.png" style="height: 17px;" alt=""></f7-nav-center>
					<f7-nav-right  style="margin-left: 15px;" >
						<a class="open-popover" style="    margin-right: 15px;" :data-popover="'#pop-phone'"><span><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="80mm" height="80mm" version="1.1" style="fill:white;height:20px;width:20px;"
viewBox="0 0 8000 8000"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
 </defs>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g>
   <path class="fil0" d="M250 2140l500 -6 0 3 7 261 20 258 33 253 45 250 58 246 70 241 81 236 92 231 103 226 114 219 124 214 134 207 144 200 153 193 161 185 171 178 178 170 186 161 194 152 201 143 207 134 215 124 220 114 226 103 231 93 237 81 241 70 246 59 249 47 254 34 257 21 260 9 -4 500 -285 -10 -282 -23 -279 -38 -274 -51 -270 -64 -265 -77 -260 -90 -253 -102 -248 -113 -242 -125 -235 -136 -227 -146 -220 -157 -212 -167 -204 -176 -196 -186 -186 -195 -177 -203 -168 -211 -157 -220 -147 -227 -136 -234 -125 -241 -114 -248 -101 -254 -90 -260 -76 -265 -64 -270 -50 -275 -36 -279 -22 -283 -7 -287 0 3zm0 -3c0,-138 112,-250 250,-250 138,0 250,112 250,250l-500 0zm1847 -1887l0 500 0 0 -72 2 -71 5 -69 9 -68 12 -66 16 -65 18 -63 22 -62 25 -60 27 -58 31 -56 33 -55 36 -53 38 -50 41 -49 43 -46 46 -45 48 -41 50 -40 52 -37 55 -34 56 -32 58 -29 59 -26 61 -24 63 -20 65 -17 65 -15 68 -11 68 -7 69 -5 71 -1 72 -500 6 1 -96 6 -96 11 -93 14 -93 20 -91 23 -90 28 -87 32 -86 36 -83 39 -82 44 -79 47 -77 51 -74 54 -72 57 -69 61 -65 64 -63 67 -60 69 -56 73 -53 75 -50 78 -46 81 -42 83 -38 85 -34 87 -30 89 -25 91 -22 93 -16 95 -12 96 -8 97 -2 0 0zm1847 1846l-500 0 0 0 -2 -70 -5 -68 -9 -68 -12 -66 -15 -65 -18 -64 -21 -62 -24 -61 -27 -60 -30 -58 -32 -56 -35 -55 -38 -52 -40 -51 -42 -49 -45 -47 -47 -45 -49 -42 -51 -40 -52 -37 -55 -35 -56 -33 -58 -30 -60 -26 -61 -24 -63 -22 -63 -18 -66 -15 -66 -12 -67 -8 -69 -5 -69 -2 0 -500 95 2 93 7 93 12 91 16 89 21 88 25 86 29 84 33 82 37 79 41 78 44 75 48 72 52 70 55 67 57 64 62 61 64 58 67 55 69 51 73 48 74 45 78 41 79 37 82 33 84 29 86 25 88 21 89 16 91 12 92 7 94 2 95 0 0zm-1365 1474l-457 203 189 -349 60 -11 59 -13 57 -16 57 -19 55 -20 55 -24 53 -25 52 -28 50 -30 49 -32 47 -34 46 -36 45 -38 42 -40 41 -42 39 -43 37 -45 35 -47 34 -48 31 -49 29 -51 26 -53 25 -53 22 -55 20 -56 17 -57 15 -58 12 -60 10 -60 7 -61 4 -62 2 -62 500 0 -2 85 -6 85 -9 83 -14 83 -16 81 -21 80 -24 79 -27 77 -30 75 -34 74 -37 72 -39 70 -43 68 -46 66 -48 63 -51 62 -53 59 -56 58 -58 54 -61 52 -63 50 -65 46 -67 44 -69 41 -71 38 -73 35 -75 32 -76 29 -78 26 -79 22 -81 18 -82 15 189 -348zm-189 348c-136,22 -265,-71 -286,-207 -22,-137 71,-265 207,-287l79 494zm1689 1687l494 79 -349 189 -87 -40 -86 -42 -85 -43 -83 -46 -83 -47 -81 -50 -80 -51 -79 -53 -78 -55 -76 -56 -75 -58 -73 -60 -72 -61 -71 -63 -69 -64 -68 -66 -66 -68 -64 -69 -63 -71 -62 -72 -59 -73 -58 -75 -57 -76 -55 -77 -52 -79 -52 -80 -49 -81 -48 -83 -45 -83 -44 -85 -42 -86 -40 -87 457 -203 35 76 37 76 39 74 40 74 42 72 43 72 45 70 47 69 48 68 49 67 51 66 53 64 54 64 55 62 57 61 58 59 60 58 61 57 62 55 63 54 65 53 66 51 67 49 68 48 69 47 70 45 72 43 72 42 74 40 74 39 76 36 77 35 -349 189zm349 -189c126,56 183,204 127,330 -57,127 -205,183 -331,127l204 -457zm1475 -1363l0 500 0 0 -63 1 -62 4 -61 7 -60 10 -59 12 -59 15 -57 18 -56 19 -55 22 -53 25 -53 27 -51 29 -49 31 -48 33 -47 35 -45 37 -44 39 -41 41 -40 42 -38 45 -36 45 -34 48 -33 49 -29 50 -28 52 -26 53 -23 54 -21 56 -19 56 -16 58 -13 59 -11 59 -494 -79 15 -81 18 -81 22 -79 26 -78 29 -76 32 -75 35 -73 38 -71 41 -69 44 -67 47 -65 49 -63 52 -60 55 -59 57 -56 59 -53 62 -51 64 -48 66 -45 68 -43 70 -40 72 -36 74 -34 75 -30 77 -28 79 -23 80 -21 81 -17 83 -13 83 -10 85 -5 86 -2 0 0zm1847 1846l-500 0 0 0 -2 -70 -5 -68 -9 -68 -12 -66 -15 -65 -18 -64 -21 -62 -24 -61 -27 -60 -30 -58 -32 -56 -35 -55 -38 -53 -40 -50 -42 -49 -45 -47 -47 -45 -49 -42 -50 -40 -53 -38 -55 -35 -56 -32 -58 -30 -60 -27 -61 -24 -63 -21 -63 -18 -65 -15 -67 -12 -67 -8 -69 -5 -69 -2 0 -500 95 2 93 7 93 12 91 16 89 21 88 25 86 29 84 33 82 37 80 41 77 44 75 48 72 52 70 54 67 58 64 61 61 64 58 67 55 70 52 72 48 75 44 78 41 79 37 82 33 84 29 86 25 87 21 90 16 91 12 92 7 94 2 95 0 0zm-1892 1851l4 -500 2 0 71 -1 71 -4 69 -8 69 -11 67 -14 66 -17 64 -21 63 -23 61 -27 60 -29 58 -32 56 -35 54 -37 53 -39 50 -43 48 -44 46 -47 43 -49 42 -51 38 -53 36 -55 33 -56 31 -59 28 -60 25 -62 21 -64 19 -65 15 -66 13 -68 9 -69 5 -71 2 -71 500 0 -2 97 -8 96 -12 94 -16 93 -22 91 -25 89 -30 88 -34 85 -39 83 -42 81 -46 78 -49 75 -53 73 -57 70 -59 67 -63 65 -66 60 -69 58 -72 55 -74 51 -77 47 -79 44 -82 40 -84 36 -86 32 -87 28 -90 23 -91 20 -93 15 -94 10 -96 6 -96 1 1 0zm-1 0c-139,-2 -249,-116 -247,-254 2,-138 115,-248 254,-246l-7 500z"/>
  </g>
 </g>
</svg></span></a>
						<div class="popover popover-links" id="pop-phone">
							<div class="popover-angle"></div>
							<div class="popover-inner">
								<div class="list-block">
									<div style="text-align:center;">
										<h3 style="    margin-bottom: 0px;"><b>Прием заказов</b></h3>
										<p style="    margin-top: 0px;">Ежедневно: 10:00 - 23:00</p>
										<a href="#" class="list-button item-link close-popover close">
											<i class="mdi mdi-close"></i>
											</a>
									</div>
									<ul>
										<li style="    border-top: 1px solid #e0dfe0;">
											<a @click="callTel('phone_two', '+78613299999')" class="list-button item-link close-popover">
												+7 861 32-999-99
											</a>
										</li>
										<li>
											<a @click="callTel('phone_one', '+79885224499')" class="list-button item-link close-popover">
												+7 988 522-44-99
											</a>
										</li>
										
									</ul>
								</div>
							</div>
						</div>
						<!-- <i class="mdi mdi-cart-outline" :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}" style="    font-size: 24px;"></i> -->
						<a v-if="totalPrice" @click.stop.prevent="checkTotalAmount($event)" href="/cart/" :style="{'color': (totalPrice >= 500) ? '#00C75C' : ''}"><span> <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
					</f7-nav-right>
				</f7-navbar>
				<!-- Pages -->
				<f7-pages>
					<f7-page>
						<!-- Material Theme Navbar -->
						<f7-navbar v-if="$theme.material">
							<f7-nav-left>
								<f7-link icon="icon-bars" open-panel="left"></f7-link>
							</f7-nav-left>
							<f7-nav-center ><img src="/img/log.png" style="height: 17px;" alt=""></f7-nav-center>
							<f7-nav-right v-if="totalPrice" >
								<a @click.stop.prevent="checkTotalAmount($event)" href="/cart/"><span> <img src="/img/cart.png" v-if="totalPrice <= 500" style="height:20px;" alt=""> <img src="/img/cartg.png" v-else style="height:20px;" alt=""> <span style="font-size:20px;">{{totalPrice}} р.</span></span></a>
							</f7-nav-right>
						</f7-navbar>
						<!-- Page Content -->
						<div>
							<f7-swiper pagination :params="{speed:500, slidesPerView: 1}" class="home">
								<f7-swiper-slide 
									v-for="(slide, j) in slider"
									:key="`slide-1-${j}`">
								
									<img v-if="slide.link.indexOf('item') == -1" @click="openPage(slide.link.replace('/', ''))" :src="slide.image" style="width:100%;" alt="">
									<img v-else @click="goTo(slide.link.replace('/', ''))" :src="slide.image" style="width:100%" alt="">
								</f7-swiper-slide>
							</f7-swiper>
							<div class="promo__stub">
							</div>
							<f7-grid no-gutter class="start-btn fix">
								<f7-col width="100"><f7-button big color="black" @click="openMenu()">Меню</f7-button></f7-col>
								<f7-col width="50" class="br-f0"><f7-button  big color="black" @click.stop.prevent="goTo('news/')">Новости</f7-button></f7-col>
								<f7-col width="50"><f7-button big color="black"  @click.stop.prevent="goTo('actions/')">Акции</f7-button></f7-col>
								<f7-col width="50" class="br-f0"><f7-button big color="black"  @click.stop.prevent="goTo('pages/restaurants/')">Рестораны</f7-button></f7-col>
								<f7-col width="50"><f7-button big color="black"  @click.stop.prevent="goTo('pages/vac/')">Вакансии</f7-button></f7-col>
								<f7-col width="50" class="br-f0"><f7-button big color="black" @click="callTel('phone_two', '+78613299999')">+7 86132 999-99</f7-button></f7-col>
								<f7-col width="50"><f7-button big color="black" @click="callTel('phone_one', '+79885224499')">+7 988 522-44-99</f7-button></f7-col>
								
							</f7-grid>
						</div>
						
					</f7-page>
				</f7-pages>
			</f7-view>
		</f7-views>
		<div class="popup popup-about">
			
		</div>
		<div class="popup popup-current-order">
			<div class="content-block center" v-if="currentOrder">
				<span>
					<a href="#" @click.stop.prevent="$f7.closeModal('.popup-current-order')" class="close-popup" style="float:right">
						<i class="icon fa fa-times" style="color:#000 !important;"></i>
					</a>
				</span>
				<h3>Заказ № {{currentOrder.number}}</h3>
				<div class="data-table card">
					<table>
						<thead>
						<tr>
							<th class="label-cell">Блюдо</th>
							<th class="numeric-cell">Цена</th>
							<th class="numeric-cell">Кол-во</th>
							<th class="numeric-cell">Итого</th>
						</tr>
						</thead>
						<tbody style="    font-weight: bold;">
							<tr  v-for="item in currentOrder.items" :key="item.id">
								<td class="label-cell">{{item.name}}</td>
								<td class="numeric-cell"><span>{{item.sum/item.amount}} р.</span></td>
								<td class="numeric-cell">{{item.amount}}</td>
								<td class="numeric-cell">{{item.sum}} р.</td>
							</tr>
							<tr>
								<td class="label-cell"></td>
								<td class="numeric-cell"></td>
								<td class="numeric-cell">Пречек</td>
								<td class="numeric-cell">{{currentOrder.sum+currentOrder.discount}} р.</td>
							</tr>
							<tr>
								<td class="label-cell"></td>
								<td class="numeric-cell"></td>
								<td class="numeric-cell">Скидка</td>
								<td class="numeric-cell">{{currentOrder.discount}} р.</td>
							</tr>
							<tr>
								<td class="label-cell"></td>
								<td class="numeric-cell"></td>
								<td class="numeric-cell">Итого</td>
								<td class="numeric-cell">{{currentOrder.sum}} р.</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 
					<div class="block" style="margin: 10px;">
						<button class="col button button-fill" style="width: 100%; background:#007aff;" @click="refresh(currentOrder)">ПОВТОРИТЬ ЗАКАЗ</button>
					</div>
				 -->
			</div>
		</div>
    	<!-- Popup -->
		<div class="popup" id="popup-cart">
			<div class="content-block center">
				<f7-grid no-gutter>
					<f7-col width="25"></f7-col>
					<f7-col width="50"><h3>Корзина</h3></f7-col>
					<f7-col width="25">
						<span>
							<a href="#" @click.stop.prevent="$f7.closeModal('#popup-cart')" class="close-popup" style="float:right">
								<f7-icon fa="times"></f7-icon>
							</a>
						</span>
					</f7-col>
				</f7-grid>
				<f7-block  
					no-gutter 
					class="no-padding no-margin" 
					style="background: white; margin-bottom: 1px;" 
					v-for="item in cartItems"
					:key="`catr-item-${item.id}`">
					<f7-grid no-gutter  class="product-card">
						<a href="#" @click.stop.prevent="openProduct(item)" class="open-popup">
							<f7-col width="50">
								<img 
									:src="(item.images && item.images[0] && item.images[0].imageUrl) ? item.images[0].imageUrl : 'https://upload.wikimedia.org/wikipedia/commons/9/9a/%D0%9D%D0%B5%D1%82_%D1%84%D0%BE%D1%82%D0%BE.png'" 
									width="100%" 
									alt="">
							</f7-col>
							<f7-col width="50">
								<h3 class="title-sale-cat">{{item.name}}</h3>
								<p class="descr-cat">{{item.seoDescription}}<br>{{Math.round(item.weight*1000)}} гр.</p>
								<f7-grid no-gutter >
									<f7-col width="40"><h2>{{item.price}} <small>p.</small></h2></f7-col>
									<f7-col width="60" class="add-item"><a href="" @click.stop.prevent="minusItem(item)">-</a><span>{{item.count || 1}}</span><a href="" @click.stop.prevent="plusItem(item)">+</a></f7-col>
								</f7-grid>
							</f7-col>
						</a>
					</f7-grid>
				</f7-block>
			</div>
		</div>
		<!-- Login Screen -->
		<f7-login-screen id="login-screen">
			<f7-view>
				<f7-pages>
				<f7-page login-screen>
					<f7-login-screen-title>Вход</f7-login-screen-title>
					<f7-list form>
					<f7-list-item>
						<f7-label>Телефон</f7-label>
						<f7-input v-model="auth.login" name="login" placeholder="+79112223344" type="tel"></f7-input>
					</f7-list-item>
					<f7-list-item>
						<f7-label>Пароль</f7-label>
						<f7-input v-model="auth.password" name="password" type="password" placeholder="Пароль"></f7-input>
					</f7-list-item>
					</f7-list>
					<f7-list >
					<f7-button class="button  button-fill color-green"  style="width: 50%; margin: 0 auto;" @click="logIn()">Войти</f7-button>
					<br>
					<f7-button class="button  button-fill color-blue"  style="width: 50%; margin: 0 auto;" @click.stop.prevent="recovery()">Восстановление пароля</f7-button>
					<f7-list-label>
							<a href="#" class="close-login-screen button button-fill color-grey"  style="width: 50%; margin: 0 auto; color: black;"> Закрыть </a>
					</f7-list-label>
					</f7-list>
				</f7-page>
				</f7-pages>
			</f7-view>
		</f7-login-screen>
		<div class="popup" id="popup-recovery">
			<div class="content-block center">
				<f7-grid no-gutter>
					<f7-col width="25"></f7-col>
					<f7-col width="50"><h3>Восстановление пароля</h3></f7-col>
					<f7-col width="25">
						<span>
							<a href="#" @click.stop.prevent="$f7.closeModal('#popup-recovery')" class="close-popup" style="float:right">
								<f7-icon fa="times" style="color:#b3a4a4"></f7-icon>
							</a>
						</span>
					</f7-col>
				</f7-grid>
				<f7-block  no-gutter class="no-padding no-margin">
					<f7-list form class="cart-form">
						<f7-list-item>
							<f7-label>Телефон</f7-label>
							<f7-input type="tel" v-model="phone" placeholder="+79112223344"/>
						</f7-list-item>
					</f7-list>
					<f7-button class="button  button-fill color-green"  style="width: 50%; margin: 0 auto;" @click="recoveryIt()">Восстановить!</f7-button>
				</f7-block>
			</div>
		</div>
  	</div>
</template>

<script>
	import mixins from './mixins.js'

	export default {
		name: 'app',
		mixins: [mixins],
		data() {
			return {
				auth: {
					login: '',
					password: ''
				},
				reg: {
					police: true,
					phone: '',
					name: '',
					password1: '',
					password: ''
				},
				phone: '',
				lastY: 0,
				apiBusy: false
			}
		},
		created() {
			this.getUser();
		},
		mounted() {
			this.$store.dispatch('updateStopList')
			this.$nextTick(()=>{
				let url = location.pathname;
				this.$f7.mainView.router.load({url: url});
				console.log(this.$f7)
				// if #available(iOS 11.0, *) {
				// 	self.webView.scrollView.contentInsetAdjustmentBehavior = .never
				// }
        		this.$store.commit('initCartData');
				this.$store.commit('initFav');
				this.checkPay();
				// document.addEventListener("touchmove", function (e) {
				// 	e.preventDefault();
				// } , false);
				// this.$refs.app.addEventListener("touchmove", this.hanleScroll , false);
			})
		},
		computed: {
			slider() {
				return this.$store.getters.slider;
			},
			currentOrder() {
				return (this.$store && 
						this.$store.state && 
						this.$store.state.currentOrder) ? this.$store.state.currentOrder : null;
			},
			categories() {
				return (this.$store && 
						this.$store.getters && 
						this.$store.getters.categories) ? this.$store.getters.categories.filter((cat)=>cat.images && cat.images[0] && cat.images[0].imageUrl) : [];
			},
			productInPopup() {
				return (this.$store && 
						this.$store.state && 
						this.$store.state.productInPopup) ? this.$store.state.productInPopup : null;
			},
			tplData() {
				return (this.$store && 
						this.$store.state && 
						this.$store.state.tplData) ? this.$store.state.tplData : null;
			},
			stopList() {
				return (this.$store.state && 
						this.$store.state.tplData && 
						this.$store.state.tplData.stopList) ? this.$store.state.tplData.stopList : {};
			}
		},
		methods: {
			addToCartRe(item) {
				let count = (this.stopList && 
							(this.stopList[item.id] !== undefined)) ? this.stopList[item.id] : 1;
				if (count > 0) {
					this.$store.commit('addToCart', item);
					this.$f7.addNotification({
						hold: 1000,
						title: 'Суши-Пицца',
						message: 'Товар добавлен в корзину'
					});
				} else {
					this.$f7.addNotification({
						hold: 2000,
						title: 'Суши-Пицца',
						message: item.name+' находится на стоп-листе :('
					});
				}
			},
			refresh(order) {
				this.$store.commit('clearCart');
				let items =  order.items;
				let products = this.tplData.list.products;
				for (let i=0;i<products.length; i++) {
					let one = products[i];
					for (let j=0;j<items.length; j++) {
						let two = items[j];
						if (one.id == two.id) {
							for (let k=0;k<two.amount;k++) {
								this.addToCartRe(one);
							}
						}
					}
				}
				setTimeout(()=>{
					this.$f7.closePanel();
					this.checkTotalAmount();
					this.$f7.closeModal('.popup-current-order');
				}, 1000);
			},
			recoveryIt() {
				if (this.apiBusy) return;
				this.apiBusy = true; 
				let tel = this.phone.replace(/\D+/g,"")

				if((tel.length === 10) && (String(tel[0]) === '9')){
					tel = '7'+tel;
				}
				if((tel.length === 11) && (String(tel[0]) === '8') && (String(tel[1]) === '9')){
					tel = '7'+(tel.slice(1));
				}

				if ((tel.length < 11) || (tel.indexOf('79') !== 0)) {
					this.$f7.addNotification({
						hold: 3000,
						title: 'Ошибка',
						message: 'Укажите правильно номер телефона!',
					});
					this.apiBusy = false;
					return;
				}
				this.$f7.showPreloader('Обработка...:)');
				this.$http.post('/auth/password/recovery', { login: tel })
				.then((resp)=>{
					this.$f7.hidePreloader();
					this.apiBusy = false;
					let data = resp.data;
					if (data.success) {
						this.$f7.closeModal('#popup-recovery');
						this.$f7.addNotification({
							hold: 3000,
							title: 'Отлично',
							message: data.success
						});
						
						this.$f7.openModal('#login-screen');
					} else {
						this.$f7.addNotification({
							hold: 3000,
							title: 'Ошибка',
							message: data.error
						});
					}
				})
			},
			recovery(flag) {
				this.$f7.closeModal('#login-screen');
				this.$f7.popup('#popup-recovery');
			},
			callTel(type, tel) {
				let yaParams = {
					target: "type"
				};
				try {
					var yaCounter30102269 = new Ya.Metrika({id: 30102269, params: yaParams});
					yaCounter30102269.reachGoal(type, yaParams);
				} catch (e) {
					console.log(e);
				}
				window.location='tel:'+tel;
			},
			findScrollParent(el, pClass) {
				// console.log(el.classList)
				if (el && el.classList && el.classList.contains(pClass)) {
					return el;
				} else if (!el) {
					return null;
				} else {
					return this.findScrollParent(el.parentNode, pClass);
				}
			},
			hanleScroll(e) {
				let target = e.target;
				let scrollParent = this.findScrollParent(target, 'page-content');
				if (!scrollParent) {
					e.preventDefault();
					return;
				}
				var currentY = e.layerY;
				if(currentY > this.lastY){
					if (scrollParent.scrollTop == 0) {
						e.preventDefault();
					}
				}else if(currentY < this.lastY){
					if (scrollParent.scrollTop >= scrollParent.scrollHeight) {
						e.preventDefault();
					}
				}
				this.lastY = currentY;
				
			},
			logOut() {
				let sid = localStorage.getItem('session');
				if (sid) {
					this.$f7.showPreloader('Выходим...');
					this.$http.get('/auth/logout/?session='+sid);
					this.$store.commit('setUser', null);
							localStorage.setItem('session', '');
							this.$f7.closePanel();
							this.$f7.mainView.router.load({url: '/'});
							this.$f7.hidePreloader();
				}
			},
			getUser(cb) {
				let sid = localStorage.getItem('session');
				if (sid) {
					this.$http.post('/user', {session:sid}).then((resp2)=>{
						this.$store.commit('setUser', resp2.body);
						if (cb && typeof(cb) == 'function') {
							return cb();
						}
					});
				}
			},
			register() {
				let user = {
					name: this.reg.name,
					phone: this.reg.phone.replace(/\D+/g,""),
					password:  this.reg.password,
					password1: this.reg.password1
				};
				if (!(user.name && user.phone && user.password && user.password1 && user.phone.length == 11)) {
					return false;
				}
				$.ajax({
					url: '/auth/registration',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(user)
				})
				.done((data) => {
					console.log(data)
					if (data.success) {
						window.location.href = '/account';
					} else {
						this.$notify({
							group: 'foo',
							title: 'Ошибка:',
							text: data.error,
							type: 'error',
							duration: 10000,
							position: 'bottom right'
						});
					}
				});
			},
			getCookie(name) {
				var matches = document.cookie.match(new RegExp(
					"(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
				));
				return matches ? decodeURIComponent(matches[1]) : undefined;
			},
			logIn() {
				let login = this.auth.login.replace(/\D+/g,"");
				let password = this.auth.password;
				if (!(login && password)) {
					this.$f7.addNotification({
						hold: 5000,
						title: 'Ошибка!',
						message: 'Введите данные.'
					});
					return;
				}

				if((login.length === 10) && (String(login[0]) === '9')){
					login = '7'+login;
				}
				if((login.length === 11) && (String(login[0]) === '8') && (String(login[1]) === '9')){
					login = '7'+(login.slice(1));
				}

				this.$f7.showPreloader('Входим...');
				this.$http.interceptors.push((request, next) => {
					request.credentials = true;
					next();
				});
				this.$http.options.credentials = true;
				this.$http.post('/auth/login', {login: login, password: password}, {credentials: true})
				.then(
					(resp)=>{
						console.log(resp)
						if (resp.body.error) {
							this.$f7.addNotification({
								hold: 5000,
								title: 'Ошибка!',
								message: resp.body.error
							});
							this.$f7.hidePreloader();
						} else {
							localStorage.setItem('session', resp.body.session);
							this.getUser(()=>{
								this.$f7.closeModal('#login-screen');
								this.$f7.closePanel();
								this.$f7.mainView.router.load({url: '/account/'});
								this.$f7.hidePreloader();
							});
						}
						
					},
					(fail)=>{
						this.$f7.hidePreloader();
					});
			},
			openMenu() {
				this.$f7.openPanel('left');
				try {
					document.querySelectorAll('#left-panel-view .page-content')[0].scrollTop = 254;
				} catch (e) {}
				
			},
			checkPay() {
				let status = (this.tplData && this.tplData.url && this.tplData.url.query && this.tplData.url.query.payment) ? this.tplData.url.query.payment : '';
				if (status == 'success') {
					this.$f7.addNotification({
						hold: 5000,
						title: 'Спасибо!',
						message: 'Как только пройдет оплата вы получите смс с номером заказа!',
					});
					history.pushState({ key: Date.now().toFixed(3), url: '/' }, '', '/');
				} else if (status == 'cash') {
					$('#payment-cash').modal('show');
					eventHub.$emit('clearCart');
				}
			},
			closePopup() {
				this.$f7.closeModal('.popup-about');
				this.$store.commit('setProductInPopup', null);
			}
		}
	}
</script>
<style lang="scss">
	.user-icon {
		background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%237f7f7f'%3E%3Cpath d='M31.808 29.344c-.704-1.792-2.656-5.344-8.352-7.136 3.04-2.112 4.992-5.664 4.992-9.76C28.448 5.504 22.944 0 16 0S3.552 5.504 3.552 12.448c0 4.096 1.952 7.648 4.992 9.952C1.408 24.544.192 29.696 0 29.856c-.192.896.352 1.952 1.408 2.144.896.192 1.984-.352 2.144-1.248 0-.352 1.44-5.856 12.448-5.856 9.056 0 11.744 3.552 12.448 5.856C28.8 32 29.696 32 30.208 32h.192c1.056 0 1.792-.896 1.6-1.952 0-.192-.192-.352-.192-.704zM7.104 12.448c0-4.992 3.904-8.896 8.896-8.896s8.896 3.904 8.896 8.896-3.904 8.896-8.896 8.896-8.896-3.936-8.896-8.896z'/%3E%3C/svg%3E");
	}
</style>
