<section class="l-main">
	<header class="l-header">
		<div class="container">
			<a href="/" class="logo"></a>
	
			<div class="jobs-header-phone">
				<span>Звоните </span><a href="tel:+78888888888" class="jobs-header__phone">+7 (495) 55-55-555</a>
			</div>
	</header>
	<section class="l-apply">
		
		<section class="apply-intro">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-4 form-body">
						<h1>Ищем специалистов по уборке в Ростове и области</h1>
						<p>Отправьте заявку сейчас и мы ответим вам в течение 24 часов</p>
						<form role="form" data-toggle="validator">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<input name="first-name" placeholder="Имя" type="text" class="form-control" required>
										<div class="help-block">Укажите ваше имя</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<div class="custom-select">
											<select class="form-control" required>
												<option value="Гражданство">Гражданство</option>
												<option value="Российская Федерация">Российская Федерация</option>
												<option value="Украина">Украина</option>
												<option value="Республика Беларусь">Республика Беларусь</option>
												<option value="Республика Молдова">Республика Молдова</option>
												<option value="Таджикистан">Таджикистан</option>
												<option value="Киргизия">Киргизия</option>
												<option value="Узбекистан">Узбекистан</option>
												<option value="Другое">Другое</option>
											</select>
										</div>
										<div class="help-block">Укажите ваше гражданство</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<div class="input-group form-group">
											<div class="input-group-addon">+7</div>
											<input name="phone" type="tel" class="form-control phone" placeholder="(___) ___-__-__" value="" required>
										</div>
										<div class="help-block">Укажите ваш номер мобильного телефона</div>
										
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<div class="custom-select">
											<select class="form-control" required>
												<option value="Год рождения">Год рождения</option>
												<option value="1951">1951</option>
												<option value="1952">1952</option>
												<option value="1953">1953</option>
												<option value="1955">1954</option>
												<option value="1955">1955</option>
												<option value="1956">1956</option>
												<option value="1957">1957</option>
											</select>
										</div>
										<div class="help-block">Укажите год вашего рождения</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<button class="btn btn-default blue">Отправить заявку</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="right-banner"></div>
			</div>
			
		</section>
	
		<section class="features-list">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 item">
						<div class="img"><img src="/qlean/assets/img/job-features-1.svg" alt=""></div>
						<h4>Гибкий график</h4>
						<p>Вы решаете, где и за какую цену делать уборку, а также можете расписать свою занятость на неделю вперед</p>
					</div>
					<div class="col-md-4 col-sm-6 item">
						<div class="img"><img src="/qlean/assets/img/job-features-2.svg" alt=""></div>
						<h4>Стандартное обучение</h4>
						<p>Если вы чего-то не умеете, мы обязательно вас научим на бесплатных тренингах и курсах</p>
					</div>
					<div class="col-md-4 col-sm-6 item">
						<div class="img"><img src="/qlean/assets/img/job-features-3.svg" alt=""></div>
						<h4>Регулярные выплаты</h4>
						<p>Вы всегда видите, сколько уже заработали. Деньги поступают на карту два раза в месяц</p>
					</div>
					<div class="col-md-4 col-sm-6 item">
						<div class="img"><img src="/qlean/assets/img/job-features-4.svg" alt=""></div>
						<h4>Бесплатный инвентарь</h4>
						<p>Мы выдадим вам форму и все необходимое для уборки. Бесплатно пополнить запасы можно в офисе</p>
					</div>
					<div class="col-md-4 col-sm-6 item">
						<div class="img"><img src="/qlean/assets/img/job-features-5.svg" alt=""></div>
						<h4>Выездная работа</h4>
						<p>Вы можете выбирать заказы только рядом с вами и составлять удобный для себя маршрут</p>
					</div>
					<div class="col-md-4 col-sm-6 item">
						<div class="img"><img src="/qlean/assets/img/job-features-6.svg" alt=""></div>
						<h4>Страховой фонд</h4>
						<p>Если что-то пойдет не так, вы не останетесь один на один с необходимостью покрыть клиенту ущерб</p>
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-default yellow">Подать заявку сейчас</button>
				</div>
			</div>
		</section>
	
	</section>
</section>