
<div class="hotelBG" >
<div class="container t" style="margin-top:40px;">
	<section >
		<div class="row top-hotel" style="background: #f1f7f9;margin-top:40px;">
			<div class="col-md-9" style="padding:0px;">
			<h3 class="hotelName">{template.result.GetHotelInformationResult.Resort}, {template.result.GetHotelInformationResult.Name} <span class="hotelRate">{template.main.rate}<span style="font-size: 16px;">/10</span></span>
					<br>
					{@select key="{template.main.star.name}"}
					{@eq value="5*"}
					<span style="color: gold">
						<span class="starsHotel">
						<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
						</span>
					</span>
					{/eq}
					{@eq value="4*"}
					<span style="color: gold">
						<span class="starsHotel">
						<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
						</span>
					</span>
					{/eq}
					{@eq value="3*"}
					<span style="color: gold">
						<span class="starsHotel">
						<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
						</span>
					</span>
					{/eq}
					{@eq value="2*"}
					<span style="color: gold">
						<span class="starsHotel">
						<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
						</span>
					</span>
					{/eq}
					{@eq value="1*"}
					<span style="color: gold">
						<span class="starsHotel">
						<i class="mdi mdi-star mdi-18px"></i>
						</span>
					</span>
					{/eq}
					{@none}
					<span style="color: gold">
						<span class="starsHotel">
						Апартаменты
						</span>
					</span>
					{/none}
					{/select}
				</h3>
			<div class="col-md-12 fotorama" style="padding: 0px;" data-width="100%" {?template.result.GetHotelInformationResult.ImageUrls.string[0]} data-fit="cover" {/template.result.GetHotelInformationResult.ImageUrls.string[0]} data-ratio="800/450" data-nav="thumbs" data-allowfullscreen="native">
				{?template.result.GetHotelInformationResult.ImageUrls.string[0]}
					{#template.result.GetHotelInformationResult.ImageUrls.string}
						<img src="{.}" data-thumb="{.|littleBig}" width="100%" />
					{/template.result.GetHotelInformationResult.ImageUrls.string}
					{:else}
					<img src="/img/no-fot.jpg" data-thumb="img/no-foto2.jpg" width="100%" />
				{/template.result.GetHotelInformationResult.ImageUrls.string[0]}
			</div>
			</div>
			<div class="col-md-3" style="    background: #f1f7f9;padding-top: 10px;" >
				<div class="rh">
					<span>Рейтинг <b style="font-size: 20px;">{template.main.rate}</b>/10  ({template.main.countReviews}) отзывов </span>
				</div>
				<div class="row" style="font-size: 16px;color: #495e71;line-height: 33px;">
					<div class="icons-top">
						{template.main|mServices|s}
					</div>
					<div class="col-md-12 f14">
						Расстояние до пляжа: <span>{template.result|bichLine}</span>
					</div>
					{?template.result.GetHotelInformationResult.AirportDistance}
					<div class="col-md-12 f14">
						Расстояние до аэропорта: <span>{template.result.GetHotelInformationResult.AirportDistance} км</span>
					</div>
					{/template.result.GetHotelInformationResult.AirportDistance}
					{?template.result.GetHotelInformationResult.RoomsCount}
					<div class="col-md-12 f14">
						Количество номеров: <span>{template.result.GetHotelInformationResult.RoomsCount}</span>
					</div>
					{/template.result.GetHotelInformationResult.RoomsCount}
					{?template.result.GetHotelInformationResult.Site}
					<div class="col-md-12 f14">
						Сайт: <a class="truncate" href="{template.result.GetHotelInformationResult.Site}">{template.result.GetHotelInformationResult.Site}</a>
					</div>
					{/template.result.GetHotelInformationResult.Site}
					{?template.result.GetHotelInformationResult.Email}
					<div class="col-md-12 f14">
						Email: <span>{template.result.GetHotelInformationResult.Email}</span>
					</div>
					{/template.result.GetHotelInformationResult.Email}
					{?template.result.GetHotelInformationResult.Phone}
					<div class="col-md-12 f14">
						Телефон: <span>{template.result.GetHotelInformationResult.Phone}</span>
					</div>
					{/template.result.GetHotelInformationResult.Phone}
					{?template.result.GetHotelInformationResult.Fax}
					<div class="col-md-12 f14">
						Факс: <span>{template.result.GetHotelInformationResult.Fax}</span>
					</div>
					{/template.result.GetHotelInformationResult.Fax}
				</div>
			</div>
		</div>
		<div class="main-con">
		<div class="row">
			<div class="panel top-hotel" id="hotelS" style="margin-top: 10px;">
				{!<div class="panel-heading">
					<h3 class="panel-title">Поисковый фильтр</h3>
				</div>!}
				<div class="panel-body">
					<search-hotels></search-hotels>
					<div class=" col-md-12 infoair" >
						<div class="col-md-5" style="text-align:right">
							<h3>В стоимость обычно входит</h3>
						</div>
						<div class="col-md-2" style="text-align: center;">
							<img src="/img/airplane.png" style="width:100px;" alt="">
						</div>
						<div class="col-md-5">
							<p >Авиаперелет, Трансфер, Проживание в отеле, Питание (на выбор), Медицинская страховка</p>
						</div>
					</div>
				</div>
				
				<div class="" id="actual-process">
				<div class="panel  col-md-12" id="actual-process" style="border-radius: 0px;color: #059bce;background: #f1f7f9;">
					<div class="">
						<div v-show="progressShow" class="progress progress-striped active">
							<div class="progress-bar progress-bar-info" role="progressbar" id="p-bar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" v-bind:style="{'width': perc+'%'}">
							</div>
						</div>
						<h5 v-cloak v-show="!progressShow" v-if="count > 0" style="text-align: center"><i class="mdi mdi-chevron-double-down"></i> Найдено {~lb}{~lb}count|ends('лучшее предложение', 'лучших предложения', 'лучших предложений'){~rb}{~rb} <i class="mdi mdi-chevron-double-down"></i></h5>
						<h5 v-cloak v-show="!progressShow" v-if="count == 0" style="text-align: center"> Предложений не найдено :( Попробуйте изменить поисковый запрос.</h5>
					</div>
				</div>
				<div class="panel  col-md-12" style="border-radius: 0px;color: #059bce;background: #f1f7f9;padding:10px;">
					<div class="" align=center>
						<div class="radio-inline">
							<label>
								<input type="radio" name="sortTours" value="cheap" checked class="active">
								Сначала дешевые
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="sortTours" value="rich">
								Сначала дорогие
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="sortTours" value="date">
								По дате
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="sortTours" value="nightsMore">
								Больше ночей
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="sortTours" id="optionsRadios2" value="nightsLess">
								Меньше ночей
							</label>
						</div>
					</div>
				</div>
			</div>
			<results-by-hotel></results-by-hotel>
			</div>
			
		</div>
		
		</div>
			<div class="modal fade bs-example-modal-lg" id="tourInStop" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
					
					<div class="modal-body">
					
					<H2>Внимание!</H2>
					<h4>Данный тур уже не доступен.</h4>
					
					</div>
					</div>
				</div>
			</div>
		<div>
	</section>
	<section class="row top-hotel" style="margin-top: -6px;    padding-left: 15px;padding-right: 15px;">
		<div class="row">
			<div class="col-md-12" align="center">
				<br>
				<button class="btn btn-info" id="showMap" data-status="0">Показать на карте</button>
			</div>
		</div>
		<div id="maps" style="display: none">
			<h4 style="    margin-top: 15px;margin-bottom: 15px;">Расположение отеля</h4>
			<div class="row">
				<div class="col-md-12">
					<div id="map" style="width: 100%; height: 400px"></div>
					<div class="cardHotel">
						{?template.result.GetHotelInformationResult.ImageUrls.string[0]}
						<div class="fixed-ar ar-4-3 " style="max-height: 160px;">
							<div class="content"  style="background-image: url({template.result.GetHotelInformationResult.ImageUrls.string[0]});margin-bottom: 5px;" ></div>
						</div>
						{:else}
							<div class="fixed-ar ar-4-3 " style="max-height: 160px;">
								<div class="content"  style="background-image: url(/img/no-foto2.jpg);margin-bottom: 5px;" ></div>
							</div>
						{/template.result.GetHotelInformationResult.ImageUrls.string[0]}
						{@select key="{template.main.star.name}"}
						{@eq value="5*"}
						<span style="color: gold">
							<span class="starsHotel">
							<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
							</span>
						</span>
						{/eq}
						{@eq value="4*"}
						<span style="color: gold">
							<span class="starsHotel">
							<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
							</span>
						</span>
						{/eq}
						{@eq value="3*"}
						<span style="color: gold">
							<span class="starsHotel">
							<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
							</span>
						</span>
						{/eq}
						{@eq value="2*"}
						<span style="color: gold">
							<span class="starsHotel">
							<i class="mdi mdi-star mdi-18px"></i><i class="mdi mdi-star mdi-18px"></i>
							</span>
						</span>
						{/eq}
						{@eq value="1*"}
						<span style="color: gold">
							<span class="starsHotel">
							<i class="mdi mdi-star mdi-18px"></i>
							</span>
						</span>
						{/eq}
						{@none}
						<span style="color: gold">
							<span class="starsHotel">
							Апартаменты
							</span>
						</span>
						{/none}
						{/select}
						<h3 class="card-title truncate">{template.result.GetHotelInformationResult.Name} </h3>
						<p class="card-text">Оценка: <b>{template.main.rate}</b><span>/10 ({template.main.countReviews}) отзывов</span></p>
						<i class="mdi mdi-close" id="closeCard"></i>
						<button style="width:100%;    margin-top: 10px;margin-bottom: 10px;" class="btn btn-success  bttn-fill bttn-md bttn-warning">От <span  id="min-price">00 000</span><i class="mdi mdi-currency-rub"></i> </button>
					</div>
				</div>
			</div>
		</div>
		<noindex>
		<div class="row">
			<div class="col-md-12">
				<h4>Об отеле</h4>
				<div>
					{template.main.props.description|s}
				</div>
			</div>
		</div>
		</noindex>
		<div class="row three-col" id="iconshotel">
			{#template.result.GetHotelInformationResult.HotelFacilities.HotelInfoFacilityGroup}
				<div class="serv-all">
					<div class="col-md-3"><i class="mdi mdi-{.Id|idToIcon}"></i></div>
					<div class="col-md-8 no-padding">
					<h4>{.Name}</h4>
					
					<p>{?.Facilities.HotelInfoFacility.Name}{.Facilities.HotelInfoFacility.Name}{:else}{#.Facilities.HotelInfoFacility}{.Name}{@sep}, {/sep}{/.Facilities.HotelInfoFacility}{/.Facilities.HotelInfoFacility.Name}</p>
					</div>
				</div>
			{/template.result.GetHotelInformationResult.HotelFacilities.HotelInfoFacilityGroup}
		</div>
	</section>
	<a id="back-to-top" href="#" class="btn bttn-primary btn-lg back-to-top bttn-fill" role="button" title="Нажми чтобы подняться наверх)" data-toggle="tooltip" data-placement="left"><span class="mdi mdi-chevron-double-up"></span></a>
	{!
	<ul>
		{#template.url.query.tour}
		<li>{$idx} - {.}</li>
		{/template.url.query.tour}
	</ul>
	<pre>{template.url.query|js}</pre>!}
</div>
</div>