<template>
	<div class="main">
		<div class="welcome">Выберите пункт меню слева</div>
	</div>
</template>

<script>
	export default {

	}
</script>

<style lang="scss" scoped>
	.main {
		min-height: 50vh;
		position: relative;

		.welcome {
			position: absolute;
			z-index: 1;
			left: 50%;
			top: 50%;
			font-size: 30px;
			transform: translate(-50%, -50%);
		}
	}
</style>
