<template>
	<div class="orders">
		<div class="orders__filters">
			<div class="orders__filters__tabs">
				<div 
					class="tab-item"
					v-for="tab in tabs" 
					:key="`tab-${tab.id}`"
					:class="{'-active': tab.id === activeTab}"
					@click="activeTab = tab.id"
					>{{tab.name}}</div>
			</div>
			<div class="orders__filters__dates">
				<div class="date-item">
					<span>С</span>
					<DatePicker
						v-model="dates.date1"
						placeholder="Дата с"
						lang="ru"
						format="DD.MM.YYYY"
						:first-day-of-week="1" />
				</div>
				<div class="date-item">
					<span>По</span>
					<date-picker
						v-model="dates.date2"
						placeholder="Дата по"
						lang="ru"
						format="DD.MM.YYYY"
						:first-day-of-week="1"></date-picker>
				</div>
				<div class="date-item">
					<a @click.prevent.stop="getOrders()" href="#" class="uk-icon-link" uk-icon="search"></a>
				</div>
			</div>
		</div>
		<div class="action-sheet">
			<div class="orders__list">
				<span class="orders__list__no-orders" uk-spinner="ratio: 4.5" v-if="loading"></span>
				<div class="orders__list__no-orders" v-else-if="!loading && filteredByTab.length === 0">На указанные даты заказов нет</div>
				<template v-else>
					<div class="orders__list__notes">
						<div class="note-item">
							<div class="note-item__block -green"></div>
							<div class="note-item__text"> – Оплачено</div>
						</div>
						<div class="note-item">
							<div class="note-item__block -orange"></div>
							<div class="note-item__text"> – В ожидании</div>
						</div>
						<div class="note-item">
							<div class="note-item__block -red"></div>
							<div class="note-item__text"> – Оплата отменена</div>
						</div>
					</div>
					<table class="uk-table uk-table-divider uk-table-small" >
						<thead>
							<tr>
								<th class="uk-width-small">Дата/время</th>
								<th class="uk-width-small">№ в IIKO</th>
								<th>Тип</th>
								<th>Имя</th>
								<th style="text-align: right">Сумма</th>
								<th style="text-align: right">Бонус. накопил</th>
								<th style="text-align: right">Бонус. потратил</th>
								<th></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr 
								v-for="order in filteredByTab" 
								:key="order.id"
								:style="{'background': (order.onlineColor === '-red') ? '#fdd4d4' : (order.onlineColor === '-green') ? '#d5f1c0' : '#fff'}">
								<td>{{ order.dateTime }}</td>
								<td class="uk-text-truncate">{{ order.iikoId }}</td>
								<td :class="order.onlineColor">{{ order.type }}</td>
								<td>{{ order.name }}</td>
								<td style="text-align: right">{{ order.totalAmount }}</td>
								<td style="text-align: right">{{ order.awaitBonus || 0 }}</td>
								<td style="text-align: right">{{ order.minusBonus || 0 }}</td>
								<td>
									<button class="uk-button uk-button-primary uk-button-small " @click="openOrderId = (openOrderId === order.id) ? '' : order.id">Открыть</button>
								</td>
								<td>
									<button 
										class="uk-button uk-button-small uk-button-danger" 
										:style="`opacity: ${(order.showDeleteBonus) ? '1' : '0'};${(!order.showDeleteBonus) ? 'pointer-events:none' : ''}`"
										@click="revertBonuses(order.id)"
										:disabled="revertBisy">
										Списать бон.
									</button>
								</td>
							</tr>
							<tr class="total">
								<td colspan="3"></td>
								<td>Итого:</td>
								<td style="text-align: right">{{ totalAmount }}</td>
								<td style="text-align: right">{{ totalAwaitBonus }}</td>
								<td style="text-align: right">{{ totalMinusBonus }}</td>
								<td colspan="2"></td>
							</tr>
						</tbody>
					</table>
				</template>
			</div>
			<div id="order-about" uk-modal>
				<div class="uk-modal-dialog uk-margin-auto-vertical">
					<div class="uk-modal-body" v-if="currentOrder">
						<div class="block-modal-body">
							<div class="block-modal-body__header">Покупатель:</div>
							<div class="block-modal-body__prop">
								<span uk-icon="icon: user"></span>
								<span>{{ currentOrder.customer.name }}</span>
							</div>
							<div class="block-modal-body__prop">
								<span uk-icon="icon: receiver"></span>
								<span>{{ currentOrder.customer.phone }}</span>
							</div>
							<div class="block-modal-body__prop">
								<span uk-icon="icon: mail"></span>
								<span>{{ currentOrder.customer.email || 'нет' }}</span>
							</div>
						</div>
						<div class="block-modal-body">
							<div class="block-modal-body__header">Адрес:</div>
							<div class="block-modal-body__prop">
								<span>{{currentOrderAddress}}</span>
							</div>
						</div>
						<div class="block-modal-body">
							<div class="block-modal-body__header">Комментарий:</div>
							<div class="block-modal-body__prop">
								<span>{{currentOrder.order.comment}}</span>
							</div>
						</div>
						<div class="block-modal-body">
							<div class="block-modal-body__header">Заказ:</div>
						</div>
						<div 
							class="uk-grid-small" 
							v-for="(item, i) in currentOrder.order.items"
							:key="`order-item-${i}`"
							uk-grid
						>
							<div class="uk-width-expand" uk-leader>{{ i+1 }}. {{item.name}}</div>
							<div>{{item.amount}} x {{ (item.code === '2123') ? 50 : getItemPrice(item.code) }} р.</div>
						</div>
						<div class="uk-grid-small" uk-grid>
							<div class="uk-width-expand" uk-leader>Оплатил бонусами</div>
							<div>{{(currentOrder.bonus && currentOrder.bonus.potratil) || 0}} р.</div>
						</div>
						<div class="uk-grid-small" uk-grid>
							<div class="uk-width-expand" uk-leader>Итого</div>
							<div>{{currentOrder.order.fullSum}} р.</div>
						</div>
						<div class="block-modal-body" style="margin-top: 10px">
							<div class="block-modal-body__header">Доп инфо:</div>
							<div class="block-modal-body__prop">
								<span>_id:&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span>{{currentOrder._id}}</span>
							</div>
							<div class="block-modal-body__prop">
								<span>userId:&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span>{{(currentOrder.userId) || 'нет'}}</span>
							</div>
						</div>
					</div>
					<div class="uk-modal-footer uk-text-right">
						<button class="uk-button uk-button-primary uk-modal-close" type="button">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import DatePicker from 'vue2-datepicker'
	import moment from 'moment'

	export default {
		name: 'Orders',
		components: {
			DatePicker
		},
		data() {
			return {
				openOrderId: '',
				tabs: [
					{id: 'all', name: 'Все'},
					{id: 'sber', name: 'Онлайн'},
					{id: 'cash', name: 'Наличные'},
					{id: 'courier_card', name: 'Карт. кур.'}
				],
				activeTab: 'all',
				dates: {
					date1: moment().format('YYYY-MM-DD'),
					date2: moment().format('YYYY-MM-DD'),
				},
				orders: [],
				loading: false,
				modal: null,
				revertBisy: false
			}
		},
		watch: {
			openOrderId: 'handleOpenOrder',
			dates: {
				deep: true,
				immediate: true,
				handler: 'getOrders'
			}
		},
		computed: {
			currentOrderAddress() {
				if (!this.currentOrder) return ''
				let $_address = this.currentOrder.order.address
				let $_out = []
				if ($_address.city) {
					$_out.push($_address.city)
				}
				if ($_address.street) {
					$_out.push(`ул. ${$_address.street}`)
				}
				if ($_address.home) {
					$_out.push(`д. ${$_address.home}`)
				}
				if ($_address.housing) {
					$_out.push(`к. ${$_address.housing}`)
				}
				if ($_address.entrance) {
					$_out.push(`${$_address.entrance} подъезд`)
				}
				if ($_address.floor) {
					$_out.push(`${$_address.floor} этаж`)
				}
				if ($_address.apartment) {
					$_out.push(`кв. ${$_address.apartment}`)
				}
				if ($_address.comment) {
					$_out.push($_address.comment)
				}
				return $_out.join(', ')
				
			},
			currentOrder() {
				return this.orders.find((order)=>order._id===this.openOrderId)
			},
			upgratedOrders() {
				return this.orders.map((order)=>{
					return {
						id: order._id,
						dateTime: moment(order.dates.created).format('DD.MM.YYYY HH:mm'),
						iikoId: order.iikoOrderId,
						name: order.customer.name,
						amount: order.order.fullSum,
						type: (order.paymentType === 'cash') ? 'Наличные' : (order.paymentType === 'sber') ? 'Онлайн' : 'Курьер',
						success: order.success,
						paymentType: order.paymentType,
						awaitBonus: order.bonus && order.bonus.nakopil,
						minusBonus: order.bonus && order.bonus.potratil,
						totalAmount: (order.bonus && order.bonus.potratil) ? order.order.fullSum - order.bonus.potratil : order.order.fullSum,
						onlineColor: (order.paymentType === 'sber') ? ~[3, 4, 6].indexOf(order.orderStatus) ? '-red' : order.orderStatus === 2 ? '-green' : '-orange' : '',
						showDeleteBonus: order.paymentType !== 'sber' && order.bonus && order.bonus.nakopil
					}
				})
			},
			filteredByTab() {
				if (this.activeTab === 'all') return this.upgratedOrders
				return this.upgratedOrders.filter(order=>order.paymentType === this.activeTab)
			},
			totalAmount() {
				return this.filteredByTab.reduce((summ, order)=>{
					return summ+= (order.paymentType === "sber" && order.success !== 1) ? 0 : order.totalAmount
				}, 0)
			},
			totalAwaitBonus() {
				return this.filteredByTab.reduce((summ, order)=>{
					return summ+= order.awaitBonus || 0
				}, 0)
			},
			totalMinusBonus() {
				return this.filteredByTab.reduce((summ, order)=>{
					return summ+= order.minusBonus || 0
				}, 0)
			}
		},
		mounted() {
			this.$nextTick(()=>{
				this.modal = UIkit.modal('#order-about')
				
				// UIkit.util.on('hidden', document.getElementById('order-about'), function(){
				// 	console.log(';;;;')
				// })
			})
		},	
		beforeDestroy() {
			this.modal = null
		},
		methods: {
			revertBonuses(id) {
				if (this.revertBisy) return
				this.revertBisy = true
				$.get(`/admin/revert/${id}`)
				.done((resp)=>{
					if (resp.success) {
						UIkit.modal.alert('Бонусы списаны')
						this.getOrders()
					}
					this.revertBisy = false
				})
				.fail((err)=>{
					console.log(err)
					this.revertBisy = false
				})
			},
			getItemPrice(code) {
				let $_product = this.$parent.tplData.list.products.find(prd=>prd.code===code)
				return ($_product && $_product.price) || 0
			},
			handleOpenOrder(id) {
				console.log(id)
				if (id) {
					this.modal.show({
						escClose: false,
						'bg-close': false
					})
				} else {
					this.modal.hide()
				}
			},
			getOrders() {
				if (!(this.dates.date1 && this.dates.date2)) return
				this.loading = true
				this.$set(this, 'orders', [])
				$.get(`/admin/orders?json&date1=${moment(this.dates.date1).format('YYYY-MM-DD')}&date2=${moment(this.dates.date2).format('YYYY-MM-DD')}`)
				.then((resp)=>{
					if (resp && resp.orders) {
						resp.orders.sort((a,b)=>{
							let $_one = new Date(a.dates.created).getTime()
							let $_two = new Date(b.dates.created).getTime()
							if ($_one > $_two) {
								return -1
							} else if ($_one < $_two) {
								return 1
							} 
							return 0
						})
						this.$set(this, 'orders', resp.orders)
					}
					this.loading = false
				})
				
			}
		}
	}
</script>

<style lang="scss" scoped>
	$orange: orange;
	$green: green;
	$red: red;
	$black: black;

	.block-modal-body {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		
		div {
			margin-bottom: 10px;
		}

		&__header {
			font-size: 18px;
			font-weight: bold;
		}

		&__prop {
			margin-left: 15px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			
			span {
				color: rgba($black, .7);

				&.uk-icon {
					margin-right: 15px;
				}
			}
		}
	}
	
	.orders {

		&__info {
			width: 0;
		}

		.action-sheet {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			&.-open {

				.orders__info {
					width: 40%;
				}

				.orders__list {
					width: 60%;
				}
			}
		}

		&__filters {
			width: 100%;
			height: 44px;
			border-bottom: 2px solid rgba(black, .3);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&__tabs {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				.tab-item {
					margin: 0 15px;
					height: 35px;
					text-align: center;
					vertical-align: center;
					line-height: 35px;
					padding: 0 10px;
					font-weight: 500;
					font-size: 14px;
					text-transform: uppercase;
					cursor: pointer;

					&.-active {
						background: rgba(green, .8);
						color: white;
						border-radius: 20px;
					}
 				}
			}
			&__dates {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;

				.date-item {
					margin-right: 20px;
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					align-items: center;

					span {
						margin-right: 10px;
					}
				}
			}
		}

		&__list {
			// color: black;
			font-size: 14px;
			margin-top: 15px;
			position: relative; 
			min-height: 50vh;
			width: 100%;
			// height: calc(100vh - 230px);
			// overflow: hidden;
			padding-bottom: 80px;

			&__no-orders {
				position: absolute;
				z-index: 1;
				left: 50%;
				top: 50%;
				font-size: 30px;
				transform: translate(-50%, -50%);
			}
			td {

				.uk-button.uk-button-small.uk-button-danger,
				.uk-button.uk-button-primary.uk-button-small {
					font-size: 12px;
					border-radius: 4px;
				}

				&.-green {
					color: $green !important;
				}

				&.-red {
					color: $red !important;
				}

				&.-orange {
					color: $orange !important;
				}

			}

			.total {
				td {
					font-size: 15px;
					font-weight: bold;
				}
			}

			&__notes {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				margin-left: 12px;

				.note-item {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;

					&__block {
						width: 12px;
						height: 12px;
						border-radius: 2px;

						&.-red {
							background: $red;
						}

						&.-orange {
							background: $orange;
						}

						&.-green {
							background: $green;
						}
					}

					&__text {
						margin: 0 15px 0 5px;
					}
				}
			} 
		}
	}
</style>
