<template>
	<div class="print-orders">
		<div class="panel panel-default printable" id="printable">
		<!-- Default panel contents -->
			<div class="panel-heading">История заказов сбербанк <span v-if="sberData[0]">за {{sberData[0].dates.changed|date}}</span></div>
			<span class="orders__list__no-orders" uk-spinner="ratio: 4.5" v-if="loading"></span>
			<table class="uk-table uk-table-divider uk-table-small" v-else>
				<thead>
					<tr>
						<th>№</th>
						<th>Дата</th>
						<th>Время</th>
						<th>Номер заказа</th>
						<th>Статус</th>
						<th style="text-align: right;">Сумма</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(one, idx) in sberData" :key="`sber-data-${idx}`">
						<td>{{idx+1}}</td>
						<td>{{one.dates.changed|date}}</td>
						<td>{{one.dates.changed|time}}</td>
						<td class="uk-text-truncate">{{ one.iikoOrderId }}</td>
						<td>{{one.description}}</td>
						<td style="text-align: right;">{{one.totalAmount}} р.</td>
					</tr>
					<tr>
						<td colspan="3"></td>
						<td>Итого:</td>
						<td style="text-align: right;">{{fullSumm}} р.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button @click="printIt" class="uk-button uk-button-primary uk-align-right" style="border-radius: 4px">Печать</button>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				loading: true,
				sberData: []
			}
		},
		computed: {
			fullSumm() {
				let out = 0;
				for (let i=0;i< this.sberData.length;i++) {
					let one = this.sberData[i];
					if (one.orderStatus == 2) {
						out+= one.totalAmount;
					}
				}
				return out;
			}
		},
		mounted() {
			this.loadData();
		},
		methods: {
			printElement(elem) {
				var domClone = elem.cloneNode(true);
				
				var $printSection = document.getElementById("printSection");
				
				if (!$printSection) {
					var $printSection = document.createElement("div");
					$printSection.id = "printSection";
					document.body.appendChild($printSection);
				}
				
				$printSection.innerHTML = "";
				
				$printSection.appendChild(domClone);
			},
			printIt() {
				this.printElement(document.getElementById("printable"));
				window.print();
			},
			loadData() {
				$.get('/admin/get_payments_sber')
				.done((resp)=>{
					this.sberData = resp.map((one)=>{
						return {
							...one,
							totalAmount: (one.bonus && one.bonus.potratil) ? one.order.fullSum - one.bonus.potratil : one.order.fullSum
						}
					});
					this.loading = false;
				})
				.fail(()=>{
					this.loading = false;
				})
			}
		},
		filters: {
			date(val) {
				let date = new Date(val);
				return ''+('0'+date.getDate()).substr(-2)+'-'+('0'+(date.getMonth()+1)).substr(-2)+'-'+date.getFullYear();
			},
			time(val) {
				let date = new Date(val);
				return ''+('0'+date.getHours()).substr(-2)+':'+('0'+date.getMinutes()).substr(-2)
			}
		}
	}
</script>
<style lang="scss">
	.print-orders {
		position: relative;
		min-height: 80vh;
		.orders__list__no-orders {
			position: absolute;
			z-index: 1;
			left: 50%;
			top: 50%;
			font-size: 30px;
			transform: translate(-50%, -50%);
		}
	}
	@media screen {
		#printSection {
			display: none;
		}
	}

	@media print {
		body * {
			visibility:hidden;
		}
		
		#printSection, #printSection * {
			visibility:visible;
		}
		#printSection {
			position:absolute;
			left:0;
			top:0;
			right: 0;
		}

		.non-printable { display: none; }
    	.printable { display: block; }
	}
</style>