<template>
	<div id="app">
		<div class="uk-navbar-container" uk-navbar>
			<div class="right-informer">
				<div class="right-informer__row"><span class="text">Минимальная сумма заказа:</span>&nbsp;&nbsp;<span class="value">{{tplData.minOrderAmount}}</span> р.</div>
				<div class="right-informer__row"><span class="text">Минимальная сумма бесплатной доставки:</span>&nbsp;&nbsp;<span class="value">{{tplData.minFreeDeliveryAmount}}</span> р.</div>
			</div>
		</div>
		<div class="uk-container uk-container-large main-body">
			<div class="main-body__left">
				<ul class="uk-nav">
					<li><router-link to="/">Главная</router-link></li>
					<li><router-link to="/orders">Заказы</router-link></li>
					<li><router-link to="/print">Печать</router-link></li>
				</ul>
			</div>
			<div class="main-body__right">
				<router-view></router-view>
			</div>
		</div>
		<!--<div class="uk-text-left" uk-grid>
			<div class="uk-width-1-4@m">
				<ul class="uk-nav">
					<li><a href="#SimplePages">Простые страницы</a></li>
					<li><a href="#">Акции</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Продукты</a></li>
				</ul>
			</div>
			<div class="uk-width-expand@m uk-background-muted" v-if="componentName">
				<component :is="componentName" :tplData="data"></component>
			</div>
			<div class="uk-width-expand@m uk-background-muted" v-else>
				<h1>Панель управления сайтом</h1>
			</div>
		</div>-->
	</div>
</template>


<script>
import eventHub from '../modules/eventHub.js'
import Vue from 'vue'
import SimplePages from './SimplePages.vue'
export default {
	name: 'layout',
	props: ['tplData'],
	data() {
		return {
			data: this.tplData,
			componentName: '',
			mount: false
		}
	},
	created() {
		try {
			this.handlerHash(location.hash);
			$(window).on('hashchange',()=>{
				this.handlerHash(location.hash);
			});
		} catch(e) {
			console.log(e);
		}
	},
	methods: {
		handlerHash(hash) {
			hash = hash.replace('#','');
			if (hash) {
				hash = hash.split('/')[0];
			}
			this.componentName = hash;
		}
		
	},
	components: {
		SimplePages
	}
}
</script>

<style lang="scss">
	#app {

		.uk-navbar-container {
			height: 80px;

			.right-informer {
				position: absolute;
				right: 0px;
				top: 0;
				bottom: 0;
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;

				&__row {
					color: black;
					font-weight: 400;

					.text {
						text-decoration: underline;
					}
					.value {
						font-weight: bold;
						color: green;
					}
				}
			}
		}

		.main-body {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;

			&__left {
				width: 15%;
				padding: 15px 20px 0 0;

				a {
					font-weight: bold;
					padding: 10px 15px !important;
					border-radius: 15px;
					color: black;
				}

				.router-link-exact-active {
					color: white;
					background-color: rgba(blue, .7);
				}
			}
			&__right {
				width: 85%;
				padding: 15px 0px 0 20px;
				border-left: 2px solid rgba(black, .2);
			}
		}
	}
</style>