<template>
	<!--<div>
		<h4>Простые страницы</h4>
		<hr>
		<ul class="uk-list">
			<li v-for="page in data.list.pages">
				<a href="#" class="btn btn-primary" @click.prevent.stop="openEditor(page)">{{page.name}}</a>
			</li>
		</ul>
	</div>-->
	<div>
		<h3 class=" hidden-xs-down">
			Простые страницы {{((toEdit.page) ? ' > ' + toEdit.page.name : '')}}
		</h3>
		<hr>
		<div class="row" v-if="!toEdit.page">
			<div class="col-sm-6" v-for="page in data.list.pages">
				<div class="card">
				<div class="card-block">
					<h3 class="card-title">{{page.name}}</h3>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary" @click.prevent.stop="openEditor(page)">Редактировать</a>
				</div>
				</div>
			</div>
		</div>
		<div class="row" v-if="toEdit.page">
			<div class="col-sm-8 col-sm-offset-2">
				<form @submit.stop.prevent="savePage(toEdit.page)">
					<div class="form-group">
						<label for="page-name">Заголовок</label>
						<input type="text" class="form-control" id="page-name" v-model="toEdit.page.name" placeholder="Введите заголовок">
						<small id="page-name-help" class="form-text text-muted">Данный заголовок будет отображен в главном меню.</small>
					</div>
					<div class="form-group">
						<label for="summernote">Контент (описание)</label>
						<textarea class="form-control" id="summernote" rows="10"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Сохранить</button>
					</form>
			</div>
		</div>
	</div>
</template>

<script>
	import eventHub from '../modules/eventHub.js'
	import Vue from 'vue'
	export default {
		name: 'SimplePages',
		props: ['tplData'],
		data() {
			return {
				data: this.tplData,
				toEdit: {}
			}
		},
		created() {
			this.setToEdit(window.location.hash);
			$(window).on('hashchange',()=>{
				this.setToEdit(location.hash);
			});
		},
		methods: {
			savePage(page) {
				page.description = $('#summernote').summernote('code');
				$.ajax({
					type: 'PUT',
					url: '',
					contentType: 'application/json',
					data: JSON.stringify({name: page.name, description: page.description})
				})
				.done((data) => {
					if (!data.error) {
						window.location.hash = 'SimplePages';
					}
				})
			},
			runSummerNote() {
				try {
					$('#summernote').summernote('destroy');
				} catch (e) {}
				try {
					$('#summernote').summernote();
					$('.note-popover').css({'display': 'none'});
					if (this.toEdit && this.toEdit.page && this.toEdit.page.description) {
						$('#summernote').summernote('code', this.toEdit.page.description);
					}
				} catch (e) {}
			},
			setToEdit(hash) {
				hash = hash.replace('#','');
				if (hash) {
					hash = hash.split('/')[1];
				}
				let item = null;
				if (hash){
					let i = 0;
					while (i < this.data.list.pages.length) {
						let one = this.data.list.pages[i];
						if (hash == one._id) {
							item = JSON.parse(JSON.stringify(one));
							break;
						}
						i++;
					}
				}
				if (item) {
					Vue.set(this.toEdit, 'page', item);
					Vue.nextTick(()=>this.runSummerNote());
				} else {
					Vue.set(this.toEdit, 'page', null);
				}
			},
			openEditor(page) {
				try {
					window.location.hash = 'SimplePages/'+page._id;
					Vue.set(this.toEdit, 'page', page);
					Vue.nextTick(()=>this.runSummerNote());
				} catch(e){}
			}
		},
		components: {
		
		},
		filters: {
			textCut(val) {
				let out = jQuery(val).text();
				if (out.length > 50) {
					out = out.substring(0,50);
				}
				return out;
			}
		}
	}
</script>

<style>
	.panel-heading {
		@extend .card-header;
	}

	.note-btn-group {
		.btn-default {
			@extend .btn-secondary;
		}

		.dropdown-menu {
			> li {
				> a {
					display: block;
					padding: 3px 20px;
					clear: both;
					font-weight: normal;
					line-height: 1.42857143;
					color: #333;
					white-space: nowrap;
				}
			}
		}    
	}

	.note-popover .popover-content .note-color .dropdown-toggle, 
	.note-editor .panel-heading.note-toolbar .note-color .dropdown-toggle {
		width: 20px;
		padding-left: 1px;
	}
</style>